<!-- header section comes here -->
<div header></div>

<!-- main content comes here review section -->

<div class="container review_section">
  <div class="row m-t-30">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6">
        <h1 class="review_heading">Reviews</h1>

        </div>
        <div class="col-sm-6">
          <a href="#/previewjob/{{jobId}}/quotes" class="m-t-15 edit_profile_btn hvr-float-shadow" ><i class="icon-action-undo"></i>&nbsp;<span>Back</span></a>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-8"> -->
      <div class="col-sm-8"  infinite-scroll="loadPages()" infinite-scroll-distance="0" infinite-scroll-parent="false" infinite-scroll-disabled="reviewCalled">
        <div class="white_bg" ng-repeat="review in reviews">
            <div class="media">
            <div class="media-left media-top" ng-if="review.profpic">
            <img src="/images/profilepic/{{review.profpic}}" class="media-object " width="60">
            </div>
            <div class="media-left media-top" ng-if="!review.profpic || review.profpic == ''">
              <img src="/images/no_image_1.png" alt=""  class="img-responsive">
            </div>
            <div class="media-body">
            <h4 class="media-heading client_name">{{review.username}}</h4>
            <input-stars max="5" ng-model="review.star" allow-half ng-attr-readonly="true"></input-stars>
            </div>
            </div>
            <p class="original_msg">{{review.review}}<p>
            <small><em>{{review.on_date_time | date:'dd-MM-yyyy HH:MM:ss'}}</em></small>

          </div>
          <div ng-if="noReviews"> No Review Found.</div>
     
        </div>

        <!-- <div class="white_bg">
            <div class="media">
            <div class="media-left media-top">
            <img src="https://g2.img-dpreview.com/0CCAFF7697924B218D111AE3B196DEFC.jpg" class="media-object " width="60">
            </div>
            <div class="media-body">
            <h4 class="media-heading client_name">Maria Martin</h4>
            <input-stars max="5" ng-model="YourCtrl.property" allow-half ng-attr-readonly="true"></input-stars>
            </div>
            </div>
            <p class="original_msg">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<p>
            <small><em>11-02-2018</em></small>

          </div>
          <div class="white_bg">
              <div class="media">
              <div class="media-left media-top">
              <img src="https://g2.img-dpreview.com/0CCAFF7697924B218D111AE3B196DEFC.jpg" class="media-object " width="60">
              </div>
              <div class="media-body">
              <h4 class="media-heading client_name">Maria Martin</h4>
              <input-stars max="5" ng-model="YourCtrl.property" allow-half ng-attr-readonly="true"></input-stars>
              </div>
              </div>
              <p class="original_msg">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<p>
              <small><em>11-02-2018</em></small>

            </div> -->


    <!-- </div> -->
    <div class="col-sm-4">
            <div class="my_profile_view clearfix">
              <div class="flex_review">
                <p class="text-center label_review">Overall client Satisfaction</p>
                <div class="text-center img_style">
                  <img src="/images/profilepic/{{reviews[0].touser_profpic}}" alt="" width="70">
                </div>
                <div class="text-center img_style" ng-if="!reviews[0].touser_profpic">
                  <img src="/images/no_image_1.png" alt=""  class="img-responsive">
                </div>
                <h1 class="overal_rating text-center"><span>{{overall_reviews}}</span>&nbsp;/&nbsp;5</h1>
                <p class="text-center label_review">based on {{total_general}} reviews</p>
              </div>


            </div>
    </div>
  </div>
</div>

<!-- end of review section -->


<!-- footer section comes here -->
<div footer></div>
