<div class="modal-body">
    <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
        <p class="final_step_postjob text-center">Are you sure you want to remove this requirement?</p>
        </div>
        <style>
        .bootbox-body .modal-body, .modal-body{
            padding-bottom: 0px;
        }
        .bootbox  .modal-dialog{
          width:500px;
        }
        
        /* @media screen and (max-width: 767px) {
          .bootbox  .modal-dialog{
            width:auto;
          }
        } */
        </style>
        