<div class="modal-body">
  <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
<div>
      <div class="postjob_type_section">
         <div class="row">
            <div class="col-md-12 add_experience_form">
                  <form class="m-t-30" name="emergencyForm" novalidate ng-submit="saveEmergencycontact(emergencyForm,EmergencyAction)">
                    <h4 class="title_modal">{{EmergencyAction}} Emergency contact</h4>
                  <div class="form-group">
                  <label for="title">First name</label>
                  <input type="text" class="form-control" name="first_name" ng-model="emergency.first_name" ng-required="true">
                  <div class="errormsg" ng-if="(emergencyForm.$submitted || emergencyForm.first_name.$dirty) && emergencyForm.first_name.$invalid">
                      <p ng-if="emergencyForm.first_name.$error.required">Please enter first name</p>
                  </div>
                  </div>
                  <div class="form-group">
                  <label for="title">Last name</label>
                  <input type="text" class="form-control" name="last_name" ng-model="emergency.last_name" ng-required="true">
                  <div class="errormsg" ng-if="(emergencyForm.$submitted || emergencyForm.last_name.$dirty) && emergencyForm.last_name.$invalid">
                      <p ng-if="emergencyForm.last_name.$error.required">Please enter last name</p>
                  </div>
                  </div>

                  <div class="form-group">
                  <label for="title">Email</label>
                  <input type="text" class="form-control" name="email" ng-model="emergency.email" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                  <div class="errormsg" ng-if="(emergencyForm.$submitted || emergencyForm.email.$dirty) && emergencyForm.email.$invalid">
                      <p ng-if="emergencyForm.email.$error.required">Please enter email</p>
                      <p ng-if="emergencyForm.email.$error.pattern">Please enter a valid email</p>
                  </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Phone number</label>
                    <input type="text" class="form-control" name="contactno" ng-model="emergency.contactno" ng-required="true" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="15">
                    <div class="errormsg" ng-if="(emergencyForm.$submitted || emergencyForm.contactno.$dirty) && emergencyForm.contactno.$invalid">
                        <p ng-if="emergencyForm.contactno.$error.required">Please enter phone number</p>
                        <p ng-if="emergencyForm.contactno.$error.pattern">Phone number cannot contain alphabets</p>
                        <p ng-if="emergencyForm.contactno.$error.maxlength">Invalid phone number</p>
                        <p ng-if="emergencyForm.contactno.$error.minlength">Invalid phone number</p>
                    </div>
                  </div>
                  <!-- <div class="col-md-12">
                        <div class="upload_section_popup">
                        <h4>Reference document</h4>
                        <h5>Add or link to external documents, photos, sites, videos, and presentations.</h5>
                        <button class="upload_btn btn btn-default" ngf-select="refDocumentupload($file)" ng-model="referenceDoc" name="proof_file">upload</button>
                        <span ng-bind="reference.document" ng-if="reference.document != 'null'"></span>
                      </div>

                      </div> -->

                  <div class="row">
                      <div class="col-sm-12 m-t-20 text-right">
                        <div class="action_section">
                          <button  type="button" class="btn btn btn-default loginbtn" ng-click="cancelEmergency(emergencyForm)">Cancel</button>
                          <button  type="submit" class="btn btn btn-primary signupbtn" ng-disabled="emerSaving">Save</button>
                        </div>

                      </div>
                    </div>

                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
