
<div class="modal-body">
  <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
<div>
   <ng-form name="experienceForm" novalidate>
      <div class="postjob_type_section">
         <div class="row">
            <div class="col-md-12 add_experience_form">


                  <form class="m-t-30" name="experienceForm" novalidate ng-submit="saveHistory(experienceForm)">
                    <h4 class="title_modal">Add Experience</h4>
                  <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" name="title" ng-model="history.title" ng-required="true">
                  <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.title.$dirty) && experienceForm.title.$invalid">
                      <p ng-if="experienceForm.title.$error.required">Please enter title</p>
                  </div>
                  </div>
                  <div class="form-group">
                  <label for="companyname">Company Name</label>
                  <input type="text" class="form-control" name="companyname" ng-model="history.company_name" ng-required="true">
                  <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.companyname.$dirty) && experienceForm.companyname.$invalid">
                      <p ng-if="experienceForm.companyname.$error.required">Please enter company name</p>
                  </div>
                  </div>
                  <div class="form-group pos_rel_exp">
                  <label for="location">Location</label>
                  <p class="icon_load_spin">
                    <input type="text" autocomplete="off" class="form-control location_input_style" ng-model="history.location" name="location" class="form-control text-box" uib-typeahead="location as location.viewval for location in getLocations($viewValue)" typeahead-wait-ms="800" placeholder="Suburb,state postcode" typeahead-on-select="setHistorylocation($item,true)"/>
                    <span class="ajax_loader1" ng-if="history.location" title="Clear location" ng-click="history.location = '';history.city=false;history.state=false;history.post_code=false"><i class="fa fa-times-circle"></i></span>
                    <span class="ajax_loader1" ng-if="locLoading"><i class="fa fa-spinner fa-spin"></i></span>
                    <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.location.$dirty) && (!history.post_code || !history.location) && filteredLocations.length == 0 && !experienceForm.location.$error.required">
                      <p>Please enter valid location</p>
                    </div>
                    <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.location.$dirty) && experienceForm.location.$invalid && experienceForm.location.$error.required">
                      <p>Please enter valid location</p>
                    </div>
                </p>
                  
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="from_month">From</label>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group chosen_style">

                          <select class="form-control" chosen disable-search="true" name="from_month" ng-model="history.from_month" id="from_month" ng-required="true" convert-to-number >
                            <option value="">Month</option>
                            <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>

                          </select>
                          <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.from_month.$dirty) && experienceForm.from_month.$invalid">
                          <p ng-if="experienceForm.from_month.$error.required">Please enter from month</p>
                      </div>
                          </div>

                        </div>
                        <div class="col-sm-6">
                          <div class="form-group chosen_style">
                          <select class="form-control" id="from_year" chosen disable-search="true" name="from_year" ng-model="history.from_year" ng-required="true" convert-to-number>
                            <option value="">Year</option>
                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                          </select>
                          <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.from_year.$dirty) && experienceForm.from_year.$invalid">
                          <p ng-if="experienceForm.from_year.$error.required">Please enter from year</p>
                      </div>
                          </div>

                        </div>
                      </div>








                    </div>
                    <div class="col-sm-6" ng-if="history.currentlyWorking == 0">
                      <div class="row">
                        <div class="col-md-12">
                            <label for="to_month">To</label>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group chosen_style">

                          <select class="form-control" id="to_month" chosen disable-search="true" name="to_month" ng-model="history.to_month" ng-required="history.currentlyWorking == 0" convert-to-number>
                            <option value="">Month</option>
                            <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>
                          </select>
                          <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.to_month.$dirty) && experienceForm.to_month.$invalid">
                          <p ng-if="experienceForm.to_month.$error.required">Please enter To month</p>
                      </div>
                          </div>

                        </div>
                        <div class="col-sm-6">
                          <div class="form-group chosen_style">
                          <select class="form-control" id="to_year" chosen disable-search="true" name="to_year" convert-to-number ng-model="history.to_year" ng-required="history.currentlyWorking == 0">
                            <option value="">Year</option>
                           <option ng-repeat="year in getToyear(history.from_year)" value="{{year}}">{{year}}</option>
                          </select>
                          <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.to_year.$dirty) && experienceForm.to_year.$invalid">
                            <p ng-if="experienceForm.to_year.$error.required">Please enter To year</p>
                          </div>
                          </div>

                        </div>
                      </div>
                      <!-- <div class="form-group chosen_style">
                      <label for="to_month">To</label>
                      <select class="form-control" id="to_month" chosen disable-search="true" name="to_month" ng-model="history.to_month" ng-required="history.currentlyWorking == 0" convert-to-number>
                        <option value="">Month</option>
                        <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>
                      </select>
                      <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.to_month.$dirty) && experienceForm.to_month.$invalid">
                      <p ng-if="experienceForm.to_month.$error.required">Please enter To month</p>
                  </div>
                      </div>
                      <div class="form-group chosen_style">
                      <select class="form-control" id="to_year" chosen disable-search="true" name="to_year" convert-to-number ng-model="history.to_year" ng-required="history.currentlyWorking == 0">
                        <option value="">Year</option>
                       <option ng-repeat="year in getToyear(history.from_year)" value="{{year}}">{{year}}</option>
                      </select>
                      <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.to_year.$dirty) && experienceForm.to_year.$invalid">
                        <p ng-if="experienceForm.to_year.$error.required">Please enter To year</p>
                      </div>
                      </div> -->

                    </div>
                    <div ng-if="history.currentlyWorking == 1">
                      <label class="">To</label>
                      <div>
                        <label class="decorate_present">Present</label>

                      </div>
                    </div>
                  </div>

                    <div class="row">
                    <div class="col-sm-12 check_box_section">
                      <div class="control-group ">
                         <label class="control control--checkbox">
                            I currently work here
                            <input type="checkbox" ng-model="history.currentlyWorking" ng-true-value="1" ng-false-value="0" ng-click="history.to_month = '';history.to_year='';">
                            <div class="control__indicator"></div>
                         </label>
                      </div>

                      <div class="form-group">
                      <label for="companyname">Description</label>
                      <textarea class="form-control" ng-model="history.description" ng-required="true" name="description">
                      </textarea>
                      <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.description.$dirty) && experienceForm.description.$invalid">
                        <p ng-if="experienceForm.description.$error.required">Please enter description</p>
                        <!-- <p ng-if="experienceForm.description.$error.minlength">Must above 200 characters</p>
                        <p ng-if="experienceForm.description.$error.maxlength">Must below 500 characters</p> -->
                      </div>
                      </div>

                      </div>
                      <!-- <div class="col-md-12">
                        <div class="upload_section_popup">
                        <h4>Media</h4>
                        <h5>Add or link to external documents, photos, sites, videos, and presentations.</h5>
                        <button class="upload_btn btn btn-default" ngf-select="proofUpload($file)" ng-model="file" name="proof_file">upload</button>
                        {{history.proof}}
                      </div>

                      </div> -->
                    </div>
                    <div class="row">
                      <div class="col-sm-12 m-t-20 text-right">
                        <div class="action_section">

                          <button  type="button" class="btn btn btn-default loginbtn" ng-click="cancelHistory()">Cancel</button>
                          <button  type="submit" class="btn btn btn-primary signupbtn" ng-disabled="historySaving">Save</button>
                        </div>

                      </div>
                    </div>

                  </div>
                  </form>
               <!-- <div class="group">
                  <input type="text" ng-pattern="/^[1-9]\d*$/" ng-model="experience.title" ng-required="true" name="title">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Title</label>
                  <div class="errormsg" ng-if="(experienceForm.$submitted || experienceForm.title.$dirty) && experienceForm.title.$invalid">
                     <p ng-if="experienceForm.title.$error.required">Please enter the Title</p>
                     <p ng-if="experienceForm.title.$error.pattern">Rate per hour must be in number and should not be 0</p>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
   </ng-form>
</div>
