<div class="modal-body">
  <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
<div>
      <div class="postjob_type_section">
         <div class="row">
            <div class="col-md-12 add_experience_form">
                  <form class="m-t-30" name="referenceForm" novalidate ng-submit="saveReference(referenceForm,refAction)">
                    <h4 class="title_modal">{{refAction}} reference</h4>
                  <div class="form-group">
                  <label for="title">First name</label>
                  <input type="text" class="form-control" name="name" ng-model="reference.first_name" ng-required="true">
                  <div class="errormsg" ng-if="(referenceForm.$submitted || referenceForm.name.$dirty) && referenceForm.name.$invalid">
                      <p ng-if="referenceForm.name.$error.required">Please enter name</p>
                  </div>
                  </div>
                  <div class="form-group">
                  <label for="title">Last name</label>
                  <input type="text" class="form-control" name="name" ng-model="reference.last_name" ng-required="true">
                  <div class="errormsg" ng-if="(referenceForm.$submitted || referenceForm.name.$dirty) && referenceForm.name.$invalid">
                      <p ng-if="referenceForm.name.$error.required">Please enter name</p>
                  </div>
                  </div>

                  <div class="form-group">
                  <label for="title">Email</label>
                  <input type="text" class="form-control" name="email" ng-model="reference.email" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                  <div class="errormsg" ng-if="(referenceForm.$submitted || referenceForm.email.$dirty) && referenceForm.email.$invalid">
                      <p ng-if="referenceForm.email.$error.required">Please enter email</p>
                      <p ng-if="referenceForm.email.$error.pattern">Please enter a valid email</p>
                  </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Phone number</label>
                    <input type="text" class="form-control" name="contactno" ng-model="reference.contactno" ng-required="true" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="15">
                    <div class="errormsg" ng-if="(referenceForm.$submitted || referenceForm.contactno.$dirty) && referenceForm.contactno.$invalid">
                        <p ng-if="referenceForm.contactno.$error.required">Please enter phone number</p>
                        <p ng-if="referenceForm.contactno.$error.pattern">Phone number must contain numbers</p>
                        <p ng-if="referenceForm.contactno.$error.minlength">Invalid phone number</p>
                        <p ng-if="referenceForm.contactno.$error.maxlength">Invalid phone number</p>
                    </div>
                  </div>
                  <div class="col-md-12 p-0">
                        <div class="upload_section_popup">
                        <h4>Upload Reference document</h4>                        
                        <button class="upload_btn btn btn-default" ng-if="!reference.document" ngf-select="refDocumentupload($file)" ng-model="file" ngf-accept="'.doc,.docx,.pdf,.png,.jpeg,.jpg,.svg'" ngf-pattern="'.doc,.docx,.pdf,.png,.jpeg,.jpg,.svg'" name="file">upload</button>
                        <span ng-bind="file.name" class="file_name_upload"></span>
                        <a ng-if="file.name" href="javascript:void(0)"><i class="fa fa-times orange_color" ng-click="removerefFile()"></i></a>
                        <span class="file_upload_progress">
                            <uib-progressbar max="100" value="reference.progress" ng-show="reference.fileUploading"><span style="color:white; white-space:nowrap;"></span></uib-progressbar>
                        </span>
                        <p class="comment_line_css">* png, pdf, doc, docx, jpeg, jpg, svg</p>
                      </div>
                      <a class="btn down_load_resume_btn" ng-if="reference.document && !file.name" href="assets/documents/references/{{reference.document}}" download="{{reference.document}}">Download document</a>
                      <a href="javascript:void(0)" ng-click="deleteReferenceDoc(reference.id,reference); reference.document = null" ng-if="reference.document && !referenceDoc.name"><i class="icon-trash" uib-tooltip="Delete document"></i></a>
                      </div>

                  <div class="row">
                      <div class="col-sm-12 m-t-20 text-right">
                        <div class="action_section">

                          <button  type="button" class="btn btn btn-default loginbtn" ng-click="cancelReference()">Cancel</button>
                          <button  type="submit" class="btn btn btn-primary signupbtn" ng-disabled="referenceSaving">Save</button>
                        </div>

                      </div>
                    </div>

                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
