<div class="modal-body">
    <div class="row">
        <div class="col-md-12 signup_form">
            <h3 class="title_modal ">Signup</h3>
            <h5 class="sub-header-popup">for your account today</h5>
            <div ng-show="sm.signupStep == 'step1'">
                <form class="login_form" name="signup_form">
                    <div class="m-t-40">
                        <div class="group">
                            <input type="email" ng-blur="sm.checkemail()" name="email" required ng-model="sm.user.email">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                            <p ng-if="!signup_form.email.$error.required && !sm.emailunique" class="errormsg">Email Already exists</p>
                            <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.email.$dirty) && signup_form.email.$invalid">
                                <p ng-if="signup_form.email.$error.required">Please enter Email to continue</p>
                                <p ng-if="signup_form.email.$error.email">Please enter a valid email</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-40">
                        <div class="group">
                            <input type="password" name="password" ng-model="sm.user.password" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                            <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.password.$dirty) && signup_form.password.$invalid">
                                <p ng-if="signup_form.password.$error.required">Please enter password to continue</p>
                                <p ng-if="signup_form.password.$error.pattern">Password should contain an Uppercase, a Lowercase and a number</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="sm.addEmail(signup_form)" class="btn btn-default join_button hvr-wobble-horizontal">Join</button>
                    <p class="no_account_link">Already have an account?
                        <span class="signup_link" ng-click="sm.callLoginpopup()">Login
            </span>
                    </p>
                    <h2 class="line_section hide">
                    <span class="line-center">OR
                    </span>
                 </h2>
                    <div class="social_signup_section text-center m-t-10 hide">
                        <p>Sign In using your social media accounts
                        </p>
                        <ul class="clearfix">
                            <li class="social-facebook cursor-pointer">
                                <em class="fa fa-facebook">
                          </em>
                            </li>
                            <li class="social-gplus cursor-pointer">
                                <em class="fa fa-google-plus">
                          </em>
                            </li>
                            <li class="social-linkedin cursor-pointer">
                                <em class="fa fa-linkedin">
                          </em>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!-- step1 ends -->
            <div class="" ng-show="sm.signupStep == 'step2'">
                <form class="login_form" name="step2_form" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-t-40">
                                <div class="group">
                                    <input type="text" name="first_name" required ng-model="sm.user.first_name">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>First name</label>
                                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.first_name.$dirty) && step2_form.first_name.$invalid">
                                        <p ng-if="step2_form.first_name.$error.required">Please enter first name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-t-40">
                                <div class="group">
                                    <input type="text" name="last_name" ng-model="sm.user.last_name" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Last name</label>
                                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.last_name.$dirty) && step2_form.last_name.$invalid">
                                        <p ng-if="step2_form.last_name.$error.required">Please enter last name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 postjob_type_section stp_two_b_spc">
                            <!-- <h4 class="">Please enter your mobile number.</h4> -->
                            <div class="phone_section phone_section1">
                                <!-- <input type="text" name="contactno" ng-model="sm.user.contactno" data-auto-format="true" ng-intl-tel-input ng-required="true">

                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                    <p ng-if="step2_form.contactno.$error.required">Please enter contact number</p>
                    <p ng-if="!step2_form.contactno.$error.required && step2_form.contactno.$invalid">Invalid contact number</p>
                  </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="group group1 chosen_style n_flg">
                                            <!--<i class="selectedCode.flag_class"></i>-->
                                            <span class="flag_number">
                                              <i class="{{selectedCode.flag_class}}"></i>
                                              {{selectedCode.code}}
                                            </span>
                                            <div class="dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                                                    <span id="selected"></span><span class="caret"></span></a>
                                                <ul class="dropdown-menu country-codes">
                                                    <li ng-repeat="cc in sm.countryCodes" id="{{$index}}option"><a href="javascript:void(0)" ng-click="selectCode(cc,$index)"><i class="{{cc.flag_class}}"></i>{{cc.country_name}} <b class="c_code">{{cc.code}}</b></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 group group1">
                                        <input type="text" ng-model="sm.user.contactno" name="contactno" ng-required="true">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                                            <p ng-if="step2_form.contactno.$error.required">Please enter contactno</p>
                                            <p ng-if="!step2_form.contactno.$error.required && step2_form.contactno.$invalid">Invalid contact number</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <input type="text" name="contactno" ng-model="sm.user.contactno" data-auto-format="true" ng-intl-tel-input ng-required="true">
                  <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                  <p ng-if="step2_form.contactno.$error.required">Please enter contact number</p>
                  <p ng-if="!step2_form.contactno.$error.required && step2_form.contactno.$invalid">Invalid contact number</p>
                  </div> -->
                        </div>
                        <!--<div class="col-sm-12 postjob_type_section">
                  <h4 class="text-center ">What is your main purpose for signing up?</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <button class="btn btn-info childcareworker_btn"  ng-click="sm.addName(step2_form,0);">I need child care<br>workers</button>


                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-info childcareworker_btn" ng-disabled="sm.from_postjob" ng-click="sm.addName(step2_form,1);">I need child care<br>jobs</button>
                      <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.purpose.$dirty) && step2_form.$invalid">
                          <p ng-if="step2_form.purpose.$error.required">Please Select the purpose to continue</p>
                      </div>

                    </div>
                  </div>
                </div>-->
                        <div class="">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="javascript:void(0)" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="sm.signupStep = 'step1'">Back</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="javascript:void(0)" class="btn postjob_button hvr-wobble-horizontal" ng-click="sm.addName(step2_form);">Continue</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- step2 ends -->
            <div class="" ng-show="sm.signupStep == 'step3'">
                <form name="step3_form" novalidate>
                    <div class="row">
                        <div class="col-sm-12 postjob_type_section">
                            <h4 class="text-left m-t-30">What is your main purpose for signing up?</h4>
                        </div>
                    </div>
                    <!-- RADIO BUTTON STARTS HERE -->
                    <div class="radio_section">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control control--radio">
                                        I need child care workers
                                        <input type="radio" name="purpose" value="0" ng-model="sm.user.purpose" ng-checked="true" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-click="sm.user.selectedProfile = [];" checked="checked" style="">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control control--radio">
                                        I need child care jobs
                                        <input type="radio" value="1" ng-model="sm.user.purpose" ng-disabled="sm.from_postjob" ng-click="sm.user.profile_suits = '';" name="purpose" class="ng-pristine ng-untouched ng-valid ng-not-empty" style="">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RADIO BUTTON ENDS HERE -->
                    <div class="row">
                        <!--  <div class="m-t-20">
              <div class="col-sm-6">
                <button class="btn btn-info childcareworker_btn" ng-class="{'active':sm.user.purpose == 0}" ng-disabled="true">I need child care<br>workers</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-info childcareworker_btn" ng-class="{'active':sm.user.purpose == 1}" ng-disabled="true">I need child care<br>jobs</button>
              </div>
            </div> -->
                        <div class="col-sm-12 postjob_type_section">
                            <h4>Which profile suits you best?</h4>
                        </div>
                        <div class="col-sm-12" ng-if="sm.user.purpose == 0">
                            <div class="radio_section">
                                <div class="control-group">
                                    <label class="control control--radio">
                                        I am a parent
                                        <input type="radio" name="profile" ng-model="sm.user.profile_suits" ng-checked="sm.user.profile_suits == 'parent'" ng-required="sm.user.purpose == 0" value="parent" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio">
                                        I am from childcare center / kindergarten
                                        <input type="radio" value="carecenter" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == 0" ng-checked="sm.user.profile_suits == 'carecenter'" name="profile" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio">
                                        I am from childcare agency
                                        <input type="radio" value="agency" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == 0" ng-checked="sm.user.profile_suits == 'agency'" name="profile" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <div class="errormsg" ng-if="step3_form.$submitted && step3_form.profile.$error.required">
                                        <p>Please Select what your Profile Suits</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="second_signup">
                            <div class="col-sm-12" ng-if="sm.user.purpose == 1">
                                <div class="check_box_section">
                                    <div class="control-group">
                                        <div class="row">
                                            <div class="col-sm-6" ng-repeat="cg in sm.caregivers">
                                                <label class="control control--checkbox">
                                                    {{cg}}
                                                    <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="sm.user.selectedProfile.indexOf(cg) > -1" ng-click="sm.toggleCaregiver(cg)" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errormsg" ng-if="step3_form.$submitted && sm.user.selectedProfile.length == 0">
                                    <p>Please Select what your Profile Suits</p>
                                </div>
                                <!-- <div class="radio_section">
                  <div class="control-group">
                    <label class="control control--radio" ng-repeat="caregiver in sm.caregivers">
                        {{caregiver}}
                        <input type="radio" name="profile1" ng-model="sm.user.profile_suits" ng-checked="sm.user.profile_suits == '{{caregiver}}'" ng-required="sm.user.purpose == 1" value="{{caregiver}}" />
                        <div class="control__indicator"></div>
                    </label>

                    <div class="errormsg" ng-if="step3_form.$submitted && step3_form.profile1.$error.required">
                        <p>Please Select your Profile</p>
                    </div>
                  </div>
                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-12 botom_signup_section">
                            <div class="check_box_section">
                                <div class="control-group">
                                    <label class="control control--radio">
                                        I Agree to the <a href="javascript:void(0)" class="orange_text">Terms of service</a> and <a href="javascript:void(0)" class="orange_text">Privacy policy</a>
                                        <input type="checkbox" name="terms" value="1" ng-model="sm.users.terms" ng-required="true" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="errormsg" ng-if="step3_form.$submitted && step3_form.terms.$error.required">
                                    <p>Agree the terms and conditions to continue</p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="javascript:void(0)" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="sm.signupStep = 'step2'">Back</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="javascript:void(0)" class="btn postjob_button hvr-wobble-horizontal" ng-click="sm.signup(step3_form)">Continue</a>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12" ng-show="sm.step3">
                  <a href="javascript:void(0)" class="btn btn-primary join_button hvr-wobble-horizontal" ng-click="sm.signup(step3_form)">Continue</a>
              </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
.bootbox .modal-dialog {
    width: 500px;
}

@media screen and (max-width: 767px) {
    .bootbox .modal-dialog {
        width: auto;
    }
}
</style>