<div class="modal-body">

  <div class="row">
    <div class="col-md-12 signup_form">
      <h3 class="title_modal ">Signup</h3>
      <h5 class="sub-header-popup">for your account today</h5>

      <div ng-show="sm.step1">
          <form class="login_form" name="signup_form">
            <div class="m-t-40">
                <div class="group">
                    <input type="email" ng-blur="sm.checkemail()" name="email" required ng-model="sm.user.email">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                    <p ng-if="!signup_form.email.$error.required && !sm.emailunique" class="errormsg">Email Already exists</p>
                    <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.email.$dirty) && signup_form.email.$invalid">
                        <p ng-if="signup_form.email.$error.required">Please enter Email to continue</p>
                        <p ng-if="signup_form.email.$error.email">Please enter a valid email</p>
                    </div>
                </div>
            </div>

            <div class="m-t-40">
                <div class="group">
                    <input type="password" name="password" ng-model="sm.user.password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>
                    <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.password.$dirty) && signup_form.password.$invalid">
                        <p ng-if="signup_form.password.$error.required">Please enter password to continue</p>
                        <p ng-if="signup_form.password.$error.pattern">Password should contain an Uppercase, a Lowercase and a number</p>
                    </div>
                </div>
            </div>
            <button type="button" ng-click="sm.addEmail(signup_form)" class="btn btn-default join_button hvr-wobble-horizontal">Join</button>
            <p class="no_account_link">Already have an account?
            <span class="signup_link" ng-click="sm.callLoginpopup()">Login
            </span>
            </p>
            <h2 class="line_section hide">
                    <span class="line-center">OR
                    </span>
                 </h2>
            <div class="social_signup_section text-center m-t-10 hide">
                <p>Sign In using your social media accounts
                </p>
                <ul class="clearfix">
                    <li class="social-facebook cursor-pointer">
                        <em class="fa fa-facebook">
                          </em>
                    </li>
                    <li class="social-gplus cursor-pointer">
                        <em class="fa fa-google-plus">
                          </em>
                    </li>
                    <li class="social-linkedin cursor-pointer">
                        <em class="fa fa-linkedin">
                          </em>
                    </li>
                </ul>
            </div>
          </form>
      </div>

      <!-- step1 ends -->

          <div class="" ng-show="sm.step2">
            <form class="login_form" name="step2_form" novalidate>
              <div class="row">
                <div class="col-sm-6">
                  <div class="m-t-40">
                  <div class="group">
                      <input type="text" name="first_name" required ng-model="sm.user.first_name">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>First name</label>
                      <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.first_name.$dirty) && step2_form.first_name.$invalid">
                          <p ng-if="step2_form.first_name.$error.required">Please enter first name</p>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-6">
                  <div class="m-t-40">
                  <div class="group">
                      <input type="text" name="last_name" ng-model="sm.user.last_name" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Last name</label>
                      <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.last_name.$dirty) && step2_form.last_name.$invalid">
                          <p ng-if="step2_form.last_name.$error.required">Please enter last name</p>

                      </div>
                    </div>
                  </div>
                </div>
                  <div class="col-sm-12 postjob_type_section">
                    <!-- <h4 class="">Please enter your mobile number.</h4> -->
                    <div class="phone_section">
                     <div class="group group1 chosen_style">
                      <select chosen disable-search="true" ng-required="true" placeholder-text-single="Select country code" ng-model="sm.user.country_code">
                         <option ng-repeat="cc in sm.countryCodes" value="{{cc.id}}"><i class="{{cc.flag_class}}"></i>{{cc.country_name}} {{cc.code}}</option>
                      </select>
                   </div>
                    <input type="text" name="contactno" ng-model="sm.user.contactno" data-auto-format="true" ng-required="true">

                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                    <p ng-if="step2_form.contactno.$error.required">Please enter contact number</p>
                    <p ng-if="!step2_form.contactno.$error.required && step2_form.contactno.$invalid">Invalid contact number</p>
                  </div>
                    </div>

                  <!-- <input type="text" name="contactno" ng-model="sm.user.contactno" data-auto-format="true" ng-intl-tel-input ng-required="true">
                  <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                  <p ng-if="step2_form.contactno.$error.required">Please enter contact number</p>
                  <p ng-if="!step2_form.contactno.$error.required && step2_form.contactno.$invalid">Invalid contact number</p>
                  </div> -->
                  </div>



                <div class="col-sm-12 postjob_type_section">
                  <h4 class="text-center ">What is your main purpose for signing up?</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <button class="btn btn-info childcareworker_btn"  ng-click="sm.addName(step2_form,0);">I need child care<br>workers</button>


                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-info childcareworker_btn" ng-disabled="sm.from_postjob" ng-click="sm.addName(step2_form,1);">I need child care<br>jobs</button>
                      <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.purpose.$dirty) && step2_form.$invalid">
                          <p ng-if="step2_form.purpose.$error.required">Please Select the purpose to continue</p>
                      </div>

                    </div>
                  </div>
                  <!-- <input class="hide" type="radio" ng-pattern="/^[0-9]*$/" value="0" name="purpose" ng-required="true" ng-model="sm.user.purpose" ng-click="sm.addName(step2_form)"  ng-checked="sm.user.purpose == 0">
                  <input class="hide" type="radio" ng-pattern="/^[0-9]*$/" value="1" name="purpose" ng-required="true" ng-model="sm.user.purpose" ng-click="sm.addName(step2_form)"  ng-checked="sm.user.purpose == 1"> -->
                </div>
              </div>
            </form>
          </div>

          <!-- step2 ends -->

          <div class="" ng-show="sm.step3">
          <form name="step3_form" novalidate>
            <div class="row">
              <div class="m-t-20">
              <div class="col-sm-6">
                <button class="btn btn-info childcareworker_btn" ng-class="{'active':sm.user.purpose == 0}" ng-disabled="true">I need child care<br>workers</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-info childcareworker_btn" ng-class="{'active':sm.user.purpose == 1}" ng-disabled="true">I need child care<br>jobs</button>
              </div>
            </div>
              <div class="col-sm-12 postjob_type_section">
                <h4>Which profile suits you best?</h4>
              </div>

              <div class="col-sm-12" ng-if="sm.user.purpose == 0">
                <div class="radio_section">
                  <div class="control-group">
                    <label class="control control--radio">
                        I am a parent
                        <input type="radio" name="profile" ng-model="sm.user.profile_suits" ng-checked="sm.user.profile_suits == 'parent'" ng-required="sm.user.purpose == 0" value="parent" />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control control--radio">
                        I am from childcare center / kindergarten
                        <input type="radio" value="carecenter" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == 0" ng-checked="sm.user.profile_suits == 'carecenter'" name="profile" />
                        <div class="control__indicator"></div>
                    </label>

                    <label class="control control--radio">
                        I am from childcare agency
                        <input type="radio" value="agency" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == 0" ng-checked="sm.user.profile_suits == 'agency'" name="profile" />
                        <div class="control__indicator"></div>
                    </label>
                    <div class="errormsg" ng-if="step3_form.$submitted && step3_form.profile.$error.required">
                        <p>Please Select what your Profile Suits</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="second_signup">
              <div class="col-sm-12" ng-if="sm.user.purpose == 1">

                <div class="check_box_section">
                  <div class="control-group">
                    <div class="row">
                      <div class="col-sm-6" ng-repeat="cg in sm.caregivers">
                        <label class="control control--checkbox" >
                            {{cg}}
                            <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="sm.user.selectedProfile.indexOf(cg) > -1" ng-click="sm.toggleCaregiver(cg)" />
                            <div class="control__indicator"></div>
                        </label>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="errormsg" ng-if="step3_form.$submitted && sm.user.selectedProfile.length == 0">
                        <p>Please Select what your Profile Suits</p>
                    </div>


                <!-- <div class="radio_section">
                  <div class="control-group">
                    <label class="control control--radio" ng-repeat="caregiver in sm.caregivers">
                        {{caregiver}}
                        <input type="radio" name="profile1" ng-model="sm.user.profile_suits" ng-checked="sm.user.profile_suits == '{{caregiver}}'" ng-required="sm.user.purpose == 1" value="{{caregiver}}" />
                        <div class="control__indicator"></div>
                    </label>

                    <div class="errormsg" ng-if="step3_form.$submitted && step3_form.profile1.$error.required">
                        <p>Please Select your Profile</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

              <div class="col-sm-12 botom_signup_section">
                <div class="check_box_section">
                  <div class="control-group">
                  <label class="control control--radio">
                      I Agree to the <a href="javascript:void(0)" class="orange_text">Terms of service</a> and <a href="javascript:void(0)" class="orange_text">Privacy policy</a>
                      <input type="checkbox" name="terms" value="1" ng-model="sm.users.terms" ng-required="true" />
                      <div class="control__indicator"></div>
                  </label>
                </div>
                <div class="errormsg" ng-if="step3_form.$submitted && step3_form.terms.$error.required">
                    <p>Agree the terms and conditions to continue</p>
                </div>
                </div>
              </div>

              <div class="col-sm-12" ng-show="sm.step3">
                  <a href="javascript:void(0)" class="btn btn-primary join_button hvr-wobble-horizontal" ng-click="sm.signup(step3_form)">Continue</a>
              </div>
            </div>

          </form>
        </div>




    </div>
  </div>
</div>

<style>
.bootbox  .modal-dialog{
  width:500px;
}

@media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
}



</style>
