<div class="modal-body">
	<h2 class="text-center almost_there">Success</h2>
	<p class="final_step_postjob text-center">Your request to signup has been submitted successfully. Please check your email (inbox / Junk / Clutter) folders to activate your account.</p>
</div>


<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
.bootbox  .modal-dialog{
  width:500px;
}

/* @media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
} */
</style>
