<div class="modal-body">
    <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
    <div class="row">
    <div class="loader_div ng-hide" ng-show="sm.checkemailLoad">
            <div class="child_loader">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
            </div>
            </div>
        <div class="col-md-12 signup_form">
            <h3 class="title_modal ">Signup</h3>
            <h5 class="sub-header-popup">for your account today</h5>
            <div ng-show="sm.signupStep == 'step1'">
                <form class="login_form" name="signup_form" ng-submit="sm.addEmail(signup_form)" novalidate>
                    <div class="m-t-40">
                        <div class="group">
                            <input type="text" autocomplete="off" ng-change="sm.checkemail()" name="email" ng-required="true" ng-model="sm.user.email" ng-pattern="/^[a-zA-Z]+[a-z0-9._A-Z]+@[a-z]+\.[a-z.]{2,5}$/">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                            <p ng-if="!signup_form.email.$error.required && !sm.emailunique" class="errormsg">Email Already exists</p>
                            <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.email.$touched) && signup_form.email.$invalid">
                                <p ng-if="signup_form.email.$error.required">Email is required</p>
                                <p ng-if="signup_form.email.$error.pattern">Please enter a valid email</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-40">
                        <div class="group">
                            <input type="password"  ng-model-options="{ 'updateOn': 'blur'}" ng-readonly="sm.checkemailLoad" name="password" ng-minlength="6" ng-model="sm.user.password" required autocomplete="off">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label ng-class="{'label_email_valid':sm.checkemailLoad}">Password</label>
                            <div class="errormsg" ng-if="(signup_form.$submitted || signup_form.password.$dirty) && signup_form.password.$invalid">
                                <p ng-if="signup_form.password.$error.required">Password is required</p>
                                <p ng-if="signup_form.password.$error.pattern">Password should contain an Uppercase, a Lowercase and a number</p>
                                <p ng-if="signup_form.password.$error.minlength">Try a password with at least 6 characters.</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default join_button hvr-wobble-horizontal">Join</button>
                    <p class="no_account_link">Already have an account?
                        <span class="signup_link" ng-click="sm.callLoginpopup()">Login
            </span>
                    </p>
                    <h2 class="line_section hide">
                    <span class="line-center">OR
                    </span>
                 </h2>
                    <div class="social_signup_section text-center m-t-10 hide">
                        <p>Sign In using your social media accounts
                        </p>
                        <ul class="clearfix">
                            <li class="social-facebook cursor-pointer">
                                <em class="fa fa-facebook">
                          </em>
                            </li>
                            <li class="social-gplus cursor-pointer">
                                <em class="fa fa-google-plus">
                          </em>
                            </li>
                            <li class="social-linkedin cursor-pointer">
                                <em class="fa fa-linkedin">
                          </em>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!-- step1 ends -->
            <div class="" ng-show="sm.signupStep == 'step2'">
                <form class="login_form" name="step2_form" ng-submit="sm.addName(step2_form)" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-t-40">
                                <div class="group">
                                    <input type="text" name="first_name" required ng-model="sm.user.first_name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="20">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>First name</label>
                                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.first_name.$dirty) && step2_form.first_name.$invalid">
                                        <p ng-if="step2_form.first_name.$error.required">Please enter first name</p>
                                        <p ng-if="step2_form.first_name.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="step2_form.first_name.$error.pattern">Name must be alphabetic</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-t-40">
                                <div class="group">
                                    <input type="text" name="last_name" ng-model="sm.user.last_name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="20" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Last name</label>
                                    <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.last_name.$dirty) && step2_form.last_name.$invalid">
                                        <p ng-if="step2_form.last_name.$error.required">Please enter last name</p>
                                        <p ng-if="step2_form.last_name.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="step2_form.last_name.$error.pattern">Name must be alphabetic</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 postjob_type_section stp_two_b_spc">
                            <!-- <h4 class="">Please enter your mobile number.</h4> -->
                            <div class="phone_section phone_section1">


                              <!-- second section signup -->
                              <div class="row">
                                <div class="col-md-12">
                                  <label class="label_signup">Select your Number</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <div class="group group1 chosen_style n_flg country_code_style" title="{{sm.selectedCode.country_name}}">

                                      <span class="flag_number" >
                                        <i class="{{sm.selectedCode.flag_class}}"></i>
                                        {{sm.selectedCode.code}}&nbsp;<span >{{sm.selectedCode.country_name}}</span>
                                      </span>
                                      <div class="dropdown countrycodes_spn">
                                          <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                                              <span id="selected"></span><span class="caret"></span></a>
                                          <ul class="dropdown-menu country-codes">
                                              <li ng-repeat="cc in sm.countryCodes" id="{{$index}}option"><a href="javascript:void(0)" ng-click="sm.selectCode(cc,$index)"><i class="{{cc.flag_class}}"></i><span class="contr_name">{{cc.country_name}}</span> <b class="c_code">{{cc.code}}</b></a></li>
                                          </ul>
                                      </div>

                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <div class="group">
                                      <input type="text" ng-model="sm.user.contactno" name="contactno" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="15" ng-required="true">
                                      <span class="highlight"></span>
                                      <span class="bar"></span>
                                      <label>Contact Number</label>
                                      <div class="errormsg" ng-if="(step2_form.$submitted || step2_form.contactno.$dirty) && step2_form.contactno.$invalid">
                                          <p ng-if="step2_form.contactno.$error.required">Please enter contact no</p>
                                          <p ng-if="step2_form.contactno.$error.pattern">Phone number should not be a letter</p>
                                          <p ng-if="step2_form.contactno.$error.maxlength">Must below 15 digits</p>
                                          <p ng-if="step2_form.contactno.$error.minlength">Must above 7 digits</p>
                                      </div>
                                  </div>

                                </div>
                              </div>


                              <!-- end second section end -->
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a type="button" class="previous_link_style" ng-click="sm.signupStep = 'step1'"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="submit" class="btn postjob_button hvr-wobble-horizontal">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- step2 ends -->
            <div class="" ng-show="sm.signupStep == 'step3'">
                <form name="step3_form" novalidate ng-submit="sm.signup(step3_form)">
                    <div class="row">
                        <div class="col-sm-12 postjob_type_section">
                            <h4 class="text-left m-t-30">What is your main purpose for signing up?</h4>
                        </div>
                    </div>
                    <!-- RADIO BUTTON STARTS HERE -->
                    <div class="radio_section">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control control--radio">
                                        I am a client. I need childcare workers.
                                        <input type="radio" name="purpose" value="0" ng-model="sm.user.purpose" ng-checked="true" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-click="sm.user.selectedProfile = [];" ng-checked="sm.user.purpose == 0 || sm.from_postjob" style="">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control control--radio">
                                        I am a childcare worker. I need childcare jobs.
                                        <input type="radio" value="1" ng-model="sm.user.purpose" ng-disabled="sm.from_postjob" ng-click="sm.user.profile_suits = '';" name="purpose" class="ng-pristine ng-untouched ng-valid ng-not-empty" style="">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RADIO BUTTON ENDS HERE -->
                    <div class="row">
                        <div class="col-sm-12 postjob_type_section">
                            <h4>Which profile suits you best?</h4>
                        </div>
                        <div class="col-sm-12" ng-if="sm.user.purpose == '0'">
                            <div class="radio_section">
                                <div class="control-group">
                                    <label class="control control--radio">
                                        I am a parent
                                        <input type="radio" name="profile" ng-model="sm.user.profile_suits" ng-checked="sm.user.profile_suits == 'parent'" ng-required="sm.user.purpose == '0'" value="parent" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio">
                                        I am from childcare center / kindergarten
                                        <input type="radio" value="carecenter" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == '0'" ng-checked="sm.user.profile_suits == 'carecenter'" name="profile" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio">
                                        I am from childcare agency
                                        <input type="radio" value="agency" ng-model="sm.user.profile_suits" ng-required="sm.user.purpose == '0'" ng-checked="sm.user.profile_suits == 'agency'" name="profile" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <div class="errormsg" ng-if="step3_form.$submitted && step3_form.profile.$error.required">
                                        <p>Please Select what your Profile Suits</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="second_signup">
                            <div class="col-sm-12" ng-if="sm.user.purpose == '1'">
                                <div class="check_box_section">
                                    <div class="control-group">
                                        <div class="row">
                                            <div class="col-sm-6" ng-repeat="cg in sm.caregivers">
                                                <label class="control control--checkbox">
                                                    {{cg}}
                                                    <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="sm.user.selectedProfile.indexOf(cg) > -1" ng-click="sm.toggleCaregiver(cg)" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="errormsg" ng-if="step3_form.$submitted && sm.user.selectedProfile.length == 0">
                                    <p>Please Select what your Profile Suits</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 botom_signup_section">
                            <div class="check_box_section">
                                <div class="control-group">
                                    <label class="control control--radio">
                                        I Agree to the <a href="https://www.lovelychildcare.com/terms-and-conditions/" target="_blank" class="orange_text">Terms of service</a> and <a href="https://www.lovelychildcare.com/privacy-policy/" target="_blank" class="orange_text">Privacy policy</a>
                                        <input type="checkbox" name="terms" value="1" ng-model="sm.users.terms" ng-required="true" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="errormsg" ng-if="step3_form.$submitted && step3_form.terms.$error.required">
                                    <p>Agree the terms and conditions to continue</p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <a type="button" class="previous_link_style" ng-click="sm.signupStep = 'step2'"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="submit" class="btn postjob_button hvr-wobble-horizontal">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
.bootbox .modal-dialog {
    width: 500px;
}

/* @media screen and (max-width: 767px) {
    .bootbox .modal-dialog {
        width: auto;
    }

} */
</style>
