<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html">
</div> -->
<div header></div>

<div class="content_section">

  <section class="change_password">

<div class="row">
<div class="col-md-9">
<h3 class="heading">{{(userMode == 'admin') ? 'admin ':'';}}Change Password</h3>

<!--  Change password form-->
<div class="row">
  <div class="col-sm-8 postjob_type_section change_password_form">
    <form name="changepwd_form" ng-submit="updatePassword(changepwd_form)" novalidate>
        <div class="m-t-10 m-b-10">

        <div class="group">
        <h4 class="m-b-0">Current Password</h4>
        <input  type="password" ng-model="changePassword.oldpassword" name="oldpassword" ng-required="true">
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="errormsg" ng-if="wrngOldpwd">
          <p>Old password is invalid!!</p>
        </div>
          <div class="errormsg" ng-if="(changepwd_form.$submitted || changepwd_form.oldpassword.$dirty) &&changepwd_form.oldpassword.$invalid">
            <p ng-if="changepwd_form.oldpassword.$error.required">Please enter current password</p>
          </div>
        </div>
        </div>

        <div class="m-t-10 m-b-10">
        <div class="group">
        <h4 class="m-b-0">New Password</h4>
        <input  type="password" ng-model="changePassword.password" ng-required="true" ng-minlength="6" name="password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="errormsg" ng-if="(changepwd_form.$submitted || changepwd_form.password.$dirty) &&changepwd_form.password.$invalid">
            <p ng-if="changepwd_form.password.$error.required">Please enter new password</p>
            <p ng-if="changepwd_form.password.$error.minlength">Password must contain atleast 6 characters</p>
          </div>
        </div>
        </div>


        <div class="m-t-10 m-b-10">
        <div class="group">
        <h4 class="m-b-0">Confirm New Password</h4>
        <input  type="password" name="confirmpassword" ng-model="changePassword.confirmPassword" ng-required="true">
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="errormsg" ng-if="passmatch && !changepwd_form.confirmpassword.$error.required && changePassword.password != changePassword.confirmPassword">
          <p>Confirm password must be same as password</p>
        </div>
        <div class="errormsg" ng-if="(changepwd_form.$submitted || changepwd_form.confirmpassword.$dirty) && changepwd_form.confirmpassword.$invalid">
          <p ng-if="changepwd_form.confirmpassword.$error.required">Please enter confirm password</p>
          </div>
        </div>
        </div>


        <div class="button_footer pull-right m-t-20">
          <a class="btn btn btn-default cancel_footer_btn hvr-float-shadow" href="javascript:void(0)" ng-click="cancelChangepwd()">Cancel</a>
          <button  type="submit" class="btn btn btn-primary save_footer_btn hvr-float-shadow">Save</button>
        </div>


    </form>

  </div>
</div>
<!-- <form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
</form> -->

<!--  End of change password form-->


</div>

<div class="col-md-3 hidden-sm hidden-xs">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="">
                       <!-- <div class="ad_section">
                          <img src="styles/images/right_side_banner.png" alt="" width="100%">
                          </div> -->
                       <div x-sticky="" set-class-when-at-top="ad-fixed">
                          <div ad2 ></div>
                       </div>
                    </div>
                  </div>
                </div>
            </div>
</div>
      </div>




  </section>
</div>

<!-- footer section comes here -->
<div footer></div>
