<div header></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="cmn-heading"><i class="fa fa-user-o"></i>My Account</h2>
                <form class="profileDetailails_form" ng-submit="updatePassword(ChangepasswordForm)" name="ChangepasswordForm" method="get" novalidate>
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 myaccount-page">
                        <button ui-sref="registerBusiness" type="button" class="btn btn-green btn-block"><i class="fa fa-gears"></i> register as business</button>
                        <div class="form-login">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <label class="control-label">Email address</label>
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" class="form-control text-box" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <label class="control-label">New password</label>
                                </div>
                                <div class="col-xs-12">
                                    <input required name="password" ng-model="changePassword.password" ng-maxlength="50" type="password" ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*-_]{8,}$/' class="form-control text-box" />
                                    <label for="newpassword" ng-show="passwordsubmit && ChangepasswordForm.password.$error.required" class="error">{{formValidation.required}}</label>
                                    <label for="password" ng-show="passwordsubmit && ChangepasswordForm.password.$error.pattern" class="error">{{formValidation.passwordValidation}}</label>
                                    <label for="password" ng-show="passwordsubmit && ChangepasswordForm.password.$touched && ChangepasswordForm.password.$error.minlength" class="error">{{formValidation.passwordMin}}</label>
                                    <label for="password" ng-show="passwordsubmit && ChangepasswordForm.password.$touched && ChangepasswordForm.password.$error.maxlength" class="error">{{formValidation.passwordMax}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <label class="control-label">Confirm new password</label>
                                </div>
                                <div class="col-xs-12">
                                    <input name="repeat_password" ng-model="changePassword.repeat_password" type="password" required compare-to="changePassword.password" class="form-control text-box" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <button type="submit" ng-click="passwordsubmit = true" class="btn btn-search">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>