

<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"></div> -->
<div header></div>
<div class="content_section">
   <!-- my profile section start here -->
   <div class="row">
      <div class="col-md-8">
         <ol class="breadcrumb">
            <li><a href="javascript:void(0)">My Profile</a></li>
            <li class="active">View Profile</li>
         </ol>
      </div>
      <div class="col-md-4">
         <a class="edit_profile_btn hvr-wobble-horizontal" href="#/updateprofile/personal"><i class="fa fa-pencil"></i>&nbsp;<span>update Profile</span></a>
      </div>
   </div>
   <div class="myprofile_section clearfix">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/personal"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-4 col-sm-4">
                              <div class="profile-pic">
                                 <div class="profile-border">
                                    <img src="/images/profilepic/{{personal.profpic}}" ng-if="personal.profpic" alt="profilepicture">
                                    <img src="/images/no_image_found.png" ng-if="!personal.profpic" alt="profilepicture_not_found">
                                 </div>
                              </div>
                              <div class="text-center worker_rating">
                                <h5 class="intro-title1"><span class="first_name_css">{{personal.first_name}}</span> <span class="last_name_css">{{personal.last_name}}</h5>
                                <input-stars max="5" ng-model="YourCtrl.property" allow-half></input-stars>
                              </div>
                           </div>
                           <div class="col-md-8 col-sm-8">
                             <div class="single_right_side_container">
                             <div class="row">
                               <div class="single_right_side_myprofile">
                                 <div class="col-sm-12">
                                   <h2 class="intro-title2" ng-bind="preference.caregivers.join(' / ')"></h2>

                                   <div class="location_section">
                                        <img src="styles/images/location.png" alt="" class="pull-left">
                                        <span class="ng-binding" ng-if="personal.post_code"> {{personal.city}}, {{personal.state}} {{personal.post_code}}</span>
                                        <span class="ng-binding" ng-if="!personal.post_code"> --- </span>
                                    </div>

                                 </div>
                               </div>
                             </div>
                             <div class="row">
                               <div class="single_right_side_myprofile">

                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Gender</strong>
                                 <p class="value_myprofile" ng-if="personal.gender">{{personal.gender}}</p>
                                 <p class="value_myprofile" ng-if="!personal.gender">--- </p>

                               </div>
                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Age</strong>
                                 <p class="value_myprofile" ng-if="personal.age">{{personal.age}}</p>
                                 <p class="value_myprofile" ng-if="!personal.age">---</p>
                               </div>
                             </div>
                             </div>

                             <div class="row">
                               <div class="single_right_side_myprofile ">

                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Email ID</strong>
                                 <p class="value_myprofile">{{personal.email}}</p>

                               </div>
                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Mobile Number</strong>
                                 <p class="value_myprofile">{{personal.contry_code}} {{personal.contactno}}</p>

                               </div>
                             </div>
                             </div>
                             <div class="row">
                               <div class="single_right_side_myprofile bb_none">

                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Preferred job type</strong>
                                 <p class="value_myprofile"><span ng-if="preference.job_type.indexOf('casual') > -1">Casual / One-offcare</span> <span ng-if="preference.job_type.length > 1">, </span> <span ng-if="preference.job_type.indexOf('regular') > -1">Regular care</span></p>

                               </div>
                               <div class="col-sm-6 col-xs-6">
                                 <strong class="label_myprofile">Preferred Age Group </strong>
                                 <p class="value_myprofile">{{preference.children_age}}</p>

                               </div>
                             </div>
                             </div>

                              <!-- <h1 class="intro-title1"><span class="first_name_css">{{personal.first_name}}</span> <span class="last_name_css">{{personal.last_name}}</span></h1> -->
                              <!-- <h2 class="intro-title2" ng-bind="preference.caregivers.join(' / ')"></h2> -->
                              <!-- <div class="single_preference_section" ng-if="preference.children_age">
                                <div class="single_preference_section" ng-if="preference.job_type.length > 0">
                                   <h4>Preferred job type(s)</h4>
                                   <p class="mybio_p" ><span ng-if="preference.job_type.indexOf('casual') > -1">Casual / One-offcare</span> <span ng-if="preference.job_type.length > 1">, </span> <span ng-if="preference.job_type.indexOf('regular') > -1">Regular care</span> </p>
                                </div>
                                 <h4>Preferred Age Group</h4>
                                 <p class="mybio_p">{{preference.children_age}}</p>
                              </div> -->
                            </div>

                           </div>
                        </div>
                     </div>
                  </div>

                    <!-- my bio section -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/personal"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                             <h2 class="h3 u-heading-v3__title">About Me</h2>
                             <p class="mybio_p" ng-if="personal.about">{{personal.about}}</p>
                             <p class="mybio_p" ng-if="!personal.about">Edit your profile to show your details</p>

                           </div>
                        </div>

                      </div>
                    </div>
                    <!-- end my bio section -->








                  <!--  availability-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/availability"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Availability</h2>
                              </div>
                              <div class=" availability_section m-t-30">
                                 <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                       <thead>
                                          <tr>
                                             <th style="width:30%">&nbsp;</th>
                                             <th style="width:10%">M</th>
                                             <th style="width:10%">T</th>
                                             <th style="width:10%">W</th>
                                             <th style="width:10%">T</th>
                                             <th style="width:10%">F</th>
                                             <th style="width:10%">S</th>
                                             <th style="width:10%">S</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Before School care
                                                <br><span class="time_care">6am - 9am</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.before_school.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.before_school.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>Day care
                                                <br><span class="time_care">9am - 3pm</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.day_care.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.day_care.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>After School care
                                                <br><span class="time_care">3pm - 7pm</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.after_school.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.after_school.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td >Overnight care
                                                <br><span class="time_care">After 7pm</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.overnight.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.overnight.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  End availability-->
                  <div class="row" ng-if="emp_history.length >0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/history"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Work Experience</h2>
                              </div>
                              <div class="no-data_found">
                                <p><i class="fa fa-exclamation-triangle"></i>&nbsp;No record found</p>
                              </div>
                              <div class="single_job_experience" ng-repeat="history in emp_history">
                                 <h3 class="section-item-title-1">{{history.company_name}}</h3>
                                 <h4 class="job_designation">{{history.title}} - <span class="job-date">  <span>{{months[history.from_month].name}} {{history.from_year}} - <span ng-if="history.to_month != 'null' && history.to_year != 'null'">{{months[history.to_month].name}} {{history.to_year}}</span>
                                    <span ng-if="history.to_month == 'null' || history.to_year == 'null' || !history.to_month || !history.to_year">Present</span>
                                    </span></span>
                                 </h4>
                                 <h4 class="location">{{history.location}}</h4>
                                 <p class="mybio_p">{{history.description}}</p>
                              </div>
                              <div ng-if="emp_history.length == 0">
                                 No data found!!
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-if="requirements.length > 0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/credential"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                           <div class="u-heading-v3">
                              <h2 class="h3 u-heading-v3__title">credentials</h2>
                           </div>
                           <div class="single_credential_section" ng-if="availableCreds.indexOf('Trust') > -1">
                              <h4 >Trust</h4>

                                <ul class="credential_inline">
                                  <li ng-repeat="req in requirements | filter: { requirement_id__category: 'Trust' }">
                                    <div class="disp_profile_table" >
                                       <div class="icon_class_profile">
                                          <i class="{{req.requirement_id__icon_class}}  pull-left"></i>
                                       </div>
                                       <div class="icon_class_content">
                                          <span>{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><i class="fa fa-download"></i></a></span>
                                       </div>
                                    </div>
                                  </li>
                                </ul>

                           </div>
                           <div class="single_credential_section" ng-if="availableCreds.indexOf('Residency') > -1">
                              <h4 >Residency</h4>
                              <ul class="credential_inline">
                                <li ng-repeat="req in requirements | filter: { requirement_id__category: 'Residency' }">
                                  <div class="disp_profile_table" >
                                     <div class="icon_class_profile">
                                        <i class="{{req.requirement_id__icon_class}}  pull-left"></i>
                                     </div>
                                     <div class="icon_class_content">
                                        <span>{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><i class="fa fa-download"></i></a></span>
                                     </div>
                                  </div>
                                </li>
                              </ul>

                           </div>
                           <div class="single_credential_section" ng-if="availableCreds.indexOf('Training and experience') > -1">
                              <h4 >Training & Education</h4>
                              <ul class="credential_inline">
                                <li ng-repeat="req in requirements | filter: { requirement_id__category: 'Training and experience' }">
                                  <div class="disp_profile_table" >
                                     <div class="icon_class_profile">
                                        <i class="{{req.requirement_id__icon_class}}  pull-left"></i>
                                     </div>
                                     <div class="icon_class_content">
                                        <span>{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><i class="fa fa-download"></i></a></span>
                                     </div>
                                  </div>
                                </li>
                              </ul>


                           </div>
                           <div class="single_credential_section" ng-if="availableCreds.indexOf('Driving') > -1">
                              <h4 >Driving</h4>
                              <ul class="credential_inline">
                                <li ng-repeat="req in requirements | filter: { requirement_id__category: 'Driving' }">
                                  <div class="disp_profile_table" >
                                     <div class="icon_class_profile">
                                        <i class="{{req.requirement_id__icon_class}}  pull-left"></i>
                                     </div>
                                     <div class="icon_class_content">
                                        <span>{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><i class="fa fa-download"></i></a></span>
                                     </div>
                                  </div>

                                </li>
                              </ul>

                           </div>
                           <div class="single_credential_section" ng-if="availableCreds.indexOf('Others') > -1">
                              <h4 >Others</h4>
                                <ul class="credential_inline">
                                  <li ng-repeat="req in requirements | filter: { requirement_id__category: 'Others' }">
                                    <div class="disp_profile_table" >
                                       <div class="icon_class_profile">
                                          <i class="{{req.requirement_id__icon_class}}  pull-left"></i>
                                       </div>
                                       <div class="icon_class_content">
                                          <span>{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><i class="fa fa-download"></i></a></span>
                                       </div>
                                    </div>
                                  </li>
                                </ul>

                           </div>
                         </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-if="others.interest">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/others"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Others</h2>
                              </div>
                              <div class="others_section_view">
                                 <h4>Interests & Favourites</h4>
                                 <p class="mybio_p">{{others.interest}}</p>
                              </div>
                              <div class="others_section_view" ng-if="others.household_chores.length > 0">
                                 <h4>Household Chores</h4>
                                 <ul class="household_ul">
                                    <li ng-repeat="chore in others.household_chores"><i class="fa fa-check"></i>&nbsp;{{chore}}</li>
                                 </ul>
                              </div>
                              <div class="others_section_view" ng-if="others.languages.length > 0">
                                 <h4>Languages</h4>
                                 <ul class="household_ul">
                                    <li ng-repeat="language in others.languages"><i class="fa fa-check"></i>&nbsp;{{language}}</li>
                                 </ul>
                              </div>
                              <div class="others_section_view">
                                 <h4>Emergency Contact</h4>
                                 <!-- <div class="table-responsive reference_table">

                                 <table class="table table-bordered table-striped">
                                   <tr>
                                     <th>Name</th>
                                     <th>Contact Number</th>

                                   </tr>
                                   <tr ng-repeat="emergency in emp_emergencycontact">
                                     <td>{{emergency.first_name}} {{emergency.last_name}}</td>
                                     <td>{{emergency.contactno}}</td>

                                   </tr>
                                 </table>
                               </div> -->
                                 <p class="reference_p_view" ng-repeat="emergency in emp_emergencycontact"><i class="fa fa-check"></i>&nbsp;&nbsp;{{emergency.first_name}} {{emergency.last_name}} <span class="contact_no_css">( {{emergency.contactno}} )</span></p>
                                 <div ng-if="emp_emergencycontact.length == 0">
                                    No data found!!
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- References -->
                  <div class="row" ng-if="references.length > 0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/reference"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                           <div class="u-heading-v3">
                              <h2 class="h3 u-heading-v3__title">References</h2>
                           </div>
                           <div class="table-responsive reference_table">

                           <table class="table table-bordered table-striped">
                             <tr>
                               <th>Name</th>
                               <th>Email</th>
                               <th>Phone Number</th>
                             </tr>
                             <tr ng-repeat="ref in references">
                               <td>{{ref.first_name}} {{ref.last_name}}</td>
                               <td>{{ref.email}}</td>
                               <td>{{ref.contactno}}</td>
                             </tr>
                           </table>
                         </div>
                           <!-- <div class="single_reference_section_view" ng-repeat="ref in references">
                              <a href="/assets/documents/references/{{ref.document}}" download="{{ref.document}}" ng-if="ref.document !='null' && ref.document"><img src="styles/images/dd.png" width="17" uib-tooltip="Download"></a>
                              <h4><i class="icon-user"></i>&nbsp;{{ref.first_name}} {{ref.last_name}} |&nbsp;<i class="icon-envelope-open"></i>&nbsp;{{ref.email}}&nbsp;|&nbsp;<i class="icon-phone"></i>&nbsp;{{ref.contactno}}</h4>


                           </div> -->

                            </div>
                        </div>
                     </div>
                  </div>
                  <!--  End Reference-->
                  <!--  others-->
                  <!--  End Credential-->
               </div>
               <div class="col-md-3">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <div class="u-heading-v3">
                              <h2 class="h3 u-heading-v3__title">profile Completeness</h2>
                           </div>
                           <div class="complete_progress">

                              <h5>Profile complete on {{profileCompleteness}}% <i class="icon-question"></i></h5>
                              <div class="progress">
                                 <div class="progress-bar progress-bar-success" role="progressbar"
                                    aria-valuenow="{{profileCompleteness}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': (profileCompleteness+'%')}">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="right_side_section_joblist">
                        <div class="ad_section">
                        <img src="styles/images/right_side_banner.png" alt="" width="100%">
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div footer></div>
