

<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"></div> -->
<div header></div>
<div class="content_section" x-sticky-boundary="">
   <!-- my profile section start here -->
   <div class="row">
      <div class="col-md-8">
         <ol class="breadcrumb">
            <li class="active">My Profile</li>
         </ol>
      </div>
      <div class="col-md-4">
         <a class="edit_profile_btn hvr-float-shadow" target="_blank" href="#/viewcarer/{{personal.id}}-{{personal.first_name | lowercase}}-{{personal.last_name | lowercase}}"><i class="icon-globe"></i>&nbsp;<span>My public profile</span></a>
         <a class="edit_profile_btn hvr-float-shadow m-r-5" href="#/updateprofile/personal"><i class="icon-pencil"></i>&nbsp;<span>Update my profile</span></a>
      </div>
   </div>
   <div class="myprofile_section clearfix" >
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/personal"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-4 col-sm-4">
                              <div class="verified_user_design">
                              <div class="profile-pic ">
                                 <div class="profile-border">
                                    <img src="/images/profilepic/{{personal.profpic}}" ng-if="personal.profpic" alt="profilepicture" class="m-t-4">
                                    <img src="/images/no_image_found.png" ng-if="!personal.profpic" alt="profilepicture_not_found" class="m-t-4">
                                 </div>
                              </div>
                              <div class="text-center">
                                 <img src="styles/images/vetted_green.png" alt="" class="shield_icon" ng-if="personal.is_vetted">
                              </div>

                           </div>
                              <div class="text-center worker_rating">
                                 <h5 class="intro-title1"><span class="first_name_css">{{personal.first_name}}</span> <span class="last_name_css">{{personal.last_name}}</h5>
                                 <input-stars max="5" ng-model="YourCtrl.property" ng-attr-readonly="true" allow-half></input-stars>
                                 <h5 class="intro-gender" ng-if="personal.age && personal.age !='not specified'">{{personal.age}} years old &nbsp;<span ng-if="personal.gender">{{personal.gender | capitalize}}</span></h5>
                              </div>
                              <div class="row m-t-10" ng-if="adminLogged">

                                <div class="col-sm-6">
                                  <button id="block" class="btn block_user_btn success_btn hvr-float-shadow"   ng-if="blocked_user== 0" ng-click="BlockUser(1,personal.id)">unblocked &nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="block" class="btn block_user_btn danger_btn hvr-float-shadow"  ng-click="BlockUser(0,personal.id)" ng-if="blocked_user== 1">blocked&nbsp;<i class="fa fa-edit"></i></button>
                                </div>
                                <div class="col-sm-6">
                                  <button id="vetted" class="btn block_user_btn success_btn hvr-float-shadow" ng-if="vetted_user== 1" ng-click="VettedUser(0,personal.id)">vetted&nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="vetted" class="btn block_user_btn danger_btn hvr-float-shadow" ng-if="vetted_user== 0"  ng-click="VettedUser(1,personal.id)">unvetted&nbsp;<i class="fa fa-edit"></i></button>

                                </div>
                                 <!-- <div class="col-sm-6">
                                    <p >
                                       <input class="tgl tgl-skewed" id="cb5" type="checkbox" ng-checked='personal.is_blocked' ng-model="blocked_user" ng-true-value="1" ng-false-value="0" ng-click="BlockUser(blocked_user)"/>
                                       <label class="tgl-btn" data-tg-off="unblock" data-tg-on="block" for="cb5"><i class="fa fa-edit" title="Edit"></i></label>
                                    </p>
                                 </div>
                                 <div class="col-sm-6">
                                    <p>
                                       <input class="tgl tgl-skewed" id="cb4" type="checkbox" ng-checked='personal.is_vetted' ng-model="vetted_user" ng-true-value="1" ng-false-value="0" ng-click="VettedUser(vetted_user)"/>
                                       <label class="tgl-btn" data-tg-off="unvetted" data-tg-on="vetted" for="cb4"><i class="fa fa-edit" title="Edit"></i></label>
                                    </p>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-md-8 col-sm-8">
                              <div class="single_right_side_container ">
                                 <div class="row">
                                    <div class="single_right_side_data clearfix">
                                       <div class="col-sm-12">
                                          <h2 class="intro-title2" ng-bind="preference.caregivers.join(' / ')"></h2>
                                       </div>
                                       <div class="col-sm-12">
                                          <div class="location_section">
                                             <i class="icon-directions" class="pull-left"></i>
                                             <span class="ng-binding" ng-if="personal.address"> {{personal.address}}</span>
                                             <span class="ng-binding" ng-if="!personal.address"> - </span>
                                          </div>
                                       </div>
                                       <div class="col-sm-12 m-t-10">
                                          <div class="location_section">
                                             <i class="icon-location-pin" class="pull-left"></i>
                                             <span class="ng-binding" ng-if="personal.post_code"> {{personal.city}},{{personal.state}} {{personal.post_code}}</span>
                                             <span class="ng-binding" ng-if="!personal.post_code">-</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="single_right_side_data clearfix">
                                       <div class="col-sm-12">
                                          <div>
                                             <strong class="label_myprofile">Preferred job type</strong>
                                             <p class="value_myprofile"><span ng-if="preference.job_type.indexOf('casual') > -1">Casual / One-offcare</span> <span ng-if="preference.job_type.length > 1">, </span> <span ng-if="preference.job_type.indexOf('regular') > -1">Regular care</span></p>
                                          </div>
                                          <div class="m-t-10">
                                             <strong class="label_myprofile">Preferred Age Groups </strong>
                                             <p class="value_myprofile" ng-if="preference.children_age.length > 0">{{preference.children_age}}</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="single_right_side_data clearfix bb-none">
                                       <div class="col-sm-6">
                                          <p class="value_myprofile"><i class="icon-envelope"></i>&nbsp;{{personal.email}}</p>
                                       </div>
                                       <div class="col-sm-6">
                                          <p class="value_myprofile"><i class="icon-phone"></i>&nbsp;{{personal.country_code}} {{personal.contactno}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- my bio section -->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/personal"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <h2 class="h3 u-heading-v3__title">About Me</h2>
                              <p class="mybio_p" ng-if="personal.about" ng-bind-html="personal.about"></p>
                              <p class="mybio_p" ng-if="!personal.about">Edit your profile to show your details</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end my bio section -->
                  <!--  availability-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/availability"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Availability</h2>
                              </div>
                              <div class=" availability_section m-t-30">
                                 <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                       <thead>
                                          <tr>
                                             <th style="width:30%">&nbsp;</th>
                                             <th style="width:10%">M</th>
                                             <th style="width:10%">T</th>
                                             <th style="width:10%">W</th>
                                             <th style="width:10%">T</th>
                                             <th style="width:10%">F</th>
                                             <th style="width:10%">S</th>
                                             <th style="width:10%">S</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Before School care
                                                <br><span class="time_care">6am - 9am</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.before_school.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.before_school.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>9am - 3pm
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.day_care.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.day_care.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>After School care
                                                <br><span class="time_care">3pm - 7pm</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.after_school.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.after_school.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td >Overnight care
                                                <br><span class="time_care">After 7pm</span>
                                             </td>
                                             <td ng-repeat="day in Days">
                                                <i class="not-available" ng-if="availability.overnight.indexOf(day) == -1"></i>
                                                <i class="fa fa-check" ng-if="availability.overnight.indexOf(day) > -1"></i>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  End availability-->
                  <div class="row" ng-if="emp_history.length >0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/history"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Work Experience</h2>
                              </div>
                              <div class="no-data_found hide">
                                 <p><i class="fa fa-exclamation-triangle"></i>&nbsp;No record found</p>
                              </div>
                              <div class="single_job_experience" ng-repeat="history in emp_history">
                                 <h3 class="section-item-title-1">{{history.company_name}}</h3>
                                 <h4 class="job_designation">{{history.title}} - <span class="job-date">  <span>{{months[history.frommonth].name}} {{history.fromyear}} - <span ng-if="history.to_month != 'null' && history.to_year != 'null'">{{months[history.to_month].name}} {{history.to_year}}</span>
                                    <span ng-if="history.to_month == 'null' || history.to_year == 'null' || !history.to_month || !history.to_year">Present</span>
                                    </span></span>
                                 </h4>
                                 <h4 class="location" ng-if="history.post_code">{{history.location}}</h4>
                                 <p class="mybio_p">{{history.description}}</p>
                              </div>
                              <div ng-if="emp_history.length == 0">
                                 No data found!!
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-if="requirements.length > 0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/credential"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">credentials</h2>
                              </div>
                              <div class="single_credential_section" ng-if="availableCreds.indexOf('Trust') > -1">
                                 <h4 >Trust</h4>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Trust' }">
                                       <div class="m-b-20">
                                          <div class="icon_class_profile">
                                             <i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
                                          </div>
                                          <div class="icon_class_content">
                                             <span class="position_relative">
                                                {{req.requirement_id__requirement}}&nbsp;&nbsp;<a ng-if="req.document_name" href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><img src="styles/images/blue.png" alt="" width="16"></a>
                                                <small class="icon-options vetted_option_bar" ng-if="adminLogged">
                                                  <ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
                                                   <!-- <ul class="vetted_option_ul">
                                                      <li ><a href="javascript:void(0);" ng-click="changeStatus(req,2)" uib-tooltip="Verified">
                                                         <img src="styles/images/gray_check_user.png" width="25" ng-if="req.status != 2">
                                                         <img src="styles/images/orange_check_user.png" width="25" ng-if="req.status == 2">
                                                         </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);"  ng-click="changeStatus(req,1)" uib-tooltip="Not verified">
                                                         <img src="styles/images/gray_uncheck_user.png" width="25" ng-if='req.status != 1'>
                                                         <img src="styles/images/orange_uncheck_user.png" width="25" ng-if='req.status == 1'>
                                                         </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);" ng-click="changeStatus(req,3)" uib-tooltip="Need info">
                                                         <img src="styles/images/gray_info_user.png" width="25" ng-if="req.status != 3">
                                                         <img src="styles/images/orange_info_user.png" width="25" ng-if="req.status == 3" >
                                                         </a>
                                                      </li>
                                                   </ul> -->
                                                </small>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="single_credential_section" ng-if="availableCreds.indexOf('Residency') > -1">
                                 <h4 >Residency</h4>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Residency' }">
                                       <div class="m-b-20">
                                          <div class="icon_class_profile">
                                             <i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
                                          </div>
                                          <div class="icon_class_content">
                                             <span class="position_relative">
                                                {{req.requirement_id__requirement}}&nbsp;&nbsp;<a ng-if="req.document_name" href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><img src="styles/images/blue.png" alt="" width="16"></a>
                                                <small class="icon-options vetted_option_bar" ng-if="adminLogged">
                                                  <ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
                                                   <!-- <ul class="vetted_option_ul">
                                                      <li ><a href="javascript:void(0);" ng-click="changeStatus(req,2)" uib-tooltip="Verified">
                                                         <img src="styles/images/gray_check_user.png" width="25" ng-if="req.status != 2">
                                                         <img src="styles/images/orange_check_user.png" width="25" ng-if="req.status == 2">
                                                         </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);"  ng-click="changeStatus(req,1)" uib-tooltip="Not verified">
                                                         <img src="styles/images/gray_uncheck_user.png" width="25" ng-if='req.status != 1'>
                                                         <img src="styles/images/orange_uncheck_user.png" width="25" ng-if='req.status == 1'>
                                                         </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);" ng-click="changeStatus(req,3)" uib-tooltip="Need info"><img src="styles/images/gray_info_user.png" width="25" ng-if='req.status!=3'>
                                                         <img src="styles/images/orange_info_user.png" width="25" ng-if='req.status ==3'></a>
                                                      </li>
                                                   </ul> -->
                                                </small>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="single_credential_section" ng-if="availableCreds.indexOf('Training and experience') > -1">
                                 <h4 >Training & Education</h4>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Training and experience' }">
                                       <div class="m-b-20">
                                          <div class="icon_class_profile">
                                             <i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
                                          </div>
                                          <div class="icon_class_content">
                                             <span class="position_relative">
                                                {{req.requirement_id__requirement}}&nbsp;&nbsp;<a ng-if="req.document_name" href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><img src="styles/images/blue.png" alt="" width="16"></a>
                                                <small class="icon-options vetted_option_bar" ng-if="adminLogged">
                                                  <ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>
                                                  </ul>
                                                   <!-- <ul class="vetted_option_ul">
                                                      <li ><a href="javascript:void(0);" ng-click="changeStatus(req,2)" uib-tooltip="Verified"><img src="styles/images/gray_check_user.png" width="25" ng-if="req.status != 2">
                                                         <img src="styles/images/orange_check_user.png" width="25" ng-if="req.status == 2">  </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);"  ng-click="changeStatus(req,1)" uib-tooltip="Not verified"><img src="styles/images/gray_uncheck_user.png" width="25" ng-if='req.status != 1'>
                                                         <img src="styles/images/orange_uncheck_user.png" width="25" ng-if='req.status == 1'></a>
                                                      </li>
                                                      <li><a href="javascript:void(0);" ng-click="changeStatus(req,3)" uib-tooltip="Need info"><img src="styles/images/gray_info_user.png" width="25" ng-if="req.status != 3">
                                                         <img src="styles/images/orange_info_user.png" width="25" ng-if="req.status == 3" ></a>
                                                      </li>
                                                   </ul> -->
                                                </small>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="single_credential_section" ng-if="availableCreds.indexOf('Driving') > -1">
                                 <h4 >Driving</h4>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Driving' }">
                                       <div class="m-b-20">
                                          <div class="icon_class_profile">
                                             <i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
                                          </div>
                                          <div class="icon_class_content">
                                             <span class="position_relative">
                                                {{req.requirement_id__requirement}}&nbsp;&nbsp;<a ng-if="req.document_name" href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><img src="styles/images/blue.png" alt="" width="16"></a>
                                                <small class="icon-options vetted_option_bar" ng-if="adminLogged">
                                                  <ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
                                                   <!-- <ul class="vetted_option_ul">
                                                      <li ><a href="javascript:void(0);" ng-click="changeStatus(req,2)" uib-tooltip="Verified"><img src="styles/images/gray_check_user.png" width="25" ng-if="req.status != 2">
                                                         <img src="styles/images/orange_check_user.png" width="25" ng-if="req.status == 2"> </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);"  ng-click="changeStatus(req,1)" uib-tooltip="Not verified"><img src="styles/images/gray_uncheck_user.png" width="25" ng-if='req.status != 1'>
                                                         <img src="styles/images/orange_uncheck_user.png" width="25" ng-if='req.status == 1'></a>
                                                      </li>
                                                      <li><a href="javascript:void(0);" ng-click="changeStatus(req,3)" uib-tooltip="Need info"><img src="styles/images/gray_info_user.png" width="25" ng-if="req.status != 3">
                                                         <img src="styles/images/orange_info_user.png" width="25" ng-if="req.status == 3" ></a>
                                                      </li>
                                                   </ul> -->
                                                </small>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="single_credential_section" ng-if="availableCreds.indexOf('Others') > -1">
                                 <h4 >Others</h4>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Others' }">
                                       <div class="m-b-20">
                                          <div class="icon_class_profile">
                                             <i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
                                          </div>
                                          <div class="icon_class_content">
                                             <span class="position_relative">
                                                {{req.requirement_id__requirement}}&nbsp;&nbsp;<a ng-if="req.document_name" href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download"><img src="styles/images/blue.png" alt="" width="16"></a>
                                                <small class="icon-options vetted_option_bar" ng-if="adminLogged">
                                                  <ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
                                                   <!-- <ul class="vetted_option_ul">
                                                      <li ><a href="javascript:void(0);" ng-click="changeStatus(req,2)" uib-tooltip="Verified"><img src="styles/images/gray_check_user.png" width="25" ng-if="req.status != 2">
                                                         <img src="styles/images/orange_check_user.png" width="25" ng-if="req.status == 2"> </a>
                                                      </li>
                                                      <li><a href="javascript:void(0);"  ng-click="changeStatus(req,1)" uib-tooltip="Not verified">
                                                         <img src="styles/images/gray_uncheck_user.png" width="25" ng-if='req.status != 1'>
                                                         <img src="styles/images/orange_uncheck_user.png" width="25" ng-if='req.status == 1'></a>
                                                      </li>
                                                      <li><a href="javascript:void(0);" ng-click="changeStatus(req,3)" uib-tooltip="Need info">
                                                         <img src="styles/images/gray_info_user.png" width="25" ng-if="req.status != 3">
                                                         <img src="styles/images/orange_info_user.png" width="25" ng-if="req.status == 3" ></a>
                                                      </li>
                                                   </ul> -->
                                                </small>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-if="others.interest">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/others"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Others</h2>
                              </div>
                              <div class="others_section_view">
                                 <h4>Interests & Favourites</h4>
                                 <p class="mybio_p" ng-bind-html="others.interest"></p>
                              </div>
                              <div class="others_section_view" ng-if="others.household_chores.length > 0">
                                 <h4>Household Chores</h4>
                                 <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="chore in others.household_chores">
                                       <p class="chore_value"><i class="fa fa-check"></i>&nbsp;{{chore | capitalize}}</p>
                                    </div>
                                 </div>

                              </div>
                              <div class="others_section_view" ng-if="others.languages.length > 0">
                                 <h4>Languages</h4>
                                 <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="language in others.languages">
                                       <p class="chore_value" ng-if="language"><i class="fa fa-check"></i>&nbsp;{{language | capitalize}}</p>
                                    </div>
                                 </div>

                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- emergency contact -->
                  <div class="row" ng-if="emp_emergencycontact.length > 0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/others"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Emergency Contact</h2>
                              </div>
                              <div class="table-responsive reference_table">
                                 <table class="table table-bordered table-striped">
                                    <tr>
                                       <th><i class="fa fa-user-o"></i>&nbsp;Name</th>
                                       <th><i class="fa fa-envelope-o"></i>&nbsp;Email</th>
                                       <th><i class="icon-phone"></i>&nbsp;Phone Number</th>
                                    </tr>
                                    <tr ng-repeat="emergency in emp_emergencycontact">
                                       <td>{{emergency.first_name}} {{emergency.last_name}}</td>
                                       <td>{{emergency.email}}</td>
                                       <td>{{emergency.contactno}}</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- resume section -->
                  <div class="row" ng-if="others.resume">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/others"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Resume</h2>
                              </div>
                              <p class="download-resume-section"><i class="fa fa-file-text-o"></i>&nbsp;{{others.resume}} <span><a  href="assets/documents/resumes/{{others.resume}}" download="{{others.resume}}" uib-tooltip="Download Resume"><img src="styles/images/blue.png" alt="" width="16" ></a></span></p>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end resume section -->
                  <!-- References -->
                  <div class="row" ng-if="references.length > 0">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/reference"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">References</h2>
                              </div>
                              <div class="table-responsive reference_table">
                                 <table class="table table-bordered table-striped">
                                    <tr>
                                       <th><i class="fa fa-user-o"></i>&nbsp;Name</th>
                                       <th><i class="fa fa-envelope-o"></i>&nbsp;Email</th>
                                       <th><i class="icon-phone"></i>&nbsp;Phone Number</th>
                                    </tr>
                                    <tr ng-repeat="ref in references">
                                       <td>{{ref.first_name}} {{ref.last_name}}</td>
                                       <td>{{ref.email}}</td>
                                       <td>{{ref.contactno}}</td>
                                    </tr>
                                 </table>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  End Reference-->
                  <!--  Start Bank details-->
                  <div class="row" ng-if="bankDetails" >
                     <div class="col-md-12" ng-if="bankDetails.userid == userid || adminLogged">
                        <div class="my_profile_view clearfix">
                           <p class="edit_icon_viewprofile" uib-tooltip="Edit"><a href="#/updateprofile/bankinfo"><i class="icon-pencil "></i></a></p>
                           <div class="col-md-12">
                              <div class="u-heading-v3">
                                 <h2 class="h3 u-heading-v3__title">Bank Details</h2>
                              </div>
                              <div class="table-responsive reference_table">
                                 <table class="table table-bordered table-striped">
                                    <tr>
                                       <th><i class="fa fa-user-o"></i>&nbsp;Bank Name</th>
                                       <th><i class="icon-phone"></i>&nbsp;BSB Number</th>
                                       <th><i class="icon-phone"></i>&nbsp;Account Number</th>
                                    </tr>
                                 
                                    <tr>
                                       <td>{{bankDetails.bank_name}}</td>
                                       <td>{{bankDetails.bsb_no}}</td>
                                       <td>{{bankDetails.account_no}}</td>
                                    </tr>
                                 </table>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  End Bank details-->
                  <!--  others-->
                  <!--  End Credential-->
               </div>
               <div class="col-md-3">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="my_profile_view clearfix">
                           <div class="u-heading-v3">
                              <h2 class="h3 u-heading-v3__title">profile Completeness&nbsp;<span class="profile_complete_percent">{{profileCompleteness}}%</span></h2>
                           </div>
                           <div class="complete_progress">
                              <!-- <h5>Profile complete on {{profileCompleteness}}%</h5> -->
                              <div class="progress">
                                 <div class="progress-bar progress-bar-success" role="progressbar"
                                    aria-valuenow="{{profileCompleteness}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': (profileCompleteness+'%')}">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="right_side_section_joblist">
                           <!-- <div class="ad_section">
                              <img src="styles/images/right_side_banner.png" alt="" width="100%">
                              </div> -->
                           <div x-sticky="" set-class-when-at-top="ad-fixed">
                              <div ad2 ></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div footer></div>
