
<div header></div>
<div class="content_section">

  <div class="row">
       <div class="col-sm-8" >
        <ol class="breadcrumb">
              <li><span>My Profile</span></li>
              <!-- <li class="active">View Profile</li> -->
           </ol>
      </div>
      <div class="col-sm-4">
        <a class="edit_profile_btn hvr-wobble-horizontal" ng-click="backViewUrl()"><i class="fa fa-reply"></i>&nbsp;<span>Back</span></a>
      </div>
  </div>


  <div class="row">
    <div class="col-md-9">

      <div class="my_profile_view">

        <div class="row">

          <div class="col-md-7 col-sm-7">
            <div class="row">
              <div class="m-b-10 clearfix">
              <div class="col-md-4 col-sm-5">
                <h5 class="parent_label">First Name <span class="pull-right hidden-xs">:</span></h5>

              </div>
              <div class="col-md-8 col-sm-7">
                <h5 class="capitalize"><a href="javascript:void(0)" editable-text="clientUser.first_name" onaftersave="updateClientdata(clientUser)" e-maxlength="20" onbeforesave="clientDatavalidation(clientUser)" e-pattern="[a-zA-Z\s]*" e-required>{{ clientUser.first_name || "empty" }}</a></h5>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="m-b-10 clearfix">
              <div class="col-md-4 col-sm-5">
                <h5 class="parent_label">Last Name <span class="pull-right hidden-xs">:</span></h5>

              </div>
              <div class="col-md-8 col-sm-7">
                <h5 class="capitalize"><a href="javascript:void(0)" editable-text="clientUser.last_name" onaftersave="updateClientdata(clientUser)" e-maxlength="20" e-pattern="[a-zA-Z\s]*" e-required >{{ clientUser.last_name || "empty" }}</a></h5>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="m-b-10 clearfix">
              <div class="col-md-4 col-sm-5">
                <h5 class="parent_label">Email Address <span class="pull-right hidden-xs">:</span></h5>

              </div>
              <div class="col-md-8 col-sm-7">
                <h5 class=""><span editable-email="clientUser.email" onaftersave="updateClientdata(clientUser)" edit-disabled="true">{{ clientUser.email || "empty" }}</span></h5>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="m-b-10 clearfix">
              <div class="col-md-4 col-sm-5">
                <h5 class="parent_label">Country Code <span class="pull-right hidden-xs">:</span></h5>

              </div>
              <div class="col-md-8 col-sm-7">
              <h5 class=""><a href="javascript:void(0)" editable-select="clientUser.country_code__id" e-ng-options="s.id as s.code for s in countryCodes" onaftersave="updateClientdata(clientUser)">
                <span class="">
              <i class="{{clientUser.country_code__flag_class}}"></i>{{ clientUser.country_code__code || "empty" }}</a></h5>
              </span>

              </div>
            </div>
            </div>


            <div class="row">
              <div class="m-b-10 clearfix">
                <div class="col-md-4 col-sm-5">
                  <h5 class="parent_label">Phone Number <span class="pull-right hidden-xs">:</span></h5>

                </div>
                <div class="col-md-8 col-sm-7">
                  <h5 class=""><a href="javascript:void(0)" editable-text="clientUser.contactno" e-pattern="\d*" e-title="Phone number must be digits" e-maxlength="15" onaftersave="updateClientdata(clientUser)">{{ clientUser.contactno || "empty" }}</a></h5>
                </div>
              </div>
            </div>



          </div>
          <div class="col-md-5 col-sm-5">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile_picture_section text-center">

                            <div ng-if="!croppingImage && clientUser.profpic">
                                <img ngf-src="'/images/profilepic/'+clientUser.profpic" alt="" class="img-responsive">
                            </div>
                            <div ng-if="croppingImage">
                                <img ngf-thumbnail="myCroppedImage" alt="" class="img-responsive">
                            </div>
                            <div>
                                <img ngf-thumbnail="'/images/no_image_1.png'" alt="" ng-if="!clientUser.profpic && !myCroppedImage" class="img-responsive">
                            </div>
                            <div class="upload_btn">
                                <p class="update_image_icon text-center">

                                    <input type="file" accept="image/x-png,image/jpeg" id="fileInput" class="display_none">
                                    <button class="profile_pic_update_btn" onclick="document.getElementById('fileInput').click()"><i class=""></i>Update Photo</button>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row" ng-if="adminLogged">
              <div class="text-center blokunblock">


                    <button id="block" class="btn block_user_btn success_btn hvr-float-shadow"   ng-if="blocked_user== 0" ng-click="BlockUser(1,clientUser.id)">unblocked &nbsp;<i class="icon-note"></i></button>
                    <button id="block" class="btn block_user_btn danger_btn hvr-float-shadow"  ng-click="BlockUser(0,clientUser.id)" ng-if="blocked_user== 1">blocked&nbsp;<i class="icon-note"></i></button>








              </div>
              <!-- <div class="col-sm-6">
                <button id="vetted" class="btn block_user_btn success_btn hvr-float-shadow" ng-if="vetted_user== 1" ng-click="VettedUser(0,clientUser.id)">vetted&nbsp;<i class="icon-note"></i></button>
                <button id="vetted" class="btn block_user_btn danger_btn hvr-float-shadow" ng-if="vetted_user== 0"  ng-click="VettedUser(1,clientUser.id)">unvetted&nbsp;<i class="icon-note"></i></button>

              </div> -->
            </div>

          </div>
            <!-- <div class="row m-t-10" ng-if="adminLogged">

                                <div class="col-sm-6">
                                  <button id="block" class="btn block_user_btn success_btn hvr-float-shadow"   ng-if="blocked_user== 0" ng-click="BlockUser(1,clientUser.id)">unblock &nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="block" class="btn block_user_btn danger_btn hvr-float-shadow"  ng-click="BlockUser(0,clientUser.id)" ng-if="blocked_user== 1">block&nbsp;<i class="fa fa-edit"></i></button>
                                </div>
                                <div class="col-sm-6">
                                  <button id="vetted" class="btn block_user_btn success_btn hvr-float-shadow" ng-if="vetted_user== 1" ng-click="VettedUser(0,clientUser.id)">vetted&nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="vetted" class="btn block_user_btn danger_btn hvr-float-shadow" ng-if="vetted_user== 0"  ng-click="VettedUser(1,clientUser.id)">unvetted&nbsp;<i class="fa fa-edit"></i></button>

                                </div>
            </div> -->









        </div>


      </div>
    </div>
    <div class="col-md-3">
      <div class="ad_section col-sm-hidden">
          <img src="styles/images/right_side_banner.png" alt="" width="100%">
      </div>
    </div>

  </div>
</div>
<div footer></div>
