<div header></div>
<div class="content_section">
	<div class="row">
		<div class="col-md-8" ng-show="!adminLogged && (userType == '0' || userType == 'parent' || !userType)" >
			<ol class="breadcrumb" >
				<li><a href="#/login">Home</a></li>
				<li><a href="#/findcarer">Find a carer</a></li>
				<li class="active">Public Profile</li>
			</ol>
		</div>


		<div class="col-md-8" ng-show="(userType == '1' || userType == 'worker')">
			<ol class="breadcrumb" >
				<li><a href="#/myprofile">My Profile</a></li>
				<li class="active">Public Profile</li>
			</ol>
		</div>
		<div  ng-class="{'col-md-12':adminLogged,'col-md-4':!adminLogged}">
			<a class="edit_profile_btn hvr-wobble-horizontal" ng-if="!ClientQuotedView && !previousJobid && (userType == '0' || userType == 'parent' || !userType) " href="#/findcarer"><i class="fa fa-reply"></i>&nbsp;<span>Back to List</span></a>

			<!-- <a class="edit_profile_btn hvr-wobble-horizontal" ng-if="!adminLogged && ClientQuotedView && !previousJobid && (userType == '0' || userType == 'parent' || !userType) " ng-click="backViewUrl()"><i class="fa fa-reply"></i>&nbsp;<span>Back</span></a> -->

			<a class="edit_profile_btn hvr-wobble-horizontal" ng-if="(userType == '1' || userType == 'worker')" href="#/myprofile"><i class="fa fa-reply"></i>&nbsp;<span>Back to My profile</span></a>
			<a class="edit_profile_btn hvr-wobble-horizontal" ng-if="previousJobid && !(userType == '1' || userType == 'worker')" href="#/previewjob/{{previousJobid}}/quotes" ng-click="removeCookie('previousJobid')"><i class="fa fa-reply"></i>&nbsp;<span>Back to Preview job</span></a>
			<!-- <a class="edit_profile_btn hvr-wobble-horizontal" ng-if="adminLogged" href="{{adminUrl}}"><i class="fa fa-reply"></i>&nbsp;<span>Back to List</span></a> -->

		</div>
	</div>
	<!-- public profile starts here -->
	<div class="myprofile_section clearfix" x-sticky-boundary="">
		 <div class="row">
				<div class="col-md-12">
					 <div class="row">
							<div class="col-md-9">
								 <div class="row">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-4 col-sm-4">
														<div class="verified_user_design">

														 <div class="profile-pic">
																<div class="profile-border">
																	 <img ng-src="/images/profilepic/{{personal.profpic}}" ng-if="personal.profpic" alt="profilepicture" class="m-t-4">
																	 <img ng-src="/images/no_image_1.png" ng-if="!personal.profpic" alt="profilepicture_not_found" class="m-t-4">
																</div>
															</div>
															<div class="text-center">
                                 <img src="styles/images/vetted_green.png" alt="" class="shield_icon" ng-if="personal.is_vetted">
                              </div>

														 </div>

														
														 
														 <div class="text-center worker_rating">
														 	<h5 class="intro-title1"><span class="first_name_css">{{personal.first_name}}</span> <span class="last_name_css">{{personal.last_name}} </h5>
														 		<p class="worker_rating m-b-0"><input-stars max="5" ng-model="YourCtrl.property" ng-attr-readonly="true" allow-half></input-stars></p>
														 		 <h5 class="intro-gender" ng-if="personal.age && personal.age !='not specified'">{{personal.age}} years old &nbsp;<span ng-if="personal.gender">{{personal.gender | capitalize}}</span></h5>
																 <button ng-click="openMessagepopup(personal.id)" class="btn btn-success public_contact_btn  hvr-wobble-horizontal m-t-10" ng-if="(userType != '1' && userType != 'worker')">Contact</button>
																  <div class="row m-t-10" ng-if="adminLogged">									                                
															

															
															
                                <div class="col-sm-6">
               
                                  <button id="block" class="btn block_user_btn success_btn hvr-float-shadow"   ng-if="blocked_user== 0" ng-click="BlockUser(1,personal.id)">unblocked &nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="block" class="btn block_user_btn danger_btn hvr-float-shadow"  ng-click="BlockUser(0,personal.id)" ng-if="blocked_user== 1">blocked&nbsp;<i class="fa fa-edit"></i></button>
                                </div>
                                <div class="col-sm-6">
                                  <button id="vetted" class="btn block_user_btn success_btn hvr-float-shadow" ng-if="vetted_user== 1" ng-click="VettedUser(0,personal)">vetted&nbsp;<i class="fa fa-edit"></i></button>
                                  <button id="vetted" class="btn block_user_btn danger_btn hvr-float-shadow" ng-if="vetted_user== 0"  ng-click="VettedUser(1,personal)">unvetted&nbsp;<i class="fa fa-edit"></i></button>

                                </div>
									                            </div>

														 </div>
													</div>
													<div class="col-md-8 col-sm-8">
														<div class="single_right_side_container ">
															<div class="row">
																<div class="single_right_side_data clearfix">
																	<div class="col-sm-12">																		


																		<h2 class="intro-title2" ng-bind="preference.caregivers.join(' / ')"></h2>
																		<h2 class="intro-title2 public_url_link" ><span class="label label-warning">Public URL</span> <a target="_blank" href="https://www.lovelychildcare.com/viewprofile/{{personal.id}}/{{personal.first_name}}-{{personal.last_name}}">https://www.lovelychildcare.com/viewprofile/{{personal.id}}/{{personal.first_name}}-{{personal.last_name}}</a></h2>

																	</div>
																	<!-- <div class="col-sm-12">
																		<div class="location_section">
																			<i class="icon-directions" class="pull-left"></i>
																			<span class="ng-binding" ng-if="personal.address"> {{personal.address}}</span>
																			<span class="ng-binding" ng-if="!personal.address"> - </span>

																		 </div>
																	</div> -->
																	<div class="col-sm-12 m-t-10">
																		<div class="location_section">
																				 <i class="icon-location-pin" class="pull-left"></i>
																				 <span class="ng-binding" ng-if="personal.post_code"> {{personal.city}},{{personal.state}} {{personal.post_code}}</span>
																				 <span class="ng-binding" ng-if="!personal.post_code">-</span>
																		 </div>
																	</div>

																</div>


															</div>


															<div class="row">
																<div class="single_right_side_data clearfix bb-none">
																	<div class="col-sm-12">
																		<div>
																		<strong class="label_myprofile">Preferred job type</strong>
																		<p class="value_myprofile"><span ng-if="preference.job_type.indexOf('casual') > -1">Casual / One-offcare</span> <span ng-if="preference.job_type.length > 1">, </span> <span ng-if="preference.job_type.indexOf('regular') > -1">Regular care</span></p>
																	</div>
																	<div class="m-t-10" ng-if="preference.children_age.length > 0">
																		<strong class="label_myprofile">Preferred Age Groups </strong>
																		<p class="value_myprofile" ng-if="preference.children_age.length > 0">{{preference.children_age}}</p>
																	</div>

																	</div>

																</div>
															</div>

															<div class="row">
<!-- 																<div class="single_right_side_data clearfix bb-none">
																	<div class="col-sm-6">
																		<p class="value_myprofile"><i class="icon-envelope"></i>&nbsp;{{personal.email}}</p>

																	</div>
																	<div class="col-sm-6">
																		<p class="value_myprofile"><i class="icon-phone"></i>&nbsp;{{personal.country_code}} {{personal.contactno}}</p>

																	</div>
																</div> -->
															</div>
															<div class="row">
																<div class="col-md-12">

																</div>
															</div>







													 </div>

													</div>
											 </div>
										</div>
								 </div>

									 <!-- my bio section -->
									 <div class="row">
										 <div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
														<h2 class="h3 u-heading-v3__title">About Me</h2>
														<p class="mybio_p" ng-if="personal.about" ng-bind-html="personal.about"></p>
														<p class="mybio_p" ng-if="!personal.about">Content Not available</p>

													</div>
											 </div>

										 </div>
									 </div>
									 <!-- end my bio section -->








								 <!--  availability-->
								 <div class="row">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
														 <div class="u-heading-v3">
																<h2 class="h3 u-heading-v3__title">Availability</h2>
														 </div>
														 <div class=" availability_section m-t-30">
																<div class="table-responsive">
																	 <table class="table table-bordered table-striped">
																			<thead>
																				 <tr>
																						<th style="width:30%">&nbsp;</th>
																						<th style="width:10%">M</th>
																						<th style="width:10%">T</th>
																						<th style="width:10%">W</th>
																						<th style="width:10%">T</th>
																						<th style="width:10%">F</th>
																						<th style="width:10%">S</th>
																						<th style="width:10%">S</th>
																				 </tr>
																			</thead>
																			<tbody>
																				 <tr>
																						<td>Before School care
																							 <br><span class="time_care">6am - 9am</span>
																						</td>
																						<td ng-repeat="day in Days">
																							 <i class="not-available" ng-if="availability.before_school.indexOf(day) == -1"></i>
																							 <i class="fa fa-check" ng-if="availability.before_school.indexOf(day) > -1"></i>
																						</td>
																				 </tr>
																				 <tr>
																						<td>9am - 3pm
																						</td>
																						<td ng-repeat="day in Days">
																							 <i class="not-available" ng-if="availability.day_care.indexOf(day) == -1"></i>
																							 <i class="fa fa-check" ng-if="availability.day_care.indexOf(day) > -1"></i>
																						</td>
																				 </tr>
																				 <tr>
																						<td>After School care
																							 <br><span class="time_care">3pm - 7pm</span>
																						</td>
																						<td ng-repeat="day in Days">
																							 <i class="not-available" ng-if="availability.after_school.indexOf(day) == -1"></i>
																							 <i class="fa fa-check" ng-if="availability.after_school.indexOf(day) > -1"></i>
																						</td>
																				 </tr>
																				 <tr>
																						<td >Overnight care
																							 <br><span class="time_care">After 7pm</span>
																						</td>
																						<td ng-repeat="day in Days">
																							 <i class="not-available" ng-if="availability.overnight.indexOf(day) == -1"></i>
																							 <i class="fa fa-check" ng-if="availability.overnight.indexOf(day) > -1"></i>
																						</td>
																				 </tr>
																			</tbody>
																	 </table>
																</div>
														 </div>
													</div>
											 </div>
										</div>
								 </div>
								 <!--  End availability-->
								 <div class="row" ng-if="emp_history.length >0">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
														 <div class="u-heading-v3">
																<h2 class="h3 u-heading-v3__title">Work Experience</h2>
														 </div>
														 <div class="no-data_found hide">
															 <p><i class="fa fa-exclamation-triangle"></i>&nbsp;No record found</p>
														 </div>
														 <div class="single_job_experience" ng-repeat="history in emp_history">
																<h3 class="section-item-title-1">{{history.company_name}}</h3>
																<h4 class="job_designation">{{history.title}} - <span class="job-date">  <span>{{months[history.from_month].name}} {{history.from_year}} - <span ng-if="history.to_month != 'null' && history.to_year != 'null'">{{months[history.to_month].name}} {{history.to_year}}</span>
																	 <span ng-if="history.to_month == 'null' || history.to_year == 'null' || !history.to_month || !history.to_year">Present</span>
																	 </span></span>
																</h4>
																<h4 class="location">{{history.location}}</h4>
																<p class="mybio_p">{{history.description}}</p>
														 </div>
														 <div ng-if="emp_history.length == 0">
																No data found!!
														 </div>
													</div>
											 </div>
										</div>
								 </div>
								 <div class="row" ng-if="requirements.length > 0">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
													<div class="u-heading-v3">
														 <h2 class="h3 u-heading-v3__title">credentials</h2>
													</div>
													<div class="single_credential_section" ng-if="availableCreds.indexOf('Trust') > -1">
														 <h4 >Trust</h4>
														 <div class="row">
															 <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Trust' }">
																 <div class="m-b-20">
																	 <div class="icon_class_profile">
																			<i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
																	 </div>
																	 <div class="icon_class_content">
																			<span class="position_relative">{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download" ng-if="adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>

																			<a href="javascript:void(0)" download="{{req.document_name}}" uib-tooltip="You cannot download the document now" ng-if="!adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																			<small class="icon-options vetted_option_bar" ng-if="adminLogged">
																			<ul class="vetted_option_ul">

						                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
						                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
						                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  							</ul>
																			</small>

																			</span>



																	 </div>
																 </div>

															 </div>
														 </div>

													</div>
													<div class="single_credential_section" ng-if="availableCreds.indexOf('Residency') > -1">
														 <h4 >Residency</h4>
														 <div class="row">
															 <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Residency' }">
																 <div class="m-b-20">
																 <div class="icon_class_profile">
																		<i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
																 </div>
																 <div class="icon_class_content">
																		<span class="position_relative">{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download" ng-if="adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																			<a href="javascript:void(0)" download="{{req.document_name}}" uib-tooltip="You cannot download the document now" ng-if="!adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																			<small class="icon-options vetted_option_bar" ng-if="adminLogged">
																				<ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
																			</small>
																		</span>
																 
																	</div>
															 </div>

															 </div>

														 </div>

													</div>
													<div class="single_credential_section" ng-if="availableCreds.indexOf('Training and experience') > -1">
														 <h4 >Training & Education</h4>
														 <div class="row">
															 <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Training and experience' }">
																 <div class="m-b-20">
																	 <div class="icon_class_profile">
																			<i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
																	 </div>
																	 <div class="icon_class_content">
																			<span class="position_relative">{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download" ng-if="adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<a href="javascript:void(0)" download="{{req.document_name}}" uib-tooltip="You cannot download the document now" ng-if="!adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<small class="icon-options vetted_option_bar" ng-if="adminLogged">
																					<ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
																				</small>
																			</span>
																	 </div>
																 </div>

															 </div>
														 </div>

													</div>
													<div class="single_credential_section" ng-if="availableCreds.indexOf('Driving') > -1">
														 <h4 >Driving</h4>
														 <div class="row">
															 <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Driving' }">
																 <div class="m-b-20">
																	 <div class="icon_class_profile">
																			<i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
																	 </div>
																	 <div class="icon_class_content">
																			<span class="position_relative">{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download" ng-if="adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<a href="javascript:void(0)" download="{{req.document_name}}" uib-tooltip="You cannot download the document now" ng-if="!adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<small class="icon-options vetted_option_bar" ng-if="adminLogged">
																					<ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
																				</small>
																			</span>
																	 </div>
																 </div>

															 </div>
														 </div>
													</div>
													<div class="single_credential_section" ng-if="availableCreds.indexOf('Others') > -1">
														 <h4 >Others</h4>
														 <div class="row">
															 <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="req in requirements | filter: { requirement_id__category: 'Others' }">
																 <div class="m-b-20">
																	 <div class="icon_class_profile">
																			<i class="{{req.requirement_id__icon_class}}  pull-left" ng-class="{'{{req.requirement_id__icon_class}}-check':req.status==2, '{{req.requirement_id__icon_class}}-info':req.status==3}"></i>
																	 </div>
																	 <div class="icon_class_content">
																			<span class="position_relative">{{req.requirement_id__requirement}}&nbsp;&nbsp;<a href="/assets/documents/requirements/{{req.document_name}}" download="{{req.document_name}}" uib-tooltip="Download" ng-if="adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<a href="javascript:void(0)" download="{{req.document_name}}" uib-tooltip="You cannot download the document now" ng-if="!adminLogged"><img src="styles/images/blue.png" alt="" width="16"></a>
																				<small class="icon-options vetted_option_bar" ng-if="adminLogged">
																					<ul class="vetted_option_ul">

                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 2}" ng-click="changeStatus(req,2)"><i class="icon-check"></i>&nbsp;Verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-class="{'active': req.status == 1}" ng-click="changeStatus(req,1)"><i class="icon-close"></i>&nbsp;Not  verified</button></p>
                                                      <p><button type="button" class="btn btn-primary" ng-click="changeStatus(req,3)" ng-class="{'active': req.status == 3}"><i class="icon-info"></i>&nbsp;Need info</button></p>

                                                  </ul>
																				</small>
																			</span>
																	 </div>
																 </div>

															 </div>
														 </div>
													</div>
												</div>
											 </div>
										</div>
								 </div>
								 <div class="row" ng-if="others.interest">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
														 <div class="u-heading-v3">
																<h2 class="h3 u-heading-v3__title">Others</h2>
														 </div>
														 <div class="others_section_view">
																<h4>Interests & Favourites</h4>
																<p class="mybio_p" ng-bind-html="others.interest"></p>
														 </div>
														 <div class="others_section_view" ng-if="others.household_chores.length > 0">
																<h4>Household Chores</h4>
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="chore in others.household_chores">
																		<p class="chore_value"><i class="fa fa-check"></i>&nbsp;{{chore | capitalize}}</p>

																	</div>
																</div>
														 </div>
														 <div class="others_section_view" ng-if="others.languages.length > 0">
																<h4>Languages</h4>
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="language in others.languages">
																		<p class="chore_value"><i class="fa fa-check"></i>&nbsp;{{language | capitalize}}</p>

																	</div>
																</div>
														 </div>
														 <div class="others_section_view" ng-if="emp_emergencycontact.length > 0">
																<h4>Emergency Contact</h4>

																<p class="reference_p_view" ng-repeat="emergency in emp_emergencycontact"><i class="fa fa-check"></i>&nbsp;&nbsp;{{emergency.first_name}} {{emergency.last_name}} <span class="contact_no_css">( {{emergency.contactno}} )</span></p>
																<div ng-if="emp_emergencycontact.length == 0">
																	 No data found!!
																</div>
														 </div>
													</div>
											 </div>
										</div>
								 </div>
								 <!-- References -->
								 <div class="row" ng-if="references.length > 0">
										<div class="col-md-12">
											 <div class="my_profile_view clearfix">

													<div class="col-md-12">
													<div class="u-heading-v3">
														 <h2 class="h3 u-heading-v3__title">References</h2>
													</div>
													<div class="table-responsive reference_table">

													<table class="table table-bordered table-striped">
														<tr>
															<th>Name</th>
															<th>Email</th>
															<th>Phone Number</th>
														</tr>
														<tr ng-repeat="ref in references">
															<td>{{ref.first_name}} {{ref.last_name}}</td>
															<td>{{ref.email}}</td>
															<td>{{ref.contactno}}</td>
														</tr>
													</table>
												</div>
													<!-- <div class="single_reference_section_view" ng-repeat="ref in references">
														 <a href="/assets/documents/references/{{ref.document}}" download="{{ref.document}}" ng-if="ref.document !='null' && ref.document"><img src="styles/images/dd.png" width="16" uib-tooltip="Download"></a>
														 <h4><i class="icon-user"></i>&nbsp;{{ref.first_name}} {{ref.last_name}} |&nbsp;<i class="icon-envelope-open"></i>&nbsp;{{ref.email}}&nbsp;|&nbsp;<i class="icon-phone"></i>&nbsp;{{ref.contactno}}</h4>


													</div> -->

													 </div>
											 </div>
										</div>
								 </div>
								 <!--  End Reference-->
								 <!--  others-->
								 <!--  End Credential-->
							</div>
							<div class="col-md-3">




											 <!-- <div class="ad_section">
											 <img src="styles/images/right_side_banner.png" alt="" width="100%">
											 </div> -->
											 <div x-sticky="" ng-if="!userType" set-class-when-at-top="ad-fixed">
											 <div ad1 ></div>
											</div>

											<div x-sticky="" ng-if="userType" set-class-when-at-top="ad-fixed">
											 <div ad2 ></div>
											</div>


								 </div>
							</div>
					 </div>
				</div>
		 </div>
</div>
<div footer></div>
