<header id="scroll_top" style="z-index: 2">
    <div class="pre-header hidden-xs">
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><i class="fa fa-envelope"></i><span>lovelychildcare@gmail.com</span></li>
                        <li><i class="fa fa-phone"></i><span>+1 659 6597 365</span></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
    <!-- ================================================================================================ -->
    <!-- ========================================Navigation bar============================================-->
    <!-- ================================================================================================ -->
    <div class="navigation_section" set-class-when-at-top="fixed-top-header" ng-controller="HomeCtrl">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">
               </span>
                    <span class="icon-bar">
               </span>
                    <span class="icon-bar">
               </span>
                </button>
                {{url=(adminLogged) ? '#/admin/home' : '#/login';''}}
                <a class="navbar-brand" href="{{url}}">
               <img src="/../partner_logo/{{$root.whitelableDetails.partner_logo}}" alt="logo" class="img-responsive">
               </a>
            </div>
            <div class="navbar-collapse collapse admin_form_login">
            <div ng-if="currentState == 'admin.login' && !adminLogged">
              <form name="adminLoginform" class="navbar-form navbar-right" ng-submit="adminLogin(adminLoginform)" novalidate>
                      <div class="input-group m-r-15">
                          <span class="input-group-addon"><i class="icon-user"></i></span>
                          <input type="email" class="form-control" name="email1" placeholder="Email Address" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="adminUser.email" ng-required="true">
                          <div class="errormsg" ng-if="(adminLoginform.$submitted || adminLoginform.email1.$dirty) && adminLoginform.email1.$invalid">
                              <p ng-if="adminLoginform.email1.$error.required">Please enter email</p>
                              <p ng-if="adminLoginform.email1.$error.pattern">Invalid email</p>
                          </div>
                      </div>
                      <div class="input-group ">
                          <span class="input-group-addon"><i class="icon-lock"></i></span>
                          <input id="password" type="password" class="form-control" name="password" ng-model="adminUser.password" placeholder="Password" ng-required="true">
                          <div class="errormsg" ng-if="(adminLoginform.$submitted || adminLoginform.password.$dirty) && adminLoginform.password.$invalid">
                              <p ng-if="adminLoginform.password.$error.required">Please enter password</p>
                          </div>
                      </div>
                      <div class="input-group m-r-15">
                          <a href="javascript:void(0);" class="forgot_password_admin"><i class="icon-question" title="forgot password" ></i></a>
                      </div>
                      <button type="submit" class="btn btn-primary navbar_submit_btn hvr-wobble-horizontal">Login</button>

                  </form>
                  </div>

                  <div ng-if="currentState != 'admin.login' || adminLogged">
                            <form class="navbar-form navbar-left form-inline clearfix">
                              <div class="form-group">
                              <label class="select_mode_label">Select Mode</label>

                              <span class="toggle_button_switch navbar_toggle_switch">
                              <div class="toggleWrapper">
                              <input type="checkbox" ng-model="userMode" ng-true-value="'client'" ng-false-value="'worker'"  id="dn" class="dn" ng-click="getUserlist(userMode,true);">
                              <label for="dn" class="toggle"><span class="toggle__handler"></span></label>
                              </div>
                            </span>
                              </div>
                              <div class="form-group">
                                <select2 class="form-control" ng-model="selectedUser" options="queryOptions">
                                    <!-- <option ng-repeat="user in userList" value="user.id">#{{user.id}} {{user.first_name}} {{user.last_name}}</option> -->
                                </select2>
                                <div class="errormsg" ng-if="useridReq && !selectedUser">
                                  <p>Please select an user to view</p>
                                </div>

                              </div>
                              <button type="submit" id="submitUser" class="btn btn-primary navbar_submit_btn  res_float_left" ng-click="submitUser(selectedUser)">Submit</button>
                               <!--  <a href="#/admin/viewcarer/{{selectedUser}}" ng-if="userMode == 'worker'" class="btn btn-primary navbar_submit_btn  res_float_left">View Profile</a>

                                <a href="#/parentprofile" ng-if="userMode == 'client'" class="btn btn-primary navbar_submit_btn  res_float_left">View Profile</a> -->


                            </form>
                <!-- <form id="signin" class="navbar-form navbar-left admin_form_login" role="form">
                    <div class="input-group m-r-15 res_float_left">
                        <toggle-switch ng-model="switchStatus" knob-label="Change" on-label="Worker" off-label="Client">
                        </toggle-switch>
                    </div>
                    <div class="input-group m-r-15 res_float_left">
                        <select chosen class="form-control">
                            <option>Enter ID / Name</option>
                            <option>#14590 kalidass</option>
                            <option>#14590 kasthuriraja</option>
                            <option>#14590 suresh</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary navbar_submit_btn hvr-wobble-horizontal res_float_left">Submit</button>
                </form> -->
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle user_name_header" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left" ng-if="loginuser_profilepic"> <img src="images/profilepic/{{loginuser_profilepic}}"> </span>
                 <span class="thumb-sm avatar pull-left" ng-if="!loginuser_profilepic"> <img ngf-thumbnail="'/images/no_image_found.png'"> </span> Admin <b class="caret"></b> </a>
                        <ul class="dropdown-menu customdropdown"> <span class="arrow top"></span>
                            <!-- <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li> -->
                            <li><a href="#/admin/changepassword"><i class="icon-lock p-r-5"></i>Change Password</a></li>

                            <li><a href="javascript:void(0);" ng-click="adminLogout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!--=================================== End Navigation Bar ==========================================================-->
</header>
<div header></div>

<div ui-view>
</div>
<div ng-if="currentState != 'admin.login'" footer></div>
