<div class="content_section">
    <div id="content_sec" ng-if="selectedUser">
        <!-- <div ng-if="userMode == 'client' && selectedUser" ng-include="templateUrl" ng-controller="JobCtrl">
        </div> -->

        <div ng-if="userMode == 'worker'" ng-include="templateUrl" ng-controller="JobcopyCtrl">
        </div>
        <div ng-if="userMode == 'client'" ng-include="templateUrl">
        </div>
    </div>
</div>
    <!-- <div class="col-md-3">
     <div class="">
                    <div class="ad_section">
                        <img src="styles/images/right_side_banner.png" alt="" width="100%">
                    </div>
                </div>
    </div> -->
