






<div>
   <div class="bgvideoimage">
      <!-- <img src="styles/images/banner1.png" class="cover" /> -->
      <!-- <img src="styles/images/ba2.png" class="cover" /> -->
      <!-- <img src="styles/images/3.png" class="cover" /> -->
      <video-background class="vid_bgr" source="{ mp4: 'scripts/module/home/views/kinder.mp4' }" autoplay loop="10" show-time="false"></video-background>
      <div class="overlay_dot"></div>
   </div>
   <!-- right side text -->
   <div class="container">
     <div class="row">
       <div class="col-md-6  col-md-offset-6 col-sm-12 col-xs-12">
     <div class="cca-hero-content">
     <h1>Your Leading Resource to Find Quality Child Care Staff</h1>
     <p>Lovely Childcare is the only online service devoted entirely to helping child care centres connect with qualified staff.</p>
     <a class="btn cca-btn-fill hvr-wobble-horizontal" ng-click="vm.callpostjob()">Post a Job</a>
     <p class="cca-secondary-cta">
     Are you a job seeker? Click
     <a href="javascript:void(0);" ng-click="vm.callloginPopup()">here.</a>
     </p>
     </div>
     </div>
     </div>
      <!-- <div class="row">
         <div class="homepage_search clearfix">
           <div class="col-md-5">

           </div>
           <div class="col-md-7">
             <div class="cca-hero-content">
             <h1>Your Leading Resource to Find Quality Child Care Staff</h1>
             <p>Lovely Childcare is the only online service devoted entirely to helping child care centres connect with qualified staff.</p>
             <div class="search_form_home">

                <div class="ctn-btn-section m-t-30">
                <a class="btn cca-btn-fill hvr-wobble-vertical btn_gray_home" ng-click="vm.callpostjob()">Post a Job</a>
                <a class="btn cca-btn-fill hvr-wobble-vertical " ng-click="vm.callpostjob()">Search Job</a>
                </div>

             </div>
           </div>

            </div>

      </div>

   </div> -->
</div>
<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"></div> -->
<!-- <footer></footer> -->
<style>
   .navigation_section{
   box-shadow: none;
   }
   .navigation_section, .navigation_section .navbar-default{
   background: rgba(255, 255, 255, 0.6);
   /*background: #fff;*/
   }
   .pre-header{
   background: rgba(0, 0, 0, 0.2);
   /*background: transparent;*/
   }
   .pre-header li {
   color:#fff;
   border-right:1px solid #fff;
   }
</style>
