

<div header></div>
<!-- report page comes here -->
<div class="content_section" x-sticky-boundary="">
   <div class="row">
      <div class="col-sm-9">
         <div class="report_container datepicker_style_uib">
            <h4 class="report_title">Carers List<span class="text-right pull-right" ng-if="carerLoading"><i class="fa fa-spinner fa-spin"></i></span></h4>
            <form name="carerReportForm" class="form-inline" novalidate="" ng-submit="getCarerReport(carerReportForm)">
               <p class="alert_design">Select date interval to generate report </p>
               <div class="form-group">
                  <label for="email">From </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup1.opened = !popup1.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="carerReport.from_date" name="from_date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" maxDate="$root.maxDate" ng-readonly="true" ng-change="DateCheck(carerReport.from_date,carerReport.to_date,'carerReport')" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup1.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(carerReportForm.$submitted || carerReportForm.from_date.$dirty) && carerReportForm.from_date.$invalid" >
                           Please enter a valid date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="pwd">To </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup2.opened = !popup2.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="carerReport.to_date" name="to_date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true" ng-change="DateCheck(carerReport.from_date,carerReport.to_date,'carerReport')"/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup2.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(carerReportForm.$submitted || carerReportForm.to_date.$dirty) && carerReportForm.to_date.$invalid">
                           Please enter a valid date
                        </div>
                        <div class="errormsg" ng-if="carerReport.dateError">
                           From-date cannot exceed To-date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
               <input type="submit" value="execute" class="btn btn-default submit_btn_report hvr-float-shadow">
             </div>
               <file-download fileurl="{{ carerselectedFile }}" filename="Carer Reports" linktext="Download Report" ng-if="carerReport.download" ng-click="DownloadButtonHide(carerReport)"></file-download>
            </form>
         </div>



         <div class="report_container datepicker_style_uib">
            <h4 class="report_title">Clients List <span class="text-right pull-right" ng-if="clientLoading"><i class="fa fa-spinner fa-spin"></i></span></h4>
            <form name="clientReportForm" class="form-inline" novalidate="" ng-submit="getClientReport(clientReportForm)">
               <p class="alert_design">Select date interval to generate report</p>
               <div class="form-group">
                  <label for="email">From </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup3.opened = !popup3.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="clientReport.from_date" name="from_date" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true" ng-change="DateCheck(clientReport.from_date,clientReport.to_date,'clientReport')" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup3.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(clientReportForm.$submitted || clientReportForm.from_date.$dirty) && clientReportForm.from_date.$invalid" >
                           Please enter a valid date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="pwd">To </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup4.opened = !popup4.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="clientReport.to_date" name="to_date" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true" ng-change="DateCheck(clientReport.from_date,clientReport.to_date,'clientReport')"/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup4.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(clientReportForm.$submitted || clientReportForm.to_date.$dirty) && clientReportForm.to_date.$invalid">
                           Please enter a valid date
                        </div>
                        <div class="errormsg" ng-if="clientReport.dateError">
                           From-date cannot exceed To-date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
               <input type="submit" value="execute" class="btn btn-default submit_btn_report hvr-float-shadow">
             </div>
               <file-download fileurl="{{ clientselectedFile }}" filename="Client Reports" linktext="Download Report" ng-if="clientReport.download" ng-click="DownloadButtonHide(clientReport)"></file-download>
            </form>
         </div>



         <div class="report_container datepicker_style_uib">
            <h4 class="report_title">Jobs List <span class="text-right pull-right" ng-if="jobLoading"><i class="fa fa-spinner fa-spin"></i></span></h4>
            <form name="jobReportForm" class="form-inline" novalidate="" ng-submit="getJobReport(jobReportForm)">
               <p class="alert_design">Select date interval to generate report</p>
               <div class="form-group">
                  <label for="email">From </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup5.opened = !popup5.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="jobReport.from_date" name="from_date" is-open="popup5.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true" ng-change="DateCheck(jobReport.from_date,jobReport.to_date,'jobReport')" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup5.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(jobReportForm.$submitted || jobReportForm.from_date.$dirty) && jobReportForm.from_date.$invalid" >
                           Please enter a valid date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="pwd">To </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup6.opened = !popup6.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="jobReport.to_date" name="to_date" is-open="popup6.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true" ng-change="DateCheck(jobReport.from_date,jobReport.to_date,'jobReport')"/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup6.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg"  ng-if="(jobReportForm.$submitted || jobReportForm.to_date.$dirty) && jobReportForm.to_date.$invalid" >
                           Please enter a valid date
                        </div>
                        <div class="errormsg" ng-if="jobReport.dateError">
                           From-date cannot exceed To-date
                        </div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="form-group">
               <input type="submit" value="execute" class="btn btn-default submit_btn_report hvr-float-shadow">
             </div>
               <file-download fileurl="{{ jobselectedFile }}" filename="Job Reports" linktext="Download Report" ng-if="jobReport.download" ng-click="DownloadButtonHide(jobReport)"></file-download>
            </form>
         </div>
         <div class="report_container datepicker_style_uib">
            <h4 class="report_title">Payment Report <span class="text-right pull-right" ng-if="paymentLoading"><i class="fa fa-spinner fa-spin"></i></span></h4>
            <form name="paymentReportForm" class="form-inline" novalidate="" ng-submit="getPaymentReport(paymentReportForm)">
               <p class="alert_design">Select date interval to generate report</p>
<!--                <div class="form-group">
                  <label for="email">From </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">
                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup7.opened = !popup7.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="paymentReport.from_date" name="from_date" is-open="popup7.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true"/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup7.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(paymentReportForm.$submitted || paymentReportForm.from_date.$dirty) && paymentReportForm.from_date.$invalid" >
                           Please enter a valid date
                        </div>
                        </p>
                     </div>
                  </div>
               </div> -->
<!--                <div class="form-group">
                  <label for="pwd">To </label>
                  <div class="col-container-date">
                     <div class="col-picler ">
                        <p class="input-group">

                           <input type="text" placeholder="DD/MM/YYYY" ng-click="popup8.opened = !popup8.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="paymentReport.to_date" name="to_date" is-open="popup8.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true"/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default ad-onn" ng-click="open(popup8.opened)"><i class="fa fa-calendar"></i></button>
                           </span>
                        <div class="errormsg" ng-if="(paymentReportForm.$submitted || paymentReportForm.to_date.$dirty) && paymentReportForm.to_date.$invalid">
                           Please enter a valid date
                        </div>
                        </p>
                     </div>
                  </div>
               </div> -->
               <div class="form-group">
               <input type="submit" value="execute" class="btn btn-default submit_btn_report hvr-float-shadow">
             </div>

               <file-download fileurl="{{ paymentselectedFile }}" filename="Payment Reports" linktext="Download Report" ng-if="paymentReport.download" ng-click="DownloadButtonHide(paymentReport)"></file-download>
            </form>
         </div>
      </div>
      <div class="col-sm-3 col-xs-hidden">
         <div class="">
            <!-- <div class="ad_section">
               <img src="styles/images/right_side_banner.png" alt="" width="100%">
               </div> -->
            <div x-sticky="" set-class-when-at-top="ad-fixed">
               <div ad2 ></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--end report page  -->
<div footer></div>
