<div class="modal-body">
<p class="final_step_postjob text-center">My profile for parent is still under progress</p>
</div>
<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
.bootbox  .modal-dialog{
  width:500px;
}

@media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
}
</style>
