<div>
               <form class="login_form" name="forget_form" novalidate ng-submit="vm.forgetemail(forget_form)">
                  <!-- <div class="logo_section">
                     <img src="/../partner_logo/{{partner.partner_logo}}" alt="">
                     </div> -->
                  <!-- <div class="modal-header">
                     <button type="button" class="close close_icon" data-dismiss="modal">&times;
                     </button>
                     <h4 class="modal-title">Login
                     </h4>
                     <p ng-if="vm.error" class="text-danger">Please enter correct credentials
                     </p>
                  </div> -->
                  <div class="modal-body">
                  <!-- <p ng-if="vm.error" class="text-danger">Please enter correct credentials
                     </p> -->
                     <h3 class="title_modal ">Forgot password</h3>

                     <!-- <p ng-if="vm.error" class="errormsg">Please enter correct credentials
                        </p> -->

                     <!-- <h5 class="sub-header-popup">Enter your details</h5> -->
                    <div class="m-t-40">
                         <div class="group">
                         <input type="email" ng-required="true" name="email" ng-model-options="{'updateOn':'blur'}" ng-model="vm.emailid">
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label ng-class="{'label_email_valid':(forget_form.$submitted || forget_form.email.$dirty) && forget_form.email.$invalid && !forget_form.email.$error.required}">Email</label>
                         <div class="errormsg" ng-if="(forget_form.$submitted || forget_form.email.$dirty) &&forget_form.email.$invalid">
                          <p ng-show="forget_form.email.$error.required">Email is required!!</p>
                          <p ng-show="forget_form.email.$error.email">Email is not valid!!</p>
                        </div>
                         </div>

                   </div>

                     <input type="submit" class="hvr-wobble-horizontal login_button" value="Continue">
                     <!-- <a href="javascript:void(0);" class="hvr-wobble-horizontal login_button" ng-click="vm.login()" ng-enter="vm.login()">Continue</a> -->
                     <!-- <button class="btn btn-default" ng-enter="vm.login()">login</button> -->
                     <!-- <input type="submit" class="btn btn-primary login_button"  ng-click="vm.login()" value="Continue"> -->
                  </div>
                  <div class="modal-footer">
                     <p class="no_account_link">Back to
                        <span class="signup_link" ng-click="vm.callloginPopup()">Login
                        </span>
                     </p>

                  </div>
               </form>
</div>



<style>
.bootbox  .modal-dialog{
  width:500px;
}

/* @media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
} */
</style>
