<div>
               <form class="login_form" name="login_form" novalidate ng-submit="vm.login()">
                  <!-- <div class="logo_section">
                     <img src="styles/images/logo.png" alt="">
                     </div> -->
                  <!-- <div class="modal-header">
                     <button type="button" class="close close_icon" data-dismiss="modal">&times;
                     </button>
                     <h4 class="modal-title">Login
                     </h4>
                     <p ng-if="vm.error" class="text-danger">Please enter correct credentials
                     </p>
                  </div> -->
                  <div class="modal-body">
                  <!-- <p ng-if="vm.error" class="text-danger">Please enter correct credentials
                     </p> -->
                     <h3 class="title_modal ">Login</h3>

                     <p ng-if="vm.error" class="errormsg">Please enter correct credentials
                        </p>

                     <!-- <h5 class="sub-header-popup">Enter your details</h5> -->
                    <div class="m-t-40">
                         <div class="group">
                         <input type="email" ng-model-options="{ 'updateOn': 'blur'}" ng-required="true" name="email" ng-model="vm.user.email" autocomplete="off">
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label ng-class="{'label_email_valid':(login_form.$submitted || login_form.email.$dirty) && login_form.email.$invalid && !login_form.email.$error.required}">Email</label>
                         <div class="errormsg" ng-if="(login_form.$submitted || login_form.email.$dirty) && login_form.email.$invalid">
                          <p ng-show="login_form.email.$error.required">Email is required!!</p>
                          <p ng-show="login_form.email.$error.email">Email is not valid!!</p>
                        </div>
                         </div>

                   </div>

                   <div class="m-t-40">
                        <div class="group">
                        <input type="password" ng-model-options="{ 'updateOn': 'blur'}" ng-model="vm.user.password" name="password" ng-required="true" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <div class="errormsg" ng-if="(login_form.$submitted || login_form.password.$dirty) &&login_form.password.$invalid">
                            <p ng-show="login_form.password.$error.required">Password is required!!</p>
                        </div>
                        </div>

                  </div>
                     <p class="text-right forgot_password_link">
                        <a href="javascript:void(0)" ng-click="vm.callforgetPopup()">Forgot password?
                        </a>
                     </p>
                     <input type="submit" class="hvr-wobble-horizontal login_button" value="Continue">
                     <!-- <a href="javascript:void(0);" class="hvr-wobble-horizontal login_button" ng-click="vm.login()" ng-enter="vm.login()">Continue</a> -->
                     <!-- <button class="btn btn-default" ng-enter="vm.login()">login</button> -->
                     <!-- <input type="submit" class="btn btn-primary login_button"  ng-click="vm.login()" value="Continue"> -->
                  </div>
                  <div class="modal-footer">
                     <p ng-controller="SignupCtrl as sm" class="no_account_link">Don't have an account?
                        <span class="signup_link" ng-click="sm.openSignup()">Signup
                        </span>
                     </p>
                     <h2 class="line_section hide">
                        <span class="line-center">OR
                        </span>
                     </h2>
                     <div class="social_signup_section text-center m-t-10 hide">
                        <p>Sign In using your social media accounts
                        </p>
                        <ul class="clearfix">
                           <li class="social-facebook cursor-pointer">
                              <em class="fa fa-facebook">
                              </em>
                           </li>
                           <li class="social-gplus cursor-pointer">
                              <em class="fa fa-google-plus">
                              </em>
                           </li>
                           <li class="social-linkedin cursor-pointer">
                              <em class="fa fa-linkedin">
                              </em>
                           </li>
                        </ul>
                     </div>
                  </div>
               </form>
</div>



<style>
.bootbox  .modal-dialog{
  width:500px;
}
/* @media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
} */
</style>
