<div class="modal-body">
	<h2 class="almost_there text-center">Not activated</h2>
	<p class="final_step_postjob text-justify">The current account is not activated yet. Please verify your email to activate account</p>
</div>


<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
</style>
