<div class="modal-body">
	<h2 class="almost_there text-center">Success!!</h2>
	<p class="final_step_postjob text-center">An email with new password link has been sent to your email id.</p>
</div>


<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
</style>
