<div class="modal-body">
    <div class="loader_div ng-hide" ng-show="generalLoader">
          <div class="child_loader">
           <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
          </div>
    </div>
    <h3 class="title_modal secondary_heading_modal ">Submit a Bid</h3>
    <form novalidate name="bidsubmitForm" ng-submit="takeBid(bidsubmitForm)">
        <div class="m-t-10">
            <div class="group m-b-10">
                <input name="rate" required="required" data-ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/" type="text" ng-model="bid.rate_per_hour">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your hourly rate ($)</label>
                <div class="errormsg" ng-if="(bidsubmitForm.$submitted || bidsubmitForm.rate.$dirty) && bidsubmitForm.rate.$invalid">
                    <p ng-if="bidsubmitForm.rate.$error.required">Please enter hourly rate</p>
                    <!-- <p ng-if="bidsubmitForm.rate.$error.pattern && bid.rate != 0">Must be Numeric</p> -->
                    <p ng-if="bidsubmitForm.rate.$error.pattern">Rate must greater than zero with 2 decimal points</p>
                </div>
            </div>
        </div>
        <div class="row postjob_type_section">
            <div class="col-sm-12">
                <h4 class="sub_bg_label">Number of hours required:<span>&nbsp;{{currentBid.hours_required}}</span></h4>
            </div>
            <div class="col-sm-12">
                <h4 class="sub_bg_label">My Quote&nbsp;<i class="icon-info fs-12" uib-tooltip="{{submitbidTooltip}}"></i>&nbsp;:<span ng-if="bid.rate_per_hour">&nbsp;${{bid.rate_per_hour * currentBid.hours_required}}</span></h4>
            </div>
        </div>
        <div class="form-group postjob_type_section">
            <h4>Please enter your comments:</h4>
            <textarea class="form-control textarea_style1" name="comment" ng-model="bid.comment" placeholder="comment..."></textarea>
            <!-- <div class="errormsg" ng-if="(bidsubmitForm.$submitted || bidsubmitForm.comment.$dirty) && bidsubmitForm.comment.$invalid">
                    <p ng-if="bidsubmitForm.comment.$error.required">Please enter your comments</p>
                    <p ng-if="bidsubmitForm.comment.$error.pattern">Must be Alphanumeric</p>
                </div> -->
        </div>
        <input type="submit" class="hvr-wobble-horizontal login_button" value="Submit Bid">
    </form>
</div>
<style>
.bootbox .modal-dialog {
    width: 500px;
}

/* @media screen and (max-width: 767px) {
    .bootbox .modal-dialog {
        width: auto;
    }
} */
</style>
