 <!-- <div class="row">
    <div class="col-md-3 col-sm-3">
      <a href="#" class="">
          <img class="img-circle" src="images/profilepic/{{quoteobj.userid__profpic}}" ng-error-src="/images/no_image_1.png" alt="" width="80">
      </a>

    </div>
    <div class="col-md-9 col-sm-9">
      <h4 class="quote_confirm_name">{{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}</h4>
      <h4 class="id_section "><span>User ID:</span> {{quoteobj.userid__id}}</h4>

    </div>
  </div> -->
  <!-- <h4 class="id_section"><span>Job ID:</span> {{quoteobj.jobid}}</h4> -->

  <div class="row">
    <div class="col-sm-6 margin_for_confirm ">
            <div class="media">
            <div class="media-left">
            <img src="images/profilepic/{{quoteobj.userid__profpic}}" ng-error-src="/images/no_image_1.png" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
            <h4 class="media-heading">{{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}</h4>
            <p>  <input-stars max="5" ng-model="review.star" allow-half ng-attr-readonly="true"></input-stars></p>
            </div>
            </div>
    </div>
    <div class="col-sm-6 margin_for_confirm text-right">
      <h4 class="media-heading">Quoted Amount</h4>
      <h4 class="media-heading"><span>${{quoteobj.client_quote | number : 2}}</span></h4>

    </div>
  </div>
  <hr class="m-t-0">


  <small class="small_text_style">Please choose your preferred method to select this carer and approve the quote.</small>

  <div class="row custom_radio_font">
    <div class="col-sm-12">
      <div class="radio_section">
          <div class="control-group">
              <div class="row">
                  <div class="col-sm-12">
                      <label class="control control--radio">
                          Transfer 100% of the quoted amount in to our secured holding account and get instant confirmation automatically. Only after finishing your job, we will pay the carer, once we receive your authorisation to release payment. You are in full control of your money.
                          <input type="radio" name="job_type" value="1"  ng-model="quoteRadio.pay_amount" />
                          <div class="control__indicator"></div>
                      </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="control control--radio">
                          Transfer 20% of the quoted amount and receive instant confirmation automatically. Pay the remaining amount in cash to the carer directly, when they finish your job.
                          <input type="radio" name="job_type" value="2" ng-model="quoteRadio.pay_amount" ng-click="getPayAmount(quoteobj)" />
                          <div class="control__indicator"></div>
                      </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="control control--radio">
                          If you want to avoid online Payment fees, please contact us by e-mail <a href="mailto:admin@lovelychildcare.com">admin@lovelychildcare.com</a> or call <a href="tel:0406 050 710">0406 050 710</a> for our BSB & Account Number so that you can bank transfer 20% of the quoted amount. Once we receive evidence of your fund transfer, we will send you booking confirmation by e-mail.
                          <input type="radio" name="job_type" value="3"  ng-model="quoteRadio.pay_amount" />
                          <div class="control__indicator"></div>
                      </label>
                  </div>

              </div>
          </div>
      </div>
    </div>
  </div>



<div class="row">
  <div class="col-sm-12 ">
    <div class="row">
      <div class="col-sm-8 col-xs-12 custom_width">



      </div>
      <!-- <div class="col-sm-4 col-xs-12 m-t-10 custom_width">
        <h5 class="media-heading ng-binding">Amount</h5>

      <h4 class="id_section fs-26 m-t-0">${{quoteobj.client_quote | number : 2}}</h4>

      </div> -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-12">
            <p class="payment_text_sub  m-b-20 text-center">Fully refundable, If the carer does not turn up to work.</p>
          </div>
          <div class="col-sm-6">
            <button data-bb-handler="success" type="button" class="btn btn btn-primary loginbtn pull-left" ng-click="PopupHide()">Cancel</button>

          </div>
          <div class="col-sm-6">
            <button data-bb-handler="success" type="button" class="btn btn btn-primary signupbtn pull-right" ng-click="paymentSuccess(quoteRadio)">Proceed</button>

          </div>
        </div>
        <!-- <button data-bb-handler="success" type="button" class="btn btn btn-primary signupbtn pull-right" ng-click="paymentSuccess()">OK</button> -->

      </div>
    </div>



  </div>
</div>



<style>
.bootbox .modal-header {
  padding:10px;
  border:none;
  background: #4e4e4e;
}
.modal-content{
  border:none !important;
}
.modal-content .modal-header .modal-title{
  color:#fff !important;
  font-family: 'Conv_comic';
  font-size:20px;
  text-transform:capitalize;
}
</style>

