<div class="modal-body">
	<div class="loader_div ng-hide" ng-show="generalLoader">
	      <div class="child_loader">
	       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
	      </div>
    </div>
<p class="final_step_postjob text-center">

<form name="feedbackForm">
	<div class="postjob_type_section">
		<div class="form-group">
			<h4>Please rate the {{(feedback.saveType == "worker") ? "client" : "carer" }}</h4>
			<span class="ratingstars"><input-stars max="5" ng-attr-readonly="{{disableFeedback}}" name="star" ng-model="feedback.star" allow-half ng-required="true"></input-stars></span>

			<div class="errormsg" ng-if="(feedbackForm.$submitted || feedbackForm.password.$dirty) &&feedbackForm.star.$invalid">
               <p ng-show="feedbackForm.star.$error.required">Your rating is required</p>
            </div>
		</div>
		<div class="form-group">
			<h4>Please provide your review feedback about the {{(feedback.saveType == "worker") ? "client" : "carer" }}</h4>
			<span><textarea class="form-control post_forum_textarea" height="100" name="review" ng-model="feedback.review" ng-readonly="disableFeedback" ng-required="true"></textarea></span>
			<div class="errormsg" ng-if="feedbackForm.$submitted && feedbackForm.review.$invalid">
				<p ng-if="feedbackForm.review.$error.required">Please enter your review</p>
			</div>
		</div>
	</div>
</form>

</p>
</div>
<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
.bootbox  .modal-dialog{
  width:500px;
}
.ratingstars ul li .fa-star-o {
    c
}
.ratingstars .angular-input-stars > li >i,
.ratingstars .angular-input-stars > li >i:hover{
	color: #000000;
}
/* @media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
} */
</style>
