
   <!-- <h3 class="title_modal ">Sent message</h3> -->
  <!-- <h2 class="text-left almost_there">Confirm booking</h2> -->
  <p class="payment_text">{{popupContent}}</p>

<!-- user and job info here -->
<!-- <div>
  {{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}  ID :{{quoteobj.userid__id}}<br>
  JobID : {{quoteobj.jobid}}
  Amount : ${{quoteobj.quote}}
</div> -->

<div class="row">
  <div class="col-sm-12">
    <div class="price_container">
    <!-- <div class="rating_popup">
      <div class="user_rating">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="styles/images/user.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading ng-binding">{{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}</h4>
                            <jk-rating-stars rating="secondRate" read-only="readOnly" ></jk-rating-stars>
                          <h4 class="id_section">ID: {{quoteobj.userid__id}}</h4>

                        </div>
                    </div>
                  </div>
    </div> -->
    <div class="action_popup text-right">
      <!-- <button data-bb-handler="success" type="button" class="btn btn btn-primary signupbtn" ng-click="gotoWorkerTab();job_status=2;">OK</button> -->
    </div>
    </div>
  </div>
</div>



<style>
.bootbox .modal-header {
  padding:10px;
	border:none;
  background: #4e4e4e;
}
.modal-content{
  border:none !important;
}
.modal-content .modal-header .modal-title{
  color:#fff !important;
  font-family: 'Conv_comic';
  font-size:20px;
  text-transform:capitalize;
}
</style>
