
   <!-- <h3 class="title_modal ">Sent message</h3> -->
  <!-- <h2 class="text-center almost_there">Payment success</h2> -->
  <p class="payment_text">
    Thanks for transferring the required funds to our secured holding account. We will notify the worker shortly. Please feel free to contact the worker directly, if required. You are redirected to our platform to view updates to your job.
  </p>

<!-- user and job info here -->
<!-- <div>
  {{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}<br>
  ID :{{quoteobj.userid__id}} <br>
  {{quoteobj.userid__email}}
  {{quoteobj.userid__contactno}}
</div> -->

<div class="row">
  <div class="col-sm-12">
    <div class="container_success_pay">
      <div class="first_section success_container">
        <div class="user_rating">
                      <div class="media">
                          <div class="media-left media-top">
                              <a href="#">
                                  <img class="media-object" src="images/profilepic/{{quoteobj.userid__profpic}}" ng-error-src="/images/no_image_1.png" alt="">
                              </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">{{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}</h4>
                            <h4 class="id_section1 ">Worker ID :{{quoteobj.userid__id}}</h4>
                            <h5 class="id_section1 ">{{quoteobj.userid__email}}</h5>
                            <h5 class="id_section1 ">{{quoteobj.userid__contactno}}</h5>

                          </div>
                      </div>
                    </div>
        <!-- <h4 class="media-heading">{{quoteobj.userid__first_name}} {{quoteobj.userid__last_name}}</h4>
        <h4 class="id_section ">ID :{{quoteobj.userid__id}}</h4>
        <h5 class="id_section1 ">{{quoteobj.userid__email}}</h5>
        <h5 class="id_section1 ">{{quoteobj.userid__contactno}}</h5> -->

      </div>
      <div class="second_section action_popup">
          <button data-bb-handler="success" type="button" class="btn btn btn-primary signupbtn" ng-click="closePopup(quoteobj.userid__id)">OK</button>
      </div>
    </div>
  </div>
</div>


<style>
.bootbox .modal-header {
  padding:10px;
	border:none;
  background: #4e4e4e;
}
.modal-content{
  border:none !important;
}
.modal-content .modal-header .modal-title{
  color:#fff !important;
  font-family: 'Conv_comic';
  font-size:20px;
  text-transform:capitalize;
}
</style>
