





  <div class="row">
    <div class="col-sm-12">
      <p class="payment_text_sub  m-b-20 m-t-20">Transferring you now to the secured payment gateway offered by Paypal.</p>
      <p>This may take a few seconds. Please do not close or refresh the browser. Once you finish fund transfer, you will be automatically redirected to our platform with in a minute with booking confirmation. </p>
    </div>
  </div>








<style>
.bootbox .modal-header {
  padding:10px;
	border:none;
  background: #4e4e4e;
}
.modal-content{
  border:none !important;
}
.modal-content .modal-header .modal-title{
  color:#fff !important;
  font-family: 'Conv_comic';
  font-size:20px;
  text-transform:capitalize;
}
</style>
