<div class="modal-body">
<div class="loader_div ng-hide" ng-show="generalLoader">
	      <div class="child_loader">
	       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
	      </div>
    </div>
<p class="final_step_postjob text-center " ng-bind-html="startMessage"></p>


</div>

