/*new pp*/
.main_pp_section{
  margin:0 0 20px 0;
  background: #fff;
  border-bottom:1px solid #ededed;
  padding:20px 10px;
}


.single_credential_section:last-child{
  border-bottom: none;
}
.pp_heading{
  color: #fe6601 ;
  /*font-family: 'Conv_segoeuil';*/
  font-family: 'Conv_helvetica_normal';
  margin:0 0 15px 0;
  font-size: 22px;
}

.pp_lookingfor{
  color:#222;
  font-family: 'Conv_helvetica_normal';
  margin:0;
  font-size:15px;

}

.pp_name{
  /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_seguisb';
  color:#fe6601 ;
  font-size: 24px;
  line-height:22px;

}
.pp_name span{
  color:#4e4e4e;
}



.m-b-20{
  margin-bottom: 20px;
}




/*public profile css new comes here*/

.public_profile_main_container{
	background: #fff;
padding: 15px;
box-shadow: 0 0px 5px 0px #C0C0C0;
margin: 0;
border-radius: 0px;
}
.body_semi_gray{
  background: #F4F7FA;
}
.public_care_name{
  font-family: 'Conv_helvetica_normal';
  font-size: 18px;
  margin:0px ;
  color:#000 ;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.public_care_name span{
  /*color:#4e4e4e;*/
}
.public_care_role{
  font-family: 'Conv_segoeuil';
  font-size: 14px;
  color:#617083;
}
.contact_btn{
  background-color: #fe6601  !important;
  border: 1px solid #fe6601  !important;
  color:#fff !important;

  font-family: 'Conv_helvetica_normal';
  padding:6px 30px;
  border-radius:2px;
  margin:15px 0;
}
.pp_location{
  /*font-family: 'Conv_segoeuil';*/
  /*font-family: 'Conv_helvetica_normal';*/
  /*font-family: 'Conv_Hel_lt_normal';*/
  font-family: 'Segoe UI';
  font-size: 14px;
  line-height: 25px;
  margin:3px 0 0 0;
  color:#7d7d7d;

}
.pp_location i{
  color:#aaa ;
}
.b-r-class{
  border-right:1px solid #e1e1e1;
  padding-right: 10px;
}
.pp_photo img{
  height:160px;
  width:160px;
  /*border-radius:50%;*/
  border:3px solid #fe6601 ;
}
.right_side_public h3{
font-family: 'Conv_helvetica_normal';
font-size: 15px;
margin:5px 0;
color:#222;
}
.single_preference_section{
  /*border-bottom:1px solid #e1e1e1;*/
  padding:5px 0px;
}
.single_preference_section p{
  font-family: 'Conv_segoeuil';
  color:#7d7d7d;
  font-size: 14px;
}
.sub_sections_public_profile{
  margin:20px 0;
}
.section-subtitle{
	font-family: 'Conv_Helvetica-Bold';
	text-transform: uppercase;
	font-size: 14px;
	color: #FE6601;
	padding-bottom:0;
	margin: 0 0 10px 0;
}
.pp_bio{
  text-align: justify;
    font-family: 'Conv_segoeuil';
  font-size: 14px;
  color:#4e4e4e;
}
.credential_inline{
  list-style: none;
  margin-bottom:0;
}
.credential_inline li{
  display: inline-block;
  margin:0 35px  5px 0;
  white-space: nowrap;
}
.public_profile_main_container
{
  position: relative;
}
.public_profile_main_container:before,
.public_profile_main_container:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #bcbcbc;
  -webkit-box-shadow: 0 15px 10px #bcbcbc;
  -moz-box-shadow: 0 15px 10px #bcbcbc;
  box-shadow: 0 15px 10px #bcbcbc;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.public_profile_main_container:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/*end of public profile css*/

.pub_pro_img_sec{
	/*background:#000;*/
	background:  url(../images/banner_profile_cover.jpg);
	background-color: #3B4668;
	padding-bottom:40px;
  box-shadow: 0 0px 5px 0px #C0C0C0;
}
.pub_pro_img_sec .public_care_name{
	color:#000;
}
.pub_pro_img_sec .pp_location{
	color:#000;
}
/* .pub_pro_new_des .section-subtitle {

  /*font-family: 'Conv_comic';*/
/* 	font-size: 17px;
	color: #000;
	padding-bottom: 5px; */

	/*border-bottom: 4px double gray;
} */
.about_cnt_prof {
	color: #000;
	font-size: 13px;
	font-style: italic;
}
.main_divwholetab_pp{
	float:none;
	display:flex;
}
.main_divwholetab_pp .innercells_pp{
	float: none;
	display: inline-flex;
}
.main_divwholetab_pp .innercells_ppleft{
	padding-right:0;
}
.bgwhitewhole_btm{
	background: transparent;
}
.minus_top_layer{
	margin-top:-40px;
}
