/* ============== admin login style =======================*/
.admin_form_login  .select2-container{
  border-radius:0px;
  box-shadow: none;
}
.select2-container .select2-choice{
  border:none ;
  background: transparent;
  box-shadow:none;
}
.select2-arrow{
  background: transparent !important;
  border:none !important;
}
.select2-container.form-control{
  padding:3px 12px !important;
  font-family: 'Conv_segoeuil';
  width:292px;
}
.select2-input, .select2-drop{
  border:1px solid #e1e1e1 !important;
  box-shadow: none !important;
  border-radius:0px !important;
}
.select2-searching{
  font-family: 'Conv_segoeuil';
  font-size: 12px;
}
.select2-results{
    font-family: 'Conv_segoeuil';
    font-size: 12px;

}
.select2-results .select2-highlighted{
  background: #fe6601;
}

 .admin_form_login .navbar_submit_btn{
     background: #4e4e4e;
     color:#fff !important;
     font-family: 'Conv_helvetica_normal';
     border-color:#fe6601;
     padding:6px 10px;
     border:none !important;
     border-radius:30px;
}
.admin_form_login .navbar_submit_btn:hover, .admin_form_login .navbar_submit_btn:focus{
  background: #fe6601;

}
 .admin_form_login{
   border:none !important;
 }
 .select_mode_label{
   font-family: 'Conv_helvetica_normal';
   font-weight: normal;
    padding-top: 9px;
    padding-right: 9px;
    color:#4e4e4e;
 }
 /* ============== admin login style  ends here=======================*/




/* general dropdown style */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background: #fe6601;
  color:#fff;
  font-family: 'Segoe UI';
}
.country_code_style .dropdown-menu.country-codes li a:hover, .country_code_style .dropdown-menu.country-codes li a:focus{
  background: #fe6601;
  color:#fff;
}
/* end general dropdown style */



/* parent profile css */
.parent_label{
  	font-family: 'Segoe UI';
    text-transform: capitalize;
    font-size: 15px;
}
.capitalize{
    text-transform: capitalize;
}
.editable-click, a.editable-click{
  font-family: 'Segoe UI';
  font-size: 15px;
}
.my_profile_view .editable-controls input, .my_profile_view .editable-controls select{
  border-radius:0px;
  box-shadow: none !important;
  border:1px solid #e1e1e1 !important;
  height:30px;
}
.my_profile_view  .editable-buttons .btn-primary{
  background: #fe6601 !important;
  color:#fff !important;
  border-color:#fe6601 !important;
  height:30px;
  padding:4px 12px;
  border-radius:0px !important;
}
.my_profile_view  .editable-buttons .btn-default{
  background: #fff !important;
  color:#4e4e4e !important;
  height:30px;
  padding:4px 12px;
    border-color:#e1e1e1 !important;
  border-radius:0px !important;
}
.my_profile_view  .editable-buttons{
  vertical-align: middle;
}
/* .my_profile_view i{
  float:left;
  position: relative;
  top:4px;
} */



/*=============== admin login page===============  */
.admin_form_login .input-group-addon{
  border-radius:0px;
  background: #fe6601 !important;
  color:#fff !important;
  border:1px solid transparent;
}
.admin_form_login input{
  background: #fff;
  border:1px solid #e1e1e1 !important;
  border-radius:0px !important;
  box-shadow: none !important;
  height:30px;
}
.admin_form_login input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Conv_segoeuil';
}
.admin_form_login input::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Conv_segoeuil';
}
.admin_form_login input:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Conv_segoeuil';
}
.admin_form_login input:-moz-placeholder { /* Firefox 18- */
  font-family: 'Conv_segoeuil';
}
.forgot_password_admin{
  color: #4e4e4e;
  text-decoration: none !important;
}
/*=============== admin login page ends here===============  */






/* =============toggle switch button css  ============*/
.toggle_button_switch  .toggleWrapper{
float:right;
overflow: hidden;
}
.toggle_button_switch  .toggleWrapper input{
	position: absolute;
	left: -99em;
}
.toggle_button_switch  .toggle{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 140px;
	height: 35px;
  font-weight: normal;
	background: #777;
	border-radius: 2px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle_button_switch  .toggle:before, .toggle:after{
	position: absolute;
	line-height: 33px;
	font-size: 14px;
  font-family: 'Segoe UI';
	z-index: 2;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle_button_switch  .toggle:before{
	content: "Private";
	left: 15px;
	color: #fff;
}
.toggle_button_switch  .toggle:after{
	content: "Public";
	right: 23px;
	color: #fff;
}
.toggle_button_switch  .toggle__handler{
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #fe6601;
	width: 65px;
	height: 29px;
	border-radius: 3px;
	top: 3px;
	left: 3px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.toggle_button_switch input:checked + .toggle{
	background: #777;
}
.toggle_button_switch input:checked + .toggle:before{
	color: #fff;
}
.toggle_button_switch input:checked + .toggle:after{
	color: #fff;
}
.toggle_button_switch input:checked + .toggle .toggle__handler{
	width: 73px;
	-webkit-transform: translateX(60px);
	transform: translateX(60px);
	border-color: #fff;
}

/* =======Navbar toggle css comes here */
.navbar_toggle_switch  .toggle:before{
	content: "Worker";
	left: 15px;
	color: #fff;
}
.navbar_toggle_switch  .toggle:after{
	content: "Client";
	right: 23px;
	color: #fff;
}

.navbar_toggle_switch  .toggle__handler{
  background: #fe6601;
}
.navbar_toggle_switch .toggle{
  margin-bottom:0px;
}
/* =========navbar toggle css ends here */
/* =============end toggle switch button css  ============*/


/*toggle button css for admin,client,worker*/
.wrapper {
  margin: 100px 0;
}
.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px;
}

.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;  
}
.toggle_radio label{
  font-family: 'Conv_segoeuil';
  color: #fff;
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}
.toggle_option_slider{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(254,102,1, 0.8);
  left: 3px;
  z-index:-1;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(254,102,1, 0.8);
  left: 109px;
  z-index:-1;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(254,102,1, 0.8);
  left: 215px;
  z-index:-1;
}
