/*new carere css*/
/*search hub*/
 .search_carer_new .search-shadow {
     position: relative;
}
 /* .search_carer_new .margin-bottom-30 {
     margin-bottom: 30px;
} */
 .search_carer_new .input-group {
     position: relative;
     display: table;
     border-collapse: separate;
}
 .search_carer_new .input-group-btn {
     position: relative;
     font-size: 0;
     white-space: nowrap;
}
 .search_carer_new .input-group .form-control {
     position: relative;
     z-index: 2;
     float: left;
     width: 100%;
     margin-bottom: 0;
     box-shadow:none;
		 border:1px solid #e1e1e1 !important;
    /*border: 1px solid #ced9ee;
    */
}

 .search_carer_new .btn-primary {
     background-color: #55a8fd !important;
     border-color: #55a8fd !important;
}
 /* .search_carer_new .search-shadow::after {
     content: '';
     display: block;
     width: 98%;
     height: 100%;
     margin-right: auto;
     margin-left: auto;
     position: absolute;
     top: 5px;
     right: 0;
     left: 0;
     z-index: -1;
     opacity: .2;
     background-color: #000;
     -webkit-filter: blur(8px);
     -moz-filter: blur(8px);
     -ms-filter: blur(8px);
     -o-filter: blur(8px);
     filter: blur(8px);
} */
 .search_carer_new .search-input {
     border-color: #fff !important;
}
 .search_carer_new .input-xl {
     /* height: 54px;
     padding: 15px 10px;
     font-size: 14px;
     line-height: 1.3333333;
     border-radius: 4px; */
}
 .search_carer_new .btn-xl{
     padding: 16px 24px;
     font-family: 'Conv_helvetica_normal';
}
/*end search hub*/
 .search_carer_new input:focus{
     box-shadow: none;
     border:1px solid #e1e1e1;
}
 .search_carer_new .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
     font-family: 'Conv_segoeuil';
     font-size: 14px;
     color:#9e9e9e;
}
 .search_carer_new .form-group input::-moz-placeholder {
    /* Firefox 19+ */
     font-family: 'Conv_segoeuil';
     font-size: 14px;
     color:#9e9e9e;
}
 .search_carer_new .form-group input:-ms-input-placeholder {
    /* IE 10+ */
     font-family: 'Conv_segoeuil';
     font-size: 14px;
     color:#9e9e9e;
}
 .search_carer_new .form-group input:-moz-placeholder {
    /* Firefox 18- */
     font-family: 'Conv_segoeuil';
     font-size: 14px;
     color:#9e9e9e;
}

/* new find a carer css */
/* THE FRONT */
 .flip-container .front {
     background:#fff;
     background-size: cover;
		 display: flex;
		 align-items: center;
		 justify-content: center;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      	z-index: 2;

}
.flip-container .back{
	display: flex;
	align-items: center;
	justify-content: center;
  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
}
/* /end */
/* THE BACK */
 .flip-container .back {
     background:#fff;
     background-size: cover;
     -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
         transform: rotateY( 180deg );
         z-index: 3;
}
/* /end */
/* THE FLIP EFFECT */
/* entire container, keeps perspective */
 .flip-container {

     -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
      -o-perspective: 1000px;
         perspective: 1000px;
     margin-bottom:20px;
     border:none;
     cursor:auto;


}
/* flip the pane when hovered */
 .flip-container:hover .flipper, .flip-container.hover .flipper {
     transform: rotateY(180deg);
     -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );

     cursor: pointer;
}
 .flip-container, .front, .back {
     min-height: 300px;
     width: 100%;



		 /* padding:0 20px; */
}
 .flip-container .flipper {

     -webkit-transition: -webkit-transform .5s;
     -moz-transition: -moz-transform .5s;
       -o-transition: -o-transform .5s;
          transition: transform .5s;
     -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
             transform-style: preserve-3d;
     position: relative;

}
 .flip-container .front, .flip-container .back {
     backface-visibility: hidden;
     position: absolute;
     border-radius: 10px;

		 /* border-top-left-radius: 15px;
			border-top-right-radius: 120px 30px;
			border-bottom-left-radius: 120px 30px;
			border-bottom-right-radius: 15px;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease; */
      -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
		 /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
      /* -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777; */
}
 .flip-container .front {
     z-index: 2;
    /* firefox 31 */
     transform: rotateY(0deg);
     -webkit-transform: rotateY( 0deg );
    -moz-transform: rotateY( 0deg );
      -o-transform: rotateY( 0deg );
         transform: rotateY( 0deg );
     background: transparent url("../images/pattern_find.jpg") no-repeat center ;
          background-size: cover;

}
 .flip-container .back {
     transform: rotateY(180deg);
     -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
         transform: rotateY( 180deg );
		 padding:0 20px;
     background: transparent url("../images/pattern_find.jpg") no-repeat center ;
          background-size: cover;


}
 .flip-container .vertical.flip-container {
     position: relative;
}
 .flip-container .vertical .back {
     transform: rotateX(180deg);
     -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
      -o-transform: rotateX( 180deg );
         transform: rotateX( 180deg );

}
 .flip-container .vertical.flip-container .flipper {
     transform-origin: 100% 400x;
}
 .flip-container .vertical.flip-container:hover .flipper {
     transform: rotateX(-180deg);
     -webkit-transform: rotateX( -180deg );
    -moz-transform: rotateX( -180deg );
      -o-transform: rotateX( -180deg );
         transform: rotateX( -180deg );

}
 .flip-container .front .carer_name{
	font-family: 'Segoe UI';
	font-size: 14px;
	text-transform: uppercase;
}
 .flip-container  .front img{
   border:2px solid #fe6601;
 }
 .flip-container .angular-input-stars > li > i{
	color:#4e4e4e;
	font-size: 14px;
}
 .flip-container .gender_age{
	 font-family: 'Segoe UI';
	 font-size: 15px;
 }
 .flip-container .gender_age span{
	 color:#fe6601;

 }
  .flip-container .contact_btn{
		background: #fe6601 !important;
		color:#fff !important;
		border:none !important;
		border-radius:30px;
		margin-top:10px;
	}
	.carer_role{
		font-family: 'Segoe UI';
		font-size: 15px;
    line-height:25px;
	}
	.br-0{
		border-radius:0px !important;
	}

  .toggleclass_side.show #carer_container{
    width:50%;
  }
  .toggleclass_side #carer_container{
    width:33.33%;
  }


/* new find a carer css ends here */



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}
