<div class="login-form">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
        <div class="">
            <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" class="img-responsive" />
        </div>
        <div ng-show="currentForm == 'login'">
            <h2 class="cmn-heading">welcome</h2>
            <a href="{{constant.apiUrl}}/auth/facebook">
                <button type="button" class="btn btn-fb btn-block"><img src="/styles/images/fb-icon.png" />CONNECT WITH FACEBOOK</button>
            </a>
            <span class="txt-or"><b>or</b></span>
            <div class="validation-message" ng-show="error != null">
                <label class="error">{{vm.error}}</label>
            </div>
            <form ng-submit="login(LoginForm)" name="LoginForm" method="post" novalidate>
                <div class="form-login">
                    <div class="form-group">
                        <div class="col-xs-12 p-0">
                            <input type="email" placeholder="Email" ng-model="user.email" required name="email" class="form-control text-box" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        </div>
                    </div>
                    <label for="email_rq" ng-show="submit && LoginForm.email.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="email_pattern" ng-show="submit && LoginForm.email.$error.pattern" class="error">{{formValidation.emailInvalid}}</label>
                    <label for="email_api" ng-show="userError.email" class="error">{{userError.email}}</label>
                    <div class="form-group bor-no">
                        <div class="col-xs-12 p-0">
                            <input name="password" placeholder="Password" ng-model="user.password" type="password" autocomplete="off" required class="form-control text-box" />
                        </div>
                    </div>
                    <label for="password" ng-show="submit && LoginForm.password.$error.required" class="error">{{formValidation.required}}</label>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" ng-click="submit = true" class="btn btn-black btn-block">sign in</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-gray btn-block" ng-click="switchForm('register')">register</button>
                    </div>
                </div>
                <div class="link-txt">
                    <ul>
                        <li><a href="" ng-click="switchForm('forgot')">Forgot your password?</a></li>
                        <li><a href="">Skip for now</a></li>
                    </ul>
                </div>
            </form>
        </div>
        <div ng-show="currentForm == 'register'">
            <h2 class="cmn-heading">join me:now</h2>
            <form ng-submit="register(regForm)" name="regForm" method="post" novalidate>
                <div class="form-login">
                    <div class="form-group">
                        <div class="col-xs-12 p-0">
                            <input type="email" placeholder="Email" ng-model="newUser.email" required name="email" class="form-control text-box" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        </div>
                    </div>
                    <label for="email_rq" ng-show="newUserSubmit && regForm.email.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="email_pattern" ng-show="newUserSubmit && regForm.email.$error.pattern" class="error">{{formValidation.emailInvalid}}</label>
                    <label for="email_api" ng-show="userError.email" class="error">{{userError.email}}</label>
                    <div class="form-group">
                        <div class="col-xs-12 p-0">
                            <input name="password" placeholder="Password" ng-model="newUser.password" type="password" ng-maxlength="50" ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*-_]{8,}$/' required class="form-control text-box" />
                        </div>
                    </div>
                    <label for="password" ng-show="newUserSubmit && regForm.password.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="password_pattern" ng-show="newUserSubmit && regForm.password.$error.pattern" class="error">{{formValidation.passwordValidation}}</label>
                    <label for="password_min" ng-show="newUserSubmit && regForm.password.$touched && regForm.password.$error.minlength" class="error">{{formValidation.passwordMin}}</label>
                    <label for="password_max" ng-show="newUserSubmit && regForm.password.$touched && regForm.password.$error.maxlength" class="error">{{formValidation.passwordMax}}</label>
                    <div class="form-group bor-no">
                        <div class="col-xs-12 p-0">
                            <input name="repeat_password" placeholder="Confirm Password" ng-model="newUser.repeat_password" type="password" required compare-to="newUser.password" class="form-control text-box" />
                        </div>
                    </div>
                    <label for="compare_password" ng-show="newUserSubmit && regForm.repeat_password.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="compare_password" ng-show="newUserSubmit && !regForm.repeat_password.$error.required && regForm.repeat_password.$error.compareTo && regForm.password.$valid" class="error">{{formValidation.confirmPassword}}</label>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" ng-click="newUserSubmit = true" class="btn btn-black">register</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-gray btn-block" ng-click="cancelForm('register')">cancel</button>
                    </div>
                </div>
                <div class="link-txt">
                    <ul>
                        <li><a href="" ng-click="switchForm('login')">Already signed up?</a></li>
                    </ul>
                </div>
            </form>
        </div>
        <div ng-show="currentForm == 'forgot'">
            <h2 class="cmn-heading">forgot password</h2>
            <div class="validation-message" ng-show="forgotError != null">
                <label class="error">{{forgotError}}</label>
            </div>
            <form ng-submit="forgotPassword(forgotForm)" name="forgotForm" method="post" novalidate>
                <div class="validation-message" ng-show="errorRes != null">
                    <label class="error">{{errorRes}}</label>
                </div>
                <div class="form-login">
                    <div class="form-group">
                        <div class="col-xs-12 p-0">
                            <input type="email" placeholder="Email" ng-model="forgot.email" required name="email" class="form-control text-box" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        </div>
                    </div>
                    <label for="email_req" ng-show="forgotSubmit && forgotForm.email.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="email_pattern" ng-show="forgotSubmit && forgotForm.email.$error.pattern" class="error">{{formValidation.emailInvalid}}</label>
                    <label for="email_api" ng-show="userError.email" class="error">{{userError.email}}</label>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" ng-click="forgotSubmit = true" class="btn btn-black btn-block">submit</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-gray btn-block" ng-click="switchForm('login')">cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div footer></div> -->
