<div class="login-form">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
        <div class="">
            <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" class="img-responsive" />
        </div>
        <h2 class="cmn-heading">reset password</h2>
        <form ng-submit="resetPassword(resetPassForm)" name="resetPassForm" method="post" novalidate>
            <div class="form-login">
                <div class="form-group">                    
                    <div class="col-xs-12 p-0">
                        <input name="password" placeholder="New Password" ng-model="user.password" type="password" ng-maxlength="50" ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*-_]{8,}$/' required class="form-control text-box" />
                    </div>
                </div>
                <label for="password" ng-show="submit && resetPassForm.password.$error.required" class="error">{{formValidation.required}}</label>
                <label for="password_pattern" ng-show="submit && resetPassForm.password.$error.pattern" class="error">{{formValidation.passwordValidation}}</label>
                <label for="password_min" ng-show="submit && resetPassForm.password.$touched && resetPassForm.password.$error.minlength" class="error">{{formValidation.passwordMin}}</label>
                <label for="password_max" ng-show="submit && resetPassForm.password.$touched && resetPassForm.password.$error.maxlength" class="error">{{formValidation.passwordMax}}</label>
                <div class="form-group">
                    <div class="col-xs-12 p-0">
                        <input name="repeat_password" placeholder="Confirm Password" ng-model="user.repeat_password" type="password" required compare-to="user.password" class="form-control text-box" />
                    </div>
                </div>
                <label for="compare_password" ng-show="submit && resetPassForm.repeat_password.$error.required" class="error">{{formValidation.required}}</label>
                    <label for="compare_password" ng-show="submit && !resetPassForm.repeat_password.$error.required && resetPassForm.repeat_password.$error.compareTo && resetPassForm.password.$valid" class="error">{{formValidation.confirmPassword}}</label>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="submit" ng-click="submit = true" class="btn btn-black btn-block">submit</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-gray btn-block" ui-sref="login">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div footer></div>