<body style="background:#f2f2f2;">
<center style="width: 100%;">
<div style="max-width: 600px; margin: auto;background:#f2f2f2;">
            <table style="max-width: 600px;" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
            <td style="padding: 20px 0; text-align: center">
            <img src="logo-top.png" alt="alt_text" width="95" border="0" >
            </td>
            </tr>
            </tbody>
            </table>


            <table style="background :#fff;max-width: 600px;" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td style="padding: 20px; mso-height-rule: exactly; line-height: 20px;">

                  <h1 style="padding-top:20px;text-align:center;font-family: Helvetica, Arial, sans-serif;color:#606060;line-height:30px;">Just one more step...</h1>
                  <h4 class="text-center username_class" style="font-size: 16px;font-family: Helvetica, Arial, sans-serif;color:#606060;text-align:center;padding-top:20px;">Hi, Bala Kalimuthu </h4>
                  <p class="text-center para_style" style="text-align:center;font-family: Helvetica, Arial, sans-serif;color:#606060;padding-top:20px;font-size:14px;">Click the big button below to activate your Lovely childcare account.</p>
                  <p style="text-align:center;padding-top:20px;margin-bottom:20px;">
                    <a href="#" style="text-decoration:none !important;background :#fe6601;font-weight:bold;color:#fff;padding:8px 15px;border-radius:4px;font-family: Helvetica, Arial, sans-serif;">Activate Account</a>

                  </p>

                </td>
              </tr>
            </table>



            <table style="background :#f2f2f2;max-width: 600px;" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">


              <tr>
                <td>
                  <p style="text-align:center;color:#4e4e4e;font-family: Helvetica, Arial, sans-serif;font-size:12px;padding-top:10px;margin-bottom:0px;">&#169;&nbsp;2018&nbsp;Lovely Childcare.&nbsp;All Rights Reserved</p>
                  <p style="text-align:center;color:#4e4e4e;font-family: Helvetica, Arial, sans-serif;font-size:12px;margin-top:3px;">67 Baltimore Drive | Point Cook | VIC | 3030 | Australia </p>

                </td>
              </tr>
              <tr>
                <td style="padding: 10px 0; text-align: center">
                <img src="logo.png" alt="alt_text" width="95" border="0" >
                </td>

              </tr>




            </table>




</div>
</center>
</body>
