<footer>
  <!-- <div class="cloud-divider ">

        <svg id="deco-clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
           <path d="M-5 100 Q 0 20 5 100 Z
              M0 100 Q 5 0 10 100
              M5 100 Q 10 30 15 100
              M10 100 Q 15 10 20 100
              M15 100 Q 20 30 25 100
              M20 100 Q 25 -10 30 100
              M25 100 Q 30 10 35 100
              M30 100 Q 35 30 40 100
              M35 100 Q 40 10 45 100
              M40 100 Q 45 50 50 100
              M45 100 Q 50 20 55 100
              M50 100 Q 55 40 60 100
              M55 100 Q 60 60 65 100
              M60 100 Q 65 50 70 100
              M65 100 Q 70 20 75 100
              M70 100 Q 75 45 80 100
              M75 100 Q 80 30 85 100
              M80 100 Q 85 20 90 100
              M85 100 Q 90 50 95 100
              M90 100 Q 95 25 100 100
              M95 100 Q 100 15 105 100 Z">
           </path>
        </svg>
     </div> -->
  <div class="primary_footer"><!--  cloud svg-->


       <!--  End cloud svg-->
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="kidsworld_footer_widget">
          <div class="kidsworld_widget_content">
            <h3><span>About Lovelychildcare</span></h3>

            <p>Donec earum rerum hic tenetur ans sapiente delectus, ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus asperiores.<span>Readmore..</span></p>
            <div class="row">
              <div class="col-md-12 social_footer ">
                <a class="btn btn-social-icon btn-bitbucket hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-dropbox hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-flickr hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-foursquare hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-foursquare"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>




      <div class="col-md-3 col-sm-6">
        <div class="kidsworld_footer_widget">
          <div class="kidsworld_widget_content">
            <h3><span>Latest Post</span></h3>
            <div class="media">
            <div class="media-left">
            <img src="styles/images/papa.jpg" class="media-object footer_blog_icon" >
            </div>
            <div class="media-body">
            <p class="media-heading">Lorem ipsum dolor sit amet...</p>
            <h6 class="date_footer">June 20, 2017</h6>

            </div>
            </div>

            <div class="media">
            <div class="media-left">
            <img src="styles/images/papa.jpg" class="media-object footer_blog_icon" >
            </div>
            <div class="media-body">
            <p class="media-heading">Lorem ipsum dolor sit amet...</p>
            <h6 class="date_footer">June 20, 2017</h6>

            </div>
            </div>

            <div class="media">
            <div class="media-left">
            <img src="styles/images/papa.jpg" class="media-object footer_blog_icon" >
            </div>
            <div class="media-body">
            <p class="media-heading">Lorem ipsum dolor sit amet...</p>
            <h6 class="date_footer">June 20, 2017</h6>

            </div>
            </div>



          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kidsworld_footer_widget">
          <div class="kidsworld_widget_content">
            <h3><span>Contact</span></h3>
            <ul class="footer-contacts color_teel">
            <li><i class="icon-location-pin"></i> 24th Street, New York, USA</li>
            <li><i class="icon-phone"></i> +1 659 6597 365</li>
            <li><i class="fa fa-envelope-open-o"></i> <a href="mailto:lovelychildcare@gmail.com">lovelychildcare@gmail.com</a></li>
            </ul>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6">
        <div class="kidsworld_footer_widget">
          <div class="kidsworld_widget_content">
            <h3><span>Quick Links</span></h3>
            <ul class="footer-contacts">
            <li><a href="javascript:void(0);"><i class="icon-arrow-right-circle pull-left"></i>Home </a></li>
            <li><a href="javascript:void(0);"><i class="icon-arrow-right-circle pull-left"></i>Post Job </a></li>
            <li><a href="javascript:void(0);"><i class="icon-arrow-right-circle pull-left"></i>My Jobs </a></li>
            <li><a href="javascript:void(0);"><i class="icon-arrow-right-circle pull-left"></i>How it Works</a> </li>

            </ul>

          </div>

        </div>

      </div>


    </div> -->
    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12 widget_footer">
          <h4 class="widget_title">About {{$root.whitelabelDetails.partner_name}} Network</h4>
          <p class="text-justify" ng-bind-html="$root.whitelabelDetails.partner_about_us"></p>
        </div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-12 widget_footer widget_recent_entries">
          <h4 class="widget_title">Latest Posts</h4>
          <ul>
					<li>
				<a href="http://smartyschool.stylemixthemes.com/we-are-at-independent-schools-show/">We are at Independent Schools Show</a>
							<span class="post-date">December 1, 2015</span>
						</li>
					<li>
				<a href="http://smartyschool.stylemixthemes.com/double-olympian-makes-waves-at-our-school/">Double Olympian makes waves at our school</a>
							<span class="post-date">December 1, 2015</span>
						</li>
					<li>
				<a href="http://smartyschool.stylemixthemes.com/high-school-students-share-shakespeares-stage/">High School students share Shakespeare’s stage</a>
							<span class="post-date">December 1, 2015</span>
						</li>
				</ul>
        </div> -->
        <!-- <div class="col-md-3 col-sm-6 col-xs-12 widget_footer">
          <h4 class="widget_title">Quick Links</h4>
          <ul class="footer-contacts">

          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>Post Job </a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>My Jobs </a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>How it Works</a> </li>
          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>Privacy Policy</a> </li>
          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>FAQ</a> </li>
          <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right pull-left"></i>Terms & Conditions</a> </li>

          </ul>

        </div> -->
        <div class="col-md-1 col-sm-1 col-xs-12">

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 widget_footer">
          <h4 class="widget_title">Get in Touch</h4>
          <ul class="footer-contacts color_teel">
          <li><i class="icon-location-pin"></i> {{$root.whitelabelDetails.partner_address}}
</li>
          <li><i class="icon-phone"></i> <a href="tel:0406050710">{{$root.whitelabelDetails.partner_mobileno}}</a>
</li>
          <li><i class="fa fa-envelope-open-o"></i> <a href="mailto:admin@lovelychildcare.com">{{$root.whitelabelDetails.partner_email}}</a></li>
          </ul>

          <div class="row">
            <div class="col-md-12 social_footer hide">
              <a class="btn btn-social-icon btn-bitbucket hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social-icon btn-dropbox hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social-icon btn-flickr hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social-icon btn-foursquare hvr-float-shadow" href="javascript:void(0);"><i class="fa fa-foursquare"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


  <div class="container-fluid p-0">
  <div class="row">
    <div class="col-xs-12 ">

      <div class="secondary_footer_copy text-center">
        <!-- <div>
          <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" alt="logo" class="img-responsive">
        </div> -->
        <div ng-if="$root.whitelabelDetails.partnership_with == 1">
            In partnership with
        </div>
        <div ng-if="$root.whitelabelDetails.partnership_childcare_logo == 1">
          <img src="styles/images/logo.png" alt="" width="150">
        </div>

        Copyright 2018 © Lovely Childcare<sup>&trade;</sup> Network | All Rights Reserved | <a href="{{$root.whitelabelDetails.partner_url_terms_and_conditions}}" target="_blank" class="disclamimer_sec">Terms of Use</a> | <a href="{{$root.whitelabelDetails.partner_url_privacy_policy}}" target="_blank" class="disclamimer_sec">Privacy Policy</a>

      </div>
    </div>

    <!-- <div class="col-xs-6 text-center">
    </div> -->

  </div>
  </div>


</footer>
