<!-- <div ng-include="'../scripts/module/admin/views/admin_template.html'"></div> -->

<header id="scroll_top">
  <div class="pre-header hidden-xs" ng-class="{'hide':adminLogged}">
        <div class="container-fluid "  >
            <div class="row">

                <div class="col-md-12 col-sm-12 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                      <li><i class="fa fa-envelope"></i><span>{{$root.whitelabelDetails.partner_email}}</span></li>
                        <li><i class="fa fa-phone"></i><span>{{$root.whitelabelDetails.partner_mobileno}}</span></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
   <!-- ================================================================================================ -->
   <!-- ========================================Navigation bar============================================-->
   <!-- ================================================================================================ -->
   <div class="admin_header" set-class-when-at-top="fixed-top-header">

    <div class="pre-header ">


        <div class="container-fluid" ng-if="adminLogged"  ng-controller="adminCtrl" >
          <div class=" admin_form_login">
            <div class="col-sm-8 col-xs-12 p-l-0">
              <form class="navbar-form navbar-left form-inline clearfix">
                <div class="form-group" ng-if="!$root.userMode">
                      <label class="select_mode_label">Select Mode</label>
                 
                      <span class="toggle_button_switch navbar_toggle_switch">
                      <div class="toggleWrapper">
                            <div class="toggle_radio">
                                  <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" ng-model="userMode"  ng-click="getUserlist('worker',true); " ng-checked="(toggle_value == 'worker')">
                                  <input type="radio" checked class="toggle_option" id="second_toggle" name="toggle_option"  ng-model="userMode"  ng-click="getUserlist('client',true);" ng-checked="(toggle_value == 'client')">
                                  <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option"  ng-model="userMode"  ng-click="getUserlist('admin',true);"  ng-checked="(toggle_value == 'admin')">
                                  <label for="first_toggle"><p>Worker</p></label>
                                  <label for="second_toggle"><p>Client</p></label>
                                  <label for="third_toggle" id="admintoggle"><p>Admin</p></label>
                                  <div class="toggle_option_slider">
                                  </div>
                                 <!--  <input type="checkbox" ng-model="userMode" ng-true-value="'client'" ng-false-value="'worker'"  id="dn1" class="dn" ng-click="getUserlist(userMode,true);">
                                  <label for="dn1" class="toggle"><span class="toggle__handler"></span></label> -->
                            </div>
                      </div>
                      <!-- <input type="checkbox" ng-model="userMode" ng-true-value="'client'" ng-false-value="'worker'"  id="dn1" class="dn" ng-click="getUserlist(userMode,true);">
                      <label for="dn1" class="toggle"><span class="toggle__handler"></span></label> -->
                    </span>
                </div>
                <div class="form-group" ng-if="$root.userMode && $root.userMode != 'admin'">
                    <label class="select_mode_label">Select Mode</label>
                  <span class="toggle_button_switch navbar_toggle_switch">
                    <div class="toggleWrapper">
                        <!-- <input type="checkbox" ng-model="$root.userMode" ng-true-value="'client'" ng-false-value="'worker'"  id="dn1" class="dn" ng-click="getUserlist(userMode,true);">
                        <label for="dn1" class="toggle"><span class="toggle__handler"></span></label> -->
                          <div class="toggle_radio">
                              <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" ng-model="$root.userMode"  ng-click="getUserlist('worker',true); " ng-checked="(toggle_value == 'worker')">
                              <input type="radio" checked class="toggle_option" id="second_toggle" name="toggle_option"  ng-model="$root.userMode"  ng-click="getUserlist('client',true);" ng-checked="(toggle_value == 'client')">
                              <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option"  ng-model="$root.userMode"  ng-click="getUserlist('admin',true);"  ng-checked="(toggle_value == 'admin')">
                              <label for="first_toggle"><p>Worker</p></label>
                              <label for="second_toggle"><p>Client</p></label>
                              <label for="third_toggle" id="admintoggle"><p>Admin</p></label>
                              <div class="toggle_option_slider">
                              </div>
                          </div>
                    </div>
                  </span>
                </div>
                <div class="form-group"  ng-if="!admin">
                  <select2 class="form-control"  id="id" ng-model="selectedUser" options="queryOptions">
                  </select2>
                  <div class="errormsg" ng-if="useridReq && !selectedUser">
                    <p>Please select an user to view</p>
                  </div>
                <button type="submit" id="submitUser" class="btn btn-primary navbar_submit_btn  res_float_left" ng-click="submitUser(selectedUser)">Submit</button>
                </div>
              </form>


            </div>
            <div class="col-sm-4 col-xs-12" >
              <ul class="nav navbar-nav navbar-right">

                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle user_name_header" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left" ng-if="adminProfilePic"> <img src="images/profilepic/{{adminProfilePic}}"> </span>
               <span class="thumb-sm avatar pull-left" ng-if="!adminProfilePic"> <img ngf-thumbnail="'/images/no_image_found.png'"> </span> Admin <b class="caret"></b> </a>
                      <ul class="dropdown-menu customdropdown"> <span class="arrow top"></span>
                          <!-- <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li> -->
                          <li><a href="javascript:void(0);" ng-click="gotoChangepasswd('admin')"><i class="icon-lock p-r-5"></i>Change Password</a></li>

                          <li><a href="#/reports" ><i class="icon-docs p-r-5"></i>Reports</a></li>
                          <li><a href="#/listPartner" ><i class="icon-people p-r-5"></i>Partner Management</a></li>

                          <li><a href="javascript:void(0);" ng-click="adminLogout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                      </ul>
                  </li>
              </ul>

            </div>
          </div>
        </div>


    </div>
  </div>

<div class="navigation_section" set-class-when-at-top="fixed-top-header" ng-if="!adminLogged && !admin">
      <div class="navbar navbar-default" >

            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar">
               </span>
               <span class="icon-bar">
               </span>
               <span class="icon-bar">
               </span>
               </button>

               <a class="navbar-brand" href="#/" ng-if="!adminLogged">
               <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" alt="logo" class="img-responsive">
               </a>
               <a class="navbar-brand" href="javascript:void(0);" ng-if="adminLogged">
               <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" alt="logo" class="img-responsive">
               </a>
            </div>
            <div class="navbar-collapse collapse admincheck " ng-controller="HomeCtrl as hm">

               <ul class="nav navbar-nav navbar-right" ng-if="!logged_in">
                  <li class="" >
                     <a href="" id="postjobLink" class="postjob_link" ng-click="hm.jopPopup()">Post Job
                     </a>
                  </li>

                   <li>
                     <a href="#/howitworks" ng-class="{'active':currentState == 'howitworks'}">How it Works
                     </a>
                  </li>
                  <li>
                    <a href="#/findcarer" ng-class="{'active':currentState == 'findcarer'}">Find a Carer
                    </a>
                  </li>

                  <li ng-controller="AuthCtrl as vm">
                     <a href="javascript:void(0)" id="loginLink" ng-click="vm.callloginPopup()">Login
                     </a>
                  </li>
                  <li ng-controller="SignupCtrl as sm">
                     <a href="javascript:void(0)" ng-click="sm.openSignup()" id="signupLink">Signup
                     </a>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right" ng-if="logged_in">
               <li ng-if="purpose == 'parent'">
                     <a href="" class="postjob_link" ng-click="hm.jopPopup()">Post Job
                     </a>
                  </li>
                  <li>
                     <a href="#/findcarer" ng-if="purpose != 'worker'" ng-class="{'active':currentState == 'findcarer'}">Find a Carer
                     </a>
                  </li>
                  <li>
                        <a href="{{myjobhref}}" ng-class="{'active':currentState == 'joblist' || currentState == 'parentjoblist' || currentState == 'previewjob'}">My Jobs
                        </a>
                     </li>
                     <li>
                     <a href="#/myprofile" ng-if="purpose == 'worker'" ng-class="{'active':currentState == 'myprofile'}">My Profile
                     </a>
                     <a href="#/parentprofile" ng-if="purpose == 'parent'" ng-class="{'active':currentState == 'parentprofile'}">My Profile
                     </a>
                     <!-- <a href="javascript:void(0)" ng-if="purpose == 'parent'" ng-class="{'active':currentState == 'myprofile'}" ng-click="underProgress()">My Profile
                     </a> -->
                  </li>
                  <!-- <li>
                     <a href="javascript:void(0)" ng-click="logout()">Logout
                     </a>
                  </li> -->
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle user_name_header" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left" ng-if="loginuser_profilepic"> <img ng-src="images/profilepic/{{loginuser_profilepic}}"> </span>
                  <span class="thumb-sm avatar pull-left" ng-if="!loginuser_profilepic"> <img ngf-thumbnail="'/images/no_image_found.png'"> </span> {{login_user}}<b class="caret"></b> </a>
                     <ul class="dropdown-menu customdropdown"> <span class="arrow top"></span>
                       <!-- <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li> -->
                       <li><a href="javascript:void(0)" ng-click="gotoChangepasswd('worker/client')"><i class="icon-lock-open p-r-5"></i>Change Password</a></li>
                       {{url = (purpose == 'worker') ? '#/settings' : '#/clientsettings';''}}
                       <li ng-if="purpose == 'worker' || purpose == 'parent'"><a href="{{url}}"><i class="icon-wrench p-r-5"></i>Settings</a></li>
                       <li ng-if="!adminLogged"><a href="javascript:void(0);" ng-click="logout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                          </ul>
                         </li>
                    <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="icon-settings"></i>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu customdropdown">
                    <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li>
                    <li><a href="#/changepassword"><i class="icon-lock-open p-r-5"></i>Change Password</a></li>
                    <li><a href="#/settings"><i class="icon-wrench p-r-5"></i>Settings</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                    </ul>
                    </li> -->
               </ul>
            </div>

      </div>
   </div>

   <div class="navigation_section" ng-if="adminLogged && !adminHeaderchange">
      <div class="navbar navbar-default" ng-if="!admin">

            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar">
               </span>
               <span class="icon-bar">
               </span>
               <span class="icon-bar">
               </span>
               </button>

               <a class="navbar-brand" href="#/" ng-if="!adminLogged">
               <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" alt="logo" class="img-responsive">
               </a>
               <a class="navbar-brand" href="javascript:void(0);" ng-if="adminLogged">
               <img src="/../partner_logo/{{$root.whitelabelDetails.partner_logo}}" alt="logo" class="img-responsive">
               </a>
            </div>
            <div class="navbar-collapse collapse admincheck " ng-controller="HomeCtrl as hm">

               <ul class="nav navbar-nav navbar-right" ng-if="!logged_in">
                  <li class="" >
                     <a href="" id="postjobLink" class="postjob_link" ng-click="hm.jopPopup()">Post Job
                     </a>
                  </li>

                   <li>
                     <a href="#/howitworks" ng-class="{'active':currentState == 'howitworks'}">How it Works
                     </a>
                  </li>
                  <li>
                    <a href="#/findcarer" ng-class="{'active':currentState == 'findcarer'}">Find a Carer
                    </a>
                  </li>

                  <li ng-controller="AuthCtrl as vm">
                     <a href="javascript:void(0)" id="loginLink" ng-click="vm.callloginPopup()">Login
                     </a>
                  </li>
                  <li ng-controller="SignupCtrl as sm">
                     <a href="javascript:void(0)" ng-click="sm.openSignup()" id="signupLink">Signup
                     </a>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right" ng-if="logged_in">
               <li ng-if="purpose == 'parent'">
                     <a href="" class="postjob_link" ng-click="hm.jopPopup()">Post Job
                     </a>
                  </li>
                  <li>
                     <a href="#/findcarer" ng-if="purpose != 'worker'" ng-class="{'active':currentState == 'findcarer'}">Find a Carer
                     </a>
                  </li>
                  <li>
                        <a href="{{myjobhref}}" ng-class="{'active':currentState == 'joblist' || currentState == 'parentjoblist' || currentState == 'previewjob'}">My Jobs
                        </a>
                     </li>
                     <li>
                     <a href="#/myprofile" ng-if="purpose == 'worker'" ng-class="{'active':currentState == 'myprofile'}">My Profile
                     </a>
                     <a href="#/parentprofile" ng-if="purpose == 'parent'" ng-class="{'active':currentState == 'parentprofile'}">My Profile
                     </a>
                     <!-- <a href="javascript:void(0)" ng-if="purpose == 'parent'" ng-class="{'active':currentState == 'myprofile'}" ng-click="underProgress()">My Profile
                     </a> -->
                  </li>
                  <!-- <li>
                     <a href="javascript:void(0)" ng-click="logout()">Logout
                     </a>
                  </li> -->
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle user_name_header" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left" ng-if="loginuser_profilepic"> <img ng-src="images/profilepic/{{loginuser_profilepic}}"> </span>
                  <span class="thumb-sm avatar pull-left" ng-if="!loginuser_profilepic"> <img ngf-thumbnail="'/images/no_image_found.png'"> </span> {{login_user}}<b class="caret"></b> </a>
                     <ul class="dropdown-menu customdropdown"> <span class="arrow top"></span>
                       <!-- <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li> -->
                       <li><a href="javascript:void(0)" ng-click="gotoChangepasswd('worker/client')"><i class="icon-lock-open p-r-5"></i>Change Password</a></li>
                       <li ng-if="purpose == 'worker' || purpose == 'parent'"><a href="#/settings"><i class="icon-wrench p-r-5"></i>Settings</a></li>
                       <li ng-if="!adminLogged"><a href="javascript:void(0);" ng-click="logout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                          </ul>
                         </li>
                    <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="icon-settings"></i>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu customdropdown">
                    <li><a href="javascript:void(0);"><i class="icon-user p-r-5"></i>My Profile</a></li>
                    <li><a href="#/changepassword"><i class="icon-lock-open p-r-5"></i>Change Password</a></li>
                    <li><a href="#/settings"><i class="icon-wrench p-r-5"></i>Settings</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout()"><i class="icon-power p-r-5"></i>Logout</a></li>
                    </ul>
                    </li> -->
               </ul>
            </div>

      </div>
   </div>
   <!--=================================== End Navigation Bar ==========================================================-->

</header>
