<div ng-http-loader template="scripts/sharedModule/templates/loader.html">
</div>
<div header></div>

<div class="content_section">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center heading_howitwork">How it works for Carer</h1>
      <img src="styles/images/opti_howit-1.jpg" alt="" class="img-responsive">
    </div>
  </div>

</div>



<!-- footer section comes here -->
<div footer></div>
