<div ng-http-loader template="scripts/sharedModule/templates/loader.html">
</div>
<div header></div>

<!-- main section comes here -->
<div class="content_section">
<section class="seetings_page change_password">
 <div class="row">
<div class="col-xs-12">
<h3 class="heading">Notification & Settings</h3>
</div>
</div>
</section>
</div>


<!-- footer section comes here -->
<div footer></div>
