<div header></div>

<section id="job_list_section">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="first_row clearfix">
          <div class="col-sm-3">
            <!-- <h3 class="title_joblist">My Jobs  <span class="fa fa-filter pull-right toggle_icon_pink" ng-click="state=!state" data-ng-init="state=true" uib-tooltip="close filter"></span></h3> -->
            <h3 class="title_joblist">My Jobs

              <!-- <span class="link_filter" ng-click="state=!state" data-ng-init="state=false" uib-tooltip="close filter">
                <i class="fa fa-filter filter_toggle"></i></span> -->
              </h3>
          </div>
          <div class="col-sm-9 top_tab_material">
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="javascript:void(0)" ng-click="searchbyStatus(0)" aria-controls="home" role="tab" data-toggle="tab">Available</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(1)" aria-controls="profile" role="tab" data-toggle="tab">Applied</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(1)" aria-controls="profile" role="tab" data-toggle="tab">Approved</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(2)" aria-controls="messages" role="tab" data-toggle="tab">Completed</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(3)" aria-controls="settings" role="tab" data-toggle="tab">Closed</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(-1)" aria-controls="settings" role="tab" data-toggle="tab">All</a></li>
            </ul>
          </div>
        </div>
        </div>


        <!-- filter and main contain row -->

        <div class="row toggleclass_side" sidebar-directive="state" >

          <div class="col-sm-3 left_side_filter_section" >

              <h3 class="filter_area">
              <!-- <i class="fa fa-filter"></i> -->
              <img src="styles/images/filters-icon.png" alt="" width="20" class="fa-filters">
              <span class="hide_section">Filters</span>
              <!-- <i class="fa fa-caret-left  leftarrow" data-ng-init="state=true" ng-click="state=!state"></i> -->


              <i class="leftarrow" uib-tooltip="Toggle filter " ng-class="{'icon-arrow-left-circle':state,'icon-arrow-right-circle':!state}" data-ng-init="state=true" ng-click="state=!state"></i>
              <!-- <i class="leftarrow" ng-if="state" uib-tooltip="close filter" ng-class="{'fa fa-chevron-circle-left':state,'fa fa-chevron-circle-right':!state}" data-ng-init="state=true" ng-click="state=!state" ></i> -->

              </h3>
            <div class="display_none_section">
            <v-accordion class="vAccordion--default" >
            <!-- add expanded attribute to open the section -->
              <v-pane>
                <v-pane-header>
                Type of job
                </v-pane-header>
                <v-pane-content>
                  <div class="check_box_section">
                  <div class="control-group">
                     <label class="control control--checkbox">
                        Casual / one off care
                        <input type="checkbox" value="0" ng-click="toggleCaretype(0)"  ng-checked="selectedJobtype.indexOf(0) > -1"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                      Regular care
                        <input type="checkbox" value="1" ng-click="toggleCaretype(1)"  ng-checked="selectedJobtype.indexOf(1) > -1"/>
                        <div class="control__indicator"></div>
                     </label>
                   </div>
                 </div>
                </v-pane-content>
              </v-pane>
              <!-- ============== -->
              <v-pane expanded>
                <v-pane-header>
                Type of caregiver
                </v-pane-header>
                <v-pane-content>
                  <div class="check_box_section">
                  <div class="control-group">
                     <label class="control control--checkbox" ng-repeat="cg in caregivers">

                          {{cg}}
                          <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="selectedCaregiver.indexOf(cg) > -1" ng-click="toggleCaregiver(cg)" />
                        <div class="control__indicator"></div>
                     </label>
                     <!-- <label class="control control--checkbox">
                        Babysitter
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Nanny
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Au pair
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Tutor / educator
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                       Cook
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label> -->
                  </div>
                </div>
                </v-pane-content>
              </v-pane>
              <!-- ============== -->
              <v-pane>
                <v-pane-header>
                Type of care
                </v-pane-header>
                <v-pane-content>
                  <div class="check_box_section">
                  <div class="control-group">
                     <label class="control control--checkbox" >
                        Night time care
                        <input type="checkbox" value="night" ng-checked="selectedCaretime.indexOf('night') > -1" ng-click="toggleCaretime('night')"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Day time care
                        <input type="checkbox" value="day" ng-checked="selectedCaretime.indexOf('day') > -1" ng-click="toggleCaretime('day')"/>
                        <div class="control__indicator"></div>
                     </label>
                     <div class="sub_checkbox_section" ng-if="selectedCaretime.indexOf('day') > -1">
                        <div class="check_box_section">
                           <label class="control control--checkbox">
                              Before school care
                              <input type="checkbox" value="Before school care" ng-checked="selectedSession.indexOf('Before school care') > -1" ng-click="toggleSession('Before school care')"/>
                              <div class="control__indicator"></div>
                           </label>
                           <label class="control control--checkbox">
                              After school care
                              <input type="checkbox" value="After school care" ng-checked="selectedSession.indexOf('After school care') > -1" ng-click="toggleSession('After school care')"/>
                              <div class="control__indicator"></div>
                           </label>
                        </div>
                     </div>
                   </div>
                 </div>
                </v-pane-content>
              </v-pane>
              <!-- ============== -->
              <v-pane>
                <v-pane-header>
                Requirements
                </v-pane-header>
                <v-pane-content>
                  <div class="check_box_section">
                  <div class="control-group">
                  <label class="control control--checkbox" ng-repeat="req in requirements" >
                    {{req}}
                     <input type="checkbox" value="{{req}}" ng-checked="selectedreq.indexOf(req) > -1" ng-click="togglereq(req)"/>
                     <div class="control__indicator"></div>
                  </label>
                  <!-- <label class="control control--checkbox">
                    Certificate II / III / IV in Children Services
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Diploma / Bachelors in Children Services
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    First Aid Trained
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Anaphylaxis Trained
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Police Clearance / Criminal Records Check
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Working with Children Check
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Proof of work experience
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                  Car / Driving
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Drivers License
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Independent Verification of the above
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Address Verified
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Identity Verified
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Verified Mobile Number
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Reference Check
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label>
                  <label class="control control--checkbox">
                    Home Safety Check
                     <input type="checkbox"/>
                     <div class="control__indicator"></div>
                  </label> -->
                </div>
              </div>

                </v-pane-content>
              </v-pane>
            </v-accordion>
          </div>

          </div>

          <div class="col-sm-9 right_side_cen" infinite-scroll="loadPages()" infinite-scroll-distance="0" infinite-scroll-parent="false">

            <!--search  -->
            <div class="search_section_joblist clearfix">
            <div class="col-md-4 pad-0 search_input">
              <input type="text" autocomplete name="" value="" class="form-control" ng-model="address.city" placeholder="Suburb, City," ng-blur="self.scope.locselected = true">
              <img src="styles/images/search.png" alt="" class="search_icon">
              <ul class="dropdown-menu state_city_sub" ng-if="!locselected && locations.length > 0">
                                                    <li ng-repeat="loc in locations"><a href="javascript:void(0)" ng-click="selectLocation(loc)">{{loc.state}},{{loc.city}}</a></li>
                                                    </ul>
            </div>
            <div class="col-md-2 pad-0">
                <input type="text" name="" ng-disabled="true" value="" ng-model="address.state" class="form-control" placeholder="State">
                <!-- <ul class="dropdown-menu state_city_sub" ng-if="!locselected && locations.length > 0">
                                                    <li ng-repeat="loc in locations"><a href="javascript:void(0)" ng-click="selectLocation(loc)">{{loc.state}},{{loc.city}}</a></li>
                                                    </ul> -->
            </div>
            <div class="col-md-2 pad-0">
                <input type="text" name="" ng-disabled="true" value="" ng-model="address.post_code" class="form-control" placeholder="Post Code">
            </div>
            <div class="col-md-2 pad-0 search_input">
                <input type="text" uib-datepicker-popup="{{format}}" ng-model="address.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="dd/mm/yyyy" class="form-control">
                <img src="styles/images/date_ico.png" alt="" class="search_icon" ng-click="open($event)">
            </div>
            <div class="col-md-2 pad-r-0">
              <button class="btn btn-success search_btn" ng-click="searchbyLocation()">Search</button>
            </div>
          </div>
            <div ng-if="joblist.length == 0">

              <h1 class="main_heading_nojob "><i class="material-icons">sentiment_very_dissatisfied</i></h1>

              <h1 class="main_heading_nojob p-t-0">No Jobs found!!!</h1></div>
            <!-- single job list -->
            <div class="single_joblist" ng-repeat="job in joblist">
              <div class="detail_job_list_container">
                <div class="detail_section">
                  <h4 class="agency_name">{{job.care_name}}<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h4>
                  <h5 class="care_type" ng-if="job.job_type == 1">Regular care</h5>
                  <h5 class="care_type" ng-if="job.job_type == 0">Casual / oneoff care</h5>
                  <!-- <h5 ng-if="job.care_type.indexOf('night') > -1" class="care_type">Night time care</h5> -->
                  <h4 class="caregiver_name">{{job.caregiver_type}}</h4>
                  <!-- label section -->
                  <!-- <div class="label_section_tags">
                    <ul>
                      <li><span class="label label-default">Night time care</span></li>
                      <li><span class="label label-default">Day time care</span></li>
                      <li><span class="label label-default">Before school care</span></li>
                    </ul>
                  </div> -->



                  <div class="label_section">
                    <ul>
                      <li ng-if="job.care_type.indexOf('night') > -1"><span class="icon_label"><i class="diw-moon-stars pull-left weather"></i>Night time care</span></li>
                      <li ng-if="job.care_type.indexOf('day') > -1"><span class="icon_label"><i class="diw-sun pull-left weather"></i>Day time care</span></li>
                      <li ng-if="job.case_session.indexOf('Before school care') > -1"><span class="icon_label"><i class="fa fa-building-o pull-left school"></i>Before school care</span></li>
                      <li ng-if="job.case_session.indexOf('After school care') > -1"><span class="icon_label"><i class="fa fa-building pull-left school"></i>After school care</span></li>
                    </ul>

                  </div>


                  <!-- end label section -->

                  <!-- location section -->
                  <div class="location_section" ng-show="job.location=='0' && job.state != ''">
                    <img src="styles/images/location.png" alt="" class="pull-left">
                    <span>{{job.state}}, {{job.city}} - {{job.post_code}}</span>
                  </div>
                  <!-- End location section -->
                </div> <!-- end left detils section-->
                <div class="right_btn_section">
                  <div class="text-center">
                    <h5 class="budget_label">Budget<i class="icon-info circle_info" uib-tooltip="This is the net budget available for payment to a worker. We have already deducted M% Employment Service Fees and N% Workers Payment Processing Fees from the employer's budget for simplicity and transparency"></i></h5>
                    <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>
                    <div class="apply_btn text-center">
                       <button class="btn btn-default" ng-click="submitBid()">Submit Bid</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- rating section -->
              <div class="rating_sec">
                <div class="rating_container">
                  <div class="user_rating">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="styles/images/user.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{job.user_name}}</h4>
                            <jk-rating-stars rating="secondRate" read-only="readOnly" ></jk-rating-stars>
                        </div>
                    </div>
                  </div>
                  <div class="date_section">
                    <div class="day_selector" ng-if="job.job_type == 1">
                      <ul>
                        <li  ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
                        <li  ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
                      </ul>
                    </div>
                    <div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
                      <ul>
                        <li  ng-class="{'active':day == 0}">S</li>
                        <li  ng-class="{'active':day == 1}">M</li>
                        <li ng-class="{'active':day == 2}">T</li>
                        <li ng-class="{'active':day == 3}">W</li>
                        <li ng-class="{'active':day == 4}">T</li>
                        <li ng-class="{'active':day == 5}">F</li>
                        <li ng-class="{'active':day == 6}">S</li>
                      </ul>
                    </div>
                    <div class="job_time_date">
                      <ul>
                        <li><span class="datetime_job_list"><i class="fa fa-calendar"></i>{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></li>
                        <li><span class="datetime_job_list"><i class="fa fa-clock-o"></i>{{job.time_budget.time | date:"h:mm"}}</span></li>
                      </ul>
                    </div>
                  </div>
                    <div class="view_detail_sec">
                      <div class="pull-right text-center detail_job_link">
                        <a href="javascript:void(0)" class="view_job_link" data-toggle="collapse" data-target="#demo{{$index}}">View job details<i class="fa fa-angle-down"></i></a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- end single job list -->

            <!-- view job details -->
            <div id="demo{{$index}}" class="collapse">
            <div class="detail_job_view">
              <div class="row">
                <div class="rate_section">
                <div class="col-md-7">

                    <div class="form-group clearfix">
                    <label class="control-label col-xs-5" >Number of children</label>
                    <div class=" col-xs-7 rigprofcnt right_cntent">

                    <span class="text_gray">{{job.no_of_children}}</span>
                    </div>
                    </div>
                    <div class="form-group clearfix">
                    <label class="control-label col-xs-5" >Age group of children</label>
                    <div class=" col-xs-7 rigprofcnt right_cntent">

                    <span class="text_gray">{{job.children_age}}</span>
                    </div>
                    </div>
                    <div class="form-group clearfix">
                    <label class="control-label col-xs-5" >Employer Type</label>
                    <div class=" col-xs-7 rigprofcnt right_cntent">

                    <span class="text_gray">Parent </span>
                    </div>
                    </div>

                </div>
                <div class="col-md-5 rightside_boot_panel">
                <div class="panel panel-default">
                <div class="panel-heading">Rate per hour<span>${{job.time_budget.rate_per_hour}}<i class="icon-info"></i></span></div>
                <div class="panel-body">Number of hours<span>{{job.time_budget.hours_required}}</span></div>
                </div>

                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="requirement_section">
                    <h3 class="job_detail_heading">Requirement</h3>
                    <div class="tag_section">

                      <ul>
                        <li ng-repeat="x in strtoarr(job.req.requirements) track by $index"><span><i class="material-icons">face</i>{{x}}</span></li>
                        <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                        <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                        <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="other_details">
                    <h2 class="line_section">
                    <span class="line-center">Other Details
                    </span>
                 </h2>
                  <!-- <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p> -->
                  <div class="otherdetail_content">
                  <p>{{job.req.other_requirement}}</p>
                </div>
                </div>
                </div>

                <div class="col-md-12 hide">
                  <div class="other_details m-t-20">
                    <h3 class="job_detail_heading">Job owner notes</h3>
                  <!-- <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p> -->
                  <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p>

                </div>
                </div>

              </div>


          </div>

          <div class="footer_job_detail clearfix">

              <!-- <div class="col-md-12">
                <ul class="main_footer_section">
                  <li>JOB VIEWS <span>256</span></li>
                  <li>JOB APPLICANTS <span>90</span></li>
                </ul>
              </div> -->
              <div class="row">
                <div class="col-sm-6">
                  <ul class="main_footer_section">
                    <li>JOB VIEWS <span>256</span></li>
                    <li>JOB APPLICANTS <span>90</span></li>
                  </ul>

                </div>
                <div class="col-sm-6">
                  <ul class="main_footer_section pull-right">
                    <li><i class="material-icons">mail</i>Send message </li>
                    <li ng-click="submitBid()"><i class="material-icons">check_circle</i>Submit Bid </li>
                  </ul>
                </div>
              </div>

          </div>
        </div>
        </div>

        </div>


        <!-- end of filter and main contain row -->

      </div>

    </div>
    <div class="col-sm-3 hidden-sm hidden-xs">
      <div class="right_side_section_joblist">
        <div class="ad_section">
        <img src="styles/images/right_side_banner.png" alt="" width="100%">
      </div>
      </div>
      <div class="right_side_section_joblist">
        <div class="ad_section">
        <img src="styles/images/right_side_banner.png" alt="" width="100%">
      </div>
      </div>

    </div>
  </div>
</section>


<!-- footer section comes here -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4>About Us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span>Readmore..</span></p>

      </div>
      <div class="col-md-3 col-sm-6">
          <h4>Quick Links</h4>
        <p><i class="fa fa-circle-o"></i>Home</p>
        <p><i class="fa fa-circle-o"></i>Post Job</p>
        <p><i class="fa fa-circle-o"></i>How it Works</p>
        <p><i class="fa fa-circle-o"></i>My Jobs</p>

      </div>
      <div class="col-md-3 col-sm-6">
        <h4>Upcoming Blogs</h4>
        <div class="row">
          <div class="col-md-2">

          </div>

          <div class="col-md-10">
            <!-- <h4 class="heading_foot">HOLY GHOST & FAITH CLINIC- TUESDAYS</h4>
            <h5 class="sub_heading_foot">June 20</h5>
            <h5 class="sub_heading_foot">lagos lagos queesland</h5> -->
          </div>
        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <h4>Following</h4>
        <ul class="following_section">
        <li><a href="#"><img src="styles/images/facebook.png" alt=""></a></li>
        <li><a href="#"><img src="styles/images/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="styles/images/linkedin.png" alt=""></a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
