<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"> -->
</div>
<div class="upToScroll buttonShow" ng-if="isScrolled > 0">
    <a class="scrollToTop icon-up-open-big" title="Back to top" ng-click="scrollTopHeader();"> </a>
</div>
<div header></div>
<section id="job_list_section"  x-sticky-boundary="">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="first_row clearfix">
                        <div class="col-sm-3">
                            <!-- <h3 class="title_joblist">My Jobs  <span class="fa fa-filter pull-right toggle_icon_pink" ng-click="state=!state" data-ng-init="state=true" uib-tooltip="close filter"></span></h3> -->
                            <h3 class="title_joblist">My Jobs

              <!-- <span class="link_filter" ng-click="state=!state" data-ng-init="state=false" uib-tooltip="close filter">
                <i class="fa fa-filter filter_toggle"></i></span> -->
              </h3>
                        </div>
                        <div uib-alert ng-repeat="alert in userSuggestions" close="closeSuggestions($index)" class="uib-alert-design alert-warning">
            <!--  {{alert.name}}  {{alert.msg}} -->
            <h4>App suggestions</h4>
            <!-- <h4 ng-if="alert.type=='success'">Payment Success</h4> -->
            <!-- <p class="alert_name">{{alert.name}}</p> -->
            <p class="alert_msg">{{alert.message}}</p>


            </div>


                        <div class="col-sm-9 top_tab_material">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" ng-class="{'active':currentTab == 'available'}"><a href="javascript:void(0)" ng-click="searchbyStatus(0, 'available')" aria-controls="home" role="tab" data-toggle="tab">Available <span class="badge orange_badge">{{status_counts.available_count}}</span></a></li>
                                <li role="presentation" ng-class="{'active':currentTab == 'applied'}"><a href="javascript:void(0)" ng-click="searchbyStatus(1, 'applied')" aria-controls="profile" role="tab" data-toggle="tab">Applied <span class="badge orange_badge" ng-if="status_counts.applied_count__sum != 0">{{status_counts.applied_count__sum}}</span></a></li>
                                <li role="presentation" ng-class="{'active':currentTab == 'confirmed'}"><a href="javascript:void(0)" ng-click="searchbyStatus(2, 'confirmed')" aria-controls="profile" role="tab" data-toggle="tab">Confirmed <span class="badge orange_badge" ng-if="status_counts.confirmed_count__sum != 0">{{status_counts.confirmed_count__sum}}</span></a></li>
                                <li role="presentation" ng-class="{'active':currentTab == 'completed'}"><a href="javascript:void(0)" ng-click="searchbyStatus(3, 'completed')" aria-controls="messages" role="tab" data-toggle="tab">Completed </a></li>
                                <li role="presentation" ng-class="{'active':currentTab == 'paid'}"><a href="javascript:void(0)" ng-click="searchbyStatus(4, 'paid')" aria-controls="messages" role="tab" data-toggle="tab">Payment Released <span class="badge orange_badge" ng-if="status_counts.paid_count__sum != 0">{{status_counts.paid_count__sum}}</span></a></li>
                                <li role="presentation" ng-class="{'active':currentTab == 'closed'}"><a href="javascript:void(0)" ng-click="searchbyStatus(7, 'closed')" aria-controls="settings" role="tab" data-toggle="tab">Closed</a></li>
                                <!-- <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(-1);currentTab='all'" aria-controls="settings" role="tab" data-toggle="tab">All</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- filter and main contain row -->
                <div class="row toggleclass_side" sidebar-directive="state" window-dir>
                    <div class="col-sm-3 left_side_filter_section" ng-if="currentTab == 'available'">
                        <h3 class="filter_area">
              <!-- <i class="fa fa-filter"></i> -->
              <img src="styles/images/filters-icon.png" alt="" width="20" class="fa-filters" ng-click="toggleState()">
              <span class="hide_section">Filters</span>
        <span class="clear_all_filter" ng-click="clearAllfilters()"><span class="clear_label_filter">Clear all </span><i class="leftarrow" title="{{toggle_lable}}" ng-class="{'icon-arrow-left-circle':state,'icon-arrow-right-circle':!state}" ng-click="toggleState()"></i></span>
              <!-- <i class="fa fa-caret-left  leftarrow" data-ng-init="state=true" ng-click="state=!state"></i> -->



              <!-- <i class="leftarrow" ng-if="state" uib-tooltip="close filter" ng-class="{'fa fa-chevron-circle-left':state,'fa fa-chevron-circle-right':!state}" data-ng-init="state=true" ng-click="state=!state" ></i> -->

              </h3>
                        <div class="display_none_section">
                            <v-accordion class="vAccordion--default" multiple>
                                <!-- add expanded attribute to open the section -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('jobtype')">clear filter</span>
                                    <v-pane-header>
                                        Type of job
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox">
                                                    Casual / One-off care
                                                    <input type="checkbox" value="0" ng-click="toggleCaretype(0)" ng-checked="selectedJobtype.indexOf(0) > -1" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--checkbox">
                                                    Regular care
                                                    <input type="checkbox" value="1" ng-click="toggleCaretype(1)" ng-checked="selectedJobtype.indexOf(1) > -1" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                                <!-- ============== -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('caregiver')">clear filter</span>
                                    <v-pane-header>
                                        Type of caregiver
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox" ng-repeat="cg in caregivers">
                                                    {{cg}}
                                                    <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="selectedCaregiver.indexOf(cg) > -1" ng-click="toggleCaregiver(cg)" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <!-- <label class="control control--checkbox">
                        Babysitter
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Nanny
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Au pair
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                        Tutor / educator
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label>
                     <label class="control control--checkbox">
                       Cook
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                     </label> -->
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                                <!-- ============== -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('caretime')">clear filter</span>
                                    <v-pane-header>
                                        Type of care
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox">
                                                    Night time care
                                                    <input type="checkbox" value="night" ng-checked="selectedCaretime.indexOf('night') > -1" ng-click="toggleCaretime('night')" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--checkbox">
                                                    Day time care
                                                    <input type="checkbox" value="day" ng-checked="selectedCaretime.indexOf('day') > -1" ng-click="toggleCaretime('day')" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <div class="sub_checkbox_section" ng-if="selectedCaretime.indexOf('day') > -1">
                                                    <div class="check_box_section">
                                                        <label class="control control--checkbox">
                                                            Before school care
                                                            <input type="checkbox" value="Before school care" ng-checked="selectedSession.indexOf('Before school care') > -1" ng-click="toggleSession('Before school care')" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                        <label class="control control--checkbox">
                                                            After school care
                                                            <input type="checkbox" value="After school care" ng-checked="selectedSession.indexOf('After school care') > -1" ng-click="toggleSession('After school care')" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                                <!-- ============== -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('req')"> clear filter</span>
                                    <v-pane-header>
                                        Requirements
                                    </v-pane-header>
                                    <v-pane-content>
                                        <!-- {{filterReqs} -->
                                        <div ng-repeat="reqCategory in reqsToFilter() | filter:filterReqs">

                                            <p class="requirement_category_name">{{reqCategory.category}}</p>
                                            <div class="check_box_section">
                                                <div class="control-group">
                                                    <label class="control control--checkbox" ng-repeat="req in requirements | filter:{category: reqCategory.category}">
                                                        {{req.requirement}}
                                                        <input type="checkbox" value="{{req.id}}" ng-checked="selectedreq.indexOf(req.id) > -1" ng-click="togglereq(req.id)" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                            </v-accordion>
                        </div>
                    </div>
                    <div class="col-sm-9 right_side_cen" ng-class="{'job_full_width': currentTab != 'available'}" infinite-scroll="loadPages()" infinite-scroll-distance="0" infinite-scroll-parent="false" infinite-scroll-disabled="jobcanCalled">
                        <!--search  -->
                        <div class="search_section_joblist clearfix plugin_dropdown_country" ng-if="currentTab == 'available'">
                            <div class="col-sm-7 pad-0 search_input">

                                <input type="text" class="form-control" ng-model="address1.fullAddress" name="tag" class="form-control text-box" uib-typeahead="location as location.viewval for location in filteredLocations" typeahead-wait-ms="600" placeholder="Suburb,state postcode" typeahead-on-select="setTag($item,true)" ng-keyup="getLocations(address1.fullAddress)" />
                                <img src="styles/images/search.png" alt="" class="search_icon">
                                <span class="ajax_loader" ng-if="locationLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                <span class="ajax_loader" ng-if="!locationLoading && address1.fullAddress" ng-click="address1.fullAddress='';searchbyLocation();"><i class="fa fa-times-circle "></i></span>

                            </div>
                            <div class="col-sm-3 pad-0 search_input">
                                <input type="text" uib-datepicker-popup="{{format}}" ng-model="address1.date" ng-click="status.opened = !status.opened" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="DD/MM/YYYY" class="form-control" ng-readonly="true">
                                <img src="styles/images/date_ico.png" alt="" class="search_icon" ng-click="open($event)">
                            </div>
                            <div class="col-sm-2 pad-r-0">
                                <button class="btn btn-success search_btn" ng-click="searchbyLocation()">Search</button>
                            </div>
                        </div>
                        <div ng-if="joblist.length == 0 && !isLoading && currentTab != 'available' ">
                            <h1 class="main_heading_nojob "><i class="fa fa-frown-o"></i></h1>
                            <h1 class="main_heading_nojob p-t-0">No Jobs found!!!</h1></div>



                            <div class="no_job_worker" ng-if="currentTab == 'available' && joblist.length == 0 && !isLoading && userPercent > 80">
                              <h1 class="main_heading_nojob ">
                                <i class="fa fa-frown-o"></i>
                              </h1>
                              <p>Sorry! Currently there is no availble jobs.</p><p>Once a new job posted by client we will sent you a notification.</p>

                            </div>
                        <!-- single job list -->
                        <div class="single_joblist" ng-repeat="job in joblist" ng-class="{'unsuccessful_job':job.unsuccessful == 1}">
                            <div class="shape" ng-if="job.quoted == 1 && job.is_confirmed == 0 && job.unsuccessful == 0">
                                <div class="shape-text">
                                    Quoted
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.job_status == 2 && job.unsuccessful == 0">
                                <div class="shape-text1">
                                    Confirmed
                                </div>
                            </div>
                            <div class="shape1" ng-if="job_status == 3 && job.unsuccessful == 0">
                                <div class="shape-text1 w_complt">
                                    Completed
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.job_status == 4 && job.unsuccessful == 0">
                                <div class="shape-text1 paid_txt">
                                    $ released
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.unsuccessful == 1">
                                <div class="shape-text1 w_complt">
                                    Unapproved
                                </div>
                            </div>
                            <div class="shape2" ng-if="job.job_status == 7 && job.unsuccessful == 0">
                                <div class="shape-text1 paid_txt">
                                    Closed
                                </div>
                            </div>
                              <h5 class="job_id green_color_text" ng-if="(job.job_status == 2 || job.job_status == 3) && job.unsuccessful != 1"><i class="icon-wallet"></i>&nbsp;Payment guaranteed</h5>
                            <p class="job_id"><span>Job ID:</span>&nbsp;{{job.jobid}}</p>
                            <div class="detail_job_list_container">
                                <div class="detail_section">

                                    <h4 class="agency_name">{{job.caregiver_type}}
                    <!-- <span class="approved_label">Approved</span> -->
                  </h4>
                                    <h5 class="care_type" ng-if="job.job_type == 1">Regular care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>
                                    <h5 class="care_type" ng-if="job.job_type == 0">Casual / one-off care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>
                                    <!-- <h5 ng-if="job.care_type.indexOf('night') > -1" class="care_type">Night time care</h5> -->
                                    <h4 class="caregiver_name">{{job.care_name}}</h4>
                                    <!-- label section -->
                                    <!-- <div class="label_section_tags">
                    <ul>
                      <li><span class="label label-default">Night time care</span></li>
                      <li><span class="label label-default">Day time care</span></li>
                      <li><span class="label label-default">Before school care</span></li>
                    </ul>
                  </div> -->
                                    <div class="label_section">
                                        <ul>
                                            <li ng-if="job.care_type.indexOf('night') > -1"><span class="icon_label pull-left"><i class="bg-nightcare_gray  pull-left "></i><span class="p-l-5">Night time care</span></span>
                                            </li>
                                            <li ng-if="job.care_type.indexOf('day') > -1"><span class="icon_label pull-left"><i class="bg-daycare_gray pull-left "></i><span class="p-l-5">Day time care</span></span>
                                            </li>
                                            <li ng-if="job.case_session.indexOf('Before school care') > -1"><span class="icon_label pull-left"><i class="bg-beforeschool_gray  pull-left "></i><span class="p-l-5">Before school care</span></span>
                                            </li>
                                            <li ng-if="job.case_session.indexOf('After school care') > -1"><span class="icon_label pull-left"><i class="bg-afterschool_gray  pull-left "></i><span class="p-l-5">After school care</span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end label section -->
                                    <!-- location section -->
                                    <div class="location_section" ng-show="job.post_code">
                                        <img src="styles/images/location.png" alt="" class="pull-left">
                                        <span> {{job.city}}, {{job.state}} {{job.post_code}}</span>
                                    </div>
                                    <!-- End location section -->
                                </div>
                                <!-- end left detils section-->
                                <div class="right_btn_section" ng-if="job.unsuccessful == 0">
                                    <div class="text-center " ng-if="job_status == 0">
                                        <h5 class="budget_label">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                                        <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>
                                        <div class="apply_btn text-center">
                                            <button class="btn btn-default" ng-click="submitBid(job.jobid,job.time_budget)">Submit Bid</button>
                                        </div>
                                    </div>
                                    <div class="text-center p-t-15" ng-if="job.quoted == 1 && job.is_confirmed == 0">
                                        <h5 class="budget_label">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                                        <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>
                                    </div>
                                    <div class="text-center p-t-15" ng-if="job.job_status == 2 || job.job_status == 3 || job.job_status == 4 || job.job_status == 7">
                                        <h5 class="budget_label" ng-if="job.job_status != 4">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                                        <h5 class="budget_label bl_payment" ng-if="job.job_status == 4">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                                        <h4 class="text-center salary_job">${{job.bid_info.quote}}</h4>
                                        <div class="apply_btn text-center" ng-if="job.job_status == 2">
                                            <button class="btn btn-default" ng-click="markAscompleted(job.jobid)">Mark as completed</button>
                                        </div>
                                        <div class="apply_btn text-center" ng-if="job.job_status >= 4">
                                            <!-- <button class="btn btn-default" ng-click="getFeedback(job.jobid,'worker')">Client Feedback</button> -->
                                            <button class="btn btn-default" ng-if="!job.has_review_given" ng-click="openFeedbackpopup(job.jobid,job.user_id,'worker',job)">Rate client</button>
                                            <button class="btn btn-default" ng-if="job.has_review_given" ng-click="getFeedback(job.jobid,'client')">My Feedback</button>
                                            <button uib-tooltip="Close Job" class="btn btn-default" ng-click="closeJob(job.jobid,job)" ng-if="job.job_status == 4 && adminLogged">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- rating section -->
                            <div class="rating_sec">
                                <div class="rating_container rating_containernew_res">
                                    <div class="user_rating">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="javascript:void(0)">
                               <span ng-if="job.client_profilepic != ''">
                          <img class="media-object" ng-src="images/profilepic/{{job.client_profilepic}}" ng-error-src="/images/no_image_1.png" alt="">
                              </span>
<span ng-if="job.client_profilepic == ''">
                              <img class="media-object" ng-src="/images/no_image_1.png" alt="">
                              </span>
                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date_section">
                                        <div class="date_section_inner">
                                            <div class="user_rating user_ratinginner">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="media-heading" title="{{job.user_name}}">{{job.user_name | cut:true:20:' ...'}}</h4>
                                                        <!-- <jk-rating-stars rating="secondRate" read-only="readOnly" ></jk-rating-stars> -->
                                                        <input-stars max="5" ng-model="YourCtrl.property" allow-half ng-attr-readonly="true"></input-stars>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="midtablecntt">
                                                <div class="day_selector" ng-if="job.job_type == 1">
                                                    <ul>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
                                                        <li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
                                                    </ul>
                                                </div>
                                                <div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
                                                    <ul>
                                                        <li ng-class="{'active':day == 0}">S</li>
                                                        <li ng-class="{'active':day == 1}">M</li>
                                                        <li ng-class="{'active':day == 2}">T</li>
                                                        <li ng-class="{'active':day == 3}">W</li>
                                                        <li ng-class="{'active':day == 4}">T</li>
                                                        <li ng-class="{'active':day == 5}">F</li>
                                                        <li ng-class="{'active':day == 6}">S</li>
                                                    </ul>
                                                </div>
                                                <div class="job_time_date">
                                                    <ul>
                                                        <li><span class="datetime_job_list"><i class="fa fa-calendar"></i>{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></li>
                                                        <li><span class="datetime_job_list"><i class="fa fa-clock-o"></i>{{job.time_budget.time | date:"HH:MM"}}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="view_detail_sec" ng-if="currentTab == 'available'">
                                                <div class="pull-right text-center detail_job_link">
                                                    <a href="javascript:void(0)" ng-click="makeaJobview(job.jobid)" class="view_job_link" data-toggle="collapse" data-target="#demo{{$index}}">View job details<i class="fa fa-angle-down"></i></a>
                                                </div>
                                            </div>
                                            <div class="view_detail_sec" ng-if="currentTab != 'available' && job.unsuccessful == 0">
                                                <div class="pull-right text-center detail_job_link">
                                                    <a href="#/worker/previewjob/{{job.jobid}}/jobdetails" class="btn btn-xs btn-warning view_job_btn">View job</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single job list -->
                            <!-- view job details -->
                            <div id="demo{{$index}}" class="collapse">
                                <div class="detail_job_view">
                                    <div class="row">
                                        <div class="rate_section">
                                            <div class="col-md-7">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Number of children</label>
                                                    <span class="col-xs-1 p-0">:</span>
                                                    <div class=" col-xs-6 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.no_of_children}}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Age group of children</label>
                                                    <span class="col-xs-1 p-0">:</span>
                                                    <div class=" col-xs-6 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.children_age}}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Employer Type</label>
                                                    <span class="col-xs-1 p-0">:</span>
                                                    <div class=" col-xs-6 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.profile_suits}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-md-5 rightside_boot_panel">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Rate per hour<span>${{job.time_budget.rate_per_hour}}</span></div>
                                                    <div class="panel-body">Number of hours<span>{{job.time_budget.hours_required}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="requirement_section">
                                                <h3 class="job_detail_heading">Requirements</h3>
                                                <div class="tag_section">
                                                    <ul>
                                                        <li ng-repeat="x in job.req track by $index"><span><i class="{{x.icon_class}} pull-left"></i><b class="req_list_b">{{x.requirement}}</b></span></li>
                                                        <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                        <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                        <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="other_details">
                                                <h2 class="line_section">
                    <span class="line-center">Other Details
                    </span>
                 </h2>
                                                <div class="otherdetail_content">
                                                    <p ng-bind-html="job.other_requirement"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 hide">
                                            <div class="other_details m-t-20">
                                                <h3 class="job_detail_heading">Job owner notes</h3>
                                                <!-- <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p> -->
                                                <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                                                <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_job_detail clearfix">
                                    <!-- <div class="col-md-12">
                <ul class="main_footer_section">
                  <li>JOB VIEWS <span>256</span></li>
                  <li>JOB APPLICANTS <span>90</span></li>
                </ul>
              </div> -->
                                    <div class="row">
                                        <div class="full_bottom clearfix">
                                            <div class="col-md-12 text-center">
                                                <ul class="left_side_detail_ul left_side_detail_ulnew">
                                                    <li>JOB VIEWS <span class="badge">{{job.job_view_count}}</span></li>
                                                    <li>JOB APPLICANTS <span class="badge">{{job.bidded_users}}</span></li>
                                                </ul>
                                                <ul class="right_side_detail_ul right_side_detail_ulnew">
                                                    <li><a href="#/worker/previewjob/{{job.jobid}}/messages" class="btn btn-xs btn-warning"><span class="fa fa-envelope-open"></span> View Message</a></li>
                                                    <li><a href="javascript:void(0)" class="btn btn-xs btn-warning" ng-click="sentMessage(job.user_id,job.jobid)"><span class="fa fa-paper-plane"></span> Send Message</a></li>
                                                    <!-- <li ng-if="job_status != 1 && ! job.is_bidded"><a href="javascript:void(0)" class="btn btn-xs btn-warning" ng-click="submitBid()"><span class="fa fa-check-circle"></span> Submit Bid</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-6">
                  <ul class="main_footer_section">
                    <li>JOB VIEWS <span>256</span></li>
                    <li>JOB APPLICANTS <span>90</span></li>
                  </ul>

                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" ng-if="isLoading">
                            <div id="loadFacebookG">
                                <div id="blockG_1" class="facebook_blockG"></div>
                                <div id="blockG_2" class="facebook_blockG"></div>
                                <div id="blockG_3" class="facebook_blockG"></div>
                            </div>
                            <p class="text-center loader_text">Loading...</p>
                        </div>
                    </div>
                    <!-- Loader -->
                    <!-- <div class="text-center"> -->
                    <!-- <img src="../../../images/30.gif" ng-if="isLoading"/> -->
                    <!-- </div> -->
                    <!-- end of filter and main contain row -->
                </div>
            </div>
            <div class="col-sm-3 hidden-sm hidden-xs">
              <!-- <div class="row">
                <div class="col-xs-12">

                </div>
              </div> -->


                    <div class="my_profile_view clearfix m-t-30" ng-if="userPercent < 80">
                       <div class="u-heading-v3">
                          <h2 class="h3 u-heading-v3__title">profile Completeness&nbsp;<span class="profile_complete_percent">{{userPercent}}%</span></h2>
                       </div>
                       <div class="complete_progress">

                          <!-- <h5>Profile complete on {{profileCompleteness}}%</h5> -->
                          <div class="progress">
                             <div class="progress-bar progress-bar-success" role="progressbar"
                                aria-valuenow="{{userPercent}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': (userPercent+'%')}">
                             </div>
                          </div>
                       </div>
                     </div>



                <div class="right_side_section_joblist">
                    <!-- <div class="ad_section">
                        <img src="styles/images/right_side_banner.png" alt="" width="100%">
                    </div> -->
                    <div x-sticky="" set-class-when-at-top="ad-fixed">
                                             <div ad2 ></div>
                                            </div>
                </div>

            </div>
        </div>
</section>
<!-- footer section comes here -->
<div footer></div>
