<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"> -->
</div>
<div class="upToScroll buttonShow" ng-if="isScrolled > 0">
    <a class="scrollToTop icon-up-open-big" title="Back to top" ng-click="scrollTopHeader();"> </a>
</div>
<div header></div>
<section id="job_list_section" x-sticky-boundary="">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="first_row clearfix">
                        <div class="col-sm-3">
                            <!-- <h3 class="title_joblist">My Jobs  <span class="fa fa-filter pull-right toggle_icon_pink" ng-click="state=!state" data-ng-init="state=true" uib-tooltip="close filter"></span></h3> -->
                            <h3 class="title_joblist">My Jobs</h3>
                        </div>
                        <div class="col-sm-9 top_tab_material">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" ng-class="{'active':parentJobtab == 'draft'}"><a href="javascript:void(0)" aria-controls="home" role="tab" ng-click="parentTabchange('draft')" data-toggle="tab">Draft</a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'posted'}"><a href="javascript:void(0)" ng-click="parentTabchange('posted')" aria-controls="profile" role="tab" data-toggle="tab">Posted</a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'quoted'}"><a href="javascript:void(0)" ng-click="parentTabchange('quoted')" aria-controls="profile" role="tab" data-toggle="tab">Quoted  <span class="badge orange_badge" ng-if="status_counts.quoted_count__sum > 0">{{status_counts.quoted_count__sum}}</span></a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'confirmed'}"><a href="javascript:void(0)" ng-click="parentTabchange('confirmed')" aria-controls="messages" role="tab" data-toggle="tab">Confirmed</a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'completed'}"><a href="javascript:void(0)" ng-click="parentTabchange('completed')" aria-controls="settings" role="tab" data-toggle="tab">Completed  <span class="badge orange_badge" ng-if="status_counts.completed_count__sum > 0">{{status_counts.completed_count__sum}}</span></a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'paid'}"><a href="javascript:void(0)" ng-click="parentTabchange('paid')" aria-controls="settings" role="tab" data-toggle="tab">Paid</a></li>
                                <li role="presentation" ng-class="{'active':parentJobtab == 'closed'}"><a href="javascript:void(0)" ng-click="parentTabchange('closed')" aria-controls="settings" role="tab" data-toggle="tab">Closed</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" infinite-scroll="loadparentJobs()" infinite-scroll-distance="0" infinite-scroll-parent="false" infinite-scroll-disabled="jobcanCalled">
                        <div ng-if="parentJoblist.length == 0 && !isLoading" class="text-center no_jobs_section">
                            <!-- <h1 class="main_heading_nojob "><i class="fa fa-frown-o"></i></h1> -->
                            <img src="styles/images/child_cry.png" ng-if="parentJobtab !='posted'" alt="" width="50">
                            <h1 class="main_heading_nojob p-t-0 m-t-0" ng-if="parentJobtab !='posted'">No jobs available.</h1>
                            <!-- <a class="btn cca-btn-fill hvr-wobble-horizontal " ng-click="jopPopup()">Post a Job</a> -->
                            <div ng-if="parentJobtab =='posted'">
                            <h1 class="first_job_msg">Post your {{(post_job_exists) ? "":"first"}} job today for FREE</h1>
                            <a class="btn hvr-wobble-horizontal hire_btn" ng-click="jopPopup()">start hiring now</a>
                            </div>

                            </div>
                        <!-- quoted single -->
                        <div class="single_joblist" ng-repeat="job in parentJoblist">
                            <!-- <input type="checkbox" ng-hide="true" ng-model="job.is_blocked" ng-true-value="1" ng-false-value="0" ng-change="jobBlocker(job.jobid,job.is_blocked)" ng-checked="job.is_blocked == 1"> -->
                            <div class="shape" ng-if="job.quote_count > 0 && job.is_confirmed == 0">
                                <div class="shape-text">
                                    Quoted
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.job_status == 2">
                                <div class="shape-text1">
                                    Confirmed
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.is_confirmed == 1 && job.job_status == 3">
                                <div class="shape-text1 w_complt">
                                    Completed
                                </div>
                            </div>
                            <div class="shape1" ng-if="job.job_status == 4">
                                <div class="shape-text1 paid_txt placement_text">
                                    Paid
                                </div>
                            </div>
                            <div class="shape2" ng-if="job.job_status == 7">
                                <div class="shape-text1 paid_txt">
                                    Closed
                                </div>
                            </div>

                            <ul class="custom_job_status">
                              <li>
                                <button class="btn btn-default close_job_btn hvr-float-shadow" ng-click="closeJob(job.jobid, job)" ng-if="job.job_status == 4 && adminLogged">
                                Close job
                                </button>
                                <span ng-if="job.job_status == 0 || job.job_status == 1">


                               <button id="block" class="btn btn-default close_job_btn hvr-float-shadow block_job"  ng-click="blockJob(0,job.jobid,job)" ng-if="job.is_blocked == 1 && adminLogged && job.job_status == 0">Unblock job&nbsp;<i class="icon-note"></i></button>
                               <button id="block" class="btn btn-default close_job_btn hvr-float-shadow unblock_job"  ng-click="blockJob(1,job.jobid,job)" ng-if="job.is_blocked == 0 && adminLogged && job.job_status == 0">Block job&nbsp;<i class="icon-note"></i></button>
                           </span>
                              </li>
                              <li>
                                <span class="" ng-if="parentJobtab == 'quoted' && job.is_confirmed != 1 && job.payment_pending == 1 && adminLogged">
                                    <button class="btn btn-default close_job_btn hvr-wobble payment_pending_label" ng-click="PaymentPandingConfirmJob(job)">Payment Pending&nbsp;<i class="icon-note"></i></button>
                                    <!-- <label class="btn btn-default btn-block" ng-click="PaymentPandingConfirmJob(job)">Payment Pending</label> -->


                                </span>

                              </li>
                            </ul>





                            <p class="job_id"><span>Job ID:</span>&nbsp;{{job.jobid}}</p>
                            <div class="detail_job_list_container">
                                <div class="detail_section">
                                    <h4 class="agency_name">{{job.caregiver_type}}
                    <!-- <span class="approved_label">Approved</span> -->
                  </h4>
                                    <h5 class="care_type" ng-if="job.job_type == 1">Regular care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>
                                    <h5 class="care_type" ng-if="job.job_type == 0">Casual / One-off care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>
                                    <!-- <h5 ng-if="job.care_type.indexOf('night') > -1" class="care_type">Night time care</h5> -->
                                    <h4 class="caregiver_name">{{job.care_name}}</h4>
                                    <!-- label section -->
                                    <!-- <div class="label_section_tags">
                    <ul>
                      <li><span class="label label-default">Night time care</span></li>
                      <li><span class="label label-default">Day time care</span></li>
                      <li><span class="label label-default">Before school care</span></li>
                    </ul>
                  </div> -->
                                    <div class="label_section">
                                        <ul>
                                            <li ng-if="job.care_type.indexOf('night') > -1"><span class="icon_label pull-left"><i class="bg-nightcare_gray  pull-left "></i><span class="p-l-5">Night time care</span></span>
                                            </li>
                                            <li ng-if="job.care_type.indexOf('day') > -1"><span class="icon_label pull-left"><i class="bg-daycare_gray pull-left "></i><span class="p-l-5">Day time care</span></span>
                                            </li>
                                            <li ng-if="job.case_session.indexOf('Before school care') > -1"><span class="icon_label pull-left"><i class="bg-beforeschool_gray  pull-left "></i><span class="p-l-5">Before school care</span></span>
                                            </li>
                                            <li ng-if="job.case_session.indexOf('After school care') > -1"><span class="icon_label pull-left"><i class="bg-afterschool_gray  pull-left "></i><span class="p-l-5">After school care</span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end label section -->
                                    <!-- location section -->
                                    <div class="location_section" ng-show="job.location=='0' && job.state != ''">
                                        <img src="styles/images/location.png" alt="" class="pull-left">
                                        <span> {{job.city}} , {{job.state}} {{job.post_code}}</span>
                                    </div>
                                    <!-- End location section -->
                                </div>
                                <!-- end left detils section-->
                                <div class="right_btn_section">
                                    <!-- {{job.job_status}} -->
                                    <div class="text-center">
                                        <span ng-if="job.job_status == 0 || job.job_status == 1">

                      <h5 class="budget_label">{{job.label}}<i class="icon-info circle_info" uib-popover="{{job.tooltip}}" popover-trigger="'mouseenter'"></i></h5>
                      <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>

                    </span>
                                        <span ng-if="job.job_status == 2 || job.job_status == 3">
                      <h5 class="budget_label p-t-15">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                      <h4 class="text-center salary_job">${{job.confirmed_info.funds_transfered | number:2}}</h4>
                    </span>
                                        <span ng-if="job.job_status >= 4">
                      <h5 class="budget_label bl_payment p-t-15">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                      <h4 class="text-center salary_job">${{job.confirmed_info.funds_transfered | number:2}}</h4>
                    </span>
                    <div class="apply_btn1 text-center" ng-if="job.job_status >= 4">
                                            <button ng-if="job.has_review_given" class="btn btn-default btn-block" ng-click="getFeedback(job.jobid,'parent')">
                                                <!-- <i class="fa fa-edit p-r-5 user_name_confirm"></i> -->
                                                My Feedback</button>
                                            <button id="rateforworker" class="btn btn-default" ng-if="!job.has_review_given" ng-click="openFeedbackpopup(job.jobid,job.user_id,'parent',job,'','rateCareClick')">Rate Care</button>
                                            <!-- <span>{{job.quote_count}}</span> -->
                                        </div>

                                        <div class="apply_btn1 text-center" ng-if="job.quote_count > 0 && parentJobtab == 'quoted' && job.is_confirmed != 1">
                                            <button class="btn btn-default btn-block" ng-click="viewJob(job.jobid)">View Quotes</button>
                                            <span>{{job.quote_count}}</span>
                                        </div>
                                        <div class="apply_btn1 text-center" ng-if="parentJobtab != 'quoted' && job.quote_count > 0 && job.is_confirmed != 1">
                                            <button class="btn btn-default btn-block" ng-click="viewJob(job.jobid)">View Job</button>
                                            <span>{{job.quote_count}}</span>
                                        </div>
                                        <div class="apply_btn1 text-center" ng-if="job.quote_count == 0 || job.drafted">
                                            <button class="btn btn-default btn-block" ng-click="jobStatusCheck(job.jobid,0)">
                                                <!-- <i class="fa fa-edit p-r-5 user_name_confirm"></i> -->
                                                Edit Job</button>
                                            <!-- <span>{{job.quote_count}}</span> -->
                                        </div>
                                        <div class="apply_btn1 text-center" ng-if="job.job_status == 3">
                                            <button class="btn btn-default btn-block" ng-click="releasePayment(job.jobid,job.confirmed_info.userid__id,'',job)">
                                                <!-- <i class="fa fa-edit p-r-5 user_name_confirm"></i> -->
                                                Release payment</button>
                                            <!-- <span>{{job.quote_count}}</span> -->
                                        </div>
                                    </div>
                                    <!-- <div class="text-center" ng-if="job_status == 1 || job.is_bidded">

                    <h5 class="budget_label">My quote</h5>
                    <h4 class="text-center salary_job">${{job.bid_info.quote}}</h4>

                  </div> -->
                                </div>
                            </div>
                            <!-- rating section -->

                            <div class="rating_sec">
                              <div class="rating_container_parentjoblist">

                                <div class="date_section ">

                                  <h5 ng-if="job.job_type == 0">Date</h5>
                                  <h5 ng-if="job.job_type == 1">Start Date</h5>
                                  <h4><span class="datetime_job_list"><i class="icon-calendar fs-12"></i>&nbsp;{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></h4>

                                </div>
                                <div class="time_section">
                                  <h5>Start time</h5>
                                  <h4><span class="datetime_job_list"><i class="icon-clock fs-12"></i>&nbsp;{{job.time_budget.time | date:"HH:MM"}}</span></h4>
                                </div>
                                <div class="days_section">
                                  <h5><span><i class=" fa fa-square fs-11 color_orange"></i>&nbsp;</span>Required Days</h5>
                                  <div class="day_selector" ng-if="job.job_type == 1">
                                    <ul>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
                                    </ul>
                                  </div>
                                  <div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
                                    <ul>
                                      <li ng-class="{'active':day == 0}">S</li>
                                      <li ng-class="{'active':day == 1}">M</li>
                                      <li ng-class="{'active':day == 2}">T</li>
                                      <li ng-class="{'active':day == 3}">W</li>
                                      <li ng-class="{'active':day == 4}">T</li>
                                      <li ng-class="{'active':day == 5}">F</li>
                                      <li ng-class="{'active':day == 6}">S</li>
                                    </ul>
                                  </div>
                                </div>

                                <div class="viewjob_section ">
                                  <div class="float-right  detail_job_link">
          													<a href="javascript:void(0)" class="view_job_link" data-toggle="collapse" data-target="#demo{{$index}}" ng-if="job.is_confirmed != 1">View job details<i class="fa fa-angle-down"></i></a>
          													<a href="#/previewjob/{{job.jobid}}/jobdetails" ng-if="job.is_confirmed == 1" class="btn btn-xs btn-warning view_job_btn">View job</a>
          												</div>
                                </div>


                              </div>

                              <!--  end new section-->


                              <!-- <div class="rating_container_parentjoblist">
                                <div class="date_section">
                                <h5 ng-if="job.job_type == 0">Date</h5>
                                <h5 ng-if="job.job_type == 1">Start Date</h5>
                                <h4><span class="datetime_job_list"><i class="fa fa-calendar"></i>&nbsp;{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></h4>



                                </div>
                                <div class="time_section">
                                  <h5>Start time</h5>
                                  <h4><span class="datetime_job_list"><i class="fa fa-clock-o"></i>&nbsp;{{job.time_budget.time | date:"HH:MM"}}</span></h4>
                                </div>
                                <div class="days_section">
                                <h5>Days</h5>
                                  <div class="day_selector" ng-if="job.job_type == 1">
          													<ul>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
          														<li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
          													</ul>
          												</div>
          												<div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
          													<ul>
          														<li ng-class="{'active':day == 0}">S</li>
          														<li ng-class="{'active':day == 1}">M</li>
          														<li ng-class="{'active':day == 2}">T</li>
          														<li ng-class="{'active':day == 3}">W</li>
          														<li ng-class="{'active':day == 4}">T</li>
          														<li ng-class="{'active':day == 5}">F</li>
          														<li ng-class="{'active':day == 6}">S</li>
          													</ul>
          												</div>

                                </div>
                                <div class="viewjob_section">
                                  <div class="float-right  detail_job_link">
          													<a href="javascript:void(0)" class="view_job_link" data-toggle="collapse" data-target="#demo{{$index}}" ng-if="job.is_confirmed != 1">View job details<i class="fa fa-angle-down"></i></a>
          													<a href="#/previewjob/{{job.jobid}}" ng-if="job.is_confirmed == 1" class="btn btn-xs btn-warning view_job_btn">View job</a>
          												</div>
                                </div>
                              </div> -->
                            </div>





                            <!-- <div class="rating_sec">
                                <div class="rating_container rating_containernew_res">
                                    <div class="user_rating">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="javascript:void(0)">
                                                    <span ng-if="job.client_profilepic != ''">
													<img class="media-object" ng-src="images/profilepic/{{job.client_profpic}}" ng-error-src="images/no_image_1.png" alt="">
                                                    </span>
                                                    <span ng-if="job.client_profilepic == ''">
                                                    <img class="media-object" ng-src="images/no_image_1.png" alt="">
                                                    </span>
												</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date_section">
										<div class="date_section_inner">
											<div class="user_rating user_ratinginner">
												<div class="media">
													<div class="media-body">
														<h4 class="media-heading">{{job.user_name}}</h4>

														<input-stars max="5" ng-model="YourCtrl.property" allow-half></input-stars>
													</div>
												</div>
											</div>
											<div class="midtablecntt">
												<div class="day_selector" ng-if="job.job_type == 1">
													<ul>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
														<li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
													</ul>
												</div>
												<div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
													<ul>
														<li ng-class="{'active':day == 0}">S</li>
														<li ng-class="{'active':day == 1}">M</li>
														<li ng-class="{'active':day == 2}">T</li>
														<li ng-class="{'active':day == 3}">W</li>
														<li ng-class="{'active':day == 4}">T</li>
														<li ng-class="{'active':day == 5}">F</li>
														<li ng-class="{'active':day == 6}">S</li>
													</ul>
												</div>

												<div class="job_time_date">
													<ul>
														<li><span class="datetime_job_list"><i class="fa fa-calendar"></i>{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></li>
														<li><span class="datetime_job_list"><i class="fa fa-clock-o"></i>{{job.time_budget.time | date:"HH:MM"}}</span></li>
													</ul>
												</div>
											</div>
											<div class="view_detail_sec">
												<div class="pull-right text-center detail_job_link">
													<a href="javascript:void(0)" class="view_job_link" data-toggle="collapse" data-target="#demo{{$index}}" ng-if="job.is_confirmed != 1">View job details<i class="fa fa-angle-down"></i></a>
													<a href="#/previewjob/{{job.jobid}}" ng-if="job.is_confirmed == 1" class="btn btn-xs btn-warning view_job_btn">View job</a>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div> -->







                            <!-- end single job list -->
                            <!-- view job details -->
                            <div id="demo{{$index}}" class="collapse">
                                <div class="detail_job_view">
                                    <div class="row">
                                        <div class="rate_section">
                                            <div class="col-md-7">
                                                <!-- <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Number of children</label>
													<span class="col-xs-1 p-0">:</span>
                                                    <div class=" col-xs-6 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.no_of_children}}</span>
                                                    </div>
                                                </div> -->
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Number of children<span class="pull-right">&nbsp;:</span></label>
                                                    <div class=" col-xs-7 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.no_of_children}}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Age group of children<span class="pull-right">&nbsp;:</span></label>
                                                    <div class=" col-xs-7 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.children_age}}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-xs-5">Employer Type<span class="pull-right">&nbsp;:</span></label>
                                                    <div class=" col-xs-7 rigprofcnt right_cntent">
                                                        <span class="text_gray">{{job.profile_suits}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-md-5 rightside_boot_panel">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Rate per hour<span>${{job.time_budget.rate_per_hour}}</span></div>
                                                    <div class="panel-body">Number of hours<span>{{job.time_budget.hours_required}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="requirement_section">
                                                <h3 class="job_detail_heading">Requirements</h3>
                                                <div class="tag_section">
                                                    <ul>
                                                        <li ng-repeat="x in job.req track by $index"><span><i class="{{x.icon_class}} pull-left"></i><span class="custom_requirement">{{x.requirement}}</span></span>
                                                        </li>
                                                        <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                        <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                        <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="other_details">
                                                <h2 class="line_section">
                    <span class="line-center">Other Details
                    </span>
                 </h2>
                                                <div class="otherdetail_content">
                                                    <p ng-bind-html="job.other_requirement"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 hide">
                                            <div class="other_details m-t-20">
                                                <h3 class="job_detail_heading">Job owner notes</h3>
                                                <!-- <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p> -->
                                                <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                                                <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_job_detail clearfix">
                                    <!-- <div class="col-md-12">
                <ul class="main_footer_section">
                  <li>JOB VIEWS <span>256</span></li>
                  <li>JOB APPLICANTS <span>90</span></li>
                </ul>
              </div> -->
                                    <div class="row">
                                        <div class="full_bottom clearfix">
                                            <div class="col-md-5 col-sm-5">
                                                <ul class="left_side_detail_ul">
                                                    <li>JOB VIEWS <span class="badge">{{job.job_view_count}}</span></li>
                                                    <li>JOB APPLICANTS <span class="badge">{{job.bidded_users.length}}</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <ul class="right_side_detail_ul" ng-if="parentJobtab != 'draft'">
                                                    <li><a href="#/previewjob/{{job.jobid}}/messages" class="btn btn-xs btn-warning"><span class="fa fa-envelope-open"></span> View Message</a></li>
                                                    <!-- <li><a href="javascript:void(0)" class="btn btn-xs btn-warning" ng-click="sentMessage(job.user_id,job.jobid)"><span class="fa fa-paper-plane"></span> Send Message</a></li> -->
                                                    <!-- <li ng-if="job_status != 1 && ! job.is_bidded"><a href="javascript:void(0)" class="btn btn-xs btn-warning" ng-click="submitBid()"><span class="fa fa-check-circle"></span> Submit Bid</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-6">
                  <ul class="main_footer_section">
                    <li>JOB VIEWS <span>256</span></li>
                    <li>JOB APPLICANTS <span>90</span></li>
                  </ul>

                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" ng-if="isLoading">
                            <div id="loadFacebookG">
                                <div id="blockG_1" class="facebook_blockG"></div>
                                <div id="blockG_2" class="facebook_blockG"></div>
                                <div id="blockG_3" class="facebook_blockG"></div>
                            </div>
                            <p class="text-center loader_text">Loading...</p>
                        </div>
                        <!--  End Quotes single-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3 hidden-sm hidden-xs">
                <div class="right_side_section_joblist">
                    <!-- <div class="ad_section">
                        <img src="styles/images/right_side_banner.png" alt="" width="100%">
                    </div> -->
                    <div x-sticky="" set-class-when-at-top="ad-fixed">
                                             <div ad2 ></div>
                                            </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div footer></div>
