<div ng-http-loader template="scripts/sharedModule/templates/loader.html">
</div>
<div header></div>
<section id="job_list_section">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="first_row clearfix">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-9">
                <h3 class="title_joblist">View Job </h3>

              </div>
              <div class="col-sm-3">
                <a class="back_btn hvr-wobble-horizontal" href="#/parentjoblist"><i class="fa fa-chevron-left"></i>Back to quoted jobs list</a>

              </div>
            </div>


          </div>

          <!-- <div class="col-sm-9 top_tab_material">
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ><a href="javascript:void(0)" ng-click="searchbyStatus(0)" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(1)" aria-controls="profile" role="tab" data-toggle="tab">Posted</a></li>
            <li role="presentation" class="active"><a href="javascript:void(0)" ng-click="searchbyStatus(1)" aria-controls="profile" role="tab" data-toggle="tab">Quoted</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(2)" aria-controls="messages" role="tab" data-toggle="tab">Confirmed</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(3)" aria-controls="settings" role="tab" data-toggle="tab">Completed</a></li>
            <li role="presentation"><a href="javascript:void(0)" ng-click="searchbyStatus(-1)" aria-controls="settings" role="tab" data-toggle="tab">Closed</a></li>
            </ul>
          </div> -->
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

            <!-- quoted single -->
            <div class="single_joblist" >
                        <div class="shape" ng-if="job.quote_count > 0 && job.is_confirmed == 0">
                        <div class="shape-text">
                        Quoted
                        </div>
                        </div>
                        <div class="shape1" ng-if="job.is_confirmed == 1">
                        <div class="shape-text1">
                        Confirmed
                        </div>
                        </div>


                <p class="job_id"><span>Job ID:</span>&nbsp;{{job.jobid}}</p>


              <div class="detail_job_list_container">


                <div class="detail_section">
                  <h4 class="agency_name">{{job.care_name}}
                    <!-- <span class="approved_label">Approved</span> -->
                  </h4>
                  <h5 class="care_type" ng-if="job.job_type == 1">Regular care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>
                  <h5 class="care_type" ng-if="job.job_type == 0">Casual / One-off care<span class="label label-primary time_label">{{job.time_budget.hours_required}} hrs</span></h5>

                  <!-- <h5 ng-if="job.care_type.indexOf('night') > -1" class="care_type">Night time care</h5> -->
                  <h4 class="caregiver_name">{{job.caregiver_type}}</h4>
                  <!-- label section -->
                  <!-- <div class="label_section_tags">
                    <ul>
                      <li><span class="label label-default">Night time care</span></li>
                      <li><span class="label label-default">Day time care</span></li>
                      <li><span class="label label-default">Before school care</span></li>
                    </ul>
                  </div> -->



                   <div class="label_section">
                    <ul>
                      <li ng-if="job.care_type.indexOf('night') > -1"><span class="icon_label"><i class="diw-moon-stars pull-left weather"></i>Night time care</span></li>
                      <li ng-if="job.care_type.indexOf('day') > -1"><span class="icon_label"><i class="diw-sun pull-left weather"></i>Day time care</span></li>
                      <li ng-if="job.case_session.indexOf('Before school care') > -1"><span class="icon_label"><i class="fa fa-graduation-cap pull-left school"></i>Before school care</span></li>
                      <li ng-if="job.case_session.indexOf('After school care') > -1"><span class="icon_label"><i class="fa fa-graduation-cap pull-left school"></i>After school care</span></li>
                    </ul>

                  </div>


                  <!-- end label section -->

                  <!-- location section -->
                  <div class="location_section" ng-show="job.location=='0' && job.state != ''">
                    <img src="styles/images/location.png" alt="" class="pull-left">
                    <span>{{job.state}}, {{job.city}} - {{job.post_code}}</span>
                  </div>
                  <!-- End location section -->
                </div> <!-- end left detils section-->
                <div class="right_btn_section">
                  <div class="text-center" ng-if="job_status != 1 && !job.is_bidded">

                    <h5 class="budget_label" ng-if="job.is_confirmed == 0">Budget<i class="icon-info circle_info" uib-tooltip="This is the net budget available for payment to a worker."></i></h5>
                    <h5 class="budget_label" ng-if="job.is_confirmed == 1">Funds transfered<i class="icon-info circle_info" uib-tooltip="This is the net budget transfer by you for this job."></i></h5>
                    <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>
                    <!-- <div class="apply_btn1 text-center">
                       <button class="btn btn-default btn-block">View Quotes</button>
                       <span>{{job.quote_count}}</span>
                    </div> -->
                  </div>

                  <!-- <div class="text-center" ng-if="job_status == 1 || job.is_bidded">

                    <h5 class="budget_label">My quote</h5>
                    <h4 class="text-center salary_job">${{job.bid_info.quote}}</h4>

                  </div> -->
                </div>
              </div>

              <!-- rating section -->
              <div class="rating_sec">
                <div class="rating_container rating_containernew_res">
                  <div class="user_rating">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="styles/images/user.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                  </div>
					<div class="date_section">
						<div class="date_section_inner">
							<div class="user_rating user_ratinginner">
								<div class="media-body">
									<h4 class="media-heading">{{job.user_name}}</h4>
									<!-- <jk-rating-stars rating="secondRate" read-only="readOnly" ></jk-rating-stars> -->
								  <input-stars max="5" ng-model="YourCtrl.property" allow-half></input-stars>

								</div>
							</div>
							<div class="midtablecntt">
								<div class="day_selector" ng-if="job.job_type == 1">
								  <ul>
									<li  ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
									<li  ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
									<li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
									<li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
									<li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
									<li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
									<li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
								  </ul>
								</div>
								<div class="day_selector" ng-if="job.job_type == 0" ng-init="day = getdayFromdate(job.time_budget.date)">
								  <ul>
									<li  ng-class="{'active':day == 0}">S</li>
									<li  ng-class="{'active':day == 1}">M</li>
									<li ng-class="{'active':day == 2}">T</li>
									<li ng-class="{'active':day == 3}">W</li>
									<li ng-class="{'active':day == 4}">T</li>
									<li ng-class="{'active':day == 5}">F</li>
									<li ng-class="{'active':day == 6}">S</li>
								  </ul>
								</div>
							</div>
							<div class="job_time_date">
							  <ul>
								<li><span class="datetime_job_list"><i class="fa fa-calendar"></i>{{job.time_budget.date | date:"dd/MM/yyyy"}}</span></li>
								<li><span class="datetime_job_list"><i class="fa fa-clock-o"></i>{{job.time_budget.time | date:"HH:MM"}}</span></li>
							  </ul>
							</div>
						</div>
						<div class="view_detail_sec">
						  <div class="pull-right text-center detail_job_link">
							<a href="javascript:void(0)" class="view_job_link" aria-expanded="true" data-toggle="collapse" data-target="#demo">View job details<i class="fa fa-angle-down"></i></a>
						   </div>
						</div>
					</div>
                </div>
            </div>
            <!-- end single job list -->

            <!-- view job details -->
        <div id="demo" class="collapse in" aria-expanded="true">



        <div class="detail_parent_job_view clearfix">


          <div class="row">
            <div class="col-sm-12">
              <div class="top_tab_material">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Job Details</a></li>
    <li role="presentation"><a data-target="#profile" aria-controls="Messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"  class="active" ng-if="job.bidded_users.length > 0"><a data-target="#Quotes" aria-expanded="true" aria-controls="Quotes" role="tab" data-toggle="tab">Quotes<span class="badge cunt_badge">{{job.quote_count}}</span></a></li>
    <li role="presentation" ng-if="job.is_confirmed == 1"><a data-target="#confirmedjob" id="confirmtab" aria-expanded="true" aria-controls="confirmedjob" role="tab" data-toggle="tab">Confirmed worker</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">
      <div class="detail_job_view">
              <div class="row">
                <div class="rate_section">
                <div class="col-md-7">

                    <div class="form-group clearfix">
                    <label class="control-label col-xs-4" >Number of children<span class="pull-right">&nbsp;:</span></label>

                    <div class=" col-xs-8 rigprofcnt right_cntent">
                    <span class="text_gray">{{job.no_of_children}}</span>
                    </div>
                    </div>
                    <div class="form-group clearfix">
                    <label class="control-label col-xs-4" >Age group of children<span class="pull-right">&nbsp;:</span></label>

                    <div class=" col-xs-8 rigprofcnt right_cntent">

                    <span class="text_gray">{{job.children_age}}</span>
                    </div>
                    </div>
                    <div class="form-group clearfix">
                    <label class="control-label col-xs-4" >Employer Type<span class="pull-right">&nbsp;:</span></label>

                    <div class=" col-xs-8 rigprofcnt right_cntent">

                    <span class="text_gray">Parent </span>
                    </div>
                    </div>

                </div>
                <div class=" col-md-5 rightside_boot_panel">
                <div class="panel panel-default">
                <div class="panel-heading">Rate per hour<span>${{job.time_budget.rate_per_hour}}<i class="icon-info"></i></span></div>
                <div class="panel-body">Number of hours<span>{{job.time_budget.hours_required}}</span></div>
                </div>

                <!-- <div class="panel panel-default" ng-if="job.bidded_users.length > 0">
                <div class="panel-body user_rating" ng-repeat="confirmed in job.bidded_users">
                    <div class="media" ng-if="confirmed.is_confirmed == 1">
                    <div class="media-left ">
                    <img class="media-object" src="styles/images/user.jpg" alt="">
                    </div>
                    <div class="media-body">
                      <h5 class="id_section1 p-b-5">{{confirmed.userid__first_name}} {{confirmed.userid__last_name}}</h4>
                        <h5 class="id_section p-b-5">Id: {{confirmed.userid__id}}</h5>
                        <h5 class="id_section1 p-b-5">{{confirmed.userid__email}}</h5>
                        <h5 class="id_section1 p-b-5">{{confirmed.userid__contactno}}</h5>

                    </div>
                    </div>

                </div>
                </div> -->

                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="requirement_section">
                    <h3 class="job_detail_heading">Requirements</h3>
                    <div class="tag_section">

                      <ul>
                        <li ng-repeat="x in job.req track by $index"><span><i class="{{x.icon_class}} pull-left"></i>{{x.requirement}}</span></li>
                        <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                        <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                        <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="other_details">
                    <h2 class="line_section">
                    <span class="line-center">Other Details
                    </span>
                 </h2>

                  <div class="otherdetail_content">
                  <p>{{job.other_requirement}}</p>
                </div>
                </div>
                </div>

                <div class="col-md-12 hide">
                  <div class="other_details m-t-20">
                    <h3 class="job_detail_heading">Job owner notes</h3>
                  <!-- <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p> -->
                  <p>-Experience in developing <span>cross platform mobile</span> using Ionic framework</p>
                  <p>-Experience in developing mobile applications using <span>Cordova <span>(PhoneGap) is desirable.</p>
                  <p>- He/She should understand the<span> UI/UX considerations.</span></p>

                </div>
                </div>

              </div>


          </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile"></div>
    <div role="tabpanel" class="tab-pane active" id="Quotes">

      <!-- quoted list section -->
      <div class="row" ng-repeat="quote in job.bidded_users">
        <div class="single_quote_section" ng-class="{'confirm_active':quote.is_confirmed==1}">
          <div class="quote_container">
            <div class="user_rating_section">
              <div class="media">
                  <div class="media-left media-middle">
                      <a href="#">
                          <img class="media-object" src="styles/images/user.jpg" alt="">
                      </a>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading">{{quote.userid__first_name}} {{quote.userid__last_name}}</h4>

                    <input-stars max="5" ng-model="YourCtrl.property" allow-half></input-stars>

                  </div>
              </div>


            </div>
            <div class="requirement_section">
              <div class="tag_section1 text-center">

                <ul>
                  <li ng-repeat="x in job.req track by $index" uib-tooltip="{{x.requirement}}"><span><i class="{{x.icon_class}} pull-left"></i></span></li>
                  <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                  <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                  <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                </ul>
              </div>
              <!-- <ul>
              <li ng-repeat="x in strtoarr(job.req.requirements) track by $index"><span><i class="fa fa-user-circle"></i></span></li>

              </ul> -->

            </div>
            <div class="budget_quote_section text-left">
              <h5 class="budget_label m-t-0">Quote<i class="icon-info"></i></h5>
              <h4 class="salary_job">${{quote.quote}}</h4>

            </div>
            <div class="confirm_quote_section" ng-init="accord = false">
              <button class="btn btn-default confirm_booking" ng-click="confirmBooking(quote,job.jobid)"  ng-if="job.is_confirmed == 0">Confirm booking</button>
              <button class="btn btn-default confirm_btn" ng-if="job.is_confirmed == 1"  ng-class="{'active':quote.is_confirmed == 0}">Booking confirmed</button>
              <button data-toggle="collapse" data-target="#demo1{{$index}}" ng-click="accord= !accord" class="btn btn-default">
                <i class="fa fa-chevron-down" ng-class="{'hide':accord}"></i>
                <i class="fa fa-chevron-up" ng-class="{'hide':!accord}" ></i>
              </button>
            </div>

          </div>
          <div id="demo1{{$index}}" class="collapse new_collpase">
          <div class="row">
            <div class="col-sm-8">
              <p class="bid_other_details">{{quote.comment}}</p>

            </div>
            <div class="col-sm-4 rightside_boot_panel">
              <p class="emp_id">Worker ID:<span>{{quote.userid__id}}</span></p>
              <div class="panel panel-default">
              <div class="panel-heading">Hourly Rated<span class="ng-binding">${{quote.rate_per_hour}}<i class="icon-info"></i></span></div>
              <div class="panel-body">Number of hours<span class="ng-binding">{{job.time_budget.hours_required}}</span></div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="right_side_detail_ul1">
                <li><a href="javascript:void(0)" class="btn btn-md btn-warning" ng-click="sentMessage()"> Send Message</a></li>
                <li><a href="javascript:void(0)" class="btn btn-md btn-warning" > View Reviews</a></li>
                <li><a href="javascript:void(0)" class="btn btn-md btn-warning" > View Profile</a></li>

              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>

      <!-- End quoted list section -->





    </div>

    <div role="tabpanel" class="tab-pane" id="confirmedjob">
      <div class="first_section success_container" ng-repeat="confirmed in job.bidded_users">



        <div class="row">
          <div class="confirm_section_overall" ng-if="confirmed.is_confirmed == 1">
            <div class="col-sm-12 clearfix">
                <p class="emp_id pull-left">Worker ID:<span>{{confirmed.userid__id}}</span></p>
            </div>

            <div class="col-sm-12 custom_align">
                  <div class="media">
                    <div class="media-left media-middle">
                    <img src="styles/images/user.jpg" class="media-object confirmed_user_photo img-thumbnail">
                    </div>
                <div class="media-body">

                  <h4 class="media-heading">{{confirmed.userid__first_name}} {{confirmed.userid__last_name}}</h4>
                    <input-stars max="5" ng-model="YourCtrl.property" allow-half class="gray_star"></input-stars>
                    <h5 class="id_section1 ">{{confirmed.userid__email}}</h5>
                    <h5 class="id_section1 ">{{confirmed.userid__contactno}}</h5>
                </div>

                </div>
            </div>
            <div class="col-sm-12 confirm_active">
              <!-- <div class="col-sm-12 requirement_section orange_requirement">
                <ul>
                  <li ng-repeat="x in strtoarr(job.req.requirements) track by $index"><span><i class="fa fa-user-circle"></i></span></li>

                </ul>
              </div> -->
              <div class="tag_section1 m-t-20">
                <b>Requirements:</b>

                <ul>
                  <li ng-repeat="x in job.req track by $index"><span><i class="{{x.icon_class}} pull-left"></i></span></li>
                  <!-- <li><span><i class="material-icons">directions_car</i>Car/Driving</span></li>
                  <li><span><i class="material-icons">school</i>Diploma / Bachelors</span></li>
                  <li><span><i class="material-icons">art_track</i>Permanent Residency</span></li> -->
                </ul>
              </div>


            </div>
            <div class="col-sm-12 ">
              <b>Decription:</b>
            <p class="bid_other_details">This is the public profile description of the worker. This is the public profile description of the worker. This is the public profile description of the worker.
            </p>
            </div>
          <!-- <div class="col-sm-4">
            <div class="text-center">
                <img  src="styles/images/user.jpg" alt="" class="confirmed_user_photo">
                <h4 class="media-heading">{{confirmed.userid__first_name}} {{confirmed.userid__last_name}}</h4>
                  <input-stars max="5" ng-model="YourCtrl.property" allow-half class="gray_star"></input-stars>
                  <h5 class="id_section1 ">{{confirmed.userid__email}}</h5>
                  <h5 class="id_section1 ">{{confirmed.userid__contactno}}</h5>
            </div>

          </div> -->
          <!-- <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12 requirement_section orange_requirement">
                <ul>
                  <li ng-repeat="x in strtoarr(job.req.requirements) track by $index"><span><i class="fa fa-user-circle"></i></span></li>

                </ul>

              </div>
              <div class="col-sm-12">
                <p class="bid_other_details">This is the public profile description of the worker. This is the public profile description of the worker. This is the public profile description of the worker.
</p>

              </div>
            </div>


          </div> -->
        </div>
        </div>
        <!-- <div class="user_rating" ng-if="confirmed.is_confirmed == 1">
                      <div class="media">
                          <div class="media-left media-top">
                              <a href="#">
                                  <img class="media-object" src="styles/images/user.jpg" alt="">
                              </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">{{confirmed.userid__first_name}} {{confirmed.userid__last_name}}</h4>
                            <h4 class="id_section ">ID :{{confirmed.userid__id}}</h4>
                            <h5 class="id_section1 ">{{confirmed.userid__email}}</h5>
                            <h5 class="id_section1 ">{{confirmed.userid__contactno}}</h5>

                          </div>
                      </div>
                    </div>   -->

      </div>
    </div>

  </div>

</div>
            </div>
          </div>



          <!-- single quote view -->

          <!--  end single quote-->

        </div>



        </div>
        </div>

            <!--  End Quotes single-->


          </div>
        </div>
      </div>
      <div class="col-sm-3 hidden-sm hidden-xs">
        <div class="right_side_section_joblist">
          <div class="ad_section">
          <img src="styles/images/right_side_banner.png" alt="" width="100%">
        </div>
        </div>
        <div class="right_side_section_joblist">
          <div class="ad_section">
          <img src="styles/images/right_side_banner.png" alt="" width="100%">
        </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div footer></div>
