<div header ></div>
<section id="job_list_section" x-sticky-boundary="" class="overflow_auto">
    <div class="row-fluid">
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="top_row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0)" ng-click="MyjobClick('jobbackbutton')">My Jobs</a></li>
                                    <li class="active">View Job</li>
                                </ol>
                            </div>
                            <div class="col-sm-4">
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('available')" ng-if="job.job_status == 0 && !job.is_bidded"><i class="fa fa-reply"></i>&nbsp;Back to available jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('available')" ng-if="job.job_status == 1 && !job.is_bidded"><i class="fa fa-reply"></i>&nbsp;Back to available jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('applied')" ng-if="job.job_status == 1 && job.is_bidded"><i class="fa fa-reply"></i>&nbsp;Back to applied jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('confirmed')" ng-if="job.job_status == 2"><i class="fa fa-reply"></i>&nbsp;Back to confirmed jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('completed')" ng-if="job.job_status == 3"><i class="fa fa-reply"></i>&nbsp;Back to completed jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('paid')" ng-if="job.job_status == 4"><i class="fa fa-reply"></i>&nbsp;Back to paid jobs list</a>
                                <a id="jobbackbutton" class="edit_profile_btn hvr-wobble-horizontal" ng-click="workerBack('closed')" ng-if="job.job_status == 7"><i class="fa fa-reply"></i>&nbsp;Back to closed jobs list</a>
                                <!-- <a class="edit_profile_btn hvr-wobble-horizontal" href="#/joblist/{{workerprevtab}}"><i class="fa fa-reply"></i>&nbsp;Back to {{workerprevtab}} jobs list</a> -->
                                <!-- <a class="edit_profile_btn hvr-wobble-horizontal" ng-if="adminLogged" href="{{adminUrl}}"><i class="fa fa-reply"></i>&nbsp;Back</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="single_joblist">
                        <div class="shape" ng-if="job.quote_count > 0 && job.is_confirmed == 0">
                            <div class="shape-text">
                                Quoted
                            </div>
                        </div>
                        <div class="shape1" ng-if="job.job_status == 2">
                            <div class="shape-text1">
                                Confirmed
                            </div>
                        </div>
                        <div class="shape1" ng-if="job.is_confirmed == 1 && job.job_status == 3">
                            <div class="shape-text1 w_complt">
                                Completed
                            </div>
                        </div>
                        <div class="shape1" ng-if="job.job_status == 4">
                            <div class="shape-text1 paid_txt ">
                                $ released
                            </div>
                        </div>
                        <div class="shape2" ng-if="job.job_status == 7">
                            <div class="shape-text1 paid_txt">
                                Closed
                            </div>
                        </div>
                        <h5 class="job_id green_color_text" ng-if="job.job_status == 2 || job.job_status == 3"><i class="icon-wallet"></i>&nbsp;Payment guaranteed</h5>
                          <p class="job_id ng-binding"><span>Job ID:</span>&nbsp;{{job.jobid}}</p>
                        <div class="detail_job_list_container">
                            <div class="detail_section">

                                <h4 class="agency_name "> {{job.caregiver_type}}</h4>
                                <h5 class="care_type" ng-if="job.job_type == 1">Regular care<span class="label label-primary time_label"></span></h5>
                                <h5 class="care_type" ng-if="job.job_type == 0">Casual / One-off care<span class="label label-primary time_label"></span></h5>
                                <h4 class="caregiver_name ">{{job.care_name}}</h4>
                                <div class="label_section">
                                    <ul>
                                        <li ng-if="job.care_type.indexOf('night') > -1"><span class="icon_label pull-left"><i class="bg-nightcare_gray  pull-left "></i><span class="p-l-5">Night time care</span></span>
                                        </li>
                                        <li ng-if="job.care_type.indexOf('day') > -1"><span class="icon_label pull-left"><i class="bg-daycare_gray pull-left "></i><span class="p-l-5">Day time care</span></span>
                                        </li>
                                        <li ng-if="job.case_session.indexOf('Before school care') > -1"><span class="icon_label pull-left"><i class="bg-beforeschool_gray  pull-left "></i><span class="p-l-5">Before school care</span></span>
                                        </li>
                                        <li ng-if="job.case_session.indexOf('After school care') > -1"><span class="icon_label pull-left"><i class="bg-afterschool_gray  pull-left "></i><span class="p-l-5">After school care</span></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="location_section" ng-show="job.location=='0' && job.state != ''">
                                    <img src="styles/images/location.png" alt="" class="pull-left">
                                    <span>{{job.state}}, {{job.city}} - {{job.post_code}}</span>
                                </div>
                            </div>
                            <div class="right_btn_section">
                                <div class="text-center">
                                    <span ng-if="job.is_confirmed == 0">
                            <h5 class="budget_label">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                            <h4 class="text-center salary_job">${{job.time_budget.budget}}</h4>
                        </span>
                                    <span ng-if="job.job_status == 2 || job.job_status == 3">
                            <h5 class="budget_label p-t-15">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                            <h4 class="text-center salary_job">${{job.confirmed_info.quote}}</h4>
                        </span>

                        <span ng-if="job.job_status == 4">
                            <h5 class="budget_label p-t-15">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                            <h4 class="text-center salary_job">${{job.confirmed_info.quote}}</h4>
                        </span>
                        <span ng-if="job.job_status == 7">
                            <h5 class="budget_label p-t-15">{{job.label}}<i class="icon-info circle_info" uib-tooltip="{{job.tooltip}}"></i></h5>
                        </span>
                                            <span class="apply_btn c_fb text-center w_fb_btn" ng-if="job.job_status == 4">
                                                <button id="rateforclient" class="btn btn-default" ng-if="!job.has_review_given" ng-click="openFeedbackpopup(job.jobid,job.user_id,'worker',job)">Rate Client</button>
                                                <button class="btn btn-default" ng-if="job.has_review_given" ng-click="getFeedback(job.jobid,'')">My Feedback</button>
                                                <button class="btn btn-default" ng-click="closeJob(job.jobid,job)" ng-if="job.job_status == 4 && adminLogged">
                                                <i class="fa fa-times"></i>
                                                </button>
                                            </span>
                                <div class="apply_btn text-center" ng-if="job.job_status == 2">
                                            <button class="btn btn-default" ng-click="markAscompleted(job.jobid)">Mark as completed</button>
                                </div>
                                <div class="apply_btn text-center"  ng-if="(job.job_status == 0 || job.job_status == 1) && !job.is_bidded">
                                            <button class="btn btn-default" ng-click="submitBid(job.jobid,job.time_budget)">Submit Bid</button>
                                </div>

                                </div>

                            </div>
                        </div>
                        <!-- rating section -->
                        <div class="rating_sec">
                            <div class="rating_container_parentjoblist">
                                <div class="date_section ">
                                    <h5 ng-if="job.job_type == 0">Date</h5>
                                    <h5 ng-if="job.job_type == 1">Start Date</h5>
                                    <h4><span class="datetime_job_list"><i class="icon-calendar fs-12"></i>&nbsp;{{job.time_budget.date | date:"dd-MM-yyyy"}}</span></h4>
                                </div>
                                <div class="time_section text-center">
                                    <h5>Start Time</h5>
                                    <h4><span class="datetime_job_list"><i class="icon-clock fs-12"></i>&nbsp;{{job.time_budget.time | date:"HH:MM"}}</span></h4>
                                </div>
                                <div class="viewjob_section text-center">
                                    <h5>Duration</h5>
                                    <h4><span class="datetime_job_list"><i class="icon-hourglass fs-12 "></i>&nbsp;{{job.time_budget.hours_required}} hrs</span></h4>
                                </div>
                                                                <div class="days_section ">
                                    <h5><span><i class=" fa fa-square fs-11 color_orange"></i>&nbsp;</span>Required Days</h5>
                                    <div class="day_selector" ng-if="job.job_type == '1'">
                                    <ul>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Sunday') > -1}">S</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Monday') > -1}">M</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Tuesday') > -1}">T</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Wednesday') > -1}">W</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Thursday') > -1}">T</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Friday') > -1}">F</li>
                                      <li ng-class="{'active':job.time_budget.days_required.indexOf('Saturday') > -1}">S</li>
                                    </ul>
                                  </div>
                                  <div class="day_selector" ng-if="job.job_type == '0'">
                                        <ul>
                                            <li ng-class="{'active':job.time_budget.required_days == 6}">S</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 0}">M</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 1}">T</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 2}">W</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 3}">T</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 4}">F</li>
                                            <li ng-class="{'active':job.time_budget.required_days == 5}">S</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="days_section ">
                                    <h5><span><i class=" fa fa-square fs-11 color_orange"></i>&nbsp;</span>Required Days</h5>
                                    <div class="day_selector"  ng-init="day = getdayFromdate(job.time_budget.date)">
                                        <ul>
                                            <li ng-class="{'active':day == 0}">S</li>
                                            <li ng-class="{'active':day == 1}">M</li>
                                            <li ng-class="{'active':day == 2}">T</li>
                                            <li ng-class="{'active':day == 3}">W</li>
                                            <li ng-class="{'active':day == 4}">T</li>
                                            <li ng-class="{'active':day == 5}">F</li>
                                            <li ng-class="{'active':day == 6}">S</li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- end rating section -->
                        <!--  vertical tab section-->
                        <div class="detail_vertical_side">
                                <div class="col-md-12 vertical_tab m-t-20">
                                    <div class="tabs_wrapper">
                                        <ul class="tabs">
                                            <li rel="tab1" ng-click="switchTab('jobdetails')" ng-class="{'active':currentTabpreview == 'jobdetails'}" id="personal"><i class="fa fa-briefcase"></i>&nbsp;Job Details</li>
                                            <li rel="tab2" ng-click="switchTab('messages',userid,job)" ng-class="{'active':currentTabpreview == 'messages'}" id="messages"><i class="fa fa-envelope"></i>&nbsp;Messages</li>
                                            <li rel="tab3" ng-if="job.job_status == 4 && job.to_review" ng-click="switchTab('clientfeed');getFeedback(job.jobid,'worker',1)" ng-class="{'active':currentTabpreview == 'clientfeed'}" id="clientfeed"><i class="fa fa-comments"></i>&nbsp;Client's Feedback</li>
                                            <li rel="tab4" ng-if="job.is_confirmed == 1" ng-click="switchTab('contactinfo')" ng-class="{'active':currentTabpreview == 'contactinfo'}" id="contactinfo"><i class="fa fa-address-card"></i>&nbsp;Contact Information</li>
                                            <li rel="tab5" ng-if="job.job_status >= 1 && job.is_bidded" ng-click="switchTab('myquotedetail','','',job.jobid)" ng-class="{'active':currentTabpreview == 'myquotedetail'}" id="myquotedetail"><i class="fa fa-money"></i>&nbsp;My Quote</li>

                                        </ul>
                                        <div class="tab_container">
                                            <h3 class="d_active tab_drawer_heading" rel="tab1" ng-click="switchTab('jobdetails')">Job Details</h3>
                                            <div id="tab1" class="tab_content wqeqwe1weq" ng-if="currentTabpreview == 'jobdetails'">
                                            <div class="detail_job_view">
                                                <div class="row">
                                                    <div class="job_detail_firsttab">
                                                        <div class="col-md-12">
                                                            <div class="form-group clearfix">
                                                                <label class="control-label col-xs-5">Number of children</label>
                                                                <span class="col-xs-1 p-0">:</span>
                                                                <div class=" col-xs-6 rigprofcnt right_cntent">
                                                                    <span class="text_gray">{{job.no_of_children}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <label class="control-label col-xs-5">Age group of children</label>
                                                                <span class="col-xs-1 p-0">:</span>
                                                                <div class=" col-xs-6 rigprofcnt right_cntent">
                                                                    <span class="text_gray">{{job.children_age}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <label class="control-label col-xs-5">Employer Type</label>
                                                                <span class="col-xs-1 p-0">:</span>
                                                                <div class=" col-xs-6 rigprofcnt right_cntent">
                                                                    <span class="text_gray">{{job.profile_suits}} </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class=" col-md-3 rightside_boot_panel">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="requirement_section ">
                                                            <h3 class="requirement_heading">Requirements</h3>
                                                            <div class="tag_section tag_section_tab ">
                                                                <ul>
                                                                    <li ng-repeat="x in job.req track by $index"><span><i class="{{x.icon_class}} pull-left"></i><b class="req_list_b">{{x.requirement}}</b></span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="other_details ">
                                                            <h3 class="requirement_heading">Other Details</h3>
                                                            <div class="otherdetail_content ">
                                                                <p ng-bind-html="job.other_requirement" class="other_tab_p"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <h3 class="d_active tab_drawer_heading" rel="tab2" ng-click="switchTab('messages',userid,job)">Messages</h3>
                                            <div id="tab2" class="tab_content fgdfgdf2" ng-if="currentTabpreview == 'messages'">
                                            <div class="">
                                                <div class="private_message_section private_message_sectionnew pp_msg">
                                                    <div class="row">
                                                        <div class="col-md-12 pills_design toggle_button_switch" ng-if="job.job_status >= 1 && job.is_bidded">
                                                            <!-- <toggle-switch ng-model="switchStatus" knob-label="Change" on-label="Private" off-label="Public">
                                                            </toggle-switch> -->

                                                            <div class="toggleWrapper" ng-class="{'disable_msg':job.job_status >=2}">
                                                            <input type="checkbox" ng-model="messageMode" ng-true-value="'public'" ng-false-value="'private'" ng-click="resetMsgs(messageMode,job.user_id)" ng-disabled="job.job_status >=2" id="dn" class="dn">
                                                            <label for="dn" class="toggle"><span class="toggle__handler"></span></label>
                                                            </div>

                                                            <!-- <ul class="nav nav-pills pull-right">
                                                          <li class="active"><a data-target="#public" ng-click="resetMsgs('public')" aria-controls="public" role="tab" data-toggle="pill"> Public</a></li>
                                                          <li><a data-target="#private" aria-controls="private" ng-click="resetMsgs('private')" role="tab" data-toggle="pill"> Private</a></li>

                                                          </ul> -->
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <!-- Nav tabs -->
                                                        <!-- Tab panes -->
                                                        <div class="tab-content">
                                                            <div ng-if="messageMode == 'public'">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <form name="messageForm" ng-submit="clientSentmsg('public',job.jobid)">
                                                                        <div class="col-md-12">
                                                                            <textarea ng-model="input.message" name="message" class="form-control counted m-b-10" name="message" placeholder="Enter your message" maxlength="320" limit-to="320" rows="3" ng-required="true"></textarea>
                                                                            <!-- <div class="errormsg" ng-if="messageForm.message.$invalid">
                                                                                <p ng-if="messageForm.message.$error.required">*Message cannot be empty</p>
                                                                            </div> -->
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <h6 class="pull-left character_count">{{ 320 - input.message.length}} characters remaining</h6>
                                                                                </div>
                                                                                <div class="col-sm-6 messagesubbtn">
                                                                                    <button type="submit" class="btn btn-default submit_btn_pvj pull-right">Submit</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    </div>
                                                                    <div class="col-md-12 m-t-20">
                                                                        <div class="public_message_div clearfix " ng-if="messages.length > 0">
                                                                            <div class="single_public_message single_public_messagenew" ng-repeat="message in messages">
                                                                                <div class="media m-b-20">
                                                                                    <div class="media-leftside">
                                                                                        <img ng-src="images/profilepic/{{message.from_id_profpic}}" ng-error-src="/images/no_image_1.png" class="media-object" style="width:60px">
                                                                                    </div>
                                                                                    <div class="media-rightside">
                                                                                        <div class="col-md-12 col-xs-12 p-0">
                                                                                            <h4 class="media-heading col-md-6 col-xs-12 p-0">{{message.from_id__first_name}} {{message.from_id__last_name}}</h4>
                                                                                            <span class="datetimespnsls col-md-6 col-xs-12 p-0">{{message.on_date_time | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                                                                                        </div>
                                                                                        <p class="message_public_p">{{message.message}}</p>
                                                                                        <div class="activity-meta">
                                                                                            <a href="javascript:void(0)" ng-if="!showReplybox[$index]" ng-click="showReplybox[$index] = true" uib-tooltip="Reply"><i class="fa fa-reply"></i></a>
                                                                                            <a href="javascript:void(0)" ng-if="showReplybox[$index]" ng-click="showReplybox[$index] = !showReplybox[$index]" uib-tooltip="Reply"><i class="fa fa-reply" ></i></a>
                                                                                            <a href="javascript:void(0)" ng-if="checkDeleteTimer(message.on_date_time) && currentUser == message.from_id__id" ng-click="deleteMessage(message.id, message.from_id__id)" uib-tooltip="Delete"><i class="fa fa-trash"></i></a>
                                                                                        </div>
                                                                                        <div class="reply_public_msg_input" ng-if="showReplybox[$index]">
                                                                                            <div class="input-group">
                                                                                                <input type="text" class="form-control" ng-model="input.reply">
                                                                                                <span class="input-group-addon" ng-click="sentReply(message.id,message);showReplybox[$index] = false;"><i class="fa fa-paper-plane"></i></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="secondary_comment_section secondary_comment_sectionnew" ng-repeat="reply in message.replies">
                                                                                    <div class="media">
                                                                                        <div class="media-leftside">
                                                                                            <img ng-src="images/profilepic/{{reply.from_id_profpic}}" ng-error-src="/images/no_image_1.png" class="media-object" style="width:60px">
                                                                                        </div>
                                                                                        <div class="media-rightside" ng-init="showsubReplybox[$index] = false">
                                                                                            <div class="col-md-12 col-xs-12 p-0">
                                                                                                <h4 class="media-heading col-md-6 col-xs-12 p-0">{{reply.from_user_first_name}} {{reply.from_user_last_name}}</h4>
                                                                                                <span class="datetimespnsls col-md-6 col-xs-12 p-0">{{reply.on_date_time | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                                                                                            </div>
                                                                                            <p class="message_public_p">{{reply.reply}}</p>
                                                                                            <div class="activity-meta">
                                                                                                <a href="javascript:void(0)" uib-tooltip="Reply"><i class="fa fa-reply" ng-click="showsubReplybox[$index] = !showsubReplybox[$index]"></i></a>
                                                                                                <a href="javascript:void(0)" ng-if="checkDeleteTimer(reply.on_date_time) && currentUser == reply.from_id__id" uib-tooltip="Delete"><i class="fa fa-trash" ng-click="deleteReply(reply.id)"></i></a>
                                                                                            </div>
                                                                                            <div class="reply_public_msg_input" ng-if="showsubReplybox[$index]">
                                                                                                <div class="input-group">
                                                                                                    <input type="text" class="form-control" ng-model="input.subreply">
                                                                                                    <span class="input-group-addon" ng-click="sentsubReply(reply.id,reply)"><i class="fa fa-paper-plane"></i></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="third_comment_section third_comment_sectionnew" ng-repeat="subreply in reply.subreplies">
                                                                                        <div class="media">
                                                                                            <div class="media-leftside">
                                                                                                <img ng-src="images/profilepic/{{subreply.from_id_profpic}}" ng-error-src="/images/no_image_1.png" class="media-object" style="width:60px">
                                                                                            </div>
                                                                                            <div class="media-rightside">
                                                                                                <div class="col-md-12 col-xs-12 p-0">
                                                                                                    <h4 class="media-heading col-md-6 col-xs-12 p-0">{{subreply.from_user_first_name}} {{subreply.from_user_last_name}}</h4>
                                                                                                    <span class="datetimespnsls col-md-6 col-xs-12 p-0">{{subreply.on_date_time | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                                                                                                </div>
                                                                                                <p class="message_public_p">{{subreply.subreply}}</p>
                                                                                                <div class="activity-meta">
                                                                                                    <a href="javascript:void(0)" ng-if="checkDeleteTimer(subreply.on_date_time) && currentUser == subreply.from_id__id" uib-tooltip="Delete"><i class="fa fa-trash" ng-click="deleteSubreply(subreply.id)"></i></a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div ng-if="messageMode == 'private'">
                                                                <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="right_side_chat_section clearfix" >
                                                                                <div class="panel panel-default col-xs-12 p-0">
                                                                                    <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
                                                                                    <div class="panel-body" id="pvtSection" scrollToBottom ng-scrollbars ng-scrollbars-update="updatepvtScrollbar" ng-scrollbars-config="rightprivate">
                                                                                        <div class="chat" scroll-to-bottom="messages">
                                                                                            <ul class="col-xs-12 p-0 m-0">
                                                                                                <li id="privateMsg{{$index}}" class="privatemsgsection single_public_message single_public_messagenew" ng-repeat="privatemsg in messages" ng-class="{'otheruser':currentUser != privatemsg.from_id__id,'its_meyou':currentUser == privatemsg.from_id__id}">
                                                                                                    <div class="media">
                                                                                                        <div class="media-leftside">
                                                                                                            <a class="user" href="javascript:void(0)"><img alt="" ng-src="images/profilepic/{{privatemsg.from_id_profpic}}" ng-error-src="/images/no_image_1.png" /></a>
                                                                                                        </div>
                                                                                                        <div class="media-rightside">
                                                                                                            <div class="message">
                                                                                                                <p class="m-0 p-0 col-md-12 col-xs-12 paraprvmsg">
                                                                                                                    {{privatemsg.message}}
                                                                                                                </p>
                                                                                                                <div class="activity-meta">
                                                                                                            <a href="javascript:void(0)" ng-if="checkDeleteTimer(privatemsg.on_date_time) && currentUser == privatemsg.from_id__id" ng-click="deleteMessage(privatemsg.id, privatemsg.from_id__id,'private')" uib-tooltip="Delete"><i class="fa fa-trash"></i></a>
                                                                                                            </div>
                                                                                                                <span class="datetimeset_spn m-0 p-0 col-md-12 col-xs-12 text-right">{{privatemsg.on_date_time | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-footer">
                                                                                        <form name="pvtmessageForm" ng-submit="clientSentmsg('private' ,job.jobid, job.user_id)">
                                                                                        <div class="input-group">

                                                                                            <input id="btn-input" type="text" autocomplete="off" class="form-control input-sm" placeholder="Type your message here..." ng-required="true" ng-model="input.message" />
                                                                                            <span class="input-group-btn">
                                                                                               <button type="submit" class="btn btn-warning btn-sm btn-chat" id="btn-chat">
                                                                                               <i class="fa fa-paper-plane"></i></button>
                                                                                            </span>

                                                                                        </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <h3 class="d_active tab_drawer_heading" ng-if="job.to_review" rel="tab3" ng-click="switchTab('clientfeed');getFeedback(job.jobid,'worker',1)">Client's Feedback</h3>
                                            <div id="tab3" class="tab_content" ng-if="currentTabpreview == 'clientfeed'">
                                                <form name="feedbackForm">
                                                    <div class="postjob_type_section">
                                                        <div class="form-group">
                                                            <h4>Rating</h4>
                                                            <span class="ratingstars"><input-stars max="5" ng-attr-readonly="{{disableFeedback}}" name="star" ng-model="job.to_review.star" allow-half ng-required="true"></input-stars></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <h4>Feedback of you by the client</h4>
                                                            <span><textarea class="form-control post_forum_textarea" height="100" name="review" ng-model="job.to_review.review" ng-readonly="disableFeedback" ng-required="true"></textarea></span>
                                                            <div class="errormsg" ng-if="feedbackForm.$submitted && feedbackForm.review.$invalid">
                                                                <p ng-if="feedbackForm.review.$error.required">Please enter your review </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <h3 class="d_active tab_drawer_heading" rel="tab4" ng-if="job.is_confirmed == 1" ng-click="switchTab('contactinfo')">Contact Information</h3>
                                            <div id="tab4" class="tab_content" ng-if="currentTabpreview == 'contactinfo'">

                                              <!-- contact information  -->
                                              <div class="row">
                                            <div class="col-md-12">

                                              <div class="row contact_info">
                                                <div class="col-sm-3">
                                                  <div class="text-right">
                                                    <img ng-src="/images/profilepic/{{job.user_profilepic}}" ng-error-src="/images/no_image_1.png" alt="">
                                                  </div>

                                                </div>
                                                <div class="col-sm-9">
                                                  <h4>{{job.user_name}}</h4>
                                                  <h5>Email:&nbsp;&nbsp;{{job.user_email}}</h5>
                                                  <h5>Mobile:&nbsp;&nbsp;{{job.user_contactno}}</h5>

                                                </div>
                                              </div>


                                                <!-- <div class="contact_info text-center">
                                                  <div class="text-center">
                                                    <img ng-src="/images/profilepic/{{job.user_profilepic}}" ng-error-src="/images/no_image_1.png" alt="">
                                                  </div>
                                                <h4>{{job.user_name}}</h4>
                                                <h5><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{job.user_email}}</h5>
                                                <h5><i class="fa fa-phone"></i>&nbsp;&nbsp;{{job.user_contactno}}</h5>
                                                <h4></h4>
                                              </div> -->
                                            </div>
                                              </div>
                                              <!-- contact information ends here -->


                                            </div>

                                            <!--my quote starts here  -->
                                            <h3 class="d_active tab_drawer_heading" ng-if="job.job_status >= 1 && job.is_bidded" rel="tab5" ng-click="switchTab('myquotedetail','','',job.jobid)">My Quote</h3>
                                            <div id="tab5" class="tab_content" ng-if="currentTabpreview == 'myquotedetail'">
                                                <div class="row postjob_type_section">
                                                  <div class="col-sm-12">
                                                  <h4 class="sub_bg_label">Your hourly rate:<span class="ng-binding">&nbsp;${{userQuoteDetails.rate_per_hour}}</span></h4>
                                                  </div>
                                                <div class="col-sm-12">
                                                <h4 class="sub_bg_label">Number of hours required:<span class="ng-binding">&nbsp;{{userQuoteDetails.noofHour}}</span></h4>
                                                </div>
                                                <div class="col-sm-12">
                                                <h4 class="sub_bg_label">My quote&nbsp;:<span>&nbsp;${{userQuoteDetails.quote}}</span></h4>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group postjob_type_section">
                                                    <h4>Your comments:</h4>
                                                    <textarea class="form-control textarea_style1 ng-pristine ng-untouched ng-valid ng-empty" name="comment" ng-model="userQuoteDetails.comment" placeholder="comment..." style="" disabled="true"></textarea>
                                                    </div>
                                                </div>
                                                </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--  End vertical tab section-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">

      <div class="right_side_section_joblist">
          <!-- <div class="ad_section">
              <img src="styles/images/right_side_banner.png" alt="" width="100%">
          </div> -->
          <div x-sticky="" set-class-when-at-top="ad-fixed">
                                   <div ad2 ></div>
                                  </div>
      </div>
    </div>
    </div>
</section>
<div footer></div>
