<div class="modal-body">
	<h2 class="text-center almost_there">You are almost there!!</h2>
	<p class="final_step_postjob text-center"> Please login to complete this job posting. If you do not have an account, Please sign up now</p>
</div>


<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
.bootbox  .modal-dialog{
  width:500px;
}

@media screen and (max-width: 767px) {
  .bootbox  .modal-dialog{
    width:auto;
  }
}
</style>
