<div class="modal-body">
	<!-- <h2 class="almost_there text-center">Success!!</h2> -->
	<p class="final_step_postjob text-justify">Your job has been posted successfully. You can expect our valuable workers to submit their quotes for the job shortly</p>
</div>


<style>
.bootbox-body .modal-body, .modal-body{
	padding-bottom: 0px;
}
</style>
