<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center title_modal">Post Job</h4>
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist" ng-if ="hm.is_edit">
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'home'}" ng-click="hm.tabclick('home');hm.backToJobView(hm.PreviewJobId,'preview')" uib-tooltip="Type"><a href="javascript:void(0);"><i class="icon-people"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'profile'}" ng-click="hm.tabclick('profile');hm.backToJobView(hm.PreviewJobId,'preview')" uib-tooltip="Location"><a href="javascript:void(0);"><i class="icon-location-pin"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'messages'}" ng-click="hm.tabclick('messages');hm.backToJobView(hm.PreviewJobId,'preview')" uib-tooltip="Time & Budget"><a href="javascript:void(0);"><i class="icon-clock"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'settings'}" ng-click="hm.tabclick('settings');hm.backToJobView(hm.PreviewJobId,'preview')" uib-tooltip="Requirements"><a href="javascript:void(0);"><i class="icon-docs"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'other_details'}" ng-click="hm.tabclick('other_details');hm.backToJobView(hm.PreviewJobId,'preview')" uib-tooltip="Other Details"><a href="javascript:void(0);"><i class="icon-note"></i></a>
                    </li>
                </ul>
                <ul class="nav nav-tabs" role="tablist" ng-if ="!hm.is_edit">
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'home'}"  uib-tooltip="Type"><a href="javascript:void(0);"><i class="icon-people"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'profile'}"  uib-tooltip="Location"><a href="javascript:void(0);"><i class="icon-location-pin"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'messages'}"  uib-tooltip="Time & Budget"><a href="javascript:void(0);"><i class="icon-clock"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'settings'}" uib-tooltip="Requirements"><a href="javascript:void(0);"><i class="icon-docs"></i></a>
                    </li>
                    <li role="presentation" ng-class="{'active':hm.activeTab == 'other_details'}"  uib-tooltip="Other Details"><a href="javascript:void(0);"><i class="icon-note"></i></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content postjob_popup">
                    <div class="loader_div ng-hide" ng-show="generalLoader">
                      <div class="child_loader">
                       <i class="fa fa-circle-o-notch fa-spin" style="font-size: 30px;"></i>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{'active':hm.activeTab == 'home'}" id="home">
                        <ng-form name="jobType_form" novalidate>
                            <div class="postjob_type_section">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="question_name">Type</p>
                                        <h4>What type of  job you want to post?</h4>
                                        <!-- Radio Section -->
                                        <div class="radio_section">
                                            <div class="control-group">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="control control--radio">
                                                            Casual / one off care
                                                            <input type="radio" name="job_type" value="0" ng-model="hm.jobtype.job_type" ng-checked="true" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="control control--radio">
                                                            Regular care
                                                            <input type="radio" value="1" ng-model="hm.jobtype.job_type" name="job_type" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Radio section -->
                                        <h4>Please select the type of care giver you want.</h4>
                                        <!-- Checkbox section -->
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <div class="row">
                                                    <div class="col-sm-6" ng-repeat="cg in hm.caregivers">
                                                        <label class="control control--checkbox">
                                                            {{cg}}
                                                            <input type="checkbox" name="selectedCG" value="{{cg}}" ng-checked="hm.jobtype.selectedCaregiver.indexOf(cg) > -1" ng-click="hm.toggleCaregiver(cg)" ng-required="true"/>
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="errormsg col-md-12 m-b-10" ng-if="jobType_form.$submitted && !hm.jobtype.selectedCaregiver.length">
                                                    At least 1 option needs to be selected
                                                </div>
                                            </div>
                                        </div>
                                        <!--  End Checkbox section -->
                                        <!-- Sub child checkbox section -->
                                        <div class="">
                                            <h4>What type of care you need?</h4>
                                        <!-- Radio Section <-->
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <div class="row">
                                                <div class="col-sm-6">
                                                        <label class="control control--checkbox">
                                                            Day time care
                                                            <input type="checkbox" ng-checked="hm.jobtype.careType_seletion.indexOf('day') > -1" name="care_type" value="1" ng-click="hm.togglecareType('day')" ng-required="true" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="control control--checkbox">
                                                            Night time care
                                                            <input type="checkbox" name="care_type" value="0" ng-required="true" ng-checked="hm.jobtype.careType_seletion.indexOf('night') > -1" ng-click="hm.togglecareType('night')" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="errormsg" ng-if="jobType_form.$submitted && !hm.jobtype.careType_seletion.length">
                                                Please select type of care you need.
                                            </div>
                                        </div>


                                        </div>
                                        <h4 ng-if="hm.jobtype.careType_seletion.indexOf('day') > -1">Do you need Before / After school care?</h4>
                                          <div class="radio_section" ng-if="hm.jobtype.careType_seletion.indexOf('day') > -1">
                                              <div class="row">
                                              <div class="col-sm-4">
                                                      <label class="control control--radio">
                                                          Yes
                                                          <input type="radio" ng-value="1" name="schoolcaretype" ng-model="hm.jobtype.schoolcaretype"  ng-required="hm.jobtype.careType_seletion.indexOf('day') > -1" />
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </div>
                                                  <div class="col-sm-8">
                                                      <label class="control control--radio">
                                                          No (9am-3pm)
                                                          <input type="radio" ng-value="0" ng-click="hm.jobtype.careSession_selection = []" name="schoolcaretype" ng-model="hm.jobtype.schoolcaretype" ng-required="hm.jobtype.careType_seletion.indexOf('day') > -1" />
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </div>
                                                  <div class="col-sm-4">
                                                  </div>

                                              </div>
                                          </div>

                                        <!-- End Radio section -->


                                        <div ng-if="hm.jobtype.schoolcaretype == 1 && hm.jobtype.careType_seletion.indexOf('day') > -1">

                                                <h4>Please select the type of daytime care.</h4>
                                                <div class="check_box_section">
                                                    <div class="row">
                                                        <div class="col-sm-6" ng-repeat="cs in hm.careSession">
                                                            <label class="control control--checkbox">
                                                                {{cs}}
                                                                <input type="checkbox" ng-checked="hm.jobtype.careSession_selection.indexOf(cs) > -1" value="{{cs}}" name="care_session" ng-click="hm.toggleCaresession(cs)" ng-required="hm.jobtype.careType_seletion.indexOf('day') > -1 && hm.jobtype.schoolcaretype == 1" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="errormsg" ng-if="jobType_form.$submitted && !hm.jobtype.careSession_selection.length">
                                                        Please select the type of day time care
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="m-t-30 btn postjob_button hvr-wobble-horizontal step1" ng-click="hm.jobTypesubmit(jobType_form)">Continue</a>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{'active':hm.activeTab == 'profile'}" id="profile">
                        <div class="location_postjob_section">
                            <ng-form name="jobLocation_form" novalidate>
                                <div class="postjob_type_section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="question_name">Location & Children</p>
                                            <!-- Radio Section -->
                                            <div class="radio_section">
                                                <div class="control-group">
                                                    <h4>Is this job from a Childcare centre (or) Kindergarten (or) Before care / After care Centre?</h4>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control control--radio">
                                                                No
                                                                <input type="radio" ng-model="hm.joblocation.before_after" value="0" name="before_after" ng-checked="hm.joblocation.before_after == 0" ng-click="hm.befre_after_change()" ng-checked="hm.joblocation.before_after == 0" ng-required="true" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label class="control control--radio">
                                                                Yes
                                                                <input type="radio" ng-model="hm.joblocation.before_after" ng-click="hm.befre_after_change()" value="1" name="before_after" ng-required="true" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="radio_section" ng-if="hm.joblocation.before_after == 1">
                                    <div class="control-group">
                                    <h4>What is the name of the Childcare / Before care / After care Center?</h4>
                                        <label class="control control--radio">
                                            No
                                            <input type="radio" ng-model="hm.joblocation.before_after_name" value="0" name="before_after_name" checked="checked" ng-required="hm.joblocation.before_after == 1"/>
                                            <div class="control__indicator"></div>
                                        </label>
                                        <label class="control control--radio">
                                            Yes
                                            <input type="radio" ng-model="hm.joblocation.before_after_name" value="1" name="before_after_name" checked="checked" ng-required="hm.joblocation.before_after == 1" ng-click="hm.joblocation.location=''"/>
                                            <div class="control__indicator"></div>
                                        </label>
                                        <div class="errormsg" ng-if="jobLocation_form.$submitted && jobLocation_form.before_after.$error.required">
                                            Please select this field
                                        </div>
                                    </div>
                                    </div> -->
                                            <h4 ng-show="hm.joblocation.before_after == 1" class="m-b-0">What is the name of your Childcare centre (or) Kindergarden (or) Before care / After care Centre?</h4>
                                            <div class="m-b-30" ng-show="hm.joblocation.before_after == 1">
                                                <div class="group">
                                                    <input type="text"  ng-model="hm.joblocation.care_name" ng-required="hm.joblocation.before_after == 1" name="care_name" data-ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="50" placeholder="Please enter the name of the centre ">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <!-- <label>Care name</label> -->
                                                    <div class="errormsg" ng-if="jobLocation_form.$submitted && jobLocation_form.care_name.$invalid">
                                                        <p ng-if="jobLocation_form.care_name.$error.required">Please enter care name</p>
                                                        <p ng-if="jobLocation_form.care_name.$error.pattern">Field can contain only alphabet values.</p>
                                                        <p ng-show="jobLocation_form.care_name.$error.maxlength">Childcare centre name should not exceed 50 characters.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Address for Childcare center -->
                                            <div class="m-t-10 m-b-10" ng-if="hm.joblocation.before_after == 1">
                                              <h4 class="m-b-0">Address</h4>
                                                <div class="group">
                                                    <input type="text" ng-model="hm.joblocation.address" ng-required="hm.joblocation.before_after == 1" name="address1" data-ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-maxlength="500" placeholder="Please enter the address of the centre">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <!-- <label>Centre Address</label> -->
                                                    <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.address1.$dirty) && jobLocation_form.address1.$invalid">
                                                        <p ng-if="jobLocation_form.address1.$error.required">Please enter a valid address</p>
                                                        <p ng-if="jobLocation_form.address1.$error.pattern">Must be Alphanumeric</p>
                                                        <p ng-if="jobLocation_form.address1.$error.maxlength">Must below 500 charecters</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="hm.joblocation.before_after == 1">
                                                <div class="col-md-12">
                                                    <h4 class="m-b-0">Please select your location</h4>
                                                    <div class="m-b-10">
                                                        <div class="group">
                                                            <p class="icon_load_spin">
                                                            <input type="text" ng-model="hm.joblocation.loc_id" name="autoaddress" uib-typeahead="location as location.viewval for location in hm.filteredLocations" typeahead-wait-ms="600" placeholder="Suburb,state postcode" typeahead-on-select="hm.selectLocation($item,true)" ng-change="hm.getLocations(hm.joblocation.loc_id)" ng-required="true"/>
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <span class="ajax_loader" ng-if="locLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                                            <span class="ajax_loader color_red" ng-if="hm.joblocation.loc_id"><i class="fa fa-times-circle" ng-click="hm.joblocation.loc_id='';hm.joblocation.city='';hm.joblocation.state='';hm.joblocation.post_code=''"></i></span>
                                                            <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.autoaddress.$dirty) && jobLocation_form.autoaddress.$invalid">
                                                                <p ng-if="jobLocation_form.autoaddress.$error.required">Please enter a valid location</p>
                                                            </div>
                                                            <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.autoaddress.$dirty) && (!hm.joblocation.city || !hm.joblocation.state || !hm.joblocation.post_code) && !jobLocation_form.autoaddress.$error.required && hm.filteredLocations.length == 0">
                                                                <p>Invalid city, state and post code</p>
                                                            </div>
                                                        </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="radio_section" ng-if="hm.joblocation.before_after == 0">
                                                <h4>Where do you want the care to be provided at?</h4>
                                                <div class="control-group">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control control--radio">
                                                                Our location
                                                                <input type="radio" ng-model="hm.joblocation.location" value="0" name="location" ng-required="hm.joblocation.before_after == 0" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <label class="control control--radio">
                                                                Caregiver's home (Family Daycare)
                                                                <input type="radio" ng-model="hm.joblocation.location" value="1" name="location" ng-click="hm.joblocation.address = '';hm.joblocation.loc_id = '';" ng-checked="hm.joblocation.before_after == 0" ng-required="hm.joblocation.before_after== 0" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="errormsg col-md-12 m-b-10" ng-if="jobLocation_form.$submitted && jobLocation_form.location.$error.required">
                                                        Please select location
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Radio section -->
                                            <div class="m-t-10 m-b-10" ng-if="hm.joblocation.location == 0 && hm.joblocation.before_after == 0">

                                                <div class="group">
                                                  <h4 class="m-b-0">Address</h4>
                                                    <input type="text" ng-model="hm.joblocation.address" ng-required="hm.joblocation.location == 0 && hm.joblocation.before_after == 0" name="address" ng-maxlength="500" placeholder="Please enter the address">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <!-- <label>Address</label> -->
                                                    <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.address.$dirty) && jobLocation_form.address.$invalid">
                                                        <p ng-if="jobLocation_form.address.$error.required">Please enter a valid address</p>
                                                        <p ng-if="jobLocation_form.address.$error.pattern">Must be Alphanumeric</p>
                                                        <p ng-if="jobLocation_form.address.$error.maxlength">Must below 500 charecters</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row " ng-if="hm.joblocation.location == 0 && hm.joblocation.before_after == 0">
                                                <div class="col-md-12">
                                                    <h4>Suburb, State, Postcode</h4>
                                                    <div class="m-b-10 plugin_dropdown_country">
                                                        <div class="group">
                                                            <p class="icon_load_spin">
                                                            <!-- <input type="text" autocomplete1 ng-model="hm.joblocation.loc_id" name="autoaddress" ng-required="hm.joblocation.location == 0 && hm.joblocation.before_after == 0" placeholder="Suburb, State, Postal code" autocomplete-loading="locLoading">
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <span class="ajax_loader" ng-if="locLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                                            <span class="ajax_loader color_red"><i class="fa fa-times-circle" ng-click="hm.joblocation.loc_id='';hm.joblocation.city='';hm.joblocation.state='';hm.joblocation.post_code=''"></i></span>
                                                            <ul class="dropdown-menu state_city_sub" ng-if="hm.locations.length && !hm.locselected && !jobLocation_form.autoaddress.$error.required" aria-labelledby="IDREF">
                                                                <li tabindex="-1" ng-repeat="loc in hm.locations"><a href="javascript:void(0)" ng-click="hm.selectLocation(loc)">{{loc.suburb}}, {{loc.state}}, {{loc.postcode}}</a></li>
                                                            </ul> -->
                                                            <input type="text" ng-model="hm.joblocation.loc_id" name="autoaddress" uib-typeahead="location as location.viewval for location in hm.filteredLocations" typeahead-wait-ms="600" placeholder="Please type here" typeahead-on-select="hm.selectLocation($item,true)" ng-change="hm.getLocations(hm.joblocation.loc_id)" ng-required="true"/>
                                                            <span class="highlight"></span>
                                                            <span class="bar"></span>
                                                            <span class="ajax_loader" ng-if="locLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                                            <span class="ajax_loader color_red" ng-if="hm.joblocation.loc_id"><i class="fa fa-times-circle" ng-click="hm.joblocation.loc_id='';hm.joblocation.city='';hm.joblocation.state='';hm.joblocation.post_code=''"></i></span>
                                                        </p>
                                                            <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.autoaddress.$dirty) && jobLocation_form.autoaddress.$invalid">
                                                                <p ng-if="jobLocation_form.autoaddress.$error.required">Please enter a valid location</p>
                                                            </div>
                                                            <div class="errormsg" ng-if="(jobLocation_form.$submitted || jobLocation_form.autoaddress.$dirty) && (!hm.joblocation.city || !hm.joblocation.state || !hm.joblocation.post_code) && !jobLocation_form.autoaddress.$error.required && hm.filteredLocations.length == 0">
                                                                <p>Invalid city, state and post code</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-b-30 chosen_style">
                                                <h4>Number of children?</h4>
                                                <select chosen class="form-control" ng-model="hm.joblocation.no_of_children" ng-required="true" name="no_of_children" disable-search='true' data-placeholder="Select">
                                                    <option value=""></option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="9+">9+</option>
                                                </select>
                                                <div class="errormsg" ng-if="jobLocation_form.$submitted && jobLocation_form.no_of_children.$error.required">
                                                    Please select number of children
                                                </div>
                                            </div>
                                            <h4>Age group of children?</h4>
                                            <div class="">
                                                <div class="check_box_section">
                                                    <div class="row">
                                                        <div class="col-sm-4" ng-repeat="cs in hm.childrenAge">
                                                            <label class="control control--checkbox">
                                                                {{cs}}
                                                                <input type="checkbox" ng-checked="hm.joblocation.age_selection.indexOf(cs) > -1" value="{{cs}}" name="care_session[]" ng-click="hm.toggleAge(cs)" />
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="errormsg" ng-if="jobLocation_form.$submitted && !hm.joblocation.age_selection.length">
                                                        Please select age group of children
                                                    </div>
                                                    <!-- <label class="control control--checkbox">
                                          After school care
                                          <input type="checkbox" value="{{cs}}" name="care_session[]"/>
                                          <div class="control__indicator"></div>
                                          </label> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="m-t-30">
                                        <div class="col-md-6">
                                          <a type="button" class="previous_link_style" ng-click="hm.tabclick('home');hm.backToJobView(hm.PreviewJobId,'preview')"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                                            <!-- <a href="javascript:void(0)" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="hm.tabclick('home')">Previous</a> -->
                                        </div>
                                        <div class="col-md-6">
                                            <a href="javascript:void(0)" class="btn postjob_button hvr-wobble-horizontal step2" ng-click="hm.jobLocsubmit(jobLocation_form)">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div role="tabpanel" ng-class="{'active':hm.activeTab == 'messages'}" class="tab-pane" id="messages">
                        <ng-form name="jobTime_form" novalidate>
                            <div class="row">
                                <div class="col-md-12 datepicker_style_uib postjob_type_section">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="question_name">Time & Budget</p>
                                            <div class="col-container-date">
                                                <div class="col-date-label">
                                                    <h4 ng-show="hm.jobtype.job_type==0" class="custom_label">Required date</h4>
                                                    <h4 ng-show="hm.jobtype.job_type==1" class="custom_label">Required start Date</h4>
                                                </div>
                                                <div class="col-picler ">
                                                    <p class="input-group">
                                                        <input type="text" placeholder="DD/MM/YYYY" ng-click="popup1.opened = !popup1.opened" class="form-control" uib-datepicker-popup="{{format}}" ng-model="hm.jobtime.date" name="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-required="true" ng-readonly="true"/>
                                                        <span class="input-group-btn">
                                  <button type="button" class="btn btn-default ad-onn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                                  </span>
                                                        <div class="errormsg" ng-if="jobTime_form.date.$error.required">
                                                            Please enter a valid date
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="hm.jobtype.job_type == 1" class="postjob_type_section m-t-20">
                                <h4>Please select the days required?</h4>
                                <!-- Checkbox section -->
                                <div class="check_box_section">
                                    <div class="control-group">
                                        <div class="row">
                                            <div class="col-sm-4" ng-repeat="cg in hm.days_required">
                                                <label class="control control--checkbox">
                                                    {{cg}}
                                                    <input type="checkbox" ng-required="hm.jobtype.job_type == 1" name="selectedDays[]" value="{{cg}}" ng-checked="hm.jobtime.days_selection.indexOf(cg) > -1" ng-click="hm.toggleDays(cg)" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="errormsg col-sm-12" ng-if="jobTime_form.$submitted && !hm.jobtime.days_selection.length">
                                                Please select Number of days required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-container-date postjob_type_section">
                                        <div class="col-date-label">
                                            <h4 class="custom_label">Start time</h4>
                                        </div>
                                        <div class="col-picler">
                                            <div uib-timepicker ng-model="hm.jobtime.time" ng-change="changed()" hour-step="hm.hstep" minute-step="hm.mstep" show-meridian="true" name="time" ng-readonly="true"></div>
                                            <div class="errormsg" ng-if="(jobTime_form.$submitted || jobTime_form.time.$dirty) && jobTime_form.time.$invalid">
                                                Please enter a valid time
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-t-40">
                                        <div class="group">
                                            <input type="text" ng-pattern="/^[0-9]\d*$/" ng-model="hm.jobtime.hours_required" ng-maxlength="2" ng-change="hm.getBudget()" ng-required="true" name="hours_required">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label ng-if="hm.jobtype.job_type == 0">Number of hours required</label>
                                            <label ng-if="hm.jobtype.job_type == 1">Hours required per day</label>
                                            <div class="errormsg" ng-if="hm.jobtime.hours_required > 24">
                                                <p>Number of hours must not be greater than 24</p>
                                            </div>
                                            <div class="errormsg" ng-if="hm.jobtime.hours_required == '0'">
                                            <p >Number of hours must not be zero</p>
                                            </div>
                                            <div class="errormsg" ng-if="(jobTime_form.$submitted || jobTime_form.hours_required.$dirty) && jobTime_form.hours_required.$invalid">

                                                <p ng-if="jobTime_form.hours_required.$error.required">Please enter number of hours required.</p>
                                                <p ng-if="jobTime_form.hours_required.$error.pattern">Hours must be in numbers and should not be 0</p>
                                                <p ng-if="jobTime_form.hours_required.$error.maxlength">Hours must below or equal to 2 digits</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="m-t-40">
                                        <div class="group">
                                            <input type="text" ng-pattern="/^([1-9])\d*(?:\.\d{1,2})?$/" ng-model="hm.jobtime.rate_per_hour" ng-change="hm.getBudget()" ng-required="true" name="rate_per_hour">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Rate per hour ($)</label>
                                            <div class="errormsg" ng-if="hm.jobtime.rate_per_hour == '0'">
                                            <p>Rate per hour must not be zero</p>
                                            </div>
                                            <div class="errormsg" ng-if="(jobTime_form.$submitted || jobTime_form.rate_per_hour.$dirty) && jobTime_form.rate_per_hour.$invalid">

                                                <p ng-if="jobTime_form.rate_per_hour.$error.required">Please enter rate per hour required.</p>
                                                <p ng-if="jobTime_form.rate_per_hour.$error.pattern">Rate per hour must be in number and should not be 0</p>
                                                <!-- <p ng-if="jobTime_form.rate_per_hour.$error.maxlength">Rate per hour should not exceed 5 digits</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <p class="pull-right price_section"><a href="#" uib-tooltip="Qualified Professional - Certificate III: $32 per hour
                       Qualified Professional - Diploma: $36 per hour
                       Qualified Professional - Certificate III: $48 per hour
                       Babysitter: $28 per hour
                       Nanny : $28 per hour
                       Au Pair: $28 per hour
                       Tutor / Educator: $36 per hour">Price Guide?</a>
                              </p> -->
                                    <div class="price_section col-xs-12 clearfix">
                                        <p class="pull-right " uib-popover-html="'<table>
                                <tr>
                                  <th>Caregiver type</th>
                                  <th>Rate per hour</th>
                                </tr>
                                <tr>
                                  <td>Qualified Professional-Certificate III</td>

                                  <td>$ 32 </td>
                                </tr>
                                <tr>
                                  <td>Qualified Professional - Diploma</td>

                                  <td>$ 36 </td>
                                </tr>
                                <tr>
                                  <td>Qualified Professional - Bachelor </td>

                                  <td>$ 48 </td>
                                </tr>
                                <tr>
                                  <td>Babysitter</td>

                                  <td>$ 28 </td>
                                </tr>
                                <tr>
                                  <td>Nanny</td>

                                  <td>$ 28 </td>
                                </tr>
                                <tr>
                                  <td>Au Pair</td>

                                  <td>$ 28 </td>
                                </tr>
                                <tr>
                                  <td>Tutor / Educator</td>

                                  <td>$ 36 </td>
                                </tr>
                              </table>'" popover-trigger="'mouseenter'"><a href="javascript:void(0)">Price Guide?</a>
                                            <!-- price guide modal content -->
                                            <!-- end price guide modal content -->
                                        </p>
                                    </div>
                                    <h4 class="estimated_section clearfix" ng-if="hm.jobtype.job_type == 1 && hm.jobtime.rate_per_hour && hm.jobtime.hours_required">Estimated budget per day<span>:${{hm.jobtime.budget}}<i class="icon-info circle_info" uib-tooltip="{{postjobtooltip}}" ></i></span></h4>
                                    <!-- <h4 class="estimated_section" ng-if="hm.jobtype.job_type == 0">Estimated budget<span>:&nbsp;${{hm.jobtime.budget}} <i class="icon-info circle_info" uib-tooltip="Estimated Budget = (Number of hours required * Rate per hour) + {{hm.jobtime.x}} % Platform Customer Service Fees +  {{hm.jobtime.y}} % Online Payment Fees +  {{hm.jobtime.z}} % GST
                      " ></i></span></h4> -->
                                    <h4 class="estimated_section" ng-if="hm.jobtype.job_type == 0 && hm.jobtime.rate_per_hour && hm.jobtime.hours_required">Estimated budget<span>:&nbsp;${{hm.jobtime.budget}} <i class="icon-info circle_info" uib-popover="{{postjobtooltip}}" popover-trigger="'mouseenter'"></i></span></h4>
                                </div>
                            </div>
                            <!-- <div> -->
                                  <div class="row">
                                        <div class="col-sm-12 check_box_section">
                                            <label class="control control--checkbox">
                                                Please select, If you prefer to pay the carer in cash
                                                <input type="checkbox" name="cash_in_hand" ng-true-value="1" ng-model="hm.jobtime.cash_on_hand" ng-false-value="0" ng-checked="cash_on_hand == 1" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                            <!-- </div> -->
                            <div class="row">
                                <div class="m-t-30">
                                    <div class="col-md-6">
                                        <a type="button" class="previous_link_style" ng-click="hm.tabclick('profile');hm.backToJobView(hm.PreviewJobId,'preview')"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                                        <!-- <a href="javascript:void(0);" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="hm.tabclick('profile')">Previous</a> -->
                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);" class="btn postjob_button hvr-wobble-horizontal step3" ng-click="hm.jobTimesubmit(jobTime_form)">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <div role="tabpanel" ng-class="{'active':hm.activeTab=='settings'}" class="tab-pane" id="settings">
                        <ng-form name="jobSettings_form" novalidate>
                            <div class="row icono_requirement">
                                <div class="col-md-12">
                                    <p class="question_name">requirements</p>
                                    <div ng-repeat="reqCategory in hm.reqsToFilter() | filter:hm.filterReqs">
                                        <p class="requirement_category_name">{{reqCategory.category}}</p>
                                    <div class="form-group clearfix postjob_requirement" ng-repeat="req in hm.requirements | filter:{category: reqCategory.category}">
                                        <label class="control-label col-sm-9"><i class="{{req.icon_class}} pull-left"></i><span class="reqvalue">{{req.requirement}}</span></label>
                                        <div class="col-sm-3">
                                            <div>
                                                <!--  <label class="switch">
                                       <input type="checkbox" name="onoffswitch[]"  value="{{req}}" ng-checked="hm.jobrequirement.opt_selection.indexOf(req) > -1" ng-click="hm.toggleReq(req)">
                                       <div class="slider"></div>
                                       </label> -->

                                                <label class="switch">
                                                    <input type="checkbox" class="switch-input" name="onoffswitch[]" value="{{req.id}}" ng-checked="hm.jobrequirement.opt_selection.indexOf(req.id) > -1" ng-click="hm.toggleReq(req.id)">
                                                    <span class="switch-label" data-on="Required" data-off="Not Required"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="m-t-30">
                                    <div class="col-md-6">
                                      <a type="button" class="previous_link_style" ng-click="hm.tabclick('messages');hm.backToJobView(hm.PreviewJobId,'preview')"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                                        <!-- <a href="javascript:void(0);" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="hm.tabclick('messages')">Previous</a> -->
                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);" class="btn postjob_button hvr-wobble-horizontal step4" ng-click="hm.insertCredentialReq(jobSettings_form)">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <div role="tabpanel" ng-class="{'active':hm.activeTab=='other_details'}" class="tab-pane" id="other_details">
                        <div class="row" ng-form="otherreq" >
                            <div class="col-md-12 editor_global_style">
                                <p class="question_name">Other Details</p>
                                <span class="postjob_type_section">
                           <h4>Describe the job and any other requirements in details</h4>
                        </span>
                                <!-- <div text-angular ta-toolbar="[['justifyLeft','justifyCenter'],['bold','italics','underline']]" ng-model="hm.jobrequirement.other_requirement" placeholder="Enter other details"></div> -->
                                <div class="m-t-20">
                                    <textarea  ckeditor="ckoptions" ng-model="hm.jobrequirement.other_requirement" ng-required="false" name="other_requirement" height="100"></textarea>
                                </div>

                                <div class="errormsg" ng-if="otherreq.$submitted && otherreq.$invalid">
                                    <p ng-if="otherreq.other_requirement.$error.required">Please enter other requirements</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="m-t-30">
                                <div class="col-md-6">
                                  <a type="button" class="previous_link_style" ng-click="hm.tabclick('settings');hm.backToJobView(hm.PreviewJobId,'preview')"><i class="icon-arrow-left-circle"></i>&nbsp;Previous</a>
                                    <!-- <a href="javascript:void(0);" class="btn btn-primary hvr-wobble-horizontal previous_btn" ng-click="hm.tabclick('settings')">Previous</a> -->
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:void(0);" class="btn postjob_button hvr-wobble-horizontal step5" ng-click="hm.finalSubmit(otherreq)">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 24px;
    padding: 3px;
    background-color: transparent;
    /*font-family: 'Conv_helvetica_normal';*/
    font-family: 'Conv_Hel_lt_normal';
    border-radius: 18px;
    /*box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    cursor: pointer;
    /*background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
   background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
   background-image: -o-linear-gradient(top, #eeeeee, white 25px);
   background-image: linear-gradient(to bottom, #eeeeee, white 25px);*/
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 9px;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #7e7e7e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    /*text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
    opacity: 0;
    text-transform: capitalize;
}

.switch-input:checked ~ .switch-label {
    background: #fe6601;
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);*/
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    /*border:2px solid #dedede;*/
}

.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
    left: 80px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #fe6601;
}

.custom_chosen .chosen-single div b {
    display: none !important;
}
</style>
<script>
$("html,body").scrollTop(0);
</script>
