

<div class="modal-body">
   <form novalidate>
      <div class="form-group postjob_type_section">
         <h4>Please enter your message</h4>
         <textarea class="form-control textarea_style1" ng-model="message" placeholder="Message..."></textarea>
      </div>
      <a href="javascript:void(0);" class="hvr-wobble-horizontal login_button" ng-click="contactWorker(workerId,message)">Send message</a>
   </form>
</div>
<style>
   .bootbox .modal-dialog {
   width: 500px;
   }
   /* @media screen and (max-width: 767px) {
   .bootbox .modal-dialog {
   width: auto;
   }
   } */
   .switch {
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 110px;
   height: 24px;
   padding: 3px;
   background-color: transparent;
   font-family: 'Conv_Hel_lt_normal';
   border-radius: 18px;
   cursor: pointer;
   }
   .switch-input {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   }
   .switch-label {
   position: relative;
   display: block;
   height: inherit;
   font-size: 10px;
   background: #eceeef;
   border-radius: inherit;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
   -webkit-transition: 0.15s ease-out;
   -moz-transition: 0.15s ease-out;
   -o-transition: 0.15s ease-out;
   transition: 0.15s ease-out;
   -webkit-transition-property: opacity background;
   -moz-transition-property: opacity background;
   -o-transition-property: opacity background;
   transition-property: opacity background;
   }
   .switch-label:before,
   .switch-label:after {
   position: absolute;
   top: 50%;
   margin-top: -4px;
   line-height: 1;
   -webkit-transition: inherit;
   -moz-transition: inherit;
   -o-transition: inherit;
   transition: inherit;
   }
   .switch-label:before {
   content: attr(data-off);
   right: 11px;
   color: #7e7e7e;
   text-shadow: 0 1px rgba(255, 255, 255, 0.5);
   text-transform: capitalize;
   }
   .switch-label:after {
   content: attr(data-on);
   left: 11px;
   color: white;
   /*text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
   opacity: 0;
   text-transform: capitalize;
   }
   .switch-input:checked ~ .switch-label {
   background: #fe6601;
   /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);*/
   }
   .switch-input:checked ~ .switch-label:before {
   opacity: 0;
   }
   .switch-input:checked ~ .switch-label:after {
   opacity: 1;
   }
   .switch-handle {
   position: absolute;
   top: 6px;
   left: 6px;
   width: 18px;
   height: 18px;
   background: white;
   border-radius: 10px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
   background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
   background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
   background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
   -webkit-transition: left 0.15s ease-out;
   -moz-transition: left 0.15s ease-out;
   -o-transition: left 0.15s ease-out;
   transition: left 0.15s ease-out;
   /*border:2px solid #dedede;*/
   }
   .switch-handle:before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -6px 0 0 -6px;
   width: 12px;
   height: 12px;
   background: #f9f9f9;
   border-radius: 6px;
   box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
   background-image: -webkit-linear-gradient(top, #eeeeee, white);
   background-image: -moz-linear-gradient(top, #eeeeee, white);
   background-image: -o-linear-gradient(top, #eeeeee, white);
   background-image: linear-gradient(to bottom, #eeeeee, white);
   }
   .switch-input:checked ~ .switch-handle {
   left: 80px;
   box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
   }
   .switch-green > .switch-input:checked ~ .switch-label {
   background: #fe6601;
   }
   .custom_chosen .chosen-single div b {
   display: none !important;
   }
   .sent_msg_type
   {
   padding-left:15px;
   margin-top:5px;
   font-size:16px;
   color:#232323;
   font-family: 'Conv_helvetica_normal';
   }
   .sent_message_select
   {
   margin-top:20px;
   margin-bottom:5px;
   }
</style>
