<div header></div>
<div class="content_section ">
    <section class="addpartner_section change_password postjob_type_section1">
      <div class="row">
      <div class="col-md-9">
        <h3 class="heading">{{heading}}</h3>
        <form name="partnerForm" ng-submit="addEditPartner()" novalidate>
        <div class="row m-t-20">
          <div class="col-sm-6">
              <div class="group group1">
                  <h4 class="m-b-0">Partner Name</h4>
                  <input type="text" name="partner_name" ng-model="partner.partner_name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="20" ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_name.$dirty) && partnerForm.partner_name.$invalid">
                      <p ng-if="partnerForm.partner_name.$error.required">Please enter partner name</p>
                      <p ng-if="partnerForm.partner_name.$error.pattern">Please enter character only.</p>
                      <p ng-if="partnerForm.partner_name.$error.maxlength">Partner name cannot exceed 20 characters.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="group group1">
                  <h4 class="m-b-0">Partner Email</h4>
                  <input type="text" name="partner_email" ng-model="partner.partner_email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_email.$dirty) && partnerForm.partner_email.$invalid">
                      <p ng-if="partnerForm.partner_email.$error.required">Please enter partner email</p>
                      <p ng-if="partnerForm.partner_email.$error.pattern">Please enter valid email.</p>

                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="group group1">
                  <h4 class="m-b-0">Partner Mobile No</h4>
                  <input type="text" name="partner_mobileno" ng-model="partner.partner_mobileno" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="15" ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_mobileno.$dirty) && partnerForm.partner_mobileno.$invalid">
                      <p ng-if="partnerForm.partner_mobileno.$error.required">Please enter mobile no.</p>
                      <p ng-if="partnerForm.partner_mobileno.$error.minlength">Mobile number must be atleast 7 numbers.</p>
                      <p ng-if="partnerForm.partner_mobileno.$error.maxlength">Mobile number cannot exceed 15 numbers.</p>
                      <p ng-if="partnerForm.partner_mobileno.$error.pattern">Mobile number must be integer.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="group group1 placeholder_style">
                  <h4 class="m-b-0">Subdomain</h4>
                  <input type="url" name="partner_subdomain"  ng-model="partner.partner_subdomain"  ng-required="true" placeholder="http://www.example.com" ng-change="checksubdomain(partner)">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_subdomain.$dirty) && partnerForm.partner_subdomain.$invalid">
                      <p ng-if="partnerForm.partner_subdomain.$error.required">Please enter subdomain.</p>
                      <p ng-if="partnerForm.partner_subdomain.$error.url">Please enter valid url. </p>
                      <!-- <p ng-if="partnerForm.partner_mobileno.$error.maxlength">Must below 20 characters</p>
                      <p ng-if="partnerForm.partner_mobileno.$error.pattern">Name must be alphabetic</p> -->
                  </div>
                  <div class="errormsg" ng-if="domainExist">
                      <p>Subdomain already exist.</p>
                      <!-- <p ng-if="partnerForm.partner_mobileno.$error.maxlength">Must below 20 characters</p>
                      <p ng-if="partnerForm.partner_mobileno.$error.pattern">Name must be alphabetic</p> -->
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="group group1">
                <h4 class="m-b-0">Partner Address</h4>
                <input type="text" name="partner_address" ng-model="partner.partner_address" ng-required="true">

                <span class="highlight"></span>
                <span class="bar"></span>
                <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_address.$dirty) && partnerForm.partner_address.$invalid">
                    <p ng-if="partnerForm.partner_address.$error.required">Please enter partner address.</p>

                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="group group1 placeholder_style">
                  <h4 class="m-b-0">URL of Privacy Policy</h4>
                  <input type="url" name="partner_url_privacy_policy"  ng-model="partner.partner_url_privacy_policy"   ng-required="true" placeholder="http://www.example.com">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_url_privacy_policy.$dirty) && partnerForm.partner_url_privacy_policy.$invalid">
                      <p ng-if="partnerForm.partner_url_privacy_policy.$error.required">Please enter Privacy Policy. </p>
                      <p ng-if="partnerForm.partner_url_privacy_policy.$error.url">Please enter valid url. </p>
                     <!--  <p ng-if="partnerForm.partner_about_us.$error.maxlength">Must below 20 characters</p>
                      <p ng-if="partnerForm.partner_about_us.$error.pattern">Name must be alphabetic</p> -->
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="group group1 placeholder_style">
                  <h4 class="m-b-0">URL of Terms and conditions</h4>
                  <input type="url" name="partner_url_terms_and_conditions"  ng-model="partner.partner_url_terms_and_conditions"   ng-required="true" placeholder="http://www.example.com">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_url_terms_and_conditions.$dirty) && partnerForm.partner_url_terms_and_conditions.$invalid">
                      <p ng-if="partnerForm.partner_url_terms_and_conditions.$error.required">Please enter Terms and Conditions.</p>
                      <p ng-if="partnerForm.partner_url_terms_and_conditions.$error.url">Please enter valid url. </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                  <h4 class="m-b-20">Upload partner logo</h4>

              <div >

                  <span class="add_exp_update">
                      <a href="javascript:void(0)"  ngf-select="handleName($files,partnerForm.file);" ng-change="test()" ng-model="partner.file" name="file"
                 ngf-max-size="5MB" ngf-accept="'image/*'" ngf-min-height="87" ngf-min-width="364" >Upload</a>

                  </span>
              </div>

          <img ngf-src="partner.file" ng-if="partner.file" height="80" width="80">
                        <img src="/../partner_logo/{{partner.partner_logo}}" height="80" width="80" ng-if="!partner.file && partner.partner_logo != '' && partner.partner_logo">

          <!-- <a class="action_update_credential m-r-5 ng-scope" ng-if="others.resume" href="assets/documents/resumes/{{others.resume}}" download="{{others.resume}}" uib-tooltip="View resume"><i class="icon-eye"></i></a>
          <a class="action_update_credential m-r-5 ng-scope" href="javascript:void(0)" ng-click="deleteResume(userid)" ng-if="others.resume" uib-tooltip="Delete attachment"><i class="icon-trash"></i></a> -->

          <!-- </p> -->
            <!-- <a class="btn down_load_resume_btn" ng-if="others.resume" href="assets/documents/resumes/{{others.resume}}" download="{{others.resume}}">Download Resume</a>
            <a class="btn del_load_resume_btn" href="javascript:void(0)" ng-click="deleteResume(userid)" ng-if="others.resume">Delete Resume</a> -->
            <p class="comment_line_css m-t-20">* png, jpeg, jpg, svg</p>

           <div class="errormsg" ng-if="(partnerForm.$submitted && (!partner.partner_logo || partner.partner_logo == ''))">
                      <p ng-if="(!partner.partner_logo || partner.partner_logo == '')">Please enter partner logo.</p>

                  </div>
                 <!--  <div class="errormsg" ng-if="partnerForm.file.$error.maxSize">
                     <p>Can't exceed 5MB. </p>

                  </div> -->
                  <div class="errormsg" ng-if="partnerForm.file.$error.minHeight || partnerForm.file.$error.minWidth || partnerForm.file.$error.maxHeight || partnerForm.file.$error.maxWidth">
                     <p>Logo must contain width 364px and height 87px. </p>

                  </div>




          </div>
          <div class="col-sm-12">

            <div class="m-t-20 m-b-20">
              <h4 class="">About Us of partner</h4>
              <textarea  ckeditor="ckoptions" ng-model="partner.partner_about_us" ng-required="false" name="about" height="200"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class=" check_box_section">
                <label class="control control--checkbox">
                    Show In partnership with
                    <input type="checkbox" name="partnership_with" ng-true-value="1" ng-model="partner.partnership_with" ng-false-value="0"  />
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class=" check_box_section">
                <label class="control control--checkbox">
                    Show Lovely Childcare logo in footer
                    <input type="checkbox" name="partnership_childcare_logo" ng-true-value="1" ng-model="partner.partnership_childcare_logo" ng-false-value="0" />
                    <div class="control__indicator"></div>
                </label>
            </div>

              <div class=" check_box_section">
                <label class="control control--checkbox">
                    Show jobs from other partner portals to my workers
                    <input type="checkbox" name="show_partner_portals" ng-true-value="1" ng-model="partner.show_partner_portals" ng-false-value="0" />
                    <div class="control__indicator"></div>
                </label>
            </div>
           
          </div>
          <div class="col-sm-12 m-t-20">
            <div class="text-left">
              <button onclick="location.href='#/listPartner'" data-bb-handler="cancel" type="button" class="btn btn btn-default loginbtn">cancel</button>
              <button data-bb-handler="success" type="submit" class="btn btn btn-primary signupbtn">Save</button>
            </div>
          </div>

        </div>
      </div>
    </form>
     <!--  <div class="col-md-3 hidden-sm hidden-xs">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="">
                             <div class="ad_section">
                                <img src="styles/images/right_side_banner.png" alt="" width="100%">
                                </div>
                             <div x-sticky="" set-class-when-at-top="ad-fixed">
                                <div ad2 ></div>
                             </div>
                          </div>
                        </div>
                      </div>
                  </div> -->
    </div>
    </section>
</div>
<div footer></div>
