<div header></div>

<div class="content_section project_pagination">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <h3 class="title_joblist">Partner Management</h3>
          <div class="row">
            <div class="col-sm-12 text-right m-b-10">
              <a class="btn hvr-wobble-horizontal hire_btn" href="#/createpartner"><i class="icon-plus"></i>&nbsp;<span>Add partner</span></a>

            </div>
          </div>

          <div class="table-responsive reference_table color_orange">
            <table class="table table-bordered table-striped">
      <thead>
                <tr>
                    <th width="5%">S. no</th>
                    <th width="20%">Partner name</th>
                    <th width="35%">Subdomain</th>
                    <th width="30%">Logo</th>
                    <th width="10%" class="text-center">Action</th>
                </tr>
       </thead>
                <tr ng-repeat="partner in partnerList">
                  <td>{{$index + 1}}</td>
                  <td>{{partner.partner_name}}</td>
                  <td>{{partner.partner_subdomain}}</td>
                  <td><img src="/../partner_logo/{{partner.partner_logo}}" height="40" width="40"></td>
        <td class="text-center cursor_pointer">
        <a href="#/editpartner/{{partner.id}}" class="text_black"><i class="icon-pencil" uib-tooltip="edit"></i></a>
          <a ng-click="deletePartner(partner.id)" ng-if="partner.id != 1" class="text_black">  <i class="icon-trash" uib-tooltip="Delete"></i></a>

       </td>
                </tr>
                <tr ng-if="vm.holidays.length == 0">
                    <td colspan="5" class="text-center text-danger">No records found</td>
                </tr>
            </table>

          </div>

      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <p class="text_black">Page {{currentPage}} of {{roundOff(totalCount,limit)}}</p>

          </div>
          <div class="col-sm-6 text-right">
            <paging class="small" page="currentPage" page-size="limit" total="totalCount" show-prev-next="true" show-first-last="false" text-next="Next" text-prev="Prev" pg-href="" paging-action="pageChanged(page)" scroll-top="false">
            </paging>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>




<div footer></div>
