.plugin_dropdown_country .dropdown-menu{
/*width:100%;*/
  font-family: 'Conv_segoeuil';
}

.welcome_name{
  color:#fe6601;
  font-family: 'Conv_helvetica_normal';

}



.navigation_section{
  box-shadow: 0px 7px 13px -7px rgba(189,183,189,1);
}
.title_joblist{
  color:#f26810;
  font-family: 'defonarts_bold';
  font-size:20px;
  margin:5px 0;
}
.top_tab_material .nav-tabs
{
  border-bottom: 1px solid #E3E3E3;
}
.top_tab_material .nav-tabs > li{
  cursor: pointer;
}
.top_tab_material .nav-tabs > li.active > a,.top_tab_material  .nav-tabs > li.active > a:focus, .top_tab_material .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.top_tab_material .nav-tabs > li > a {
  border: none;
  font-size: 14px;
  font-family: 'Conv_comic';
  /*font-family: 'Conv_seguisb';*/
  /*font-family: 'Conv_segoeuil';*/
  color:#4e4e4e;
  font-weight:bolder;
  padding-bottom:15px;
  width:auto;
}
.top_tab_material .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #f26810 !important;
  background: transparent;
}
.top_tab_material .nav-tabs > li > a::after {
  content: "";
  background: #f26810;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.top_tab_material .nav-tabs > li{
  width:auto;
  padding-right:18px;
}
.top_tab_material .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
   transform: scale(1);
 }
.top_tab_material .tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.first_row{
  margin:20px 0px;
}

/*single job list*/
.single_joblist{
  position: relative;
  background: #fff;
  border:1px solid #dfdfdf;
  border-bottom:transparent;
  margin-bottom:15px;
  box-shadow: -3px 7px 8px -1px rgba(201,199,201,1);
}
.detail_section{
  padding:0px 10px 10px 10px;
}
.detail_job_list_container{
  display: table;
  width:100%;
}
.detail_job_list_container .detail_section{
  display: table-cell;
  vertical-align: middle;
  width:80%;
}
.detail_job_list_container .right_btn_section{
  display: table-cell;
  vertical-align: middle;
  width:20%;
}
.agency_name {
  font-family: 'Conv_comic';
	font-size: 16px;
	color: #3c495a;
  margin-top:0px;
}
.time_label {
	color: #1e8fe1;
	background: #fff;
	border: 1px solid #1e8fe1;
	/*border-radius: 50px;*/
	margin-left: 10px;
  font-size:10px;
  padding:2px 4px 0px 4px;
}
.care_type {
	color: #787878;
	font-size: 13px;
  font-family: 'Conv_helvetica_normal';
  margin-top:15px;

}
.caregiver_name{
font-size: 15px;
color: #4e4e4e;
font-family: 'Conv_segoeuil';
}
/*.label_section_tags ul {
    list-style: none;
}
.label_section_tags ul li {
	display: inline-block;
	margin-bottom: 6px;
}
.label_section_tags .label {
	border-radius: 50px;
	padding: 3px 10px;
	margin: 5px 0;
	color: #f26810;
}
.label_section_tags .label-default {
	background: #f9f9f9;
	border: 1px solid #e7e7e7;
  font-family: 'Conv_helvetica_normal';
}*/
.location_section span {
	font-size: 13px;
	color: #9c9c9c;
	/*font-family: Conv_comic;*/
  font-family: 'Conv_helvetica_normal';
	font-weight: 100;
	padding-left: 5px;
}
.right_btn_section{
  padding:0 10px 10px 10px;
}
.right_btn_section .salary_job {
	font-size: 20px;
	color: #4e4e4e;
	font-family: 'Conv_Helvetica-Bold';
}
.apply_btn .btn {
  color:#fff;
	/*font-family: Conv_comic;*/
  font-family: 'Conv_helvetica_normal';
	border-radius: 4px;
	padding:4px 5px;
	font-size: 15px;
	border: 1px solid #fe6601 ;
  background: #fe6601 ;
	/* background: -moz-linear-gradient(92deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,1)),color-stop(90%,rgba(230,230,230,1)),color-stop(100%,rgba(228,228,228,1)));
	background: -webkit-linear-gradient(92deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(92deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(92deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%);
	background: linear-gradient(358deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%); */
}
.single_joblist:hover .apply_btn1 .btn{
  color:#fff;

  /*font-family: Conv_comic;*/
  font-family: 'Conv_helvetica_normal';
  border-radius: 4px;
  padding:4px 5px;
  font-size: 15px;
  border: 1px solid #4e4e4e !important;
  background: #4e4e4e !important;
}
.single_joblist:hover .apply_btn1 .btn i{
  color:#fff;
}

.apply_btn1 .btn{
  color:#fff;
  /*font-family: Conv_comic;*/
  font-family: 'Conv_helvetica_normal';
  border-radius: 4px;
  padding:4px 5px;
  font-size: 15px;
  border: 1px solid #fe6601  !important;
  background: #fe6601 !important;
}
.apply_btn1{
  position: relative;
  margin:0 25px;

}
.apply_btn1 span{
  background: #4e4e4e ;
  color:#fff;
  font-family: 'Conv_helvetica_normal';
  padding:6px 4px 6px 3px;
  border-radius:50px;
  position: absolute;
  top:-10px;
  right:-15px;
  height:28px;
  width:28px;
  font-size:12px;
}
.single_joblist:hover .apply_btn1 span{
  background: #fe6601;
  color: #fff;
  font-family: 'Conv_helvetica_normal';
  padding:6px 4px 6px 3px;
  border-radius:50px;
  position: absolute;

  top:-10px;
  right:-15px;
  height:28px;
  width:28px;
  font-size:12px;
}
.budget_label{
  font-family: 'Conv_helvetica_normal';
  color:#f26810;
}
.icon_top{
  position: relative;
  top:-10px;
  color:#1e8fe1;
  font-size:12px;
  cursor: pointer;
}

/*rating section*/
.rating_sec{
  background: #4e4e4e;
  padding:10px;
}
.rating_container{
  display: table;
  width:100%;
}
.user_rating{
  display: table-cell;
  vertical-align: middle;
  width: 35%;
}
.date_section{
  display: table-cell;
  vertical-align: middle;
  width: 42%;
}
.view_detail_sec{
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}





.detail_job_link{
  margin-top:-2px;
}
.view_job_link {
	color: #fff !important;
	font-family: 'Conv_helvetica_normal';
	text-decoration: none !important;
  font-size: 13px;
}
.view_job_link i {
	padding-left: 5px;
}
.user_rating .media .media-left .media-object {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.user_rating .media-heading {
	/*font-family: 'Conv_Helvetica-Bold';*/
  font-family: 'Conv_seguisb';
	font-size: 16px;
	color: #fff;
}
/*.jk-rating-stars-container .button .material-icons {
	font-size: 18px;
  color:#fe6601 !important;
  text-shadow:none !important;
}
.jk-rating-stars-container{
  padding-top:5px;
}*/
.angular-input-stars-hover{
  text-shadow: none !important;
}
.angular-input-stars{
margin-bottom: 0px;
}
.angular-input-stars > li{
  padding-left:2px;
  padding-right:0px;
}
.angular-input-stars > li >i, .angular-input-stars > li >i:hover{
  color:#fff;
  text-shadow: none;
}
.angular-input-stars > li .active{
  color:#fff;
  text-shadow: none;
}

.single_joblist:hover .angular-input-stars > li >i{
  color:#4e4e4e;
}


.day_selector ul{
  margin-bottom:5px;
  margin-top:-2px;
}
.day_selector ul, .job_time_date ul{
  list-style: none;
}
.day_selector ul li{
  display: inline-block;
  background: #fff;
  color: #4e4e4e;
  height:15px;
  padding-left:5px;
  padding-right:5px;
  font-size: 11px;
  font-family: 'Conv_Hel_lt_normal';
  cursor:default;

}
.day_selector ul li.active{
  background: #f26810;
  color:#fff;
}

.single_joblist:hover .day_selector ul li.active{
  background: #4e4e4e;
  color:#fff;
}



.job_time_date ul li{
  color:#fff;
  font-family: 'Conv_helvetica_normal';
  display: inline-block;
  padding-right: 10px;
  font-size:14px;
}
.job_time_date ul li i{
  padding-right:4px;
}
.job_time_date ul{
  margin-bottom:0px;
}

/*hover css sngle job*/


.single_joblist:hover .apply_btn .btn{
  background: #4e4e4e;
  /* background-image: -webkit-linear-gradient(top, #e85d04, #f2680f);
  background-image: -moz-linear-gradient(top, #e85d04, #f2680f);
  background-image: -ms-linear-gradient(top, #e85d04, #f2680f);
  background-image: -o-linear-gradient(top, #e85d04, #f2680f);
  background-image: linear-gradient(to bottom, #e85d04, #f2680f); */
  text-decoration: none;
  border:1px solid #4e4e4e;
  color:#fff;
}
.single_joblist:hover .salary_job{
  color:#fe6601;
}
.single_joblist:hover .location_section span{
  color:#fe6601;
}
.single_joblist:hover .rating_sec{
  background: #f26810;
}
.single_joblist:hover .jk-rating-stars-container .button .material-icons {
	font-size: 18px;
  color:#fff !important;
  text-shadow:none !important;
}
/*.single_joblist:hover .day_selector ul li.active{
  background: #fff;
  color:#4e4e4e;
}*/
.single_joblist:hover .budget_label{
  color:#4e4e4e;
}
.right_side_section_joblist{
  margin:20px 0px;
}

/*accordion*/
.vAccordion--default v-pane-header{
  	/*font-family: 'Conv_segoeuil';*/
    /*font-family: 'defonartsregular';*/
  font-family: 'Conv_comic';
  /*font-family: 'Conv_helvetica_normal';*/
  /*font-family: 'Conv_helvetica_normal';*/
  color:#4e4e4e;
  font-size:10px;
  border-bottom:1px solid #d3d3d3;
  font-weight:bolder;
  text-transform: uppercase;
}
.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus{
  color:#f26810;
}
.vAccordion--default v-pane.is-expanded > v-pane-header{
  border-bottom-color:#f26810;
  color:#f26810;
  z-index:1;
}

.left_side_filter_section .radio_section .control__indicator,.left_side_filter_section  .check_box_section .control__indicator{
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #999999;
    border-radius: 2px;
}

.left_side_filter_section .radio_section .control,.left_side_filter_section  .check_box_section .control{
  font-size:12px;
  color:#4e4e4e;
  font-family: 'Conv_helvetica_normal';
  /*font-family: 'Conv_segoeuil';*/
  /*font-weight:200;*/

}
.left_side_filter_section .check_box_section .control{
  padding-left: 25px;
}
/*.left_side_filter_section .radio_section .control, .left_side_filter_section .check_box_section .control {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	cursor: pointer;

	color: #4e4e4e;
	padding-top: 3px;

	font-weight: 200;
}*/
.left_side_filter_section .check_box_section .control--checkbox .control__indicator::after {
	left: 5px;
	top: 1px;
	width: 6px;
	height: 11px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.vAccordion--default v-pane-header, .vAccordion--default v-pane-content > div{
  padding-bottom:10px;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
	background-color: #f26810;
  height:2px;
}
.filter_section_clear h4{
  margin-top:0px;
  /*margin-bottom:20px;*/
  font-family: 'Conv_comic';
  font-size:15px;
  padding-bottom:5px;
}
.filter_section_clear h4 span{
  font-size:12px;
  font-family: 'Conv_helvetica_normal';
  color: #aeaeae;
  line-height: 20px;
  cursor:pointer;

}
.filter_section_clear h4 span:hover{
  color:#f26810 ;
}

.myangle{
  cursor: pointer;
}


.filter_toggle{
  color:#fff;

}
.filter_section_clear{
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 15px;
}

/*search*/
.search_btn{
  background:#12b683 !important;
  color:#fff;
  width:100%;
  font-family: 'Conv_comic';
  font-size: 14px;
  border:1px solid #f2f2f2 !important;
}
.search_section_joblist{
  margin:0px 0 10px 0;
  clear:both;
  /*overflow: auto;*/
}
.search_section_joblist .pad-0{
  padding:0px !important;
}
.search_section_joblist input{
  border-radius: 0px;
  background: #fff;
  box-shadow:none !important;
  border: 1px solid #e1e1e1 !important;
  font-family: 'Conv_segoeuil';
  font-size:13px;
}
.search_section_joblist input:focus{
  border: 1px solid #e1e1e1 !important;
  box-shadow:none !important;
}
.search_section_joblist .pad-r-0{
  padding-right:0px;
}
.search_input{
  position: relative;
}
.search_input input{
    padding:2px 5px 4px 34px;
}
.search_icon, .date_icon{
  position: absolute;
  top:7px;
  left:10px;
  cursor: pointer;
}
.p-0{
  padding:0px;
}


/*label section*/
.label_section ul{
  list-style: none;
}
.label_section ul li{
  display: inline-block;
  padding-right:10px;
}
.label_section ul li .weather{
  font-size:19px;
  color:#989898;
  padding-right:5px;
}
.label_section ul li .school{
  font-size:14px;
  color:#989898;
  padding-right:5px;
  margin-right:0px;
  padding-top: 4px;
}
.label_section .icon_label{
  font-family: 'Conv_comic';
  color:#989898;
  /*vertical-align: middle;*/
  font-size:12px;
}
.single_joblist:hover .label_section ul li .weather,.single_joblist:hover .label_section ul li .school{
color:#f26810;
}
.single_joblist:hover{
  cursor: auto;
}
.label_section ul{
  margin-bottom:3px;
}
.filter_area{
margin-top:0px;
font-size: 14px;
font-family: 'Conv_comic';
font-weight: bolder;
border-bottom: 1px solid #D8D8D8;
margin-bottom: 20px;
background: transparent;
padding:5px;
padding-right:0px;

}
.filter_area i{
  font-size: 20px;
  background: #fe6601;
  color: #fff;
  padding: 4px;
  margin-right:5px;
  border-radius:0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.filter_area i.leftarrow{
  font-size: 18px;
  background: transparent;
  /*color: #ff3366;*/
  color:#FF3366;
  padding: 4px;
  margin-right:5px;
  /*padding-right: 8px;*/
  padding-left: 7px;
  padding-top:0px;
  margin-right: 0px;
  cursor: pointer;
  float:right;
  border-radius:0px;
  padding-right:0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*toggle css*/
/*.col-sm-3.left_side_filter_section.show .display_none_section {
  display: block;
}
  .col-sm-3.left_side_filter_section .display_none_section {
    display: none;
  }
  .col-sm-3.left_side_filter_section.show{
    width:25%;
  }
  .right_side_cen{
    width:96%;
  }
  .col-sm-3.left_side_filter_section{
    width:4% ;
  }*/

.toggleclass_side.show .clear_label_filter{
display: inline-block;
text-decoration: underline;
}
.toggleclass_side .clear_label_filter{
display: none;
}
.toggleclass_side  .clear_all_filter{
  float:left;
  padding-left:5px;
}
.toggleclass_side.show .clear_all_filter{
  float:right;
}


.toggleclass_side.show .filter_area{
  background: transparent;
  padding-lefT:0px;
}
.toggleclass_side .filter_area{
  background: transparent;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section{
  width:25%;
}
.toggleclass_side .col-sm-3.left_side_filter_section {
  width:100%;
}

.toggleclass_side .col-sm-3.left_side_filter_section .filter_area{
  border:none;
  margin-bottom: 20px;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section .filter_area{
  border:none;

}
.toggleclass_side .search_section_joblist{
position: absolute ;
width:87%;
top:-55px;
right:20px;

}
.toggleclass_side.show .search_section_joblist{
position: relative ;
width:auto;
top:auto;
right:auto;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section .filter_area{
border-bottom:1px solid #D8D8D8;
}

.toggleclass_side.show .right_side_cen{
  width:75%;
}
.toggleclass_side .right_side_cen{
  width:100%;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section .display_none_section{
  display: block;
}
.toggleclass_side .col-sm-3.left_side_filter_section .display_none_section{
  display: none;
}
.toggleclass_side .col-sm-3.left_side_filter_section .hide_section{
  display: none;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section .hide_section{
  display: inline-block;
}
.toggleclass_side .col-sm-3.left_side_filter_section .filter_area .fa-filters{
  float:left !important;
  margin-right:0px;
}
.toggleclass_side.show .col-sm-3.left_side_filter_section .filter_area .fa-filters{
  float:none !important;
  margin-right:5px;
}
.toggleclass_side .col-sm-3.left_side_filter_section .filter_area{
  overflow: auto;
}
/* .toggleclass_side .col-sm-3.left_side_filter_section .filter_area .leftarrow{
  float:left !important;
} */
.toggleclass_side.show .col-sm-3.left_side_filter_section .filter_area .leftarrow{
  float:right !important;
}
.hide_section{
  color:#4e4e4e;
  font-family: 'Conv_seguisb';
  /*font-family: 'Conv_Helvetica-Bold';*/
  /*font-family: 'Conv_helvetica_normal';*/
  padding-top:2px;
  font-size:12px;
  text-transform: uppercase;
}


/*detail job view*/
.detail_job_view{
padding:10px;
}
.detail_job_view .other_details p{
  font-family: 'Conv_segoeuil';
  color:#959595;
  font-size:13px;
  margin-bottom: 5px;
}
.detail_job_view .other_details p span{
  font-family: 'Conv_seguisb';
  color:#717171;
  font-weight:300;
}
.job_detail_heading{
  font-family: 'Conv_comic';
  font-size:16px;
  color:#4e4e4e;
  margin-top:0px;
}
.job_detail_heading1{
  font-size:16px;
  color:#000;
  margin-top:0px;
  /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_segoeuil';
  text-decoration: underline;
}


/*right side panel*/
.rightside_boot_panel .panel-heading{
  background: #656565;
  color:#fff;
  font-family: 'Segoe UI';
  font-size: 16px;
  padding:7px 15px;
}
.rightside_boot_panel .panel-heading span{
  float:right;
  font-family: 'Conv_comic';
}
.rightside_boot_panel .panel-heading span i{
color:#fff;
padding-left:10px;
}
.rightside_boot_panel .panel-body{
  color:#4e4e4e;
  font-size:16px;
  font-family: 'Conv_segoeuil';
  padding: 7px 15px;
}
 .rightside_boot_panel .panel-body span{
   float:right;
   font-family: 'Conv_comic';
   color:#4e4e4e;
 }
 .tag_section{
   margin:10px 0;
 }
.tag_section ul{
  list-style: none;
}
.tag_section ul li{
  display: inline-block;
  border:1px solid #e8e8e8;
  padding:3px 8px;
  border-radius:50px;
  margin:5px 10px 5px 0px;
  box-shadow: 0px 0px 2px 0.5px #ececec;

}

.tag_section ul li:hover{
    /*border:1px solid #c8c8c8;*/
    /*background: #fe6601;*/
}
.tag_section ul li span i{
  color:#fe6601 !important;
}

.tag_section ul li span{
  /*font-family: 'Conv_comic';*/
  /*font-family: 'Conv_Hel_lt_normal';*/
  /*font-family: 'Conv_helvetica_normal';*/
    font-family: 'Conv_segoeuil';
  font-size:13px;
  vertical-align: middle;
  padding-bottom: 5px;
  color:#727272;
  /*float:left;*/
}
.tag_section ul li span i{
  float:left;
  color:#a1a1a1;
  padding-right:5px;
  font-size:20px;
  margin-right:5px;
  margin-top:3px;

}
.custom_requirement{

}

.other_details .line_section {
	text-align: center;
	position: relative;
	z-index: 2;
	margin: 0px;
  font-size:16px;
  margin-bottom:5px;
  margin-top:5px;

}
.other_details .line-center {
	margin: 0;
	padding: 9px 10px 6px 10px;
	background: #fff;
	display: inline-block;
	font-size: 12px;
  border-radius: 0px;
  font-family: 'Conv_helvetica_normal';
  /*font-family: 'Conv_segoeuil';*/
  color:#f26810;
  border:1px solid #f26810;
}
.other_details .line_section::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	border-top: solid 1px #ececec;
	z-index: -1;
}
.footer_job_detail{
  background: #f26810;
}
.right_side_detail_ul, .right_side_detail_ul1{
  list-style: none;
  float:right;
  margin-bottom: 0px;
  padding:5px 0;
}
.employee_id{
  /*font-family: 'Conv_Hel_lt_normal';*/
  font-family: 'Conv_helvetica_normal';
  color:#fe6601;
}
.employee_id span{
  color:#000;
}
.right_side_detail_ul li, .right_side_detail_ul1 li{
  display: inline-block;
  /*margin: 0px 5px;*/
}
.content_area_comment{
  border:1px solid  #eee;
  border-top: 0;
  padding:10px;
  min-height:100px;
  max-height: 100px;
  overflow-y: auto;
  background: #fff;
}
.full_bottom{
  padding:0px 10px;
}
.right_side_detail_ul li a{
  background: transparent ;
  border:1px solid  #fff !important;
  color:#fff ;
  	font-family: 'Conv_seguisb';
  /* font-family: 'Conv_helvetica_normal'; */
  border-radius:4px;
  font-size:12px;
}
.right_side_detail_ul li a:hover, .right_side_detail_ul li a:focus{
  background: #fff !important;
  color:#fe6601 !important;
}
.left_side_detail_ul{
  list-style: none;
  margin-bottom: 0px;
  padding: 6px 0;
  cursor: default;
}
.left_side_detail_ul li{
  display: inline-block;
  font-size:11px;
  color:#fff;
  font-family: 'Conv_Helvetica-Bold';
  padding:0 10px 0 10px;
}
.left_side_detail_ul li:first-child {
  border-right:1px solid #fff;
  padding:0 10px 0 0px;
}
.left_side_detail_ul li span{
    font-weight: normal;
    background: #fff;
    color:#fe6601;
    font-size: 11px;
    padding: 2px 4px 3px 4px;
    margin-top: -2px;

}

/*.main_footer_section{
  color:#fff;
  font-family: 'Conv_Helvetica-Bold';
  font-size:12px;
  list-style: none;
  margin-bottom: 0px;
  padding:10px;
}*/

/*.main_footer_section  li{
  display: inline-block;
  padding-right:20px;
  padding-left:20px;
}
.main_footer_section  li:first-child{
  border-right:1px solid #fff;
  padding-left:0px;
}
.main_footer_section  li span{
  color:#fff;
  padding-left:5px;
  font-family: 'Conv_comic';
}*/
.rate_section .control-label{
  font-weight: normal;
  font-family: 'Conv_segoeuil';
  font-size: 15px;
  color:#000;
}
.rigprofcnt span{
  font-size: 15px;
  font-weight: normal;
  font-family: 'Conv_segoeuil';
  /*font-family: 'Conv_helvetica_normal';*/
  color:#4e4e4e;

}
.rate_section .form-group{
  border-bottom:1px solid #eeee;
  padding-bottom: 0px;
}
.rate_section{
  margin-bottom: 10px;
  clear:both;
  overflow: auto;
}
.postjob_button{
  width:100%;
  font-size: 18px;
  font-family: 'defonartsregular';
  text-decoration: none !important;
  text-align: center;
  padding:15px 0px;
  background: #fe6601 !important;
  color:#fff !important;
  border:none !important;
  border-radius:4px;
}
.m-t-30{
  margin-top: 30px !important;
}
.hvr-sweep-to-right:before{
    background: #fe6601;
    border-radius:4px;
}
.previous_btn{
  width:100%;
  font-size: 18px;
  font-family: 'defonartsregular';
  text-decoration: none !important;
  text-align: center;
  padding:15px 0px;
  background: #b3afaf  !important;
  color:#fff !important;
  border:none !important;
  border-radius:4px;
}
.m-t-10{
  margin-top:10px !important;
}
.main_footer_section i{
  color: #fff;
  font-size:17px;
  margin-right: 5px;
float:left;

}

.otherdetail_content{
  /*border-bottom: 1px solid #eeeeee;*/
  padding-bottom: 15px;
}

.search_section_joblist .form-control[disabled]{
  background: #fff;
}


/*footer css comes here*/

/*footer h4.widgettitle.red_sketch{
padding-bottom: 25px;
background: url('../images/red_sketch.png') left bottom no-repeat;
}
footer h4.widgettitle.green_sketch{
padding-bottom: 25px;
background: url('../images/green_sketch.png') left bottom no-repeat;
}
footer h4.widgettitle.yellow_sketch{
padding-bottom: 25px;
background: url('../images/yellow_sketch.png') left bottom no-repeat;
}
footer h4.widgettitle.steelblue_sketch{
padding-bottom: 25px;
background: url('../images/steelblue_sketch.png') left bottom no-repeat;
}*/
.widget_footer .widget_title {
	margin-bottom: 20px;
	/*font-weight: 300;*/
	line-height: 30px;
	/*color: rgba(255, 255, 255, 0.7);*/
  color:#fff;
  /*font-family: 'Conv_Helvetica-Bold';*/
  font-family: 'helveticaneuebold';
}
.widget_footer .widget_title::after {
	content: "";
	display: block;
	width: 50px;
	border-bottom: 1px solid #fe6601;
	margin-top: 12px;
}
.widget_recent_entries ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.widget_recent_entries ul li {
	margin-bottom: 29px;
    font-family: 'Conv_segoeuil';
}
.widget_footer.widget_recent_entries ul li a {
	color: #c0c0c0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  font-size:14px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /*font-size: 14px;*/
  /*color: #00aaff;*/
  line-height: 22px;
  margin-bottom: 6px;


}
.widget_footer.widget_recent_entries .post-date {
	color: #fff;
}
.widget_recent_entries .post-date {
	display: block;
	position: relative;
	font-size: 13px;
	color: #808080;
}
.widget_recent_entries .post-date::before {
	content: "\f133";
	font-family: 'FontAwesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	margin-right: 10px;
	color: #fff;
}

/*.kidsworld_footer_widget h3 {
	text-align: left;
	position: relative;
	padding-bottom: 10px;
}*/
footer .kidsworld_footer_widget h3 span {
	font-size: 15px;
  /*font-family: 'helveticaneuebold';*/
  /*font-family: 'Conv_comic';*/
  /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_seguisb';
	color: #fff;
	letter-spacing: 0px;
	text-transform: uppercase;
	line-height: 30px;
	font-style: normal;
  padding:5px 0px;
  border-width:3px;
  border-bottom-style:double;
  border-color:#fe6601;
}
.cloud-divider {
  line-height: 0px;
  height:80px;
}
.cloud-divider svg{
  fill:#0F0F0F;
}






.secondary_footer_copy{
    border-top:1px dashed #ccc;
  background: #fff;
  color:#4e4e4e;
  padding:10px;
  /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_segoeuil';
  font-size: 12px;
}
footer .primary_footer{
  background: #fff url('../images/footer_bg.png') no-repeat;
  /*background: #0F0F0F;*/

  /*background: #111010;*/
  /*border: 0.5rem solid transparent;
	border-top: inherit;
	-webkit-border-image: url('../images/bar.png') 30 30 round;
	-o-border-image: url('../images/bar.png') 30 30 round;
	border-image: url('../images/bar.png') 30 30 round;
	position: relative;
	background: #fff
  padding:40px;*/
  padding:20px 30px;
  /*border-top:1px dashed #ccc;*/
  background-size: cover;

}
/*footer h3{
  font-family: 'Conv_comic';
  text-transform: capitalize;
  padding-bottom: 10px;
  font-size: 18px;
  color: #c6c6c6;
}*/
footer p{
  color:#aaa;
  /*font-family: 'Conv_comic';*/
    /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_segoeuil';
  line-height:25px;
  font-size:15px;
}
footer p span{
  color:#fff;
  text-decoration: underline;
  cursor: pointer;

  /*text-decoration: underline;*/
  padding-left: 10px;
}
footer p i{
  color:#f26810;
  padding-right: 10px;
}
.date_footer{
  color:#fe6601;
  font-family: 'Conv_segoeuil';
  margin-top:5px;
}

.footer-contacts {
	list-style: none;
	padding: 0;
	overflow: hidden;

}
.footer_blog_icon{
  height:45px;
  width:45px;
  border-radius: 50px;
}
.footer-contacts li {
	margin-bottom: 5px;
	padding: 2px 0 0 35px;
	min-height: 30px;
	display: block;
	position: relative;
  font-size:15px;
  color:#aaa;
  /*font-family: 'Conv_helvetica_normal';*/
  font-family: 'Conv_segoeuil';
}
.footer-contacts li a:hover, .widget_footer.widget_recent_entries ul li a:hover{
  color:#fe6601;
}

.footer-contacts li i {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	/*border: 1px solid #74777c;*/
	border-radius: 4px;
  color:#fff;
}

/*.color_teel i{
    color:#4c7296 !important;
}*/
.footer-contacts li a{
  color:#aaa;
  font-size: 15px;

}


.footer-contacts li i {
  font-size: 15px;
  margin-right: 5px;
  text-align: center;
}
.social_footer .btn{
  color:#fff !important;
  background: transparent;
  height:30px;
  width:30px;
  padding:4px;
  margin-top:10px;
  border-radius: 50px;
  border:1px solid #fff;
}
.social_footer .btn:hover{
    color:#fe6601 !important;
    border:1px solid #fe6601;
}


/*end footer*/
.following_section{
  list-style: none;
}
.following_section li{
    margin:10px 0px;
}
.heading_foot{
  font-family: 'Conv_Helvetica-Bold';
  color:#888888;
  font-size:15px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 0px;
}
.sub_heading_foot{
  font-family: 'Conv_helvetica_normal';
  color:#c2c2c2;
  font-size: 16px;
  text-transform: capitalize;
}
.diary_icon{
  border:3px solid #666666;
}
.diary_icon h3{
  margin:0px;
  text-align:center;

}
.diary_icon h3:first-child{
  color:#4e4e4e;
  background: #fff;
  padding:10px 0px;
    font-size: 10px;
}
.diary_icon h3{
  background: #666666;
  color:#fff;
  padding:5px 0px;
  font-family: 'Conv_helvetica_normal';
  font-size:14px;
}
.approved_label{
  background: #ff3366;
  color:#fff;
  font-family: 'Conv_helvetica_normal';
  font-size:11px;
  padding:0px 5px;
  border-radius: 50px;
  margin-left:10px;
}
.job_id{
  font-size:11px;
  font-family: 'Conv_helvetica_normal';
  margin:0px;
  width:100%;
  padding:5px 0px 5px 10px;
  color:#4e4e4e ;
}
.job_id span{
  color:#fe6601;
}


/*ribbon*/
.shape {
	border-color: rgba(255,255,255,0) #F26810 rgba(255,255,255,0) rgba(255,255,255,0);
  font-family: 'Conv_helvetica_normal';
  position: absolute;
  top:0;
  right:0;
}
.shape{
	border-style: solid;
   border-width: 0px 85px 50px 0;
   float:right; height: 0px; width: 0px; /* IE 9 */  /* Opera 10.5 */ /* Safari and Chrome */
	transform:rotate(360deg);
}
.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap; /* IE 9 */  /* Opera 10.5 */ /* Safari and Chrome */
	transform:rotate(30deg);
}

.shape1 {
	border-color: rgba(255,255,255,0) #adc061 rgba(255,255,255,0) rgba(255,255,255,0);
  font-family: 'Conv_helvetica_normal';
  position: absolute;
  top:0;
  right:0;
}
.shape1{
	border-style: solid;
   border-width: 0px 95px 55px 0;
   float:right; height: 0px; width: 0px; /* IE 9 */  /* Opera 10.5 */ /* Safari and Chrome */
	transform:rotate(360deg);
}
.shape-text1{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap; /* IE 9 */  /* Opera 10.5 */ /* Safari and Chrome */
	transform:rotate(30deg);
}
.shape2 {
	border-color: rgba(255,255,255,0) #ff2800 rgba(255,255,255,0) rgba(255,255,255,0);
  font-family: 'Conv_helvetica_normal';
  position: absolute;
  top:0;
  right:0;
}
.shape2{
	border-style: solid;
   border-width: 0px 95px 55px 0;
   float:right; height: 0px; width: 0px; /* IE 9 */  /* Opera 10.5 */ /* Safari and Chrome */
	transform:rotate(360deg);
}
.shape2 .paid_txt{
  top:3px;
}

/*parent detail view section*/
.detail_parent_job_view{
  padding:10px;
}
.orange_badge{
  background: #F26810;
  color:#fff;
  font-weight: normal;
  font-family: 'Conv_comic';

  border-radius: 15px;
}
.top_tab_material .badge:empty{
  visibility: hidden;
}
.quote_container{
  display: table;
  width:100%;
  border-bottom: 2px dotted #e1e1e1;
  padding-bottom: 10px;
}
.user_rating_section, .requirement_section, .budget_quote_section, .confirm_quote_section{
  display: table-cell;
  vertical-align: top;
}
.single_quote_section{
  /*padding:10px;*/
  overflow: auto;
  /*background: #f8f8f8;*/
}
.user_rating_section .media .media-left .media-object {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.user_rating_section .media-heading {
	/* font-family: 'Conv_Helvetica-Bold'; */
	font-family: 'Conv_seguisb';
	font-size: 16px;
	color: #4e4e4e;
}
.user_rating_section .angular-input-stars > li > i, .angular-input-stars > li > i:hover {
	color: #4e4e4e;
	text-shadow: none;
}
.budget_quote_section .budget_label{
  color:#a4a4a4;
  font-weigh:normal;
  font-size:12px;
  margin-bottom: 5px;
}
.budget_quote_section .salary_job{
  margin-top:0px;
  color:#4e4e4e;
  font-family: 'Conv_helvetica_normal';
}
.single_quote_section .user_rating_section{
  width:25%
}
.single_quote_section .budget_quote_section{
  width:10%;
}
.single_quote_section .requirement_section{
  width:40%;
}
.single_quote_section .confirm_quote_section{
  width:25%;
}

.overlay_dot{
  /*background-color: #000;*/
  background-image:url('../images/dot_bg.png');
  bottom: 0;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;


}


/*bid*/
.bid_other_details{
  padding-top: 10px;
  color:#4e4e4e;
  font-size: 16px;
  /*font-family: 'Segoe UI';*/
  font-family: 'Conv_segoeuil';
  cursor: auto;
}
.emp_id{
  color:#a7a7a7;
  font-family: 'Conv_Hel_lt_normal';
  font-size: 16px;
  text-align: right;
}
.emp_id span{
  background: #f26810;
  color:#fff;
  border-radius:4px;
  padding:0px 5px;
}
.new_collpase{
  /*padding:10px 0 10px 0;*/
  border-top: 0;
  border-left:0;
  border-right:0;
  /*border-bottom: 2px dotted #e1e1e1;*/
  /*background: #f9f9f9;*/
  cursor: auto;
  border-top:none;
}
.right_side_detail_ul1 li a{
  background: #fff;
  color:#4e4e4e;
  font-family: 'Conv_comic';
  /*font-family: 'Conv_segoeuil';*/
  /*font-family: 'Conv_helvetica_normal';*/
  font-size: 11px;
  border:1px solid #bcbcbc;
  border-radius:0px;

}
.right_side_detail_ul1 li a:hover, .right_side_detail_ul1 li a:focus{
  background: #fff;
  border:1px solid #f26810;
  color:#f26810;
}
.budget_quote_section .budget_label i{
  margin-left:5px;
  color:#f26810;
}

.top_tab_material .tab-pane{
  padding-top: 0px;
  padding-bottom: 0px;
}
.payment_text{
  font-family: 'Conv_segoeuil';
  font-size:14px;
  color:#4e4e4e;
  padding-top:15px;
    text-align: justify;
}


/*popup table*/
.price_container, .container_success_pay{
  display: table;
  width:100%;
  padding-top:10px;
}
.container_success_pay .first_section, .container_success_pay .second_section{
  display: table-cell;
  vertical-align: middle;
}
.rating_popup, .jobid_popup, .amount_popup, .action_popup{
  display: table-cell;
  vertical-align: top;
}
.rating_popup{
  width:40%;
}
.jobid_popup{
  width:25%;
}
.amount_popup{
  width:20%;
}
.action_popup{
  width:15%;
}
.container_success_pay .first_section{
  width:80%;
}
.container_success_pay .second_section{
  width:20%;
}
.price_container .media-heading, .success_container .media-heading{
  color:#4e4e4e;
font-family: 'Segoe UI';
font-size:16px;
margin-bottom:0px;
}
.quote_confirm_name{
  /* font-family: 'Conv_seguisb'; */
    font-family: 'Conv_segoeuil';
  font-size: 17px;
  word-wrap: break-word;
}
.id_section{
  font-family: 'Conv_segoeuil';
  color:#fe6601 ;
  font-size: 14px;

  margin-bottom:10px;
}
.p-r-10{
  padding-right:10px;
}
.id_section span{
  color:#4e4e4e;
  font-size: 14px;
}
.id_section1{
  font-family: 'Conv_segoeuil';
  color:#4e4e4e ;
  font-size: 14px;
  /*margin-top:0px;
  margin-bottom:0px;*/

}
.fs-26{
  font-size:26px !important;
}
.action_popup .signupbtn{
  padding:3px 30px ;
}

.confirm_quote_section button{
border-radius:0px;
font-family: 'Conv_helvetica_normal';
color:#4e4e4e;
padding:2px 5px;
}
.confirm_quote_section button:focus{
  background: #fff;
  border-color:#ccc;
}
.single_quote_section:hover .confirm_quote_section button{
  background: #fe6601;
  color: #fff;
  border-color:#fe6601;
}

.confirm_active .confirm_quote_section button
{
  background: #adc061 !important;
  color:#fff !important;
  border-color:#adc061 !important;
  padding:2px 5px;
}

.single_quote_section:hover .quote_container .media-heading, .confirm_active .quote_container .media-heading{
  color: #fe6601;
}
.single_quote_section:hover  .angular-input-stars > li > i, .confirm_active .angular-input-stars > li > i{
  color:#fe6601 !important;
}
.quote_container .media-heading{
  	font-family: 'Conv_seguisb';
    font-size:14px;
    /*font-family: 'Segoe UI';*/
    /*font-family: 'Conv_segoeuil';*/
    /*font-family: 'Conv_Hel_lt_normal';*/
}
.back_btn{
  /*background: #4e4e4e !important;*/
  /*color:#fff !important;*/
  background: #4e4e4e !important;
  color:#fff !important;
  border:1px solid #4e4e4e;
  font-family: 'Conv_comic';
  padding:5px 10px;
  float:right;
  border-radius:4px;
  text-decoration: none !important;
  cursor: pointer;
}
.back_btn i{
  padding-right:5px;
}
.cunt_badge{
  background: transparent;
  color:#fe6601;
  /*margin-left:5px;*/
  padding-left: 5px;
  border-radius:0px;
  /*border:1px solid #fe6601;*/
  /*font-family: 'Conv_segoeuil';*/
  	/*font-family: 'Conv_seguisb';*/
  /*border-top-left-radius: 15px;
border-bottom-right-radius: 15px;*/

}
.requirement_section ul{
  list-style: none;
  margin-bottom: 0px;
}
.requirement_section ul li{
  display: inline-block;
  padding:0px 10px;
  font-size:20px;
  margin:5px;
}
.single_quote_section:hover .requirement_section ul li, .confirm_active .requirement_section ul li, .confirm_active .salary_job{
  color:#fe6601;
}
.m-t-0{
  margin-top:0px;
}
.btn.btn-default.confirm_btn.active{
  visibility: hidden;
}
.confirm_section_overall{
  padding:10px;
  clear:both;
  overflow: auto;
}
.confirmed_user_photo{
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: 8px solid #e1e1e1;
}
.gray_star i{
  color:#4e4e4e !important;
}
.orange_requirement i{
color:#fe6601;
}
.p-b-5{
  padding-bottom:5px;
}
.rightside_boot_panel{
  padding-left:6%;
}
.requirement_section .tooltip > .tooltip-inner{
  background: #4e4e4e;
  border-color: #4e4e4e;
}
.tooltip .tooltip-arrow{
  border-top-color: #4e4e4e !important;
}


/*preview job*/

.confirm_active .tag_section1 ul li{
  /*border:1px solid #fe6601;*/
}
.single_quote_section:hover .tag_section1 ul li{
  /*border:1px solid #fe6601;*/
}

.confirm_active .tag_section1 ul li span i.bg-phone, .single_quote_section:hover .tag_section1 ul li span i.bg-phone {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -130px -130px;
}


.confirm_active .tag_section1 ul li span i .bg-address,  .single_quote_section:hover .tag_section1 ul li span i.bg-address{
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -10px -10px;
}



.confirm_active .tag_section1 ul li span i.bg-anaphlysis, .single_quote_section:hover .tag_section1 ul li span i.bg-anaphlysis {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -50px -10px;
}



.confirm_active .tag_section1 ul li span i.bg-bachelor, .single_quote_section:hover .tag_section1 ul li span i.bg-bachelor {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -10px -50px;
}



.confirm_active .tag_section1 ul li span i.bg-car, .single_quote_section:hover .tag_section1 ul li span i.bg-car {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -50px -50px;
}



.confirm_active .tag_section1 ul li span i.bg-certificate, .single_quote_section:hover .tag_section1 ul li span i.bg-certificate {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -90px -10px;
}



.confirm_active .tag_section1 ul li span i.bg-checlk, .single_quote_section:hover .tag_section1 ul li span i.bg-checlk {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -90px -50px;
}



.confirm_active .tag_section1 ul li span i.bg-childcheck, .single_quote_section:hover .tag_section1 ul li span i.bg-childcheck {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -10px -90px;
}



.confirm_active .tag_section1 ul li span i.bg-diplomo , .single_quote_section:hover .tag_section1 ul li span i.bg-diplomo{
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -50px -90px;
}



.confirm_active .tag_section1 ul li span i.bg-driver,  .single_quote_section:hover .tag_section1 ul li span i.bg-driver{
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -90px -90px;
}



.confirm_active .tag_section1 ul li span i.bg-experience, .single_quote_section:hover .tag_section1 ul li span i.bg-experience{
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -130px -10px;
}



.confirm_active .tag_section1 ul li span i.bg-firstaid, .single_quote_section:hover .tag_section1 ul li span i.bg-firstaid {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -130px -50px;
}



.confirm_active .tag_section1 ul li span i.bg-housecheck, .single_quote_section:hover .tag_section1 ul li span i.bg-housecheck {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -130px -90px;
}



.confirm_active .tag_section1 ul li span i.bg-identity, .single_quote_section:hover .tag_section1 ul li span i.bg-identity {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -10px -130px;
}



.confirm_active .tag_section1 ul li span i.bg-insurance, .single_quote_section:hover .tag_section1 ul li span i.bg-insurance {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -50px -130px;
}



.confirm_active .tag_section1 ul li span i.bg-live, .single_quote_section:hover .tag_section1 ul li span i.bg-live {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -90px -130px;
}



.confirm_active .tag_section1 ul li span i.bg-phone, .single_quote_section:hover .tag_section1 ul li span i.bg-phone {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -130px -130px;
}



.confirm_active .tag_section1 ul li span i.bg-police, .single_quote_section:hover .tag_section1 ul li span i.bg-police{
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -170px -10px;
}



.confirm_active .tag_section1 ul li span i.bg-reference, .single_quote_section:hover .tag_section1 ul li span i.bg-reference {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -170px -50px;
}



.confirm_active .tag_section1 ul li span i.bg-school, .single_quote_section:hover .tag_section1 ul li span i.bg-school {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -170px -90px;
}



.confirm_active .tag_section1 ul li span i.bg-visa, .single_quote_section:hover .tag_section1 ul li span i.bg-visa {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -170px -130px;
}
.confirm_active .tag_section1 ul li span i.bg-address, .single_quote_section:hover .tag_section1 ul li span i.bg-address {
    width: 20px; height: 20px;
    background: url('../images/hover_css_sprites.png') -10px -10px;
}
.tag_section1 ul li{
display: inline-block;
padding: 2px 4px;
font-size: 20px;
margin: 5px;
}
.custom_align .media-body{
  vertical-align: middle;
}
.expand_collpase_bt{
  float:right;
  margin-right:10px;
}
.custom_detail_tab .nav-tabs > li > a{
font-family: 'Conv_helvetica_normal';
}
.confirm_section_overall b{
  font-family: 'Conv_helvetica_normal';
  text-decoration: underline;
  color:#000;
  /*background: #fe6601;*/
  padding: 0px 5px;
  margin-bottom: 10px;

}
.custom_area{
  font-family: 'Conv_helvetica_normal' !important;
}
.profile-usertitle-name{
  color:#4e4e4e;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  font-family: 'Conv_helvetica_normal';
  /*font-family: 'Conv_seguisb';*/
}
.user_name_header{
  color:#f26810 !important;
}


/*floating heliport*/
.upToScroll {
	position: fixed;
	display: inline-block;
	height: 48px;
	bottom: -50px;
	right: 30px;
	/*background: #fff;
	border: 1px solid #ddd;*/
	cursor: pointer;
	z-index: 1001;
}
.upToScroll.buttonShow {
	bottom: 60px;
	right: -60px;
}
.upToScroll a.scrollToTop {
	background: transparent url("../images/object_3_main.png") no-repeat 50% 100%;
	background-size: cover;
	width: 146px;
	height: 70px;
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.upToScroll a {
	display: inline-block;
	width: 48px;
	height: 48px;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #888888;
}
.upToScroll a.scrollToTop::before {
	content: '';
	display: block;
	background: transparent url("../images/object_3_addon.png") no-repeat 50% 100%;
	background-size: cover;
	width: 52px;
	height: 14px;
	animation-name: spining;
	-webkit-animation-name: spining;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-play-state: running;
	-webkit-animation-play-state: running;
}
.upToScroll a.scrollToTop::after {
	content: '';
	display: block;
	margin-top: 8px;
	margin-left: 59px;
	background: transparent url("../images/object_3_small.png") no-repeat 50% 100%;
	background-size: cover;
	width: 8px;
	height: 30px;
	animation-name: rotating;
	-webkit-animation-name: rotating;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-play-state: running;
	-webkit-animation-play-state: running;
}
@keyframes floating {
    0% {transform: translateY(0%) rotate3d(0,0,-1,0deg);}
    50% {transform: translateY(8%) rotate3d(0,0,-1,3deg);}
    100% {transform: translateY(0%) rotate3d(0,0,-1,0deg);}
}

.upToScroll a.scrollToTop:before {
    content: '';
    display: block;
    background: transparent url("../images/object_3_addon.png") no-repeat 50% 100%; background-size: cover;
    width: 52px; height: 14px;

    animation-name: spining;
    -webkit-animation-name: spining;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes spining {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(-360deg);}
}
@keyframes rotating {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
/*End floating heliport*/

.clear_link_filter{
  text-transform: capitalize;
  color:#ABABAB;
  float:right;
  /*padding-right:35px;*/
  font-size: 11px;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index:9;
  right:20px;
  top:5px;
  font-family: 'Conv_segoeuil';
}
.clear_link_filter:hover, .clear_all_filter:hover{
  color:#fe6601;
}
.clear_all_filter{
  text-transform: capitalize;
  color:#ABABAB;
  padding-left:20px;
  font-size: 11px;
  text-decoration: underline;
  font-family: 'Conv_segoeuil';
  cursor: pointer;
	float:right;
}

/*secondary boot panel*/
.secondary_boot_panel .panel-heading{
  /*background: #fff;
  color:#4e4e4e;*/
  border-radius: 0px;
}
.secondary_boot_panel .panel{
  border-radius:0px;
}



/*message tab*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background: #fe6601;
  color:#fff;
  font-family: 'Conv_helvetica_normal';
}
.list-group-item.active > .badge, .nav-pills > .active > a > .badge{
  color:#fe6601;
}
.nav-pills > li > a{
    font-family: 'Conv_helvetica_normal';
    color:#4e4e4e;
}
.nav-pills > li > a .badge{
  background: #fe6601;
  color:#fff;
}

.single_conversion{
  padding:10px 0px;
  border-bottom: 2px dotted #e1e1e1;
  font-family: 'Conv_segoeuil';
  color:#4e4e4e;
}
.message_body .view_message_highlite{
  color:#fe6601;
  text-decoration: underline;
  cursor: pointer;
}
.message_body  .media-heading{
  color:#fe6601;
  font-size: 14px;
  margin-bottom: 0px;
  font-family: 'Conv_seguisb';
}
.overall_conversion{
  max-height:350px;
  overflow-y: auto;
}
.compose_link{
  color: #fe6601 !important;
  font-family: 'Conv_Helvetica-Bold';
  text-decoration: underline;
}
/*End Message tab*/




/*style of care detail icon*/
.bg-afterschool_gray {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -10px -10px;
}


.bg-beforeschool_gray {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -47px -10px;
}



/*.bg-afterschool_orange {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -84px -10px;
}*/


.bg-daycare_gray {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -121px -10px;
}


/*.bg-beforeschool_orange {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -158px -10px;
}*/



/*.bg-daycare_orange {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -195px -10px;
}*/



.bg-nightcare_gray {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -232px -10px;
}



/*.bg-nightcare_orange {
    width: 17px; height: 17px;
    background: url('../images/detail_sprite.png') -269px -10px;
}*/

.single_joblist:hover .bg-nightcare_gray {
  width: 17px; height: 17px;
  background: url('../images/detail_sprite.png') -269px -10px;
}
.single_joblist:hover .bg-daycare_gray{
  width: 17px; height: 17px;
  background: url('../images/detail_sprite.png') -195px -10px;
}
.single_joblist:hover .bg-beforeschool_gray{
  width: 17px; height: 17px;
  background: url('../images/detail_sprite.png') -158px -10px;
}
.single_joblist:hover .bg-afterschool_gray{
  width: 17px; height: 17px;
  background: url('../images/detail_sprite.png') -84px -10px;
}
/*end of style care detail icon*/
.view_job_btn, .view_job_btn:focus{
  background: transparent !important ;
  color:#fff !important ;
  border:2px solid #fff !important;
  border-radius:4px !important;
  /* border:none !important; */
  font-family: 'Conv_seguisb';
  margin-top: 5px;
  padding:3px 8px;
    /* font-family: 'Conv_comic'; */
}
.single_joblist:hover .view_job_btn{
  background: #4e4e4e;
  color:#fff ;
}








/*view / preview job css*/
.preview_job_view{
	position: relative;
	background: #fff;
  padding:15px;
	margin-bottom: 15px;
  box-shadow: 0 1px 4px rgba(0,0,1,0.06);
}
.preview_job_left .agency_name{
  font-family: 'Conv_Helvetica-Bold';
  color:#3c495a;
  font-size: 18px;
}
.label_center{
  font-weight: normal;
  font-family: 'Conv_helvetica_normal';
  font-size:14px;
  padding-top:5px;

}

.label_center.label_success{
border: 1px solid #adc061;
color:#fff !important;
background: #adc061 !important;
}
.label_center.label-quoted{
  border: 1px solid #fe6601;
  color:#fe6601;
  background: #fe6601;

}
.m-0{
  margin:0px !important;
}
.date_section1 .day_selector ul {
  text-align: left;
}
.date_section1 .day_selector ul  li{
  background: #e1e1e1;
  font-family: 'Segoe UI';
}
.date_section1 .day_selector ul li.active {
	background: #f26810;
	color: #fff;
}
.right_btn_section1{
  padding:0px;
}
.right_btn_section1 .salary_job {
	font-size: 20px;
	color: #4e4e4e;
	font-family: 'Conv_Helvetica-Bold';
}
.date_section1 .job_time_date ul li{
  color:#4e4e4e;
  display: inline-block;
  text-align: left;
  margin:5px 0 5px 0;
}
.date_section1 .job_time_date ul{
  text-align:left;
}
.date_section1{
  margin:10px 0 0 0;
}
.heading_confirmed_name{
  font-family: 'Conv_helvetica_normal';
  font-size: 15px;
  text-decoration: underline;
}
.main_profile_confirm_section{
  margin-bottom: 10px;
  padding:15px;
}
.workerid_css{
  font-family: 'Conv_helvetica_normal';
  font-size: 10px;
  color:#4e4e4e;
  margin:0 0 5px 0;
}
.workerid_css span{
    color:#fe6601;

}

/*message section css*/
.message_heading{
  margin:0;
  font-family: 'Conv_helvetica_normal';
  font-size:16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.left_side_private_section{
  background: #f5f5f5;
  /*padding:0 8px;
  padding:5px;*/
  border-bottom:1px solid #e1e1e1;
}
.left_side_private_section  .media{
  padding:10px 0;
  margin:0;
  border-bottom:1px solid #ffffff;

}
.left_side_private_section  .media:last-child{
  border:none;
}
.left_side_private_section  .media .media-left img{
  width:40px;
  height:40px;
  border:2px solid #e1e1e1;
  border-radius: 50%;
}
.left_side_private_section  .media .media-body .media-heading{
font-family: 'Conv_helvetica_normal';
font-size:12px;
}
.left_side_private_section  .media .media-body p{
  font-family: 'Conv_segoeuil';
  font-size: 12px;
  text-align:justify;
  line-height: 15px;
}

.job_full_width{
  width:100% !important;
}
.work_details_ul_preview{
  list-style: none;
}
.work_details_ul_preview li{
  display: inline-block;
  font-family: 'Conv_segoeuil';
  /*font-family: 'Conv_Helvetica-Bold';*/
  font-weight: normal;
  /*float:right;*/
  margin:0 10px 0 0;

}
.work_details_ul_preview .label{
font-weight: normal;
  font-size: 15px;
}
.vertical_tab .tabs_wrapper .tab-container{
  min-height:250px;
}
.vertical_tab .tabs_wrapper ul.tabs li {
	margin: 0;
	cursor: pointer;
	padding: 8px 15px;
	line-height: 31px;
	color: #000;
	text-align: left;
	/* border-bottom: 1px dotted #d2d2d2; */
	/* font-weight: bold; */
	background-color: #eee;
	/* background: #600026; */
	font-family: 'Conv_segoeuil';
	/* font-family: 'Conv_helvetica_normal'; */
	/* font-family: 'Conv_comic'; */
	font-size: 16px;
  border-top-left-radius:35px;
  box-shadow: -5px 10px 5px -6px rgba(217,217,217,1);

}

.job_detail_heading2{
  font-family: 'Conv_helvetica_normal';
  font-size: 15px;
  margin:0 0 10px 0;
  background: transparent;
  color:#000;
  padding:5px 0;
  border-bottom:2px dotted #e1e1e1;
}

.profile-usertitle .angular-input-stars > li > i, .profile-usertitle .angular-input-stars > li > i:hover, .profile-usertitle .angular-input-stars > li .active{
  color:#4e4e4e;
}


/*quote section preview job*/

.details_link_preview{
font-family: 'Conv_helvetica_normal';
cursor: pointer;
}
.action_button_quote a{
  width:100%;
  background: #fff !important;
  color:#4e4e4e !important;
  font-family: 'Conv_segoeuil';
  border:1px solid #e1e1e1 !important;
  margin:5px 0;
}
.custom_p_quote{
  padding:5px 0 !important;
  margin:0 !important;
  font-family: 'Conv_helvetica_normal' !important;
  font-size: 14px !important;
  /*text-align: right;*/

}
.custom_p_quote span{
  color:#1393B6;
}
.single_quote_normal{
  background: #fff;
  display: table;
  width:100%;
  /*border-bottom:2px dotted #e1e1e1;*/
  /*overflow: auto;
  padding:10px;
  background: #fff;
  margin-bottom:5px;*/
}
.orange_badge{
  background: #fe6601 !important;
  color:#fff !important;
  font-family: 'Conv_Helvetica-Bold';
}
.work_details_ul_preview .label-danger{
  background: #fe6601 !important;
  color:#fff !important;
  /*border:1px solid #e1e1e1;*/
}
.work_details_ul_preview .label-primary{
  background: #0088C1 !important;
}
.post_forum_textarea{
  resize: none;
  border-radius:0px;
  box-shadow: none;

}
.submit_post_btn{
  margin:10px 0 0 0;
  background: #fe6601 !important;
  color:#fff !important;
  border:1px solid #fe6601 !important;
  font-family: 'Conv_helvetica_normal';
  float:right;
  padding:2px 10px;
  border-radius:3px;
}

.right_side_post .media .media-left img {
	width: 40px;
	height: 40px;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
}
.post_msg{
  font-size: 12px !important;
  text-align: justify;
  padding:0px 0px 5px 0 !important;
  margin:0 !important;
}
.second_section_post{
  padding-left: 10px;
  margin:10px 0;
}
.third_section_post{
  padding-left: 20px;
  margin:10px 0;
}
.third_section_post .post_msg{
  border-bottom:none;
}
.paid_txt
{
  right: -54px;
  top: 11px;
}
.bl_payment
{
  padding-top: 18px;
}
.c_fb
{
  display: flex;
}
.c_fb button
{
  margin-right:10px;
}
.w_payment_tpspc
{
  margin-top: 30px;
}
.w_paid_txt
{
  right: -47px;
  top: 8px;
}
.w_complt
{
  right:-33px;
  top:1px;
}
.w_fb_btn
{
	display:block;
}
.w_fb_btn button
{
	margin-right:5px;
	margin-bottom:10px;
}

.postjob_type_section .form-group span textarea
{
	min-height:100px;
  border:1px solid  #e1e1e1;
  box-shadow: none !important;
}
.pp_msg .tab-pane
{
	padding-bottom:0px;
}
.pp_msg .nav-tabs > li > a
{
	font-size:16px;
}
.comments-list::before {
    content: '';
    width: 1px;
    height: 83%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 60px;
	z-index:-1;
}
.comments-list li
{
	list-style-type:none;
}
.reply-list li
{
	position:relative;
}
.reply-list li::before {
    content: '';
    width: 40px;
    height: 1px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: 16px;

}
.last-list::before
{
	left:70px;
	top:30px;
}
.msg_rply_bx
{
	margin-top:20px;
}
.msg_rply_bx .btn-default, .msg_rply_bx .btn-default:hover, .msg_rply_bx .btn-default:focus
{
	background-color:#fe6601;
	border:1px solid #fe6601;
}
.msg_rply_bx .btn-default i
{
	color:#ffffff;
}
.rightside_btn
{
	float:right;
	margin-right:15px;
}
.msg_rply_bx .input-group .form-control:focus
{
	border:1px solid #fe6601;
	box-shadow:none;
}
/*.p_msg_left
{
	border-right:1px solid #dddddd;
	max-height:300px;
	overflow:auto;
}*/
.p_msg_left .p_msg_name
{
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:58%;
}
.p_personal_msg .media
{
	border-bottom:0px;
}
.pp_msg .second_section_post
{
	padding-left:55px;
}
.p_personal_msg
{
	background:transparent;
}
.p_personal_msg .media-body
{
	background-color:#f8f8f8;
	width:auto;
	padding:10px 10px 5px 10px;
	border-radius:4px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.2);
	position:relative;
	overflow:visible;
}
.triangle-topright { width: 0; height: 0; border-top: 10px solid #eeeeee; border-left: 10px solid transparent; top:10px; left:-10px; position:absolute;}
 .triangle-topleft { width: 0; height: 0; border-top: 10px solid #eeeeee; border-right: 10px solid transparent; top:10px; right:-10px; position:absolute;}
.right_chat
{
	text-align:right;
	float:right;
}
.right_chat .media-left
{
	padding-left:10px !important;
}
.right_chat .media-body
{
	background-color:transparent;
	border:1px solid #dddddd;
	box-shadow:none;
}
.m_reply
{
	padding-left:0px;
}
.m_reply li
{
	list-style-type:none;
	display:inline-block;
	margin:0px 10px 0px 0px;
}
.m_reply li a
{
	font-size:12px;
	color:#333333;
	text-decoration:none;
}
.m_reply li a:hover
{
	color:#fe6601;
}
.p_msg_area .media-body
{
	border-bottom: 1px solid #e1e1e1;
}
.r_i_box
{
	margin-top:5px;
	margin-bottom:10px;
}
.m_reply a span
{
	background-color:#000000;
	color:#ffffff;
	font-size:10px;
	padding:2px 5px;
	border-radius:50%;
	font-weight:600;
	margin-right:5px;
}
.m_reply a:hover span
{
	background-color:#fe6601;
}
.personal_chat_height
{
	height:240px;
	overflow:auto;
}

/*** PUBLIC STYLE CSS STARTS HERE **/

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 0px auto 15px;
	width: 100%;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 29px;
	width: 7px;
	height: 7px;
	border: 3px solid #cccccc;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 86%;
	float: right;
	position: relative;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #f8f8f8;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 86%;
}
.comment-box .comment-head {
	background: #f8f8f8;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	margin-left: 6px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #fe6601;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
	margin-top:5px;
	margin-bottom:5px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #f9f9f9;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	border-radius: 3px;
}
.like_count
{
	float:right;
	margin-left:15px;
}
.like_count span
{
	font-weight:bold;
	font-size:13px !important;
	line-height:22px;
}
/*** PUBLIC STYLE CSS STARTS HERE **/




/**/
.top_row{
  margin:20px 0 0 0;
}
.suceess_label{
  background: #fe6601 ;
  color:#fff;
  font-size: 13px;
  padding:3px 20px;
  border-radius: 5px;

  cursor: not-allowed !important;
  font-family: 'Conv_comic';
}
/* .day_footer_first, .time_footer_first, .viewdetail_footer_first{
  display: table-cell;
  vertical-align: middle;
}

.day_footer_first{
width:33.33%;
}
.time_footer_first{
width:33.33%;
}
.viewdetail_footer_first{
  width:33.33%;
} */
.detail_vertical_side{
  background: #fff;
  overflow: auto;
}
.single_joblist:hover .suceess_label{
  background: #4e4e4e !important;
  color:#fff;
}
.float-right{
  float:right;
}
.job_detail_firsttab .control-label, .job_detail_firsttab .rigprofcnt span{
  font-size: 13px;
  font-weight: normal;
}
.job_detail_firsttab .form-group {
	border-bottom: 1px solid #eeee;
	padding-bottom: 0px;
}
.requirement_heading{
  font-family: 'Conv_comic';
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #e1e1e1;
}
.tag_section_tab ul li{
  border:none !important;
  box-shadow: none !important;
  background: #f3f3f3 !important;
}
.other_tab_p p, .other_tab_p{
  font-size: 13px !important;
  padding: 0px !important;
}
.action_buttons_confirm{
  list-style: none;
}
.action_buttons_confirm li{
margin-bottom: 10px;
display: inline;
}
.action_buttons_confirm .view_profile_btn{
background: #fe6601 ;
font-family: 'Conv_comic';
color:#fff;
border-radius: 50px;
height:40px;
width:40px;
}
.action_buttons_confirm .view_review_btn{
  background: #0088C1  ;
  font-family: 'Conv_comic';
  color:#fff;
  border-radius: 50px;
  height:40px;
  width:40px;
}
.quote_section_fullwidth{
  display: table;
  width:100%;
  cursor: text;
  padding:10px 0;
  border-bottom:1px solid #e1e1e1;
}
.border_remove_lastquote:last-child .quote_section_fullwidth{
  border-bottom:none;
}

.quote_section_fullwidth .first_div {
  display: table-cell;
  width:35%;
  vertical-align: middle;
}
 .quote_section_fullwidth .second_div{
   width:20%;
     display: table-cell;
   vertical-align: middle;
 }
 .quote_section_fullwidth .third_div{
   width:25%;
   display: table-cell;
     vertical-align: middle;
 }
 .quote_section_fullwidth .four_div{
   width:30%;
   display: table-cell;
     vertical-align: middle;
 }
.quote_name{
  	font-family: 'Conv_helvetica_normal';
    font-size: 14px;
}
.quote_value{
  padding:0 !important;
  margin:0 !important;
  font-family: 'Conv_helvetica_normal' !important;
  font-size: 14px;
  color:#fe6601  !important;
}
.quote_img{
  border-radius:50%;
}
.quote_label{
  font-size: 12px;
  color:#bcbcbc;
}
.action_quote_btn{
  list-style: none;
}
.action_quote_btn li{
  display: inline;
}
.action_quote_btn li a{
  text-decoration: none !important;
  border-radius: 50%;
  font-size: 13px;
  height:35px;
  width:35px;
  padding:8px;
}
.action_quote_btn .view_profile_btn{
background: #fe6601;
color:#fff;
}
.action_quote_btn .sent_msg_btn{
  background: #0088C1;
  color:#fff;
}
.action_quote_btn .view_review_btn{
  background: #12b683 ;
  color:#fff;
}
.confirm_quote_btn{
  background: #0088C1 ;
  color:#fff;
  padding:3px 5px;
  font-family: 'Conv_helvetica_normal';
  font-size: 13px;
  border-radius:2px !important;
}
.confirm_quote_btn:hover, .confirm_quote_btn:focus{
  background: #fe6601   ;
  color:#fff;
  padding:3px 5px;
  font-family: 'Conv_helvetica_normal';
  font-size: 13px;
}
.confirm_quote_btn_label{
background: #fe6601   !important;
 color:#fff !important;
 padding:0px 5px;
 font-family: 'Conv_helvetica_normal';
 font-size: 13px;
 border-radius: 0px;
}




/*public message design*/
.character_count{
  font-size: 12px;
  font-family: 'Conv_helvetica_normal';
  cursor: text;
}
.messagesubbtn .submit_btn_pvj {
	color: #fff;
	font-family: Conv_comic;
	/* font-family: 'Conv_helvetica_normal'; */
  font-family: 'Segoe UI';
	border-radius: 4px;
	padding: 4px 20px;
	font-size: 15px;
	border: 1px solid #1e8fe1;
	background: #1e8fe1 ;
}
.counted{
  border:1px solid #e1e1e1 !important;
  box-shadow: none !important;
}
.public_message_div{
  background: #f9f9f9;
  padding:10px;
  border-radius:10px;
  /*border:1px solid #e1e1e1;*/
}





/*preview job recent*/
.verical_tab_preview_job{

}
.verical_tab_preview_job .single_quote_user{
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  padding:15px 0px;
  border-bottom:1px solid #eaeaea;
  width:100%;
  flex-wrap:wrap;
}
.verical_tab_preview_job .single_quote_user .first_section, .verical_tab_preview_job .single_quote_user .second_section, .verical_tab_preview_job .single_quote_user .third_section{
  flex: 1;
}
.verical_tab_preview_job .single_quote_user .first_section{
flex-grow: 2;
}
.verical_tab_preview_job .single_quote_user .second_section{
/*background: orange;*/

}
.verical_tab_preview_job .single_quote_user .third_section{
/*background: yellow;*/
flex-grow: 2;
}
.verical_tab_preview_job .single_quote_user .quoter_name{
  font-family: 'Conv_segoeuil';
  font-size: 13px;
  margin-bottom:0;

}
.verical_tab_preview_job .single_quote_user .angular-input-stars > li > i{
  color:#4e4e4e;
  font-size: 14px;
}
.verical_tab_preview_job .single_quote_user .rate_per_hour{
  font-family: 'Conv_segoeuil';
  font-size: 13px !important;
  padding:0px !important;
  margin:0px !important;
  line-height: 15px;
}
.verical_tab_preview_job .single_quote_user  .rate_per_hour span{
  color:#fe6601  !important;
  /*font-family: 'Conv_seguisb';*/
  font-family: 'Conv_segoeuil';
  font-size: 15px;
}
.verical_tab_preview_job .single_quote_user .quote_value{
  	font-family: 'Conv_segoeuil' !important;
    font-size: 15px;
    text-align: center;
}
.verical_tab_preview_job .single_quote_user .quote_label{
  margin:0px !important;
  padding:0px !important;
  font-size: 12px;
  color:#4e4e4e;
  text-align: center;
}
.verical_tab_preview_job .single_quote_user  .confirmed_btn{
  background: #4FA904 !important;
  border:none !important;
  color:#fff !important;
  font-family: 'Segoe UI';
  font-size: 14px;
  border-radius:30px;
}
.verical_tab_preview_job .single_quote_user  .confir_btn{
  background: #4e4e4e !important;
  border:none !important;
  color:#fff !important;
  font-family: 'Conv_segoeuil';
  font-size: 13px;
  border-radius:30px;
}
.verical_tab_preview_job .single_quote_user  .paid_btn{
  background: #0088C1 !important;
  border:none !important;
  color:#fff !important;
  font-family: 'Conv_segoeuil';
  font-size: 14px;
  cursor: default;
}
.verical_tab_preview_job .single_quote_user  .expand_btn{
  background: #fff;
  border:none !important;
  font-family: 'Conv_segoeuil';
  font-size: 13px;
  box-shadow: none !important;
}

.verical_tab_preview_job .single_quote_user  .expand_btn i{
  position: relative;
  top: 2px;
}
.single_quote_user .media-object{
  border:2px solid #AEAEAE ;
  border-radius:4px;
}
.apply_bg{
  background: #f8f8f8;
  border-radius:4px;
  /*padding:0px 5px;*/
}
.apply_bg .quote_name, .apply_bg .details_link_preview{
  color:#fff;
}
.apply_bg .content_area_comment{
  background: #fff;
  color:#4e4e4e;
  border:1px solid #d5d5d5;
  border-radius: 20px;
}
.apply_bg  .single_quote_user{
  border-bottom:none;
}
.apply_bg .expand_btn{
  background: transparent !important;
}
.apply_bg .content_area_comment p{
  color:#4e4e4e !important;
}
.apply_bg .custom_p_quote{
  color:#fff !important;
}
.apply_bg .custom_p_quote span{
color:#fe6601 ;
}
.p-10{
  padding:10px;
}
.apply_bg .quote_section_fullwidth{
  border-bottom:none;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.more_actions_detail_quote button{
  text-align: left;
  max-width:110px;
  min-width:110px;
  margin-bottom: 3px;
  font-family: 'Conv_segoeuil';
  border-radius:20px;
}
.more_actions_detail_quote a{
  text-align: left;
  max-width:110px;
  min-width:110px;
  margin-bottom: 3px;
  font-family: 'Conv_segoeuil';
  border-radius:20px;
}
.more_actions_detail_quote button:hover, .more_actions_detail_quote button:focus{
  border-color:#fe6601;
  background: #fe6601;
  color:#fff;

}
.more_actions_detail_quote a:hover, .more_actions_detail_quote a:focus{
  border-color:#fe6601;
  background: #fe6601;
  color:#fff;

}


.main_quote_vertical_container:last-child  .verical_tab_preview_job .single_quote_user{
  border-bottom:none !important;
}
/*preview job ends here*/


.unsuccessful_job,.unsuccessful_job:hover{ /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed;
}
.fs-11{
  font-size: 11px !important;
}


/*  ajax loader css*/
.ajax_loader i{
  color:#fe6601;
  position: absolute;
  right:10px;
  top:8px;
  font-size:18px;
}

.white_space_property{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message_public_p{
  clear:both;
}

.public_contact_btn{
  background: #4e4e4e !important;
  color:#fff !important;
  border-radius: 3px !important;
  border:none  !important;
}
.review_msg_btn{
  font-family: 'Conv_Helvetica-Bold';
  background: #e1e1e1;
  padding:2px 10px;
  cursor: auto;
}
/*payment error*/
.uib-alert-design.alert-danger{
  background: #f6c3c3;
  color:#ff2800;
  font-family: 'Conv_segoeuil';
  border:1px solid #f6c3c3;
  padding-top:10px;
  padding-bottom:10px;
}
.uib-alert-design.alert-danger h4{
  text-transform: uppercase;
  font-size:12px;
  font-family: 'helveticaneuebold';
  margin:0px;

}
.uib-alert-design.alert-danger .alert_name{
font-size: 12px;
padding:5px 0 0 0;
margin:0;
color:#000;
font-family: 'Conv_helvetica_normal';
text-transform: capitalize;
}
.uib-alert-design.alert-danger .alert_msg{
font-size: 12px;
padding:0px;
margin:0px;
color:#000;
font-family: 'Conv_helvetica_normal';
}
.uib-alert-design.alert-danger .close span{
  color:#ff2800 !important;
}
.uib-alert-design.alert-danger .close{
  opacity: 1 !important;
  text-shadow: none;
  font-size: 18px;
}

/*payment success*/
.uib-alert-design.alert-success{
  background: #e8f0de;
  color:#22990b;
  font-family: 'Conv_segoeuil';
  border:1px solid #22990b;
  padding-top:10px;
  padding-bottom:10px;
}
.uib-alert-design.alert-success h4{
  text-transform: uppercase;
  font-size:12px;
  font-family: 'helveticaneuebold';
  margin:0px;
}
.uib-alert-design.alert-success .alert_name{
font-size: 12px;
padding:5px 0 0 0;
margin:0;
color:#000;
font-family: 'Conv_helvetica_normal';
text-transform: capitalize;
}
.uib-alert-design.alert-success .alert_msg{
font-size: 12px;
padding:0px;
margin:0px;
color:#000;
font-family: 'Conv_helvetica_normal';
}
.uib-alert-design.alert-success .close span{
  color:#0c8c12 !important;
}
.uib-alert-design.alert-success .close{
  opacity: 1 !important;
}