/*view profile css*/
 .color-red{
     color:#ff2800;
}
 .custom-content-wrapper {
     padding: 15px;
     background: #fff;
     margin-bottom: 20px;
     box-shadow: 0 5px 5px #d7d7d7;
}
 .custom-content-wrapper, .bio_section h1 {
     color: #2c383c;
     margin: 0px 0 0px 0;
     font-family: 'Conv_segoeuil';
     font-size: 23px;
}
 .custom-content-wrapper .main_heading i, .edit-icon-exp {
     color: #4e4e4e;
     font-size: 15px;
     height: 25px;
     width: 25px;
     padding: 5px;
     border-radius: 50px;
     cursor: pointer;
}
 .custom-content-wrapper .main_heading i:hover, .edit-icon-exp:hover {
     color: #fe6601;
}
 .custom-content-wrapper h3 {
     margin: 0px;
     font-size: 12pt;
     font-family: 'Conv_Helvetica-Bold';
     color: #2c383c;
}
 .custom-content-wrapper span {
     color: #6c6c6c;
     margin-top: 0px;
     font-size: 10pt;
     line-height: 15pt;
     font-family: 'Conv_segoeuil';
}
 .custom-content-wrapper h3 span {
     color: #fe6601;
     font-family: 'Conv_helvetica_normal';
}
 .custom-content-wrapper p {
     font-family: 'Conv_helvetica_normal';
     color: #393939;
     font-size: 15px;
     padding-top: 5px;
}
 span.sub_heading {
     font-family: 'Conv_seguisb';
     color: #909090;
     width: 100%;
     font-size: 14px;
     text-transform: uppercase;
}
 .sub_heading .preference_p {
     margin-bottom: 0px;
}
 .preference_p {
     padding-top: 5px;
     font-size: 14px;
}
 .custom-content-wrapper hr {
     margin: 5px 0px !important;
}
/*profile card*/
 .profile_left_bar {
     background: #fff none repeat scroll 0 0;
     padding: 15px;
     border: 1px solid #e1e1e1;
     margin-bottom: 30px;
     box-shadow: 0 5px 5px #d7d7d7;
}
 .profile_picture_section img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin: 0 auto;
     border:3px solid #e1e1e1;
}
 h3.name {
     font-family: 'Conv_segoeuib';
     text-transform: uppercase;
     font-size: 18px;
     color: #fe6601;
     padding: 5px 0px;
     margin-bottom: 3px;
}
 .profile_menu_ul {
     list-style: none;
     margin: 0px 0 0 0px;
}
 .profile_menu_ul li {
     text-align: left;
     padding: 15px;
     border-bottom: 1px solid #e1e1e1;
     font-family: 'Conv_helvetica_normal';
     color: #393939;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 15px;
}
 .profile_menu_ul li:last-child {
     border-bottom: none;
}
 h5.age {
     margin: 0px;
     color: #626262;
     font-family: 'Conv_Hel_lt_normal';
     font-size: 12px;
     padding-bottom: 15px;
     border-bottom:1px solid #e1e1e1;
}
 .profile_menu_ul li i {
     color: #fe6601;
     padding-right: 10px;
     font-size: 18px;
     float: left;
}
 .profile_edit_icon {
     color: #4e4e4e;
     font-size: 15px;
     height: 25px;
     width: 25px;
     padding: 5px;
     cursor: pointer;
}
 .profile_edit_icon:hover {
     color: #fe6601;
}
/*availability*/
/*credential section*/
 .credential_section {
     font-family: 'Conv_helvetica_normal';
}
 .credential_section h4, .language_section h4 {
     font-size: 15px;
     color: #f26810;
     background: #f9f9f9;
     padding: 7px 5px;
}
 .credential_section div p {
     font-size: 13px;
     padding: 0 0 3px 0;
}
 span.second {
     font-size: 13px;
     font-family: 'Conv_segoeuil';
     padding-left: 10px;
     color: #4e4e4e;
}
 .credential_section div:last-child {
     border-bottom: none;
}
/*reference section*/
 .relationship_email {
     font-family: 'Conv_helvetica_normal' !important;
     line-height: 0px !important;
}
 .relationship_email1 {
     color: #393939 !important;
}
 .reference_name {
     font-family: 'Conv_Helvetica-Bold' !important;
}
 .download_link {
     text-decoration: underline;
     color: #4e4e4e !important;
     cursor: pointer;
     padding-right: 5px;
     font-family: 'Conv_segoeuil' !important;
}
 .download_link:hover {
     color: #f26810 !important;
}
 .download_link i {
     font-size: 17px;
}
 .reference_section {
     padding: 5px 0px;
}
 .completion_section_profile .progress{
     margin:15px 0;
}
 .completion_section_profile h5 {
     font-family: 'Conv_helvetica_normal';
     font-size: 14px;
     margin-top: 0;
     margin-bottom: 10px;
     text-align: center;
     color: #000;
}
 .body_bg_gray {
     background: #F4F7FA;
}
/*tooltip myprofile*/
 .edit_profile_btn {
     margin-top: 0px;
     float: right;
     font-size: 13px;
     color: #fff !important;
     text-decoration: none;
     margin-bottom: 20px;
     cursor: pointer;
     text-decoration: none !important;
     font-family: 'Conv_segoeuil';
     text-align: right;
     background: #4e4e4e !important;
     border-radius: 3px;
     padding:5px 10px ;
     border:none;
}
/*others section*/
 .secondary_profile_header {
     font-family: 'Conv_Helvetica-Bold';
     margin-top: 0;
     font-size: 13px;
     text-transform: uppercase;
}
 .reference_section p{
     margin:0px !important;
}
 .reference_section p:nth-child(2){
     color:#fe6601;
}
 .reference_section p:nth-child(3){
     color:#909090;
}
 .reference_section p i:hover{
     cursor:pointer;
     color:#fe6601;
}
/*sprites my profile*/
 .icon_class_content span {
     font-family: 'Conv_segoeuil';
     font-size: 15px;
     padding-left:10px;
}
 .message_note {
     color: red !important;
     font-family: 'Conv_helvetica_normal' !important;
     font-size: 14px !important;
}
/*================================= Update pfofile ===================================*/
 .update_profile_menu_ul li a {
     color: #4e4e4e;
     float: left;
     text-decoration: none;
     font-family: 'Conv_helvetica_normal';
}
 .update_profile_menu_ul li a:hover {
     color: #fe6601;
}
 .update_image_icon {
     background: transparent;
     color: #f26810;
     padding: 8px 0px;
     font-size: 16px;
     margin-top: 10px;
     border-radius: 5px;
     cursor: pointer;
     font-family: 'Conv_segoeuil';
}
 .group1 input[type="text"], .group1 input[type="email"] {
     padding: 10px 10px 8px 0px;
     border-bottom: 2px solid #e4e4e4;
     font-size: 14px;
}
 .group1 input[type="text"]:focus, .group1 input[type="email"]:focus {
     border-bottom: 1px solid #fe6601;
}
 .postjob_type_section1 h4 {
     font-family: 'Conv_helvetica_normal';
     color: #000;
     font-size: 15px;
     word-wrap: break-word;
}
 .update_heading {
     font-family: 'Conv_comic';
     font-size: 18px;
     color: #fe6601;
     padding-bottom: 10px;
     background: linear-gradient( to left, rgba(255, 255, 255, 1) 0%, rgba(242, 104, 16, 1) 100%) left bottom #fff no-repeat;
     background-size: 100% 1px;
     margin-bottom: 25px;
}
 .manadarory_style {
     color: #989898 !important;
     padding-top:0 !important;
     margin-top:0 !important;
     font-family: 'Conv_segoeuil' !important;
     font-size: 12px !important;
}
 .action_section_update_profile .custom_btn_update {
     margin: 30px 0px 10px 10px;
}
 .custom_btn_update_back{
     background: #e1e1e1 !important;
     color: #000 !important;
     font-family: 'Conv_comic';
     border: 1px solid #e1e1e1 !important;
     border-radius:5px !important;
     margin: 30px 0px 10px 0px;
}
 .custom_btn_update {
     background: #f26810 !important;
     color: #fff !important;
     font-family: 'Conv_comic';
     border: 1px solid #f26810 !important;
     border-radius:5px;
}
 .attach_btn {
     background: #fff;
     border: 1px solid #b7b7b7;
     padding: 0px 5px;
     border-radius: 3px;
     font-family: 'Conv_segoeuil';
     color: #989898;
     font-size: 14px;
     text-decoration: none !important;
     white-space: nowrap;
}
 .attach_btn:hover{
     color:#f26810;
     border: 1px solid #f26810;
}
/*update profile custom check box section*/
 .update_profile_step2 .check_box_section .control__indicator{
     width:20px;
     height:20px;
     top:8px;
}
 .update_profile_step2 .check_box_section .control--checkbox .control__indicator::after {
     left: 6px;
     top: 2px;
     width: 6px;
     height: 11px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
}
 .update_profile_step2 .check_box_section .control{
     font-family: 'Conv_segoeuil';
}
 .gray_i{
     color:#e1e1e1 !important;
}
/*employment history*/
 .experience_pane p{
     padding:0px;
     margin:0px;
     color:#000;
     font-size:15px;
}
 .experience_pane {
     margin:15px 0px;
}
 .experience_pane .media-left img{
     border:1px solid #e1e1e1;
}
 .year_exp{
     margin:5px 0;
     font-size: 11px;
}
 .add_exp_update{
     margin-bottom: 35px;
}
 .add_exp_update a{
     text-decoration: none;
     font-family: 'Conv_segoeuil';
     color:#fff !important;
     font-size:14px;
     background: #fe6601 !important;
     padding:5px 10px;
     border-radius: 5px;
     margin-bottom: 0px;
}
 .cursor_pointer{
     cursor: pointer;
}
 .exp_pane_single_updatre{
     padding:10px 0px;
     border-bottom: 1px solid #e1e1e1;
}
 .decription_others_update{
     font-family: 'Conv_segoeuil' !important;
     text-align: justify;
     font-size: 15px;
     color:#4e4e4e;
     padding-bottom: 10px;
}
/*add expereince popup*/
 .add_experience_form form .form-group input, .add_experience_form form .form-group input:focus{
     border-radius:0px !important;
     border:1px solid #aaa !important;
     box-shadow: none;
}
 .add_experience_form form label{
     font-family: 'Conv_segoeuil';
}
 .add_experience_form .chosen_style .chosen-single{
     border:1px solid #aaa !important;
     border-radius:0px !important;
     width:100%;
     font-family: 'Conv_segoeuil';
}
 .add_experience_form .chosen_style .chosen-container{
     border-bottom:none !important;
}
 .add_experience_form form .form-group textarea, .add_experience_form form .form-group textarea:focus{
     border-radius: 0px;
     resize: none;
     border:1px solid #aaa !important;
     box-shadow:none;
     white-space: normal;
}
 .upload_section_popup h5{
     font-size: 14px;
     font-family: 'Conv_segoeuil';
     margin:0 0 5px 0;
}
 .add_experience_form .chosen_style .chosen-container a span{
     padding-left: 10px;
     color:#4e4e4e !important;
}
 .upload_section_popup .upload_btn{
     border-radius: 0px;
     background: #f26810 !important;
     color:#fff !important;
     border-color:#f26810 !important;
     margin-top:0px;
}
 .add_experience_form .action_section{
     border-top:1px solid #e1e1e1;
     padding-top: 15px;
}
 .not-available{
     visibility: hidden;
}
 .profile_pic_update_btn{
     background: transparent ;
     color:#000;
     border-color:transparent;
     padding:5px 8px;
     border:1px solid #e1e1e1;
     font-size:14px;
     border-radius: 10px;
     text-transform: capitalize;
     font-family: 'Conv_segoeuil';
}
 .profile_pic_update_btn:hover{
     background: transparent;
     color:#fe6601;
     border-color:#e1e1e1;
}
 .display_none{
     display: none !important;
}
 .updateprofile .errormsg p{
     font-size: 12px !important;
     font-family: 'Conv_Hel_lt_normal' !important;
     background: transparent !important;
     color: #f00 !important;
     padding: 0px !important;
}
 .updateprofile .errormsg {
     font-size: 12px;
     font-family: 'Conv_Hel_lt_normal';
     background: transparent !important;
     color: #f00;
     padding: 0px !important;
}
 .update_textarea{
     resize: none;
     height:150px !important;
     margin:15px 0px;
     overflow-y: auto;
     border:2px solid #e4e4e4;
     border-radius:0px !important;
     box-shadow: none;
}
 .update_textarea:focus{
     box-shadow: none !important;
     border:2px solid #fe6601;
}
 .updateprofile .intl-tel-input .flag-container{
     border-bottom:2px solid #e4e4e4;
     top:4px;
     width:25%;
}
 .updateprofile .intl-tel-input.allow-dropdown.separate-dial-code input, .updateprofile .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"]{
     width:70%;
     margin-left:30%;
}
 .updateprofile .selected-dial-code{
     font-size:14px;
}
 .updateprofile .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"]:focus{
     border-bottom: 2px solid #f26810;
}
 .updateprofile .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"]:focus .updateprofile .intl-tel-input .flag-container{
     border-bottom: 2px solid #f26810;
}
 .updateprofile .chosen_style .chosen-container{
     border-bottom:2px solid #e4e4e4;
     margin-top:10px;
}
 .updateprofile .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-single span{
     font-size: 14px;
     color:#4e4e4e;
     font-family: 'Conv_Hel_lt_normal';
}
 .custom_age span{
     background: #fe6601;
     color:#fff;
     padding:3px 5px;
     font-family: 'Conv_helvetica_normal';
}
/*update profile photo*/
 .cropArea {
     background: #E4E4E4;
     overflow: hidden;
     width:100%;
     height:350px;
     margin:20px auto;
}
/*credential*/
 .profile-pic img {
     width: 150px;
     height: 150px;
     border-radius: 100%;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     overflow: hidden;
     transition: all .3s ease-in-out;
}
 .profile-pic {
     text-align: center;
     border-radius: 100%;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     width: 161px;
     height: 161px;
     border: 2px solid #fe6601 ;
     overflow: hidden;
     margin: 0 auto;
     background: #fafafa;
}
 .my_profile_view{
     background: #fff;
     padding:20px;
     box-shadow: 0 5px 5px #d7d7d7;
     margin-bottom: 20px;
     position: relative;
}
 .intro-title1{
     padding-bottom: 5px;
     font-family: 'Conv_Helvetica-Bold';
     text-transform: capitalize;
     color:#4e4e4e;
     font-size: 17px;
     margin-bottom:5px;
}
 .intro-title2 {
     font-size: 15px;
     text-align: left;
     margin-top:0;
     color:#fe6601;
     font-family: 'Conv_helvetica_normal';
     line-height: 25px;
}
 .single_right_side_data{
     padding:10px 0;
     border-bottom:1px solid #e9e9e9;
}
 .mybio_p{
     font-family: 'Segoe UI';
     word-wrap: break-word;
     font-size:15px;
     text-align: justify;
     line-height: 25px;
}
 .edit_icon_viewprofile{
     position: absolute;
     top:-10px;
     right:-5px;
     background: #1e8fe1 ;
     color:#fff;
     padding:7px 10px;
     height:34px;
     cursor: pointer;
     border-radius: 50%;
}
 .edit_icon_viewprofile a{
     text-decoration: none !important;
}
 .edit_icon_viewprofile i{
     color:#fff !important;
}
 .my_profile_view .tooltip {
     opacity: 1 !important;
}
 .my_profile_view .tooltip > .tooltip-inner{
     background-color: #4e4e4e;
     border-radius: 3px;
     border: 1px solid #4e4e4e;
     color: #fff;
     font-size: 12px;
     font-family: 'Conv_helvetica_normal';
}
 .my_profile_view .tooltip .tooltip-arrow {
     border-top-color: #4e4e4e !important;
}
 .u-heading-v3__title {
     font-size: 21px;
     font-family: 'Segoe UI';
     margin:0 0 20px 0;
     color:#fe6601 ;
     text-transform: capitalize;
     border-bottom: 2px dotted #e1e1e1 ;
     padding-bottom: 10px;
}
 .section-item-title-1 {
     margin-bottom: 4px;
     word-wrap: break-word;
}
 .section-item-title-1 {
     font-family: 'Conv_helvetica_normal';
     font-size: 16px;
     color:#fe6601;
}
 .job_designation{
     color:#000;
     font-size: 15px;
     margin:0px;
     font-family: 'Conv_helvetica_normal';
     word-wrap: break-word;
}
 .job-date{
     font-family: 'Conv_segoeuil';
     font-size: 12px;
}
 h4.location {
     font-family: 'Conv_helvetica_normal';
     color:#828282;
     font-size: 14px;
     margin: 5px 0px 0px 0px;
}
 h4.location:before {
     font-family: FontAwesome;
     content: "\f041";
     color: #fe6601;
     padding-right: 5px;
     font-size: 16px;
}
 .single_job_experience{
     padding-bottom: 10px;
     border-bottom: 1px solid #e1e1e1;
}
 .single_job_experience:last-child{
     border:none;
}
 .availability_section .table > thead > tr > th {
     border-bottom: 1px solid #ddd;
     font-family: 'Conv_helvetica_normal';
     color: #393939;
     text-align: center;
}
 .availability_section .table > tbody > tr > td:first-child {
     font-size: 14px;
     vertical-align: middle;
}
 .availability_section .table > tbody > tr > td {
     font-family: 'Conv_helvetica_normal';
     font-size: 16px;
     vertical-align: middle;
     text-align: center;
     color: #393939;
}
 .availability_section .table > tbody > tr > td > i {
     color: #fe6601;
}
 .time_care{
     font-family: 'Conv_segoeuil';
     font-size: 10pt;
     color:#6c6c6c;
}
 .single_preference_section h4{
     font-family: 'Conv_helvetica_normal';
     font-size:15px;
     text-transform: capitalize;
     margin-bottom:0px;
     color:#000;
}
 .single_preference_section{
     padding-bottom: 10px;
}
 .single_preference_section:last-child{
     border:none;
}
 .single_preference_section h5{
     font-family: 'Conv_helvetica_normal';
     font-size:14px;
     text-transform: capitalize;
     color:#909090;
}
 .personal_information_view{
     padding:20px 0 0 0px;
}
 .personal_information_view p{
     font-family: 'Conv_segoeuil';
     font-size: 14px;
     border-bottom: 1px dotted #e1e1e1;
     padding-bottom: 10px;
}
 .personal_information_view i{
     color:#fe6601 ;
}
 .personal_information_view p span{
     background:#fe6601;
     color:#fff;
     padding:3px 10px;
}
 .single_reference_section_view{
     font-family: 'Conv_segoeuil';
     font-size: 12px ;
     position: relative;
     border-bottom: 1px dotted #e1e1e1;
}
 .single_reference_section_view:last-child{
     border:none;
}
 .single_reference_section_view i{
     color:#fe6601;
}
 .single_reference_section_view h3{
     margin:10px 0px;
     font-size: 14px ;
}
 .single_reference_section_view h4{
     font-size: 14px ;
     margin:10px 0px;
}
 .single_reference_section_view h5{
     font-family: 'Conv_segoeuil';
     font-size: 14px ;
     margin:10px 0px;
     color:#000;
}
 .download_icon{
     position: absolute;
     top:0;
    right:0;
     background: #fe6601;
     color:#fff !important;
     padding:5px;
     border-radius:50%;
     cursor: pointer;
}
 .progress {
     height: 7px !important;
     border-radius: 0px !important;
     margin:20px 0 10px 0;
}
 .progress-bar {
     background: #1e8fe1 !important;
     box-shadow: none !important;
}
 .chore_value{
     font-family: 'Segoe UI';
     font-size: 15px;
}
 .chore_value i{
     color:#fe6601;
}
 .complete_progress h5 {
     font-family: 'Segoe UI';
     font-size: 15px;
     color: #909090;
}
 .single_preference_section ul{
     list-style: none;
}
 .single_preference_section ul li{
     display: block;
     font-family: 'Conv_segoeuil';
     font-size: 15px;
     margin:5px 0px;
}
 .secondary_profile_header1 {
     color: #f26810;
     margin-bottom:15px;
     font-family: 'Conv_Helvetica-Bold';
     text-transform: uppercase;
     font-size: 12px;
}
 .others_section_view h4, .single_credential_section h4{
     font-family: 'Conv_helvetica_normal';
     font-size: 17px;
     color:#000;
}
 .others_section_view{
     padding-bottom: 10px;
     padding-top:10px;
     border-bottom: 1px dotted #e1e1e1;
}
 .others_section_view:last-child{
     border:none;
}
 .household_ul, .language_ul {
     list-style: none;
     padding: 5px 0px;
     margin-bottom:0px;
}
 .household_ul li, .language_ul li {
     display: inline-block;
     margin:0px 30px 10px 0;
     font-family: 'Conv_segoeuil';
     font-size: 15px;
}
 .reference_p_view{
     font-family: 'Conv_segoeuil';
     font-size: 15px;
}
 .household_ul li i, .language_ul li i, .reference_p_view i{
     color: #fe6601;
     font-size: 14px;
}
 .contact_no_css {
     font-family: 'Conv_segoeuil';
     color:#fe6601 !important;
}
 .disp_profile_table{
     margin-bottom: 15px;
}
 .icon_class_content {
     margin-left:25px;
     white-space: normal;
}
 .icon_class_content span a{
     font-family: 'Conv_segoeuil' !important;
     color: #393939;
     cursor: pointer;
     text-decoration: none;
}
 .single_credential_section{
     padding-bottom: 5px;
     border-bottom:1px dotted #e1e1e1;
     margin:20px 0 0 0;
}
 .single_credential_section i{
     background: transparent;
     color:#fe6601;
     padding:4px;
     font-size: 14px;
}
 .single_credential_section .bg-address {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -10px;
}
 .single_credential_section .bg-anaphlysis {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -10px;
}
 .single_credential_section .bg-childcheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -58px;
}
 .single_credential_section .bg-familydaycare {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -10px;
}
 .single_credential_section .bg-firstaid {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -58px;
}
 .single_credential_section .bg-police {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -154px;
}
 .single_credential_section .bg-reference {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -202px;
}
 .single_credential_section .bg-school {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -106px;
}
 .single_credential_section .bg-live {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -154px;
}
 .single_credential_section .bg-registercarer {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -202px;
}
 .single_credential_section .bg-tempresidency {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -202px;
}
 .single_credential_section .bg-validwork {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -202px;
}
 .single_credential_section .bg-bachelor {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -58px;
}
 .single_credential_section .bg-driver {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -106px;
}
 .single_credential_section .bg-certificate {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -10px;
}
 .single_credential_section .bg-car {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -58px;
}
 .single_credential_section .bg-checlk {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -154px;
}
 .single_credential_section .bg-diplomo {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -106px;
}
 .single_credential_section .bg-housecheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -106px;
}
 .single_credential_section .bg-identity {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -154px;
}
 .single_credential_section .bg-nosmoking {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -58px;
}
 .single_credential_section .bg-insurance {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -154px;
}
 .single_credential_section .bg-experience {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -202px;
}
 .single_credential_section .bg-permanent {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -106px;
}
 .single_credential_section .bg-phone {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -10px;
}
/*update profile*/
 .update_profile_view{
     background: #f5f5f5;
     padding:20px;
     margin-bottom: 20px;
     position: relative;
}
 .update_heading_profile{
     color:#4e4e4e;
     font-family: 'Conv_segoeuil';
     text-transform: uppercase;
     margin:0 0 5px 0;
     font-size: 20px;
}
 .main_heading{
     font-size:22px;
     font-family: 'Conv_segoeuil';
    /*text-align: right;
    */
     color:#fe6601 ;
     margin-bottom:20px;
     padding-bottom: 15px;
     border-bottom: 2px dotted #c4c6c6;
}
/*vertical update profile css*/
 .tabs_wrapper {
     width: 100%;
     margin-bottom: 20px;
     background: transparent;
}
 .tabs_wrapper ul.tabs {
     display: inline-block;
     vertical-align: top;
     position: relative;
     z-index: 30;
     padding: 0;
     width: 23%;
     min-width: 175px;
     list-style: none;
     transition: all .3s ease;
     border-right:0;
}
 .tabs_wrapper ul.tabs li {
     margin: 0;
     cursor: pointer;
     padding: 8px 15px;
     line-height: 31px;
     color: #000;
     text-align: left;
     border:1px solid #e1e1e1;
     border-bottom:none;
     border-right:none;
     background-color: #f5f5f5;
     font-family: 'Conv_segoeuil';
     font-size: 16px;
     border-top-left-radius:35px;
     box-shadow: -5px 10px 5px -6px rgba(217,217,217,1);
}
 .tabs_wrapper ul.tabs li:last-child{
     border-bottom: 1px solid #e1e1e1;
}
 .tabs_wrapper ul.tabs li:hover {
     background: #f5f5f5;
     color: #000;
     transform: translateX(10px);
     transition: all 300ms;
}
 .tabs_wrapper ul.tabs li.active {
     background: #fff;
     color: #fe6601;
}
 .tabs_wrapper .tab_container {
     display: inline-block;
     vertical-align: top;
     position: relative;
     z-index: 20;
     left: -5px;
     width: 76%;
     min-width: 10px;
     text-align: left;
     background: white;
     border-radius: 0px;
     border:1px solid #e1e1e1;
}
 .tabs_wrapper .tab_container p{
     color: #393939;
     font-size: 15px;
     padding:5px 0 5px 0;
     margin:3px 0 0 0;
     font-family: 'Conv_segoeuil';
     word-wrap: break-word;
}
 .tabs_wrapper .tab_content {
     padding: 20px;
     height: 100%;
     border-radius:0px;
     min-height:300px;
}
 .tabs_wrapper .tab_drawer_heading {
     display: none;
}
 @media screen and (max-width: 781px) {
     .tabs_wrapper ul.tabs {
         display: none;
    }
     .tabs_wrapper .tab_container {
         display: block;
         margin: 0 auto;
         width: 100%;
         border-top: none;
         border-radius: 0;
    }
     .tabs_wrapper .tab_drawer_heading {
         background: #f26810;
         font-family: 'Conv_segoeuil';
         font-size: 18px;
        /* Old browsers */
         border-bottom:1px solid #ff7d26;
         border-left:none;
         border-right:none;
        /* IE6-9 */
         color: #fff;
         margin: 0;
         padding: 7px 20px;
         display: block;
         cursor: pointer;
         -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
    }
     .tabs_wrapper .d_active {
         background: #f26810;
         color: #fff;
    }
}
/*end vertical update profile css*/
 .profile_completion_update_profile_section{
     background: #fff;
     padding:15px;
     border:1px solid #e1e1e1;
     margin:0 0 20px 0;
     box-shadow: 0 5px 5px #d7d7d7;
}
 .intl-tel-input .country-list .country.highlight{
     position: relative;
}
 .pos_rel_exp{
     position: relative;
}
 .note_p_gray{
     font-family: 'Conv_helvetica_normal';
     font-size: 12px;
     margin:10px 0 0 0 ;
     color:#4e4e4e;
}
/*rounded progess bar*/
 .round-progress-wrapper svg{
     width:120px !important;
     height:120px !important;
}
 .positionRelative{
     position: relative;
}
 .percentageValue {
     left: 0px;
     top: 40%;
     position: absolute;
     width: 100%;
     text-align: center;
     font-size: 17px;
     font-family: 'Conv_helvetica_normal';
}
 .icon_class_content span a{
     white-space: nowrap;
}
/*new style(11-12-2017)*/
 .worker_rating .angular-input-stars > li > i{
     color:#4e4e4e;
}
 .label_myprofile{
     font-family: 'Segoe UI';
     font-size: 14px;
     font-weight: normal !important;
     color:#f26810;
}
 .value_myprofile{
     font-family: 'Segoe UI';
     font-size: 15px;
     color:#4e4e4e;
     margin-bottom:0;
}
 .single_right_side_data .location_section span{
     font-family: 'Segoe UI';
     color:#929292;
     font-size: 15px;
}
 .bb-none{
     border-bottom:none !important;
}
 .location_section i{
     color:#fe6601;
}
 .value_myprofile i{
     font-size: 15px;
     position: relative;
     top:3px;
     color:#fe6601;
}
/*reference table*/
 .no-data_found{
     background: #fff;
     color:#4e4e4e;
     font-size: 15px;
     padding:5px 10px;
     font-family: 'Segoe UI';
     border-radius: 4px;
     border:1px solid #e1e1e1;
     border-left:4px solid #fe6601;
     box-shadow: 0 10px 6px -6px #e1e1e1;
}
 .no-data_found p{
     margin-bottom: 0;
}
 .intro-gender{
     font-family: 'Segoe UI';
     font-size: 15px;
     color:#4e4e4e;
     text-align:center;
}
 .intro-gender span{
     color:#fe6601;
}
 .single_right_side_myprofile .location_section span{
     color:#4e4e4e;
     font-family: 'Conv_segoeuil';
     font-size: 14px;
}
/* table design */
 .reference_table table th{
     background: #4e4e4e;
     color:#fff;
     font-family: 'Conv_helvetica_normal';
     font-weight:normal;
}
 .reference_table table td{
     background: #fff;
     color:#4e4e4e;
     font-family: 'Segoe UI';
}
 .worker_myprofile_view .profile-pic, .worker_myprofile_view .profile-pic img{
     width:128px;
     height:128px;
}
 .contact_info{
     margin-top:20px;
}
 .contact_info h4{
     font-family: 'helveticaneuebold';
}
 .contact_info h5 i{
     color:#fe6601;
}
 .contact_info h5{
     font-family: 'Conv_segoeuil';
}
 .contact_info div img{
     border-radius:50%;
     width:120px;
     height:120px;
}
 .sub_heading_update{
     font-family: 'Conv_Helvetica-Bold' !important;
     font-size: 18px !important;
     padding:0px !important;
     margin-bottom:20px !important;
}
 .color_orange table th{
     background: #5f5f5f !important;
     font-family:'Conv_Helvetica-Bold' !important;
}
 .m-t-4{
     margin-top:4px !important;
}
 .comment_line_css{
     color:#ff2800 !important;
     padding:5px 0 0 0 !important;
     font-family: 'Conv_segoeuil';
     font-size:12px !important;
}
 .file_name_upload{
     font-family: 'Conv_segoeuil';
     font-size:12px;
}
/*icon load fix*/
 .icon_load_spin{
     position: relative;
}
 .icon_load_spin .ajax_loader{
     position: absolute;
     top:6px;
     right:0;
}
 .icon_load_spin .ajax_loader1{
     position: absolute;
     top: 5px;
     right: 11px;
     font-size: 17px;
     color: #fe6601;
}
 .icon_load_spin .ajax_loader i{
     color:#fe6601;
}
 .download-resume-section{
     font-family: 'Conv_helvetica_normal';
     color:#4e4e4e;
}
 .download-resume-section i{
     color:#fe6601;
     font-size: 20px;
}
 .down_load_resume_btn{
     background: #1e8fe1 !important;
     color:#fff !important;
     border:none !important;
     font-family: 'Conv_helvetica_normal';
     border-radius:2px !important;
}