
@media screen and (max-width:1300px) {

}
/*=======================================================================================*/
@media screen and (max-width:1099px) {
	.single_public_message.single_public_messagenew .media-leftside{
		width:50px;
	}
}
/*=======================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.vertical_tab .tabs_wrapper .tab_container{
		width:72%;
	}
	.comments-list .comment-box {
		width: 83% !important;
	}
	.reply-list .comment-box {
		width: 83% !important;
	}
}
/*=======================================================================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.homepage_search{
		padding:0 0%;
	}
	/* .vertical_tab .tabs_wrapper .tab_container{
		width:74% !important;
	} */
	.comments-list .comment-box {
		width: 81% !important;
	}
	.reply-list .comment-box {
		width: 81% !important;
	}
}
/*=======================================================================================*/
@media screen and (max-width: 990px) {
	.rightside_boot_panel {
		padding-left: 15px!important;
	}
	.datetimespnsls{
	  font-size: 11px;
	  text-align:left;
	}
	.custom_age.custom_agenew{
		margin: 0 0 10px 0!important;
	}
	.main_divwholetab_pp {
		float: left !important;
		display: inherit!important;
	}
	.main_divwholetab_pp .innercells_pp {
		float: left!important;
		display: inherit!important;
	}
	.main_divwholetab_pp .innercells_ppleft {
		padding-right: 15px !important;
		margin-bottom: 20px;
	}

}
/*=======================================================================================*/
@media screen and (max-width: 767px) {
	.bootbox .modal-dialog {
		width: auto !important;
	}

	.toggleclass_side.show #carer_container{
		width:50%;
	}
	.toggleclass_side #carer_container{
		width:50%;
	}

/* admin login page design responsive */
.res_float_left{
	float:left;
	margin-bottom: 15px;
}

/* admin login page design ends here */




	.more_actions_detail_quote{
		margin-top:10px;
	}


.single_right_side_container{
	margin-top:20px;
}


	.profile-usertitle, .action_buttons_confirm{
		text-align: center;
	}
	.rating_containernew_res .day_footer_first, .rating_containernew_res .time_footer_first, .rating_containernew_res .viewdetail_footer_first {
    width:100% !important;
    display: block;
  }
  .rating_containernew_res .viewdetail_footer_first .float-right{
    float:left;
  }

	.homepage_search{
		padding:0 0%;
	}

	.modal_popup .modal-md{
		width:auto;
	}
	.modal_popup .modal-lg{
	  width:auto;
	}
	.navigation_section .navbar .navbar-collapse ul li a.active{
	  border:none;
	}
	.modal_popup .modal-content{
	  padding:20px 10px;
	}

	.phone_section1{
		margin-top:40px;
	}
	.phone_section1 .flag-container{
		width:17%;
	}
	.phone_section1 .intl-tel-input.allow-dropdown.separate-dial-code input, .phone_section1 .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"]{
		margin-left:23%;
		width:77%;
	}
	/*toggle css*/
	.toggleclass_side .search_section_joblist{
		position: relative !important;
		width:auto !important;
		top:auto !important;
		right:auto !important;
	}
	.toggleclass_side.show .search_section_joblist{
		position: relative !important;
		width:auto;
		top:auto;
		right:auto;
	}

	.toggleclass_side.show .right_side_cen{
		width:100% !important;
	}
	.search_section_joblist .pad-r-0{
		padding:0px;
		margin-top:10px;
	}
	.search_section_joblist .search_input{
		margin-bottom: 10px;
	}
	.toggleclass_side.show .col-sm-3.left_side_filter_section{
		width:100% !important;
	}
	.comments-list .comment-box {
		width: 80% !important;
	}
	.reply-list .comment-box {
		width: 80% !important;
	}
	.qoutecmnt{
		width:66.66666667%;
		float: left;
	}
	.qoutecmnt_rtside{
		width:33.33333333%;
		float: left;
	}




}
/*=======================================================================================*/

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-list .comment-box {
		width: 390px;
	}
	.modal-dialog {
		position: relative;
		width: auto;
		margin: 10px;
	}
	.reply-list .comment-box {
		width: 320px;
	}
	.bootbox .modal-dialog {
		width: 95%;
	}
	.bootbox.modal{
		width: 100%;
		padding: 0 !important;
	}
	.postjob_link {
		border-radius:  0px !important ;
	}

}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 660px) {






	.qoutecmnt{
		width:50%;
		float: left;
	}
	.qoutecmnt_rtside{
		width:50%;
		float: left;
	}
	.single_quote_normalphotoimg{
		max-width:15%;
	}
	.single_quote_normal_rtside{
		width: 85%;
		padding: 0;
	}

	/* parent joblist footer */
	.rating_container_parentjoblist{
		display: block;
		width:100%;
	}
	.rating_container_parentjoblist .date_section, .rating_container_parentjoblist .time_section, .rating_container_parentjoblist .days_section, .rating_container_parentjoblist .viewjob_section{
		display: inline-flex;
		width:100%;
		vertical-align: middle;
		margin-bottom:10px;
	}
	.rating_container_parentjoblist h5{
	  font-family: 'Conv_helvetica_normal';
	  color:#fff;
	  padding-top:0px;
		margin:0 10px 5px 0;
	}

	/* end parent joblist footer */
}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 600px) {
	.bgvideoimage {
		background-image: url(../images/care.png)!important;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-size: cover !important;
	}
	.vid_bgr{
		display:none;
	}
	.top_tab_material .nav-tabs > li > a {
		margin:0 0 10px 0;
	}

	.rating_containernew_res .user_rating{
		width: 20%!important;
		vertical-align: top!important;
	}
	.rating_containernew_res .date_section{
		width: 80%!important;
	}
	.date_section_inner {
		display: block!important;
		width: 100%;
	}
	.midtablecntt {
		display: block!important;
		width: 100%!important;
		padding-bottom:20px;
	}
	.user_rating.user_ratinginner {
		display: block!important;
		width: 100%!important;
		padding-bottom:20px;
	}
	.rating_containernew_res .detail_job_link{
		float: left !important;
	}
	.single_quote_normal_rtside_inner{
		width:100%;
		margin: 0 0 10px 0;
	}
	.single_quote_normal_rtside_inner .details_link_preview{
		text-align: left;
		margin: 0;
	}
	.single_quote_normalphotoimg{
		padding:0!important;
	}
	.main_profile_confirm_sectioninner{
		width:100%!important;
		padding:0 !important;
	}
	.main_profile_confirm_sectioninner .edit_profile_btn {
		margin-top: 20px;
		float: left !important;
	}
	.secondary_comment_section.secondary_comment_sectionnew{
		width:100% !important;
		float:right;
		padding:0 !important;
	}
	.third_comment_section.third_comment_sectionnew{
		width:100% !important;
		float:right;
		padding:0 !important;
	}
	.privatemsgsection.otheruser{
	  width:100%;
	  float:left;
	  background:#eee;
	}
	.privatemsgsection.its_meyou{
	  width:100%;
	  float:left;
	  background:#f5f5f5;
	}
}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 560px) {
	.custom_width{
		width:100%;
	}

	.verical_tab_preview_job .single_quote_user .third_section{
	/*background: yellow;*/
	flex-grow: 1 !important;
	}

	.left_side_detail_ul.left_side_detail_ulnew{
		float:none!important;
	}
	.right_side_detail_ul.right_side_detail_ulnew{
		float:none!important;
	}
	.left_side_detail_ul li{
		font-size: 10px!important;
	}
	.main_profile_confirm_section_ltside{
		max-width: 130px;
		width: 100%;
	}
	.main_profile_confirm_section_rtside {
		width: 40%;
	}
}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 480px) {
	.toggleclass_side.show #carer_container{
		width:100% !important;
	}
	.toggleclass_side #carer_container{
		width:100% !important;
	}
	/*preview job recent*/
	.verical_tab_preview_job .single_quote_user{
		flex-flow:column nowrap !important;
		align-items: left !important;
		-webkit-align-items: left !important;
		align-content: left !important;
	}
	.verical_tab_preview_job .single_quote_user .second_section{
	margin-top:20px;
	text-align: left;
	}
	.verical_tab_preview_job .single_quote_user .third_section{
	margin-top:20px;
	text-align: left;
	}
	/*preview job ends here*/
	.login_form .no_account_link, .login_form .social_signup_section p{
	  font-size:14px;
	}
	.comments-list .comment-box {
		width: 73% !important;
	}
	.reply-list .comment-box {
		width: 73% !important;
	}
	.detail_job_list_container{
		display: block!important;
	}
	.detail_job_list_container .detail_section{
		width:100%!important;
		display: inline-block !important;
	}
	.sent_message_selectnew .for_res_tc{
		text-align:center !important;
		width:100%!important;
	}
	.sent_message_selectnew .sent_msg_type{
		width:100%!important;
	}
	.private_message_section.private_message_sectionnew  .nav-tabs > li{
		width:auto;
	}
	.private_message_section.private_message_sectionnew  textarea.form-control{
		width:100%!important;
		min-width:100%!important;
	}
	.qoutecmnt{
		width:100%;
		float: left;
	}
	.content_area_comment{
		min-height:inherit !important;
	}
	.qoutecmnt_rtside{
		width:100%;
		float: left;
	}
	.single_quote_normalphotoimg {
		max-width: 30%;
		width: 100%;
	}
	.single_quote_normal_rtside {
		width: 70%;
	}
	.requirement_section ul li{
		width:100%;
		margin:5px 0!important;
	}
	.tag_section.tag_sectionneww ul li span{
		display: table;
		float:none!important;
	}
	.tag_section.tag_sectionneww ul li span i.bg-police{
		display: table-cell;
	}
	.tag_section.tag_sectionneww .req_list_b {
		display: table-cell;
		font-weight: normal;
		padding: 5px 0 3px 0;
		max-width: 82%;
		vertical-align: top;
	}
	.single_public_message.single_public_messagenew .media-leftside{
		width:50px;
	}

	.phone_section1{
		margin-top:40px;
	}
	.phone_section1 .flag-container{
		width:25%;
	}
	.phone_section1 .intl-tel-input.allow-dropdown.separate-dial-code input, .phone_section1 .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"]{
		margin-left:33%;
		width:67%;
	}
	.action_section_update_profile.btnprofedit {
		text-align:center;
	}
	.action_section_update_profile.btnprofedit .btn{
		float:none;
		display:inline-block;
		vertical-align:top;
		width:100%;
		margin:10px 0;
	}
}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 380px) {
	.main_profile_confirm_section_rtside {
		width: 100%;
		margin: 10px 0 0 0;
	}
}
/*=======================================================================================*/
/*=======================================================================================*/
@media screen and (max-width: 320px) {
	.cancel_footer_btn{
		padding: 9px 28px;
	}
	.login_form .title_modal{
		font-size: 22px;
	}

	.work_details_ul_preview.work_details_ul_previewnew li{
		width:100%;
	}
	.work_details_ul_preview.work_details_ul_previewnew .label{
		display:inline-block;
		width:100%;
		line-height:normal;
	}
	.btnprofedit .btn{
		font-size:12px;
	}
}
/*=======================================================================================*/
/*=======================================================================================*/

@media screen and (min-width: 782px) and (max-width: 807px) {
	.tabs_wrapper .tab_container{
		width:75% !important;
	}
}


@media screen and (min-width: 992px) and (max-width: 1043px) {
	.tabs_wrapper .tab_container{
		width:74% !important;
	}
		.flag_number {		
		width: 69%;
		float: left;
		}
}