/*================================================*/
/*================child care css==================*/
/*================================================*/
 *{
     padding:0px;
     margin:0px;
     outline:none !important;
}
/*=============font declaration===================*/
 @font-face {
     font-family: 'Conv_segoeuib';
     src: url('../fonts/segoe-b/segoeuib.eot');
     src: local('☺'), url('../fonts/segoe-b/segoeuib.woff') format('woff'), url('../fonts/segoe-b/segoeuib.ttf') format('truetype'), url('../fonts/segoe-b/segoeuib.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_Helvetica-Bold';
     src: url('../fonts/Helvetica_bold/Helvetica-Bold.eot');
     src: local('☺'), url('../fonts/Helvetica_bold/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica_bold/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica_bold/Helvetica-Bold.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_comic';
     src: url('../fonts/Comicsans_regular/ComicSansMS3.eot');
     src: local('☺'), url('../fonts/Comicsans_regular/ComicSansMS3.woff') format('woff'), url('../fonts/Comicsans_regular/ComicSansMS3.ttf') format('truetype'), url('../fonts/Comicsans_regular/ComicSansMS3.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_helvetica_normal';
     src: url('../fonts/Helvetica_regular/helvetica_normal.eot');
     src: local('☺'), url('../fonts/Helvetica_regular/helvetica_normal.woff') format('woff'), url('../fonts/Helvetica_regular/helvetica_normal.ttf') format('truetype'), url('../fonts/Helvetica_regular/helvetica_normal.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'defonartsregular';
     src: url('../fonts/Defonarts/defonarts-webfont.eot');
     src: url('../fonts/Defonarts/defonarts-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Defonarts/defonarts-webfont.woff2') format('woff2'), url('../fonts/Defonarts/defonarts-webfont.woff') format('woff'), url('../fonts/Defonarts/defonarts-webfont.ttf') format('truetype'), url('../fonts/Defonarts/defonarts-webfont.svg#defonartsregular') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'defonarts_bold';
     src: url('../fonts/defonarts_bold/defonarts_bold.eot');
     src: local('☺'), url('../fonts/defonarts_bold/defonarts_bold.woff') format('woff'), url('../fonts/defonarts_bold/defonarts_bold.ttf') format('truetype'), url('../fonts/defonarts_bold/defonarts_bold.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'helveticaneuebold';
     src: url('../fonts/HelveticaNeue_bold/hel-bold-webfont.eot');
     src: url('../fonts/HelveticaNeue_bold/hel-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue_bold/hel-bold-webfont.woff2') format('woff2'), url('../fonts/HelveticaNeue_bold/hel-bold-webfont.woff') format('woff'), url('../fonts/HelveticaNeue_bold/hel-bold-webfont.ttf') format('truetype'), url('../fonts/HelveticaNeue_bold/hel-bold-webfont.svg#helveticaneuebold') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_Hel_lt_normal';
     src: url('../fonts/HelveticaNeue_regualr/Hel_lt_normal.eot');
     src: local('☺'), url('../fonts/HelveticaNeue_regualr/Hel_lt_normal.woff') format('woff'), url('../fonts/HelveticaNeue_regualr/Hel_lt_normal.ttf') format('truetype'), url('../fonts/HelveticaNeue_regualr/Hel_lt_normal.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Segoe UI';
     src: url('../fonts/segoe-ui/SegoeUI.eot');
     src: url('../fonts/segoe-ui/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/segoe-ui/SegoeUI.woff2') format('woff2'), url('../fonts/segoe-ui/SegoeUI.woff') format('woff'), url('../fonts/segoe-ui/SegoeUI.ttf') format('truetype'), url('../fonts/segoe-ui/SegoeUI.svg#SegoeUI') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_seguisb';
     src: url('../fonts/segoe-ui-semi/seguisb.eot');
     src: local('☺'), url('../fonts/segoe-ui-semi/seguisb.woff') format('woff'), url('../fonts/segoe-ui-semi/seguisb.ttf') format('truetype'), url('../fonts/segoe-ui-semi/seguisb.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_segoeuil';
     src: url('../fonts/Segoe-ui-light/segoeuil.eot');
     src: local('☺'), url('../fonts/Segoe-ui-light/segoeuil.woff') format('woff'), url('../fonts/Segoe-ui-light/segoeuil.ttf') format('truetype'), url('../fonts/Segoe-ui-light/segoeuil.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
/*============end of font declaration=============*/
/*=============common css===================*/
 body{
     overflow-x:hidden;
}
 .content_section{
     min-height:500px;
     padding:30px 20px;
}
/*=============end common css===================*/
/*=============home page cover css===============*/
 div.cover {
     position: fixed;
     top: -50%;
     left: -50%;
     width: 200%;
     height: 200%;
}
 img.cover {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     min-width: 50%;
     min-height: 50%;
     overflow-x: hidden;
}
/*=============end home page cover css===========*/
/*home page search*/
/*.homepage_search{
     margin:13% 0 0 0;
}
*/
/*==========topbar css===========================*/
 .pre-header {
     position: relative;
     z-index:1;
     color: #fff;
     padding-top: 5px;
     padding-left:15px;
     padding-right:15px;
     line-height: 1.2;
    /*background: #4e4e4e;
    */
    /*background: #4e4e4e;
    */
    /*border: 0.5rem solid transparent;
     border-top: inherit;
     -webkit-border-image: url(../images/bar.png) 30 30 round;
     -o-border-image: url(../images/bar.png) 30 30 round;
     border-image: url(../images/bar.png) 30 30 round;
     position: relative;
    */
     background: #4e4e4e;
}
 .pre-header li {
     padding-left: 11px;
     padding-right: 15px;
     border-right: solid 1px #727887;
     font-family: 'Conv_segoeuil';
    /*font-family: 'Conv_helvetica_normal';
     font-family: 'Conv_comic';
    */
     color:#fff;
     font-size: 13px;
}
 .additional-nav li:last-child {
     padding-right: 0;
}
 .pre-header li:last-child {
     border: none;
}
 .additional-nav li i{
     padding-right:10px;
}
/*==========end topbar css===========================*/
/*=============navigation bar css start===========*/
 .fixed-top-header{
     position: fixed !important;
     top:0 !important;
     z-index: 9999 !important;
     width:100%;
}
 .p-t-15{
     padding-top:15px;
}
 .p-r-5{
     padding-right:5px;
}
 .p-l-5{
     padding-left: 5px;
}
 .customdropdown{
     border-radius:0px;
}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
     background: transparent;
}
 .customdropdown li a{
     font-family: 'Conv_helvetica_normal' !important;
     padding:7px 20px;
}
 .navigation_section{
     position: relative;
     z-index:1;
     background: #fff;
}
 .navigation_section .navbar-default{
     border-radius:0px;
     background: #fff;
     border: none;
     margin-bottom:0px;
     padding:0px 15px;
}
 .navigation_section .navbar .navbar-collapse ul li a{
     text-transform: capitalize;
     font-family: 'Conv_Helvetica-Bold';
    /*font-family: 'Conv_helvetica_normal';
    */
    /*font-family: 'Conv_comic';
    */
    /*font-family: 'Conv_seguisb';
    */
    /*color:#505050;
    */
     color:#4e4e4e;
     font-size:14px;
}
 .navigation_section .navbar-brand{
     padding: 10px 15px;
}
 .navigation_section .navbar-brand img{
     width:200px;
    padding-top:1px;

}
 .navigation_section .navbar .navbar-collapse ul li a.active{
    /*background: #f9f9f9;
     color:#fe6601;
    */
     background: transparent;
     color: #fe6601 !important;
    /*border-top-left-radius: 35px;
     border-bottom-right-radius: 35px;
    */
}
 .navigation_section .navbar .navbar-collapse ul li a:hover{
     color:#fe6601;
}
 .navigation_section .navbar-toggle{
     background: #000 !important;
     color:#fff !important;
     border-radius:0px !important;
}
 .navigation_section .navbar-toggle .icon-bar{
     background-color:#fff !important;
}
/*=============end navigation bar css=============*/
/*@font-face {
     font-family: 'Conv_Helvetica';
     src: url('../fonts/Helvetica.eot');
     src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_DeFonarts';
     src: url('../fonts/DeFonarts.eot');
     src: local('☺'), url('../fonts/DeFonarts.woff') format('woff'), url('../fonts/DeFonarts.ttf') format('truetype'), url('../fonts/DeFonarts.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Conv_comic';
     src: url('../fonts/comic.eot');
     src: local('☺'), url('../fonts/comic.woff') format('woff'), url('../fonts/comic.ttf') format('truetype'), url('../fonts/comic.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'helveticamedium';
     src: url('../fonts/helvetica_regular-webfont.eot');
     src: url('../fonts/helvetica_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_regular-webfont.woff2') format('woff2'), url('../fonts/helvetica_regular-webfont.woff') format('woff'), url('../fonts/helvetica_regular-webfont.ttf') format('truetype'), url('../fonts/helvetica_regular-webfont.svg#helveticamedium') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Helvetica Neue';
     src: url('../fonts/HelveticaNeue.eot');
     src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'helveticaneuebold';
     src: url('../fonts/hel-bold-webfont.eot');
     src: url('../fonts/hel-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hel-bold-webfont.woff2') format('woff2'), url('../fonts/hel-bold-webfont.woff') format('woff'), url('../fonts/hel-bold-webfont.ttf') format('truetype'), url('../fonts/hel-bold-webfont.svg#helveticaneuebold') format('svg');
     font-weight: normal;
     font-style: normal;
}
*/
/*============================================================================================*/
/*=================================commmon popup style========================================*/
/*============================================================================================*/
 .modal_popup .modal-md{
     width:530px;
}
 .modal_popup .modal-dialog{
     margin-top:100px;
}
 .modal_popup .modal-content{
     border-radius:0px;
     padding:20px 35px;
     background: rgba(255, 255, 255, 0.9) !important;
}
/*.modal_popup .modal-footer{
     padding-left:0px;
     padding-right:0px;
}
*/
 .modal_popup .modal-content .modal-header, .modal_popup .modal-content .modal-footer{
     border:none;
}
 .modal_popup .logo_section{
    /*text-align:center;
    */
     padding:10px 0px;
}
 .modal-backdrop{
    /*opacity:0 !important;
    */
}
 .modal-content .modal-header .modal-title span{
     font-size:22px;
     color:#4e4e4e;
     text-transform: uppercase;
     font-family: 'Helvetica Neue';
}
/*=====================================common popup style end here==========================*/
/*============================================================================================*/
/*==========================Login popup css start here========================================*/
/*============================================================================================*/
 .login_form{
}
/*.login_form .form-group{
     margin-bottom:35px;
}
*/
/*.login_button{
     width: 100%;
     background: #fe6601 !important;
     color: #fff !important;
     border-radius: 0px !important;
     font-size: 22px;
     font-family: 'defonartsregular';
     padding: 18px 0px;
     border: none;
     border-radius: 5px;
}
*/
/*New login button css*/
 .login_button, .join_button{
     width:100%;
     font-size: 22px;
     font-family: 'defonartsregular';
     text-decoration: none !important;
     text-align: center;
     padding:18px 0px;
     background: #fe6601 !important;
     color:#fff !important;
     border:none !important;
     border-radius:4px;
}
 .login_form .forgot_password_link a{
     font-size:17px;
     color:#4e4e4e;
     text-decoration: underline;
     padding:0px;
     font-family: 'Conv_comic';
     width:100%;
}
 .login_form .form-group:nth-child(2){
     margin-bottom:10px;
}
 .login_form .no_account_link{
     font-size:17px;
     padding:15px 0px;
     text-align: center;
    /*font-family: 'helveticaneuebold';
    */
     font-family: 'Conv_helvetica_normal';
     clear:both;
     color:#767676;
     margin-bottom: 0px;
}
 .login_form .modal-footer{
     padding-top:0px;
}
 .login_form .modal-body{
     padding-bottom:0px;
}
 .login_form .no_account_link .signup_link{
     font-family: 'Conv_comic';
     width:100%;
     text-decoration: underline;
     color:#4e4e4e;
     padding-bottom:0px;
     cursor:pointer;
}
 .login_form .line_section {
     text-align: center;
     position: relative;
     z-index: 2;
     margin: 0px;
     font-size:16px;
}
 .login_form .line-center {
     margin: 0;
     padding:12px 8px;
     background: #f0f0f0;
     display: inline-block;
     font-size: 14px;
     border-radius: 50%;
     font-family: 'Conv_helvetica_normal';
     color:#4e4e4e ;
     height: 36px;
     width: 40px;
}
 .login_form .line_section::after {
     content: "";
     position: absolute;
     top: 50%;
     left: 0;
     right: 0;
     border-top: solid 2px #4e4e4e;
     z-index: -1;
}
 .login_form .social_signup_section p{
    /*font-family: 'helveticaneuebold';
    */
     font-family: 'Conv_helvetica_normal';
     font-size:17px;
     color:#767676;
}
 .login_form .social_signup_section ul{
     margin-top:20px;
}
 .login_form .social_signup_section ul li {
     list-style: outside none none;
     margin: 0 4px;
     padding: 14px 15px 10px;
     display: inline-block;
}
 .login_form .social_signup_section ul li.social-facebook {
     background: #507bbf none repeat scroll 0 0;
     color:#fff;
}
 .login_form .social_signup_section ul li.social-gplus {
     padding: 14px 8px 10px 12px;
     background: #e04a32 none repeat scroll 0 0;
     color:#fff;
}
 .login_form .social_signup_section ul li.social-linkedin {
     background: #0077b5 none repeat scroll 0 0;
     padding: 14px 12px 10px;
     color:#fff;
}
 .close_icon{
     width:35px;
     height:35px;
     background: #fff !important;
     color:#202020;
     opacity: 1;
     border-radius:50%;
     border:3px solid #726f70 !important;
     font-size: 25px;
     font-weight: normal;
}
/*==========================Login popup css ends here========================================*/
/*tab style post job*/
 .nav-tabs {
     border-bottom: 2px solid #ded2d2;
}
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
     border-width: 0;
}
 .nav-tabs > li {
     width: 20%;
}
 .nav-tabs > li > a {
     border: none;
     color: #666;
     text-align: center;
     font-size: 23px;
     padding: 3px;
}
 .nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus {
     border-radius: 0px;
     border: none;
     color: #fe6601 !important;
     background: transparent !important;
}
 .nav-tabs > li > a::after {
     content: "";
     background: #4285F4;
     height: 2px;
     position: absolute;
     width: 100%;
     left: 0px;
     bottom: -1px;
     transition: all 250ms ease 0s;
     transform: scale(0);
}
 .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
     transform: scale(1);
     background: #fe6601;
}
 .tab-nav > li > a::after {
     background: #21527d none repeat scroll 0% 0%;
     color: #fff;
}
 .tab-pane {
     padding: 15px 0;
}
 .tab-content {
     padding: 0px;
     border: none;
}
 .card {
     background: transparent;
}
 .card ul li a:focus{
     background: transparent;
}
/*post job*/
/*radio section*/
 .control--radio .control__indicator:after {
     left: 8px;
     top: 4px;
     width: 6px;
     height: 11px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
}
 .control--radio input:disabled ~ .control__indicator:after {
     background: #7b7b7b;
}
 .radio_section .control, .check_box_section .control {
    /* display: block;
     */
     display: table;
     position: relative;
     padding-left: 35px;
     margin-bottom: 15px;
     cursor: pointer;
     font-size: 15px;
     color:#4e4e4e;
     padding-top:6px;
     font-family: 'Conv_helvetica_normal';
     font-weight:200;
}
 .radio_section .control input, .check_box_section .control input{
     position: absolute;
     z-index: -1;
     opacity: 0;
}
 .radio_section .control__indicator, .check_box_section .control__indicator {
     position: absolute;
     top: 3px;
     left: 0;
     height: 25px;
     width: 25px;
     background: #fff;
     border: 2px solid #999999;
     border-radius: 2px;
}
 .radio_section .control--radio .control__indicator {
     border-radius: 50%;
}
 .radio_section .control:hover input ~ .control__indicator, .radio_section .control input:focus ~ .control__indicator,.check_box_section .control:hover input ~ .control__indicator, .check_box_section .control input:focus ~ .control__indicator{
     background: #fff;
     border: 2px solid #fe6601;
}
 .radio_section .control input:checked ~ .control__indicator, .check_box_section .control input:checked ~ .control__indicator {
     background: #fe6601;
     border: 2px solid #fe6601;
}
 .radio_section .control:hover input:not([disabled]):checked ~ .control__indicator, .radio_section .control input:checked:focus ~ .control__indicator, .check_box_section .control:hover input:not([disabled]):checked ~ .control__indicator, .check_box_section .control input:checked:focus ~ .control__indicator {
     background: #fe6601;
}
 .radio_section .control input:disabled ~ .control__indicator, .check_box_section .control input:disabled ~ .control__indicator {
     background: #fe6601;
     opacity: 0.6;
     cursor: not-allowed;
}
 .radio_section .control__indicator:after , .check_box_section .control__indicator:after {
     content: '';
     position: absolute;
     display: none;
}
 .radio_section .control input:checked ~ .control__indicator:after, .check_box_section .control input:checked ~ .control__indicator:after {
     display: block;
}
 .check_box_section .control--checkbox .control__indicator:after {
     left: 8px;
     top: 4px;
     width: 6px;
     height: 11px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
}
 .sub_checkbox_section{
     padding-left:35px;
}
/*input style material*/
 .group {
     position:relative;
     margin-bottom:20px;
}
 .group input[type="text"] , .group input[type="password"],.group input[type="email"] {
     font-size:16px;
     padding:10px 10px 15px 0px;
     display:block;
     width:100%;
     border:none;
     border-bottom:2px solid #4e4e4e;
     background: transparent;
     font-family: 'Conv_Hel_lt_normal';
     color:#4e4e4e;
}
 input[type="text"]:focus,input[type="password"]:focus , input[type="email"]:focus{
     outline:none;
}
/* LABEL ======================================= */
 .group label {
     color:#999;
     font-size:16px;
     font-weight:normal;
     position:absolute;
     pointer-events:none;
     left:0px;
     top:10px;
     transition:0.2s ease all;
     -moz-transition:0.2s ease all;
     -webkit-transition:0.2s ease all;
     font-family: 'Conv_comic';
     text-transform: capitalize;
}
/* active state */
 input[type="text"]:focus ~ label, input[type="text"]:valid ~ label, input[type="password"]:focus ~ label, input[type="password"]:valid ~ label , input[type="email"]:focus ~ label, input[type="email"]:valid ~ label {
     top:-20px;
     font-size:14px;
     color:#fe6601;
}
 input[type="text"]:invalid,input[type="password"]:invalid, input[type="email"]:invalid{
     box-shadow:none;
}
/* BOTTOM BARS ================================= */
 .bar {
     position:relative;
     display:block;
     width:100%;
}
 .bar:before, .bar:after {
     content:'';
     height:2px;
     width:0;
     bottom:1px;
     position:absolute;
     background:#fe6601;
     transition:0.2s ease all;
     -moz-transition:0.2s ease all;
     -webkit-transition:0.2s ease all;
}
 .bar:before {
     left:50%;
}
 .bar:after {
     right:50%;
}
/* active state */
 input[type="text"]:focus ~ .bar:before,input[type="text"]:focus ~ .bar:after, input[type="password"]:focus ~ .bar:before,input[type="password"]:focus ~ .bar:after, input[type="email"]:focus ~ .bar:before,input[type="email"]:focus ~ .bar:after {
     width:50%;
}
 input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus {
     border-bottom:2px solid #fe6601 ;
}
/* HIGHLIGHTER ================================== */
 .group .highlight {
     position:absolute;
     height:60%;
     width:100px;
     top:25%;
     left:0;
     pointer-events:none;
     opacity:0.5;
}
/* active state */
 input[type="text"]:focus ~ .highlight, input[type="password"]:focus ~ .highlight, input[type="email"]:focus ~ .highlight {
     animation:inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
/*@-webkit-keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
 @-moz-keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
 @keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
*/
 .m-t-40{
     margin-top:40px;
}
 .price_section a, .price_section{
     width:100%;
     text-align: right;
     text-decoration: underline;
     color:#fe6601;
     font-size: 16px;
     font-family: 'helveticaneuebold';
}
 .estimated_section {
    /*font-family: 'Conv_comic';
    */
     font-family: 'Conv_Helvetica-Bold';
     font-size: 16px;
     color:#000;
}
 .estimated_section span{
     font-family: 'Conv_Hel_lt_normal';
}
 .datepicker_style{
     position: absolute;
     top:5px;
     right:10px;
}
 .control-label{
     font-size:15px;
     font-family: 'Helvetica Neue';
     padding-left:0px;
     color:#252525;
}
/*toggle css*/
 .onoffswitch {
     position: relative;
     width: 105px;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select: none;
}
 .onoffswitch-checkbox {
     display: none;
}
 .onoffswitch-label {
     display: block;
     overflow: hidden;
     cursor: pointer;
     border: 2px solid #dedede;
     border-radius: 50px;
}
 .onoffswitch-inner {
     display: block;
     width: 200%;
     margin-left: -100%;
     transition: margin 0.3s ease-in 0s;
}
 .onoffswitch-inner:before, .onoffswitch-inner:after {
     display: block;
     float: left;
     width: 50%;
     height: 24px;
     padding: 0;
     line-height: 24px;
     font-size: 11px;
     color: white;
     font-family: Trebuchet, Arial, sans-serif;
     font-weight: bold;
     box-sizing: border-box;
}
 .onoffswitch-inner:before {
     content: "Required";
     padding-left: 8px;
     background-color: #fe6601;
     color: #FFFFFF;
}
 .onoffswitch-inner:after {
     content: "Not Required";
     padding-right: 8px;
     background-color: #EEEEEE;
     color: #999999;
     text-align: right;
}
 .onoffswitch-switch {
     display: block;
     width: 18px;
     margin: 5px;
     background: #FFFFFF;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 77px;
     border: 2px solid #dedede;
     border-radius: 50px;
     transition: all 0.3s ease-in 0s;
}
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
     margin-left: 0;
}
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
     right: 0px;
}
/*toggle text*/
 .control-label{
     font-weight:normal;
     font-family: 'Conv_helvetica_normal';
    /*font-family: 'Conv_Hel_lt_normal';
    */
     font-size:14px;
     color:#4e4e4e;
     text-align: left;
}
/*Modal footer section css*/
 .positive_section{
     float:left;
}
 .negative_section button {
     border-radius:4px;
     color: #ffffff;
     font-size: 16px;
     background: #fe6601 !important;
     padding: 10px 30px 10px 30px;
     text-decoration: none;
     font-family: 'defonartsregular';
     box-shadow:none;
}
 .negative_section button:hover {
     background: #fe6601;
     text-decoration: none;
}
 .positive_section button{
     border-radius:4px;
     color: #4e4e4e;
     font-size: 16px;
     background: #ffffff !important;
     padding: 10px 30px 10px 30px;
     border: solid #4e4e4e 1px;
     text-decoration: none;
     font-family: 'defonartsregular';
     box-shadow:none;
}
 .positive_section button:hover {
     background: #fff;
     color:#000;
     text-decoration: none;
}
 .negative_section{
     float:right;
}
/*.styled-select select{
     -moz-appearance:none;
     -webkit-appearance:none;
     appearance:none;
     border-top:0;
     border-left:0;
     border-right:0;
     border-bottom:2px solid #4e4e4e;
     background: transparent;
     border-radius:0px;
     box-shadow:none;
     padding:0px;
     font-family: 'Conv_comic';
     font-size:18px;
     background: transparent url(../images/drop_arrow.png) no-repeat right;
     color:#8d8989;
}
 .styled-select select:focus{
     box-shadow:none;
     border-bottom:2px solid #fe6601;
     font-family: 'Conv_comic';
     font-size:18px;
}
*/
/*sigup*/
 .sub_signup_text{
     font-size:17px;
     text-transform: uppercase;
}
/* Styles go here */
/*post job 19-06-2017*/
 .errormsg{
     font-size: 12px;
    /*font-family: 'Conv_Hel_lt_normal';
    */
     font-family: 'Conv_Hel_lt_normal';
     background: #fcdedd;
     color: #f00;
     padding: 2px 0px 2px 8px;
}
 .errormsg p{
     margin:0px;
}
 .bootbox .modal-footer{
     text-align: center;
}
 .bootbox .modal-content .negative_button{
     border-radius:4px;
     color: #ffffff;
     font-size: 16px;
     background: #fe6601 !important;
     padding: 15px 30px 15px 30px;
     text-decoration: none;
     font-family: 'defonartsregular';
     box-shadow:none;
     width:100%;
     border:none;
     margin-top:10px;
}
 .postjob_popup .tab-pane{
     padding-bottom:0px;
}
 .bootbox-close-button{
     width:35px;
     height:35px;
     background: #fff !important;
     color:#202020;
     opacity: 1 !important;
     border-radius:50%;
     border:2px solid #726f70 !important;
     font-size: 25px;
     font-weight: normal;
     position: absolute;
     right: 6px;
     top: 10px;
     z-index:100;
}
 .modal-title .logo_section{
    /*text-align: center;
    */
     margin-bottom:20px;
}
 .m-b-30{
     margin-bottom:30px;
}
 .m-b-20{
     margin-bottom:20px;
}
 .bootbox .modal-content .positive_button{
     border-radius:4px;
     color: #969696;
     font-size: 16px;
     background: transparent !important;
     padding: 15px 30px 15px 30px;
     border: solid #4e4e4e 1px;
     text-decoration: none;
     width:100%;
     border:1px solid #c0c0c0;
     font-family: 'defonartsregular';
     box-shadow:none;
     margin-top:10px;
}
/*Chosen _style*/
 .chosen_style .chosen-container{
     border-top:0;
     border-right:0;
     border-left:0px;
     border-bottom:2px solid #4e4e4e;
}
 .chosen_style .chosen-single{
     border:none !important;
     background: transparent !important;
    /*font-family: 'Conv_Hel_lt_normal';
    */
     font-family: 'Conv_comic';
     font-size: 16px;
     padding-left:0px !important;
     height:30px !important;
     box-shadow: none !important;
     color:#989898;
}
 .chosen_style .chosen-results .highlighted{
     background: #fe6601 !important;
     color:#fff;
     font-family: 'Conv_helvetica_normal';
     font-size:13px;
}
 .chosen_style .chosen-results li{
     font-family: 'Conv_helvetica_normal';
     font-size:13px;
}
 .chosen_style .chosen-container-single .chosen-single span{
     color:#4e4e4e;
}
 .datepicker_style_uib input{
     font-size:16px;
     padding:5px 0px;
     display:block;
     width:100%;
     border:none;
     border-bottom:2px solid #4e4e4e !important;
     background: transparent;
     border-radius: 0px;
     box-shadow: none !important;
     font-family: 'Conv_Hel_lt_normal';
}
 .datepicker_style_uib input:focus{
     border-color:#4e4e4e !important;
}
 .datepicker_style_uib .ad-onn{
     background: transparent !important;
     border:none;
     border-bottom:2px solid #4e4e4e;
     border-radius:0px;
     box-shadow: none !important;
}
 .custom_label{
     font-size: 15px;
     color: #fe6601;
     font-family: 'Conv_comic';
}
 .datepicker_style_uib .glyphicon {
     color:#4e4e4e;
}
 .datepicker_style_uib .uib-timepicker{
     width:100%;
}
 .datepicker_style_uib .uib-timepicker .uib-time.am-pm button{
     background: #fe6601 !important;
     border:none !important;
     color:#fff !important;
     float:right;
     border-radius:0px;
}
/*Modified style post job */
 .question_name{
     font-family: 'Conv_Helvetica-Bold';
     color:#fe6601;
     font-size: 20px;
     margin:0 0 10px;
     text-transform: capitalize;
}
 .m-b-10{
     margin-bottom:10px;
}
 .orange_color{
     color:#fe6601 ;
}
 .col-container-date{
     display: table;
     width:100%;
}
 .col-date-label, .col-picler{
     display: table-cell;
     vertical-align: middle;
     width:50%;
}
 .uib-time input, .uib-time input:focus {
     width: 50px;
     background: transparent;
     border: none !important;
     box-shadow: none !important;
}
 .uib-increment a,.uib-decrement a{
     color:#fe6601 !important;
}
 .am-pm button{
     border-radius:0px;
     background: #4e4e4e !important;
     color:#fff !important;
     border-color:#4e4e4e !important;
}
 .uib-datepicker-current{
     background: #fe6601 !important;
     color:#fff !important;
     border-radius:0px !important;
     border-color: #fe6601 !important;
}
 .uib-clear{
     background: #4e4e4e !important;
     color:#fff !important;
     border-radius:0px !important;
     border-color: #4e4e4e !important;
}
 .uib-close{
     background: #1e8fe1 !important;
     color:#fff !important;
     border-radius:0px !important;
     border-color: #12b683 !important;
}
 .uib-day button, .uib-left, .uib-right, .uib-title{
     border-radius: 0px !important;
     border:1px solid #ededed !important;
     background: #fff !important;
}
 .uib-day .btn-info.active{
     border-color:#fe6601 !important;
}
 .uib-day .btn-info.active span{
     color:#fe6601 !important;
}
 .sub-header-popup{
     color:#FE6601;
     font-size:16px;
     font-family: 'Conv_comic';
     text-transform: uppercase;
     margin:0px;
}
/*signup*/
/*.signup_form .join_button{
     width:100%;
     background: #fe6601 !important;
     color:#fff !important;
     border-radius:0px !important;
     font-size: 22px;
     font-family: 'defonartsregular';
     padding:18px 0px;
     border:none;
     border-radius:5px;
}
*/
 .childcareworker_btn, .childcarejobs_btn{
     border:2px solid #4e4e4e;
     width:100%;
     color:#4e4e4e;
     font-family: 'defonartsregular';
     font-size: 16px;
     background: transparent;
     border-radius:2px;
     margin:10px 0;
     padding:10px 0;
}
 .childcareworker_btn:hover, .childcarejobs_btn:hover, .childcareworker_btn:focus, .childcarejobs_btn:focus{
     border:2px solid #4e4e4e !important;
     width:100%;
     color:#fff;
     font-family: 'defonartsregular';
     font-size: 16px;
     background: #4e4e4e !important;
     border-radius:2px;
}
 .childcareworker_btn.active{
     background: #4e4e4e !important;
     color:#fff;
     border:2px solid #4e4e4e;
}
 .btn[disabled]{
     opacity: 1;
}
 .orange_text{
     color:#fe6601 !important;
     font-family: 'Conv_comic';
     text-decoration: underline;
}
 .botom_signup_section{
     margin:10px 0;
}
 .intl-tel-input{
     width:100%;
}
 .intl-tel-input input{
    /*width:100%;
    */
     width:320px;
     font-family: 'Conv_comic';
     font-size: 16px;
     padding-bottom:10px;
     border-bottom: 2px solid #4e4e4e;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     background: transparent;
}
 .intl-tel-input.allow-dropdown.separate-dial-code input, .intl-tel-input.allow-dropdown.separate-dial-code input[type="text"] {
     padding-left: 0px !important;
     margin-left: 120px;
}
 .flag-container, .intl-tel-input.allow-dropdown.separate-dial-code .selected-flag{
     background: transparent !important;
     font-family: 'Conv_helvetica_normal';
     font-size:16px;
}
 .intl-tel-input .flag-container {
     position: absolute;
     top: -10px;
     bottom: 0;
     right: 0;
     padding: 1px;
     border-bottom: 2px solid #4e4e4e;
}
 .phone_section{
     margin:20px 0;
}
/*tooltip css*/
 .tooltip {
     opacity: 1 !important;
}
 .tooltip > .tooltip-inner {
     background-color: #4e4e4e ;
     border-radius: 3px;
     border:1px solid #4e4e4e ;
     color:#fff;
     font-family: 'Conv_helvetica_normal';
}
 .tooltip .tooltip-arrow{
     border-top-color: #4e4e4e !important;
}
 .circle_info{
     color: #fe6601;
     font-size: 15px;
     position: relative;
     top: -10px;
     cursor:pointer;
}
/*post job sucess */
 .signupbtn, .loginbtn{
     border-radius:3px;
    /*border-top-left-radius: 30px;
     border-bottom-right-radius: 30px;
    */
     color: #ffffff !important;
     font-size: 15px;
     padding: 5px 20px 8px 20px;
     text-decoration: none;
    /*font-family: 'Conv_comic';
    */
     font-family: 'Conv_seguisb';
     border-radius:50px;
    /*font-family: 'helveticaneuebold';
    */
     box-shadow:none;
}
 .signupbtn{
     background: #fe6601 !important;
     border: solid #fe6601 1px !important;
}
 .loginbtn{
     background: #4e4e4e !important;
     border: solid #4e4e4e 1px !important;
}
 .almost_there{
     margin: 0px;
     font-size: 18px;
     font-family: 'Conv_comic';
     color: #fe6601;
     padding:10px 0;
}
 .final_step_postjob{
     font-size: 16px;
    /*font-family: 'Conv_Hel_lt_normal';
    */
    /*font-family: 'Conv_helvetica_normal';
    */
     font-family: 'Conv_segoeuil';
    /*font-family: 'Segoe UI';
    */
     color:#4e4e4e;
     padding-top:10px;
}
/*post job css*/
/*step2*/
 .postjob_type_section h4{
     color:#232323;
     font-family: 'Conv_Helvetica-Bold';
     font-size:16px;
     line-height: 23px;
}
/*step 5*/
 .textarea_style{
     background: transparent;
     resize: none;
     box-shadow:none;
     border-radius:0px !important;
     font-size:16px;
     padding:10px;
     height:200px !important;
     overflow-y: auto;
     font-family: 'Conv_Hel_lt_normal';
}
 .textarea_style:focus, .textarea_style1:focus{
     box-shadow: none ;
     border-color:#fe6601;
     color:#4e4e4e;
}
 .textarea_style1{
     background: transparent;
     resize: none;
     box-shadow:none;
     border-radius:0px !important;
     font-size:16px;
     padding:10px;
     height:150px !important;
     overflow-y: auto;
     font-family: 'Conv_Hel_lt_normal';
}
/*boot modal popup global style*/
 .modal-backdrop.in{
    /*opacity: 0.3;
    */
     opacity: 0;
}
 .bootbox .modal-content{
     border-radius:0px;
     background: rgba(255, 255, 255, 1) !important;
     margin-top:90px;
}
 .bootbox .modal-body{
     padding-top:0px;
}
 .bootbox .modal-header{
     padding-bottom: 0px;
     border-color:#cfcece;
     border-bottom:1px dashed #d1d1d1;
}
 .modal-content .modal-header .modal-title{
     font-size:24px;
     color:#4e4e4e;
     text-transform: uppercase;
     font-family: 'helveticaneuebold';
}
 .bootbox .modal-footer{
     border:none;
     padding-top:0px;
}
 .title_modal{
     font-size:24px;
     color:#4e4e4e;
     text-transform: uppercase;
     font-family: 'helveticaneuebold';
     padding:0px 0px 10px 0px;
     margin-bottom: 0px;
}
/*.gradient {
     width: 80%;
     margin:0 auto;
     display: table;
     height: 2px;
     background: linear-gradient(to right, transparent 10%, gray 20%, gray 90%, transparent 98%, transparent 100%);
}
*/
 .m-t-20{
     margin-top: 20px;
}
/*flag*/
 .state_city_sub{
     width:100%;
     display: block;
     border-radius:0px;
     font-family: 'Conv_helvetica_normal';
     font-size:13px;
     max-height: 200px;
     overflow-y: auto;
     background: #fff;
     color:#4e4e4e;
}
 .state_city_sub li a{
     color:#4e4e4e;
}
 .state_city_sub li a:hover{
     background: #fe6601;
     color:#fff;
}
 .popover {
     min-width: 68% ! important;
     background: #4e4e4e !important;
     color:#fff !important;
     border-radius:0px;
     border:none !important;
    /*opacity: 0.95 !important;
    */
     font-family: 'Conv_helvetica_normal';
     font-size: 12px;
     z-index:999999999999 !important;
     text-align: justify;
}
 .popover table{
     width:100%;
     font-family: 'Conv_helvetica_normal';
}
 .popover table tr, .popover table tr td, .popover table tr th{
     border:1px solid #696666 ;
}
 .popover table tr td, .popover table tr th{
     padding:5px;
     font-size: 12px
}
 .popover table tr th{
     color:#fe6601 ;
}
 .popover table tr td:nth-child(1){
     width:70%;
}
 .popover table tr td:nth-child(2){
     width:30%;
     font-family: 'Conv_helvetica_normal';
}
 .popover.top > .arrow::after {
     border-top-color: #4e4e4e !important;
}
 .main_heading_nojob{
     color: #f26810;
     font-size: 15px;
     text-align: center;
     padding-top: 50px;
     font-family: 'Conv_Helvetica-Bold';
}
 .main_heading_nojob i{
     font-size: 30px;
}
 .p-t-0{
     padding-top:0px !important;
}
/*banner hero text*/
/*.search_home{
     margin:10% 0 0 0px;
}
*/
 .search_home h1{
     font-size:50px;
     font-family: 'Conv_Helvetica-Bold';
     text-transform: capitalize;
     color:#fff;
}
 .cca-hero-content{
     color:#fff;
     font-family: 'Conv_Helvetica-Bold';
    /*font-family: 'Conv_segoeuil';
    */
    /*font-family: 'Conv_helvetica_normal';
    */
     margin:90px 0 0 0px;
     line-height:30px;
     text-transform: uppercase;
}
 .cca-hero-content h1{
     line-height: 50px;
     font-size: 32px;
}
 .cca-hero-content p{
     font-size:20px;
    /*font-family: 'Conv_segoeuil';
    */
     text-shadow: none;
     color:#fff;
     font-weight: normal;
     text-transform: capitalize;
     font-family: 'Conv_segoeuil';
     margin:20px 0;
}
 .cca-secondary-cta{
     width:100%;
}
 .cca-btn-fill{
     font-family: 'Conv_segoeuil';
    /*font-family: 'Segoe UI';
    */
    /*font-family: 'Conv_helvetica_normal';
    */
    /*font-family: 'Conv_Helvetica-Bold';
    */
     background: transparent;
     color:#fff !important;
     padding:8px 20px;
     margin:15px 0px;
     font-size:18px;
    /*font-family: 'Segoe UI';
    */
    /*font-family: 'Conv_Helvetica-Bold';
    */
     text-transform: capitalize;
    /*font-family: 'Conv_comic';
    */
    /*font-family: 'Conv_segoeuib';
    */
     border-radius: 4px;
     text-shadow: none;
     border:2px solid #fff ;
     margin:15px 15px 0 0;
}
 .btn_gray_home{
     background: transparent;
     border:1px solid #fff;
     padding:10px 20px;
     font-size:20px;
}
 .cca-secondary-cta a{
     color:#000;
     text-decoration: underline;
}
 .postjob_link{
     background:#fe6601 !important;
     color:#fff !important;
     border-radius: 35px 0 35px 0;
     transition-property: border-radius;
     transition-duration: 0.3s;
     transition-timing-function: linear;
}
 .postjob_link:hover{
     background:#fe6601 !important;
     color:#fff !important;
     border-radius:0 35px 0 35px ;
     transition-property: border-radius;
     transition-duration: 0.3s;
     transition-timing-function: linear;
}
/*submit bid*/
 .icono_requirement i{
     font-size: 16px;
     color:#fe6601;
     padding-right:5px;
     padding-top:1px;
     cursor: auto;
}
 .icono_requirement .control-label:hover i{
     color:#fe6601;
}
 .icono_requirement .control-label:hover{
     cursor: pointer;
     color:#fe6601;
}
 .sub_bg_label{
    /*background: #f0f0f0;
     padding: 10px;
    */
    /*padding: 10px;
    */
    /*padding:0 0 10px 0;
    */
    /*border-bottom: 1px dashed #a5a5a5;
    */
}
 .sub_bg_label span{
     color:#fe6601;
    /*padding-left:10px*/
}
 .modal-footer .btn + .btn{
     margin-left:15px;
}
 .secondary_heading_modal{
     font-size: 20px;
    /*font-family: 'Conv_comic';
    */
     color:#4e4e4e ;
}
/*job view custoemr*/
 .ad_section{
    /*border:1px dashed #cbc7c7 ;
    */
     border:1px solid #ececec;
    /*-webkit-box-shadow: 2px 7px 5px -5px rgba(207,207,207,1);
     -moz-box-shadow: 2px 7px 5px -5px rgba(207,207,207,1);
     box-shadow: 2px 7px 5px -5px rgba(207,207,207,1);
    */
}
 .form-control[readonly]{
     background: #fff;
}
 .m-b-0{
     margin-bottom: 0px !important;
}
/*chrome solution*/
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
     -webkit-transition-delay: 9999s;
     -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
 .second_signup .col-sm-6:first-child{
     width:100%;
}
/**/
 #loadFacebookG{
     width:29px;
     height: 29px;
     display: block;
     position: relative;
     margin:auto;
}
 .facebook_blockG{
     background-color:rgba(13,152,217,0.97);
     border:1px solid rgb(13,152,217);
     float:left;
     height:20px;
     margin-left:2px;
     width:5px;
     opacity:0.1;
     animation-name:bounceG;
     -o-animation-name:bounceG;
     -ms-animation-name:bounceG;
     -webkit-animation-name:bounceG;
     -moz-animation-name:bounceG;
     animation-duration:1.5s;
     -o-animation-duration:1.5s;
     -ms-animation-duration:1.5s;
     -webkit-animation-duration:1.5s;
     -moz-animation-duration:1.5s;
     animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
     -ms-animation-iteration-count:infinite;
     -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
     animation-direction:normal;
     -o-animation-direction:normal;
     -ms-animation-direction:normal;
     -webkit-animation-direction:normal;
     -moz-animation-direction:normal;
     transform:scale(0.7);
     -o-transform:scale(0.7);
     -ms-transform:scale(0.7);
     -webkit-transform:scale(0.7);
     -moz-transform:scale(0.7);
}
 #blockG_1{
     animation-delay:0.45s;
     -o-animation-delay:0.45s;
     -ms-animation-delay:0.45s;
     -webkit-animation-delay:0.45s;
     -moz-animation-delay:0.45s;
}
 #blockG_2{
     animation-delay:0.6s;
     -o-animation-delay:0.6s;
     -ms-animation-delay:0.6s;
     -webkit-animation-delay:0.6s;
     -moz-animation-delay:0.6s;
}
 #blockG_3{
     animation-delay:0.75s;
     -o-animation-delay:0.75s;
     -ms-animation-delay:0.75s;
     -webkit-animation-delay:0.75s;
     -moz-animation-delay:0.75s;
}
 @keyframes bounceG{
     0%{
         transform:scale(1.2);
         opacity:1;
    }
     100%{
         transform:scale(0.7);
         opacity:0.1;
    }
}
 ._text{
     font-family: 'Conv_helvetica_normal';
}
/*loader page*/
/*.pod_loader_img {
     background: rgba(255,255,255,0.8);
     position: fixed;
     z-index: 9999;
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
}
*/
/*.loader, .loader:after {
     border-radius: 50%;
     width: 7em;
     height: 7em;
}
 .loader {
     margin: 22% auto;
     font-size: 10px;
     position: relative;
     text-indent: -9999em;
     border-top: 0.6em solid #a19a9a;
     border-right: 0.6em solid #a19a9a;
     border-bottom: 0.6em solid #a19a9a;
     border-left: 0.6em solid #000;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-animation: load8 1.1s infinite linear;
     animation: load8 1.1s infinite linear;
}
 @-webkit-keyframes load8 {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}
 @keyframes load8 {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}
*/
 .loader, .loader:before, .loader:after {
     border-radius: 50%;
     width: 2.5em;
     height: 2.5em;
     animation-fill-mode: both;
     animation: load7 1.8s infinite ease-in-out;
}
 .loader {
     color: #ff8040;
     font-size: 10px;
    /*margin: 80px auto;
    */
     margin: 22% auto;
     position: relative;
     text-indent: -9999em;
     transform: translateZ(0);
     animation-delay: -0.16s;
}
 .loader:before, .loader:after {
     content: '';
     position: absolute;
     top: 0;
}
 .loader:before {
     left: -3.5em;
     animation-delay: -0.32s;
}
 .loader:after {
     left: 3.5em;
}
 @keyframes load7 {
     0%, 80%, 100% {
         box-shadow: 0 2.5em 0 -1.3em;
    }
     40% {
         box-shadow: 0 2.5em 0 0;
    }
}
/*icons stibe css*/
 .postjob_requirement .bg-address {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -10px -10px;
}
 .postjob_requirement .bg-anaphlysis {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -58px -10px;
}
 .postjob_requirement .bg-childcheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -106px -58px;
}
 .postjob_requirement .bg-familydaycare {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -154px -10px;
}
 .postjob_requirement .bg-firstaid {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -154px -58px;
}
 .postjob_requirement .bg-police {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -202px -154px;
}
 .postjob_requirement .bg-reference {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -10px -202px;
}
 .postjob_requirement .bg-school {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -202px -106px;
}
 .postjob_requirement .bg-live {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -154px -154px;
}
 .postjob_requirement .bg-registercarer {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -58px -202px;
}
 .postjob_requirement .bg-tempresidency {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -154px -202px;
}
 .postjob_requirement .bg-validwork {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -202px -202px;
}
 .postjob_requirement .bg-bachelor {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -10px -58px;
}
 .postjob_requirement .bg-driver {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -106px -106px;
}
 .postjob_requirement .bg-certificate {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -106px -10px;
}
 .postjob_requirement .bg-car {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -58px -58px;
}
 .postjob_requirement .bg-checlk {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -58px -154px;
}
 .postjob_requirement .bg-diplomo {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -58px -106px;
}
 .postjob_requirement .bg-housecheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -154px -106px;
}
 .postjob_requirement .bg-identity {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -10px -154px;
}
 .postjob_requirement .bg-nosmoking {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -202px -58px;
}
 .postjob_requirement .bg-insurance {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -106px -154px;
}
 .postjob_requirement .bg-experience {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -106px -202px;
}
 .postjob_requirement .bg-permanent {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -10px -106px;
}
 .postjob_requirement .bg-phone {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement.png') -202px -10px;
}
 .icono_requirement label .reqvalue{
     padding-left: 5px;
     line-height: 25px;
     cursor: auto;
}
/* icon hover */
 .postjob_requirement label:hover .bg-address {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -10px;
}
 .postjob_requirement label:hover .bg-anaphlysis {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -10px;
}
 .postjob_requirement label:hover .bg-childcheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -58px;
}
 .postjob_requirement label:hover .bg-familydaycare {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -10px;
}
 .postjob_requirement label:hover .bg-firstaid {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -58px;
}
 .postjob_requirement label:hover .bg-police {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -154px;
}
 .postjob_requirement label:hover .bg-reference {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -202px;
}
 .postjob_requirement label:hover .bg-school {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -106px;
}
 .postjob_requirement label:hover .bg-live {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -154px;
}
 .postjob_requirement label:hover .bg-registercarer {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -202px;
}
 .postjob_requirement label:hover .bg-tempresidency {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -202px;
}
 .postjob_requirement label:hover .bg-validwork {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -202px;
}
 .postjob_requirement label:hover .bg-bachelor {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -58px;
}
 .postjob_requirement label:hover .bg-driver {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -106px;
}
 .postjob_requirement label:hover .bg-certificate {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -10px;
}
 .postjob_requirement label:hover .bg-car {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -58px;
}
 .postjob_requirement label:hover .bg-checlk {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -154px;
}
 .postjob_requirement label:hover .bg-diplomo {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -106px;
}
 .postjob_requirement label:hover .bg-housecheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -106px;
}
 .postjob_requirement label:hover .bg-identity {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -154px;
}
 .postjob_requirement label:hover .bg-nosmoking {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -58px;
}
 .postjob_requirement label:hover .bg-insurance {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -154px;
}
 .postjob_requirement label:hover .bg-experience {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -202px;
}
 .postjob_requirement label:hover .bg-permanent {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -106px;
}
 .postjob_requirement label:hover .bg-phone {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -10px;
    /* background: url('../images/profile_sprite.png') -190px -145px;
     */
}
/*orange sprite*/
 .tag_section ul li span i.bg-address {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -10px;
}
 .tag_section ul li span i.bg-anaphlysis {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -10px;
}
 .tag_section ul li span i.bg-childcheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -58px;
}
 .tag_section ul li span i.bg-familydaycare {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -10px;
}
 .tag_section ul li span i.bg-firstaid {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -58px;
}
 .tag_section ul li span i.bg-police {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -154px;
}
 .tag_section ul li span i.bg-reference {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -202px;
}
 .tag_section ul li span i.bg-school {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -106px;
}
 .tag_section ul li span i.bg-live {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -154px;
}
 .tag_section ul li span i.bg-registercarer {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -202px;
}
 .tag_section ul li span i.bg-tempresidency {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -202px;
}
 .tag_section ul li span i.bg-validwork {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -202px;
}
 .tag_section ul li span i.bg-bachelor {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -58px;
}
 .tag_section ul li span i.bg-driver {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -106px;
}
 .tag_section ul li span i.bg-certificate {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -10px;
}
 .tag_section ul li span i.bg-car {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -58px;
}
 .tag_section ul li span i.bg-checlk {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -154px;
}
 .tag_section ul li span i.bg-diplomo {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -58px -106px;
}
 .tag_section ul li span i.bg-housecheck {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -154px -106px;
}
 .tag_section ul li span i.bg-identity {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -154px;
}
 .tag_section ul li span i.bg-nosmoking {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -58px;
}
 .tag_section ul li span i.bg-insurance {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -154px;
}
 .tag_section ul li span i.bg-experience {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -106px -202px;
}
 .tag_section ul li span i.bg-permanent {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -10px -106px;
}
 .tag_section ul li span i.bg-phone {
     width: 28px;
     height: 28px;
     background: url('../images/sprite_requirement_hover.png') -202px -10px;
    /* background: url('../images/profile_sprite.png') -190px -145px;
     */
}
 .tag_section1 ul li{
    /*border: 1px solid #969696;
    */
     padding: 2px 4px;
     border-radius: 50%;
     height: 30px;
     width: 30px;
}
/*change password*/
 .change_password{
}
 .change_password_form{
     margin:20px 20px;
}
 .change_password .heading{
     margin:0;
     padding:12px 20px;
    /*font-family: 'Conv_helvetica_normal';
    */
     font-family: 'Conv_seguisb';
     font-size:16px;
     text-transform: uppercase;
     background: #f0f0f0;
     color:#f26810;
    /*border-bottom:3px solid #f26810 ;
    */
}
 .cancel_footer_btn{
     background: #4e4e4e !important;
     color:#fff !important;
     border:1px solid #4e4e4e !important;
     font-family: 'Conv_helvetica_normal';
     padding:9px 35px;
     margin-right:10px;
     border-radius: 50px;
}
 .save_footer_btn{
     background: #f26810 !important;
     color:#fff !important;
     border:1px solid #f26810 !important;
     font-family: 'Conv_helvetica_normal';
     padding:9px 35px;
     border-radius: 50px;
}
/*end change password*/
/*placeholder css*/
 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
     font-family: 'Conv_comic';
     font-size:16px;
}
 ::-moz-placeholder {
    /* Firefox 19+ */
     font-family: 'Conv_comic';
     font-size:16px;
}
 :-ms-input-placeholder {
    /* IE 10+ */
     font-family: 'Conv_comic';
     font-size:16px;
}
 :-moz-placeholder {
    /* Firefox 18- */
     font-family: 'Conv_comic';
     font-size:16px;
}
 .search_section_joblist input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
     font-family: 'Conv_segoeuil';
     font-size:14px;
}
 .search_section_joblist input::-moz-placeholder {
    /* Firefox 19+ */
     font-family: 'Conv_segoeuil';
     font-size:14px;
}
 .search_section_joblist input:-ms-input-placeholder {
    /* IE 10+ */
     font-family: 'Conv_segoeuil';
     font-size:14px;
}
 .search_section_joblist input:-moz-placeholder {
    /* Firefox 18- */
     font-family: 'Conv_segoeuil';
     font-size:14px;
}
 .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-single span{
     color:#a2a2a2;
}
/*end placeholder css*/
 .navigation_section .avatar {
     width: 30px;
     margin-top: -5px;
     margin-right: 5px;
}
 .thumb-sm img{
     height: auto;
     max-width: 100%;
     vertical-align: middle;
     border-radius: 500px;
}
 .no_jobs_section{
     margin:15% 0;
}
/*editor style*/
 .texteditor_style .btn-toolbar .btn-group button{
     border-radius: 0px !important;
     background: #fff !important;
     color:#4e4e4e !important;
}
 .texteditor_style .ta-editor{
     border-radius: 0px;
    /*font-family: 'Conv_helvetica_normal';
    */
     font-family: 'Conv_Hel_lt_normal';
     font-size:16px;
     color:#4e4e4e;
     box-shadow: none !important;
     background: transparent;
     height:350px;
     overflow-y: auto;
}
 .ta-root.focussed > .ta-scroll-window.form-control{
     border-color:#ccc;
}
/*end editor style*/
/*left confirmed worker*/
 .profile-userbuttons button{
     border-radius:5px;
    /*font-family: 'Conv_comic';
    */
     font-family: 'Conv_seguisb';
     text-transform: uppercase;
}
 .profile-userbuttons .btn-success{
     background: transparent;
     color:#fff;
     border-color:#fff;
}
 .profile-userbuttons .btn-danger{
     background: transparent ;
     color:#fff;
     border-color:#fff ;
}
 .profile-sidebar{
     padding:30px 0px;
    /*background: #4e4e4e;
    */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e4e4e+56,fe6601+56,fe6601+100 */
     background: #4e4e4e;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(45deg, #4e4e4e 56%,#fe6601 56%,#fe6601 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#fe6601',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
     border-radius: 0px 70px 0px 70px;
    /*border-width:5px;
     border-style:double;
    */
     border-color:#fff;
     transition-property: border-radius;
     transition-duration: 0.3s;
     transition-timing-function: linear;
}
 .profile-sidebar:hover{
     border-radius: 70px 0 70px 0px;
     transition-property: border-radius;
     transition-duration: 0.3s;
     transition-timing-function: linear;
}
 .profile-sidebar .gray_star i, .profile-sidebar .id_section1{
     color:#fff !important;
}
/*subscribe form*/
/*breadcrumb*/
 .breadcrumb > li + li::before {
     padding: 0 5px;
     color: #ccc;
     content: "\f105";
     font-family: FontAwesome;
}
 .breadcrumb{
     background: transparent;
    /*font-family: 'defonarts_bold';
    */
    /*font-family: 'Conv_segoeuil';
    */
     font-family: 'Conv_comic';
     color:#f26810 ;
     padding:0px;
}
 .breadcrumb > .active{
     color:#f26810 ;
     font-size: 15px;
}
 .breadcrumb > li >a{
     color:#4e4e4e;
     text-decoration: none;
     font-size: 14px;
}
/*End breadcrumb*/
/*Block ui css*/
 .block-ui-overlay{
     opacity: 1;
}
 .mycusomloader{
     padding:20%;
}
 .stp_two_b_spc {
     margin-bottom: 40px;
}
 .n_flg {
     margin-top:10px;
     border-bottom:2px solid #dddddd;
     padding-bottom:5px;
}
 .n_flg i {
     display:inline-block;
     margin-right:5px;
}
 .n_flg .dropdown-toggle {
     display:block;
}
 .flag_number {
    /* width:138px;
     */
     width:90%;
     float:left;
     font-family: 'Conv_helvetica_normal';
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .n_flg .caret {
     color:#000000;
}
 .c_code {
    /* color:#aaaaaa;
     */
     margin-left:3px;
}
 .ratingstars .angular-input-stars > li > i, .ratingstars .angular-input-stars > li > i:hover {
     color:#fe6601 !important;
}
 #private .input-group input::-moz-placeholder {
     font-size:12px;
}
 #private .input-group input:focus {
     border-bottom:1px solid #f26810;
     border-color:#f26810;
}
 #private .input-group-btn button.btn-default:hover, #private .input-group-btn button.btn-default:focus, #private .input-group-btn button.btn-default {
     background-color:#f26810;
     color:#ffffff;
     border:1px solid #f26810;
}
/*.reply_icn i {
     -webkit-transform: scaleY(-1);
     transform: scaleY(-1);
     color:#cccccc;
}
*/
/*private section right side*/
 .right_side_chat_section .panel, .left_side_chat_section .panel{
     border-radius:0px;
     border-color:#e1e1e1;
}
 .right_side_chat_section .panel .panel-body{
     max-height:403px;
     min-height:403px;
     overflow:auto;
     margin-bottom:25px;
}
 .btn-chat{
     background: #fe6601 !important;
     color:#fff !important;
     border-color:#fe6601 !important;
}
 .right_side_chat_section .input-group input{
     border-radius:0px !important;
     border:1px solid #e1e1e1 !important;
     box-shadow:none !important;
}
 img.simple{
     height:40px;
     width:40px;
     border-radius:50%;
}
 .left_side_chat_section .profile-name{
     font-size: 13px !important;
     padding-top: 0px !important;
     padding-bottom: 0px !important;
     margin-top: 0px !important;
     font-family: 'Conv_helvetica_normal' !important;
    /* color:#607d8b !important;
     */
}
 .left_side_chat_section .profile-occupation{
     margin-top:0px !important;
     font-size: 12px !important;
    /* color:#90a4ae !important;
     */
}
 .left_side_chat_section .panel-body{
     padding:0px;
     max-height:415px;
     min-height:415px;
     overflow: auto;
     overflow-x: hidden;
}
 .search_user_section{
     padding:15px 10px;
}
 .search_user_section input{
     border-radius:0px;
     border:1px solid #e1e1e1 !important;
     box-shadow: none !important;
     font-size: 14px !important;
}
 .search_user_section i{
     position: absolute;
     top: 25px;
     right: 35px;
     color:#a7a7a7;
}
/*public messaging*/
 .message_public_p{
     color:#000 !important;
     font-size: 12px !important;
     text-align: justify;
}
 .single_public_message .media-heading{
     font-size: 12px !important;
     font-family: 'Conv_helvetica_normal' !important;
     color:#000;
}
 .activity-meta a{
     color:#b1b1b1 ;
     margin-right:7px;
}
 .activity-meta a:hover{
     color:#fe6601;
}
 .nav-tabs > li:hover{
     cursor: pointer !important;
}
 .single_public_message .secondary_comment_section .media-heading{
     color:#000 ;
}
 .secondary_comment_section{
     padding-left:0px;
     margin:0;
}
 .third_comment_section{
     padding-left: 40px;
     margin:0;
}
 .secondary_comment_section .activity-meta a, .third_comment_section .activity-meta a{
     color:#fff;
}
 .secondary_comment_section .message_public_p, .third_comment_section .message_public_p{
     color:#000 !important;
}
 .secondary_comment_section .datetimespnsls, .third_comment_section .datetimespnsls{
     color:#c2c2c2!important;
}
 .reply_public_msg_input{
     margin:15px 0 0 0;
}
 .reply_public_msg_input input{
     border:1px solid #e1e1e1 !important;
     box-shadow:none !important;
}
 .reply_public_msg_input .input-group-addon{
     border-color:#fe6601 !important
}
/*----------Job list page-- Starts here------*/
 .rating_containernew_res .user_rating{
     width: 10%;
     vertical-align: top;
}
 .rating_containernew_res .date_section{
     width: 90%;
}
 .date_section_inner {
     display: table;
     width: 100%;
}
 .midtablecntt {
     width: 40% !important;
     display: table-cell;
}
 .user_rating.user_ratinginner {
     width: 35%;
     display: table-cell;
}
 .left_side_detail_ul.left_side_detail_ulnew{
     float:left;
}
 .right_side_detail_ul.right_side_detail_ulnew{
     float:right;
}
 .req_list_b {
     font-weight: normal;
}
 .private_message_section.private_message_sectionnew textarea.form-control{
     width:100%!important;
     min-width:100%!important;
     border-radius:0;
     resize:none;
     overflow-x: hidden;
    /* background: #f6f6f6;
     */
     border:1px solid #e1e1e1;
}
 .single_public_message.single_public_messagenew {
     margin: 0 0 10px 0;
     width: 100%;
     float: left;
}
 .single_public_message.single_public_messagenew .media{
     width: 100% !important;
     border-radius: 2px 20px 20px 20px;
     border: 1px solid #e1e1e1;
     display: table;
     margin: 10px 0;
     position: relative;
     table-layout: fixed;
     background: #fff;
}
 .single_public_message.single_public_messagenew .media-leftside{
     display:table-cell;
     width: 70px;
     background:transparent;
     padding:10px;
     vertical-align:top;
}
 .tabs_wrapper .tab_container .message_public_p{
     word-wrap: break-word;
     white-space: normal;
}
 .single_public_message.single_public_messagenew .media-leftside img{
     width: 100% !important;
     border-radius: 100%;
}
 .single_public_message.single_public_messagenew .media-rightside {
     display:table-cell;
     width: 88%;
     padding:10px;
     vertical-align:top;
}
 .secondary_comment_section.secondary_comment_sectionnew .media {
     border-radius:2px 20px 20px 20px;
     background:#fff;
     border-color:#e1e1e1;
}
 .third_comment_section.third_comment_sectionnew .media{
     border-radius:2px 20px 20px 20px;
     background:#fff ;
     border-color:#e1e1e1 ;
}
 .secondary_comment_section.secondary_comment_sectionnew{
     width:88% !important;
     float:right;
     padding:0 !important;
}
 .third_comment_section.third_comment_sectionnew{
     width:88% !important;
     float:right;
     padding:0 !important;
}
 .reply_public_msg_input .input-group-addon{
     cursor:pointer;
     color: #fff !important;
     background: #fe6601 !important;
}
 .single_public_message.single_public_messagenew .arrow-up {
     width: 0;
     height: 0;
     border-left: 20px solid transparent;
     border-right: 0px solid transparent;
     border-bottom: 15px solid #ccc;
     right: 0;
     position: absolute;
     float: right;
     top: -14px;
}
 .overallscrollbar{
     max-height:300px;
     overflow:auto;
     padding-left:0;
}
 header {
     position: relative;
     z-index: 1000;
}
 .datetimespnsls{
     font-size: 11px;
     text-align:right;
    /*font-family: 'Conv_comic';
    */
     color:#c2c2c2 !important;
}
 .privatemsgsection.single_public_message.single_public_messagenew{
     list-style:none;
}
 .privatemsgsection .media{
     border-radius:5px;
}
 .privatemsgsection.otheruser{
     width:80%;
     float:left;
}
 .privatemsgsection.its_meyou{
     width:80%;
     float:right;
}
 .privatemsgsection.single_public_message.single_public_messagenew .media{
     margin:0;
}
 .privatemsgsection.single_public_message.single_public_messagenew .media-leftside{
     padding:5px;
     width:40px;
}
 .privatemsgsection.single_public_message.single_public_messagenew .media-rightside{
     padding:0 5px;
}
 .datetimeset_spn{
     font-size:10px;
}
 .paraprvmsg{
     line-height: normal;
     padding: 0;
}
 .messagesubbtn .submit_btn_wpj {
     color: #4e4e4e;
     font-family: Conv_comic;
     font-family: 'Conv_helvetica_normal';
     border-radius: 4px;
     padding: 4px 20px;
     font-size: 15px;
     border: 1px solid #e4e4e4;
     background: linear-gradient(358deg,rgba(228,228,228,1) 0,rgba(230,230,230,1) 10%,rgba(255,255,255,1) 100%);
}
 .messagesubbtn .submit_btn_wpj:hover {
     background-color: #e85d04;
     background-image: linear-gradient(to bottom, #e85d04, #f2680f);
     text-decoration: none;
     border: 1px solid #fe6601;
     color: #fff;
}
/*.messagesubbtn .submit_btn_pvj {
     color: #4e4e4e;
     font-family: Conv_comic;
     font-family: 'Conv_helvetica_normal';
     border-radius: 4px;
     padding: 4px 20px;
     font-size: 15px;
     border: 1px solid #c9c9c9;
     background: transparent;
}
*/
 .messagesubbtn .submit_btn_pvj:hover {
     background-color: #e85d04;
     text-decoration: none;
     border: 1px solid #fe6601;
     color: #fff;
}
/*----------Job list page-- Ends here------*/
/*material switch setting page*/
 .material-switch > input[type="checkbox"] {
     display: none;
}
 .material-switch > label {
     cursor: pointer;
     height: 0px;
     position: relative;
     width: 40px;
}
 .material-switch > label::before {
     background: rgb(0, 0, 0);
     box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
     border-radius: 8px;
     content: '';
     height: 16px;
     margin-top: -8px;
     position:absolute;
     opacity: 0.3;
     transition: all 0.4s ease-in-out;
     width: 40px;
}
 .material-switch > label::after {
     background: rgb(255, 255, 255);
     border-radius: 16px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     content: '';
     height: 24px;
     left: -4px;
     margin-top: -8px;
     position: absolute;
     top: -4px;
     transition: all 0.3s ease-in-out;
     width: 24px;
}
 .material-switch > input[type="checkbox"]:checked + label::before {
     background: inherit;
     opacity: 0.5;
}
 .material-switch > input[type="checkbox"]:checked + label::after {
     background: inherit;
     left: 20px;
}
 .material-panel-default{
     border-radius:0px;
     font-family: 'Conv_helvetica_normal';
}
/*end material switch settings page*/
/*------------------------Edit Profile Starts here--------------------*/
 .custom_age.custom_agenew{
     margin: 42px 0 0 0;
}
/*------------------------Edit Profile Ends here----------------------*/
/*------------------------Signup Page Starts here----------------------*/
 .country_code_style{
     border-bottom:2px solid #4e4e4e;
     margin-top:19px;
}
 .country_code_style .dropdown-menu{
     background: #fff;
     border-radius:0px;
     border:1px solid #e1e1e1;
     box-shadow:none;
}
 .country_code_style .dropdown-menu.country-codes li a{
    /* background: #fff;
     */
}
 .country_code_style .countrycodes_spn .country-codes .contr_name, .country_code_style .countrycodes_spn .country-codes .c_code{
     font-family: 'Conv_segoeuil';
}
/* .country_code_style .dropdown-menu.country-codes li:hover a{
     background: #4e4e4e;
}
 */
 .countrycodes_spn .country-codes i{
     float:left;
     margin: 5px 8px 0 0;
}
 .countrycodes_spn .country-codes .contr_name{
     float: left;
    /* max-width: 65%;
     */
     max-width:56%;
     word-wrap: break-word;
     white-space: normal;
     line-height: normal;
     margin: 1px 0 0 0;
     font-family: 'Conv_Hel_lt_normal';
     font-size: 12px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
 .countrycodes_spn .country-codes .c_code{
     float:right;
     font-weight:normal;
     font-size: 12px;
    /* color:#fe6601;
     font-family: 'Conv_Hel_lt_normal';
     */
}
 .dropdown-menu.country-codes {
     width: 100%;
     float: left;
     max-height:165px;
     overflow: auto;
    /* background: #f6f6f6;
     */
     border:1px solid #f0f0f0;
     padding: 0;
     box-shadow: 0 10px 6px -6px #e1e1e1;
}
 .dropdown-menu.country-codes li {
     width: 100%;
     float: left;
     margin: 0;
     font-family: 'Conv_Hel_lt_normal';
}
 .dropdown-menu.country-codes li a {
     float: left;
     width: 100%;
     padding: 5px 10px;
     font-family: 'Conv_Hel_lt_normal';
}
/* .dropdown-menu.country-codes li:hover a{
     background: #fe6601;
     color:#ffffff;
}
 */
/* .dropdown-menu.country-codes li:hover a span.contr_name, .dropdown-menu.country-codes li:hover a b.c_code{
     color:#ffffff;
}
 */
/*------------------------Signup Page Ends here------------------------*/
 .search_user_section.search_user_section_new input{
     border: 1px solid #e1e1e1 !important;
     box-shadow: none !important;
     font-size: 12px !important;
     background: #fff;
     border-radius: 20px;
}
 .profile-ava img {
     width: auto;
     border-radius: 100%;
}
 .search_user_section.search_user_section_new input::-moz-placeholder {
     color: #999;
     opacity: 1;
     font-weight:normal;
     font-size:12px;
}
 .tabs_wrapper .tab_container p.profile-name{
     color:#fe6601 ;
}
 .privatemsgsection.single_public_message.single_public_messagenew .datetimeset_spn{
     font-size: 10px;
     padding-right: 12px !important;
     padding-bottom: 3px !important;
     color: #4e4e4e;
     font-family: 'Conv_segoeuil';
}
 .privatemsgsection.single_public_message.single_public_messagenew.its_meyou .media{
     background:#fff;
     border-radius:20px 2px 20px 20px;
}
 .privatemsgsection.single_public_message.single_public_messagenew.otheruser .media{
     background: #eee;
     border-radius:2px 20px 20px 20px;
}
 .privatemsgsection.single_public_message.single_public_messagenew.its_meyou p{
     color:#000;
     font-size: 12px !important;
}
 .privatemsgsection.single_public_message.single_public_messagenew.otheruser .datetimeset_spn{
     color:#000;
}
 .left_side_chat_section .panel{
     border-right:none;
}
 .right_side_chat_section .profile-name {
     font-size: 13px !important;
     padding-top: 0px !important;
     padding-bottom: 0px !important;
     margin-top: 0px !important;
     font-family: 'Conv_helvetica_normal' !important;
     color:#607d8b !important;
}
 .right_side_chat_section .profile-occupation {
     margin-top: 0px !important;
     font-size: 12px !important;
     color:#90a4ae !important;
}
 .left_side_chat_section .table tr td{
     border-top:none;
     border-bottom:2px solid transparentss;
}
 .left_side_chat_section .table tr.currentactive td{
     border-bottom:2px solid #03a9f4;
}
 .right_side_chat_section .panel-footer{
     background:transparent;
}
 .first_job_msg{
     font-family: 'Conv_segoeuil';
}
 .hire_btn{
     font-family: 'Conv_helvetica_normal';
     background: #fe6601 !important;
     color:#fff !important;
     text-transform: uppercase;
}
/*parent joblist*/
 .rating_container_parentjoblist .float_right{
     float:right;
}
 .rating_container_parentjoblist{
     display: table;
     width:100%;
}
 .rating_container_parentjoblist h5{
     font-family: 'Conv_seguisb';
    /* font-family: 'Segoe UI';
     */
    /* font-family: 'Conv_helvetica_normal';
     */
    /* font-family: 'Conv_comic';
     */
     color:#fff;
     margin-top:0;
     margin-bottom:5px;
     padding-top:0px;
}
 .rating_container_parentjoblist h4{
    /* font-family: 'Conv_helvetica_normal';
     */
     font-family: 'Segoe UI';
     color:#fff;
     margin-top:0;
     margin-bottom:0px;
     padding-top:0px;
     font-size: 14px;
}
 .rating_container_parentjoblist .date_section, .rating_container_parentjoblist .time_section, .rating_container_parentjoblist .days_section, .rating_container_parentjoblist .viewjob_section{
     display: table-cell;
     width:25%;
     vertical-align: middle;
     margin: auto;
}
 .rating_container_parentjoblist .days_section{
     text-align: center;
}
/* .rating_container_parentjoblist .time_section{
     text-align: center;
}
 */
 .helper_label{
     font-family: 'Conv_segoeuil';
     font-size: 10px;
}
 .color_orange{
     color:#fe6601;
}
 .single_joblist:hover .color_orange{
     color:#4e4e4e;
}
 .fs-8{
     font-size: 8px !important;
}
 .fs-12{
     font-size: 12px !important;
}
/*parent joblist ends here*/
 .gray_bg_lite{
     background: #f5f5f5 !important;
}
 .secondary_comment_section .activity-meta a, .third_comment_section .activity-meta a{
     color:#b1b1b1;
}
 .secondary_comment_section .activity-meta a:hover, .third_comment_section .activity-meta a:hover{
     color:#fe6601;
}
 .pad-left-0{
     padding-left: 0;
}
 .pad-right-0{
     padding-right: 0;
}
/* .pills_design .nav-pills > li > a{
     padding:4px 8px !important;
     background: #eee;
     border-radius:20px !important;
}
 */
/* toggle switch css */
/* .ats-switch{
     box-shadow: none !important;
     border-color:#fe6601;
     font-family: 'Segoe UI';
}
 .ats-switch:hover{
     border-color:#fe6601;
}
 .knob {
     color:#a5a5a5;
}
 .ats-switch span.switch-right{
     background: #fe6601 ;
     color:#fff;
}
 .ats-switch span.switch-left{
     background: #fe6601 ;
     color:#fff;
}
 */
 .label_email_valid{
     top:-20px !important;
     font-size:14px !important;
     color:#fe6601 !important;
}
 .close_job_btn{
     background: #ff2800 !important;
     border:none !important;
     color:#fff !important;
     margin:8px;
}
 .label_signup{
     font-family: 'Conv_Helvetica-Bold';
     color: #fe6601;
     font-size: 16px;
     font-weight: normal;
}
/*update profile css*/
 .flag_custom_style .countrycodes_spn .country-codes .contr_name{
     max-width:50%;
}
 .flag_custom_style ul li a:hover, .flag_custom_style ul li a:focus{
     background: #fe6601;
     color:#fff;
}
/*mac auto complete css*/
 input:focus::-webkit-textfield-decoration-container {
     visibility: hidden;
     pointer-events: none;
     right: 0;
}
/*css ajax loader popup*/
 .loader_div {
     background-color: rgba(255, 255, 255, 0.6);
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 999;
}
 .child_loader {
     position: absolute;
     left: 0;
     right: 0;
     top: 50%;
     margin: 0 auto;
     text-align: center;
}
 .child_loader i {
     color: #fe6601;
     font-size: 35px !important;
}
 .user_rating .media-left a{
     cursor: default;
}
 .angular-input-stars > li{
     cursor: default !important;
}
 .updateprofile .updateprofile_section .tabs_wrapper .tabs li i{
     padding-right:5px;
}
/* security lock css*/
 .security_information{
     font-family: 'Conv_helvetica_normal';
     padding:10px;
     background: transparent;
    /* margin-bottom:20px;
     */
     color:#000;
}
/* .security_information i{
     font-size: 17px;
}
 */
/* */
/* .notif {
     margin: 10px 0;
}
 .notif::before {
     content: '\e08e';
     position: absolute;
     top: 25px;
     left: 30px;
     width: 40px;
     height: 40px;
     border: 2px solid;
     border-radius: 25px;
     font-family: 'simple-line-icons';
     color:#fff;
     font-size: 25px;
     padding:5px;
}
 .notif-notice::before {
     background: #fe6601 ;
     border-color: #fe6601 ;
}
 .notif {
     position: relative;
     padding: 15px 30px 15px 100px;
     min-height: 50px;
     line-height: 22px;
     background: transparent;
     border-radius: 2px;
}
 */
 .notif p{
     margin:0px;
     color:#898686;
     padding-left:15px;
}
 .notif ul{
     list-style: none;
     display: -webkit-flex;
    /* Safari */
     -webkit-align-items: center;
    /* Safari 7.0+ */
     display: flex;
     align-items: center;
}
 .privacy_i {
     background: #fe6601 ;
     color: #fff;
     padding: 4px;
     border-radius: 50%;
}
 .m-r-5{
     margin-right:5px;
}
 .text-orange{
     color:#fe6601 !important;
}
/* logo change css */
 .navigation_section .navbar-header .navbar-brand{
     padding-top:0px;
}
 .logo_section img{
     width:200px;
}
/* disclaimer*/
 .disclamimer_sec{
     color:#fe6601 !important;
     padding-left:0px;
     text-decoration: none !important;
}
/* add exp btn group css */
 .action_exp_i_css{
     list-style: none;
     text-align: right;
     float:right;
}
 .action_exp_i_css li {
     display: inline-block;
     cursor: pointer;
}
 .action_exp_i_css li:first-child{
     padding-right: 10px;
     border-right: 1px solid #e1e1e1;
}
/* add exp field css */
 .location_input_style::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
     font-family: 'Conv_segoeuil';
     color:#4e4e4e;
}
 .location_input_style::-moz-placeholder {
    /* Firefox 19+ */
     font-family: 'Conv_segoeuil';
     color:#4e4e4e;
}
 .location_input_style:-ms-input-placeholder {
    /* IE 10+ */
     font-family: 'Conv_segoeuil';
     color:#4e4e4e;
}
 .location_input_style:-moz-placeholder {
    /* Firefox 18- */
     font-family: 'Conv_segoeuil';
     color:#4e4e4e;
}
 .decorate_present{
     background: #fff;
     height: 30px;
     color: #fe6601;
     padding: 3px 15px 0px 15px;
     border: 1px solid #fe6601;
}
/* editor global style */
 .editor_global_style .ta-scroll-window{
     border-radius:0px !important;
     border:1px solid #e1e1e1 !important;
     box-shadow: none !important;
}
 .editor_global_style .btn-default:active, .editor_global_style .btn-default.active, .editor_global_style .open > .dropdown-toggle.btn-default{
     background: #fe6601 !important;
}
 .editor_global_style .btn-group {
     border:1px solid #e1e1e1 !important;
     border-radius:0px !important;
}
 .editor_global_style .btn-group .btn-default{
     border-radius:0px !important;
}
 .editor_global_style .btn-group .btn-default:hover, .editor_global_style .btn-group .btn-default:focus{
     background: transparent !important;
}
 .editor_global_style .btn-group .btn-default.active i{
     color:#fff !important;
}
 .editor_global_style .btn-group .btn-default.active:hover{
     background: #fe6601 !important;
}
/*update profile css*/
 .action_update_credential{
     text-decoration: none !important;
     color:#fff !important;
     display: inline-block;
     width:23px;
     height:23px;
     background: #fe6601 ;
     border-radius:50px;
     padding-left:4px;
     padding-top:1px;
}
/*gmail file upload*/
 .file_upload_progress .progress-bar{
     background: #1e8fe1 ;
}
 .file_upload_progress .progress{
     width:100px;
     float:right;
     margin-top:10px;
}
 .del_load_resume_btn{
     background: #FE3939 !important;
     color:#fff !important;
     font-family: 'Conv_helvetica_normal';
}
 .no_job_worker{
     font-family: 'Conv_helvetica_normal';
     text-align:center;
}
 .previous_link_style {
     display: table;
     text-align: left;
     position: relative;
     top: 20px;
     font-family: 'Conv_helvetica_normal';
     color: #4e4e4e !important;
     text-decoration: none !important;
     cursor: pointer;
     -webkit-appearance: none !important;
}
 .col-picler p input{
     cursor: pointer;
}
 .file_upload_progress1 .progress {
     width: 200px;
     margin-top: 10px;
}
 .file_upload_progress1 .progress .progress-bar{
     background: #fe6601 !important;
}
 .editor_global_style .ta-scroll-window p{
     font-family: 'Conv_segoeuil';
}
 .heading_howitwork{
     font-family: 'Conv_Helvetica-Bold';
     font-size: 35px;
}
 .profile_complete_percent{
     color:#000;
     font-family: 'Conv_Helvetica-Bold';
}
 .action_update_credential i{
     color:#fff !important;
     font-size: 15px !important;
}
 .action_update_credential{
     vertical-align: middle;
}
 .requirement_category_name{
     font-family: 'Conv_helvetica_normal';
     font-size: 13px;
     color:#fe6601;
}
 .icono_requirement .control-label{
     cursor: text !important;
}




/* advertisement css goes here */
.welcome_ad{
  background: #f6f6f6;
  border:2px solid #fe6601;
    font-family: 'Conv_helvetica_normal';
  padding:10px;
}
.ad_button.orange{
  background: #fe6601;
  color:#fff;
  border-radius:40px;
  padding:8px;
  width:100%;
  font-size: 20px;
  text-align: center;
  display: block;
  margin:10px 0;
  text-decoration: none;
}
.welcome_ad .white_text{
color:#222 ;
}