<div header></div>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="cmn-heading">you're all set!</h2>      
	  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 myaccount-page">	  
       <div class="col-md-12">
        <p class="text-center">You have not listed any availability.</p>
        <button type="button" class="btn btn-green btn-block"><i class="fa fa-plus"></i> add availability</button>
       </div>
      </div>
	 </div>
    </div>
   </div>
</section> 