<div header></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="cmn-heading"><i class="fa fa-gears"></i>My Business</h2>
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 myaccount-page">	 
          <button type="button" class="btn btn-green btn-block"><i class="fa fa-plus"></i> add availability</button>		
        </div>	   
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">		
              <div class="mybusiness-sec-detail active">		
                <h1>published</h1>		
                <h2>tuesday</h2>
                <h3><img src="/styles/images/clock-icon.png" />10AM-12.30PM</h3>
                <h4>Senior stylist available</h4>		
                <h5><img src="/styles/images/send-icon.png" />7 Boundary Street, London E2 7JE</h5>
                <p>One of our senior stylist has availability between 10am-12.30pm today. All bookings in this time will also receive a 30% discount. Appointments
                  are expected to go very quickly, call to book now!</p>		
                <ul>
                  <li>
                    <a href="">
                      <img class="image" src="/styles/images/tab-icon1.png" />
                      <img class="hover" src="/styles/images/tab-icon1-hover.png" />
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img class="image" src="/styles/images/tab-icon2.png" />
                      <img class="hover" src="/styles/images/tab-icon2-hover.png" />
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img class="image"  src="/styles/images/tab-icon3.png" />
                      <img class="hover" src="/styles/images/tab-icon3-hover.png" />
                    </a>
                  </li>		 		 
                </ul>		
              </div>
            </div>
            <div class="col-md-6">		
              <div class="mybusiness-sec-detail">		
                <h1>unpublished</h1>		
                <h2>tuesday</h2>
                <h3><img src="/styles/images/clock-icon.png" />10AM-12.30PM</h3>
                <h4>Senior stylist available</h4>		
                <h5><img src="/styles/images/send-icon.png" />7 Boundary Street, London E2 7JE</h5>
                <p>One of our senior stylist has availability between 10am-12.30pm today. All bookings in this time will also receive a 30% discount. Appointments
                  are expected to go very quickly, call to book now!</p>		
                <ul>
                  <li>
                    <a href="">
                      <img class="image" src="/styles/images/tab-icon1.png" />
                      <img class="hover" src="/styles/images/tab-icon1-hover.png" />
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img class="image" src="/styles/images/tab-icon2.png" />
                      <img class="hover" src="/styles/images/tab-icon2-hover.png" />
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img class="image"  src="/styles/images/tab-icon3.png" />
                      <img class="hover" src="/styles/images/tab-icon3-hover.png" />
                    </a>
                  </li>		 		 
                </ul>		
              </div>		
            </div>	   
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 