<div header></div>
<section>
<div class="container">
    <div class="col-xs myaccount-page">
      <h2 class="cmn-heading">register as business</h2>
    <div class="form-login register-form">  	
	 <div class="col-md-12">
	  <div class="row">			  
	 <div class="col-md-8 col-sm-8">	  
	  <div class="row">	  
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">Business name</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">Telephone no.</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>	 
	 </div>
	 <div class="row">
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">Email address</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">Website</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>	 
	 </div>	 
	 <div class="row">
	  <div class="col-xs-12">
	   <label class="control-label">Additional links</label>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
		  <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
		  <input type="text" class="form-control text-box" />
        </div>	
       </div>
	  </div>	 
	 </div>	 
	 <div class="row">
	  <div class="col-xs-12">
	   <label class="control-label">Address</label>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
		  <input type="text" placeholder="Address line 1" class="form-control text-box" />
		  <input type="text" placeholder="Address line 2" class="form-control text-box" />
        </div>	
       </div>
	  </div>
	  <div class="col-md-6">
	   <div class="form-group row">
        <div class="col-xs-12">
		 <input type="text" placeholder="Town/City" class="form-control text-box" />
		 <input type="text" placeholder="Post code" class="form-control text-box" />
        </div>	
       </div>
	  </div>	 
	 </div>	 
	 <div class="row">
	   <div class="col-md-6">
	    <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">How would you prefer to be contacted?</label>
        </div>
        <div class="col-xs-12">
          <select class="form-control">
		   <option>Phone</option>
		  </select>
         </div>	
        </div>
	   </div>
	   <div class="col-md-6">
	    <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label">Select category</label>
        </div>
        <div class="col-xs-12">
          <select class="form-control">
		   <option>-Select category-</option>
		  </select>
         </div>	
        </div>
	   </div>	   
	   <div class="col-md-12">
	    <label class="control-label">Select tags</label>
		<div class="col-md-12 text-center">
		 <button class="btn btn-black" type="button">add tags</button>
		</div>
		<div class="search-result">		
		  <ul class="p-0 m-0">
           <li><a href="">Street food <i class="glyphicon glyphicon-remove"></i></a></li>
           <li><a href="">Indian cusine <i class="glyphicon glyphicon-remove"></i></a></li>
		  </ul>  
		 </div>	   
	    </div>
       </div>
	  </div>
	  <div class="col-md-4 col-sm-4">
	  <div class="row">
	   <div class="col-md-12">
	    <label class="control-label">Profile image</label>
		<div class="col-md-12 text-center m-t-15">
		 <img src="/styles/images/no-image.png" class="img-responsive mar-auto" />
		</div>
		<div class="col-md-12 text-center">
		 <label class="btn btn-black btn-file">
          upload image <input type="file" style="display: none;">
         </label>
		 <span class="btn-block">Recommended size 600 x 600px</span>		 
		  <div class="link-txt">
		   <a href="">Or choose from our library</a>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	 </div>
	 <div class="row">
	  <div class="col-md-12 text-center">
	    <button type="button" class="btn btn-green">next</button>
	  </div>
	 </div>
	</div> 
   </div>
 </div>
</section> 