<div header></div>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="cmn-heading">select tags</h2>      
	  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 myaccount-page">	  
   <div class="col-md-12">
    <div class="funkyradio">
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
            <label for="checkbox1">African cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
            <label for="checkbox2">Asian cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
            <label for="checkbox3">Caribbean cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
            <label for="checkbox4">Chinese cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox5" checked/>
            <label for="checkbox5">Curry</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Desserts</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox7" checked/>
            <label for="checkbox7">Drinks</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox8" checked/>
            <label for="checkbox8">Fusion cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox9" checked/>
            <label for="checkbox9">Grill</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox10" checked/>
            <label for="checkbox10">Halal</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox11" checked/>
            <label for="checkbox11">Healthy</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox12" checked/>
            <label for="checkbox12">Indian cusine</label>
        </div>
		<div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox13" checked/>
            <label for="checkbox13">Italian cusine</label>
        </div>		
	   </div>
	  </div>
   </div>
	  <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-search">done</button>
      </div>
	</div>
  </div>
</div>
</section> 