<div header></div>
<div class="upToScroll buttonShow" ng-if="isScrolled > 0">
    <a class="scrollToTop icon-up-open-big" title="Back to top" ng-click="scrollTopHeader();"> </a>
</div>
<div class="content_section">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#/login">Home</a></li>
                <li class="active">Find a carer</li>
            </ol>
        </div>

    </div>
    
    <!-- section start -->
    <section class="findacarer" x-sticky-boundary="">


        <div class="row">
            <div class="col-md-9" ng-init="state = true">

                <div class="col-md-12">
                  <div ad3></div>
                </div>

                <div class="row toggleclass_side" sidebar-directive="state" window-dir>
                    <div class="col-sm-3 left_side_filter_section">
                        <h3 class="filter_area">

    <img src="styles/images/filters-icon.png" ng-click="toggleState()" alt="" width="20" class="fa-filters">
    <span class="hide_section">Filters</span>
<span class="clear_all_filter" ng-click="clearAllfilters()"><span class="clear_label_filter">Clear all </span><i class="leftarrow" title="{{toggle_lable}}" ng-class="{'icon-arrow-left-circle':state,'icon-arrow-right-circle':!state}" ng-click="toggleState()"></i></span>



    </h3>
                        <div class="display_none_section">
                            <v-accordion class="vAccordion--default" multiple>
                                <!-- add expanded attribute to open the section -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('jobtype')">clear filter</span>
                                    <v-pane-header>
                                        Type of job
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox">
                                                    Casual / One-off care
                                                    <input type="checkbox" value="casual" ng-click="toggleJobtype('casual')" ng-checked="selectedJobtype.indexOf('casual') > -1" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--checkbox">
                                                    Regular care
                                                    <input type="checkbox" value="regular" ng-click="toggleJobtype('regular')" ng-checked="selectedJobtype.indexOf('regular') > -1" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                                <!-- ============== -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('caregiver')">clear filter</span>
                                    <v-pane-header>
                                        Type of caregiver
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox" ng-repeat="cg in caregivers">
                                                    {{cg}}
                                                    <input type="checkbox" name="selectedCG[]" value="{{cg}}" ng-checked="selectedCaregiver.indexOf(cg) > -1" ng-click="toggleCaregiver(cg)" />
                                                    <div class="control__indicator"></div>
                                                </label>

                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                                <!-- ============== -->
                                <!-- <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('caretime')">clear filter</span>
                                    <v-pane-header>
                                        Type of care
                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox">
                                                    Night time care
                                                    <input type="checkbox" value="night" ng-checked="selectedCaretime.indexOf('night') > -1" ng-click="toggleCaretime('night')" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--checkbox">
                                                    Day time care
                                                    <input type="checkbox" value="day" ng-checked="selectedCaretime.indexOf('day') > -1" ng-click="toggleCaretime('day')" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <div class="sub_checkbox_section" ng-if="selectedCaretime.indexOf('day') > -1">
                                                    <div class="check_box_section">
                                                        <label class="control control--checkbox">
                                                            Before school care
                                                            <input type="checkbox" value="Before school care" ng-checked="selectedSession.indexOf('Before school care') > -1" ng-click="toggleSession('Before school care')" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                        <label class="control control--checkbox">
                                                            After school care
                                                            <input type="checkbox" value="After school care" ng-checked="selectedSession.indexOf('After school care') > -1" ng-click="toggleSession('After school care')" />
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane> -->
                                <!-- ============== -->
                                <v-pane expanded>
                                    <span class="clear_link_filter" ng-click="clearfilter('requirement')"> clear filter</span>
                                    <v-pane-header>
                                        Requirements
                                    </v-pane-header>
                                    <v-pane-content>
                                        <!-- <div class="check_box_section">
                                            <div class="control-group">
                                                <label class="control control--checkbox" ng-repeat="req in requirements">
                                                    {{req.requirement}}
                                                    <input type="checkbox" value="{{req.id}}" ng-checked="selectedRequirements.indexOf(req.id) > -1" ng-click="toggleRequirements(req.id)" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div> -->
                                        <div ng-repeat="reqCategory in reqsToFilter() | filter:filterReqs">
                                            <p class="requirement_category_name">{{reqCategory.category}}</p>
                                            <div class="check_box_section">
                                                <div class="control-group">
                                                    <label class="control control--checkbox" ng-repeat="req in requirements | filter:{category: reqCategory.category}">
                                                        {{req.requirement}}
                                                        <input type="checkbox" value="{{req.id}}" ng-checked="selectedRequirements.indexOf(req.id) > -1" ng-click="toggleRequirements(req.id)" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </v-pane-content>
                                </v-pane>
                            </v-accordion>
                        </div>

                    </div>
                    <div class="col-md-9 col-sm-9 right_side_cen">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search_carer_new search_section_joblist">

                                    <div class="form-group margin-bottom-30 search-shadow">
                                        <!-- <div class="input-group">
                                            <input type="text" autocomplete name="" value="" class="form-control input-xl search-input" ng-model="fullAddress" placeholder="Search by suburb, state and pincode " ng-blur="self.scope.searchlocselected = true">

                                            <ul class="dropdown-menu state_city_sub" ng-if="!searchlocselected && searchLocations.length > 0">
                                                <li ng-repeat="loc in searchLocations"><a href="javascript:void(0)" ng-click="selectLocation(loc)">{{loc.suburb}}, {{loc.state}} {{loc.postcode}}</a></li>
                                            </ul>
                                            <span class="input-group-btn"><button class="btn btn-primary br-0 " type="submit" ng-click="getallUsers(1)"><i class="fa fa-search"></i></button>
                        </span>
                                        </div> -->
                                        <div class="input-group pad-0 search_input">

                                <input type="text" class="form-control" ng-model="fullAddress.viewval" name="tag" class="form-control text-box" uib-typeahead="location as location.viewval for location in getLocations($viewValue)" typeahead-wait-ms="500" placeholder="Suburb,state postcode" typeahead-on-select="setLocation($item)" ng-change="clearLocationCall()"/>
                                <img src="styles/images/search.png" alt="" class="search_icon">
                                <span class="ajax_loader" ng-if="locationLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                 <span class="input-group-btn">
                                    <button class="btn btn-primary br-0 " type="submit" ng-click="getallUsers(1)" ng-disabled="searchDisabled"><i class="fa fa-search"></i></button>
                                 </span>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="carers.length == 0 && !isLoading">
                            <h1 class="main_heading_nojob "><i class="fa fa-frown-o"></i></h1>
                            <h1 class="main_heading_nojob p-t-0">No workers found!!!</h1></div>
                        <div class="row" infinite-scroll="loadPages()" infinite-scroll-distance="0" infinite-scroll-parent="false" infinite-scroll-disabled="carercanCalled">
                            <div class="col-md-6 col-sm-6 col-xs-12 " id="carer_container" ng-repeat="carer in carers track by $index">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">

                                            <div class="text-center">
                                                <div class="find_carer_icon">
                                              <div ng-if="carer.profilepic">
                                              <img ng-src="/images/profilepic/{{carer.profilepic}}" ng-error-src="/images/no_image_1.png" alt="" width="80" class="img-circle">
                                            </div>
                                            <div ng-if="!carer.profilepic">
                                              <img src="/images/no_image_1.png" alt="" width="80" class="img-circle">
                                            </div>
                                            <img src="styles/images/vetted_green.png" alt="" width="35" class="shiel_img" ng-if="carer.is_vetted">
                                        </div>
                                              <h3 class="carer_name">{{carer.first_name}} {{carer.last_name}} </h3>
                                              <input-stars max="5" ng-model="YourCtrl.property" allow-half></input-stars>
                                              <h4 class="gender_age"><span ng-if="carer.age">{{carer.age}} years old</span> {{carer.gender | capitalize}}</h4>
                                            </div>



                                        </div>
                                        <div class="back">
                                          <div class="text-center">
                                            <h3 class="carer_role" ng-if="carer.preference.caregivers.length > 0"><i class="icon-people"></i>&nbsp<span ng-bind="carer.preference.caregivers.join(' / ')"></span> </h3>
                                            <h3 class="carer_role" ng-show="carer.city"><i class="icon-location-pin" ></i>&nbsp; {{carer.city}}, {{carer.state}} {{carer.post_code}}</h3>
                                            <button class="btn btn-default contact_btn" ng-click="gotoProfile(carer)">View profile</button>
                                          </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center" ng-if="isLoading">
                            <div id="loadFacebookG">
                                <div id="blockG_1" class="facebook_blockG"></div>
                                <div id="blockG_2" class="facebook_blockG"></div>
                                <div id="blockG_3" class="facebook_blockG"></div>
                            </div>
                            <p class="text-center loader_text">Loading...</p>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-3 col-xs-hidden" >

              <!-- <div sticky disabled-sticky="stickyDisabled" offset="60" >
              <div ad1 ></div>
              <div ad2 ></div>
              {{stickyDisabled}}
            </div> -->

              <div x-sticky="" set-class-when-at-top="ad-fixed">
                <div ad2></div>
              </div>
            </div>

        </div>


    </section>

</div>
<div footer></div>
