<div class="row">
    <div class="col-md-12">
        <ng-form name="partnerForm" novalidate>
            <div class="update_profile_step1 postjob_type_section1">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner Name</h4>
                                    <input type="text" name="partner_name" ng-model="partner.partner_name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="20" ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_name.$dirty) && partnerForm.partner_name.$invalid">
                                        <p ng-if="partnerForm.partner_name.$error.required">Please enter partner name</p>
                                        <p ng-if="partnerForm.partner_name.$error.pattern">Please enter character only.</p>
                                        <!-- <p ng-if="partnerForm.partner_name.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_name.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner Email</h4>
                                    <input type="text" name="partner_email" ng-model="partner.partner_email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_email.$dirty) && partnerForm.partner_email.$invalid">
                                        <p ng-if="partnerForm.partner_email.$error.required">Please enter partner email</p>
                                        <p ng-if="partnerForm.partner_email.$error.pattern">Please enter valid email.</p>
                                        <!-- <p ng-if="partnerForm.partner_name.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_name.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
<!--                             <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner Email</h4>
                                    <input type="text" name="partner_email" ng-model="partner.partner_email" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="20" ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_email.$dirty) && partnerForm.partner_email.$invalid">
                                        <p ng-if="partnerForm.partner_email.$error.required">Please enter email.</p>
                                        <!-- <p ng-if="partnerForm.partner_email.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_email.$error.pattern">Name must be alphabetic</p> -->
                                    <!-- /div>
                                </div>
                            </div> --> 
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner MobileNo</h4>
                                    <input type="text" name="partner_mobileno" ng-model="partner.partner_mobileno" ng-pattern="/^[0-9]/" ng-minlength="7" ng-maxlength="10" ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_mobileno.$dirty) && partnerForm.partner_mobileno.$invalid">
                                        <p ng-if="partnerForm.partner_mobileno.$error.required">Please enter mobileno.</p>
                                        <p ng-if="partnerForm.partner_mobileno.$error.minlength">Mobile number atleast 7 numbers.</p>
                                        <p ng-if="partnerForm.partner_mobileno.$error.maxlength">Mobile number below 10 numbers.</p>
                                        <p ng-if="partnerForm.partner_mobileno.$error.pattern">Mobile number must be integer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner Address</h4>
                                    <textarea class="form-group" type="text" name="partner_address" ng-model="partner.partner_address" ng-required="true">
                                    <span class="highlight"></textarea></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_address.$dirty) && partnerForm.partner_address.$invalid">
                                        <p ng-if="partnerForm.partner_address.$error.required">Please enter partner address.</p>
                                        <!-- p ng-if="partnerForm.partner_address.$error.maxlength">Must below 20 characters</p> -->
                                        <!-- <p ng-if="partnerForm.partner_address.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">About as</h4>
                                    <textarea class="form-group" name="partner_about_us" ng-model="partner.partner_about_us"   ng-required="true"></textarea>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_about_us.$dirty) && partnerForm.partner_about_us.$invalid">
                                        <p ng-if="partnerForm.partner_about_us.$error.required">Please enter About us </p>
                                       <!--  <p ng-if="partnerForm.partner_about_us.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_about_us.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">URL of Privacy Policy</h4>
                                    <input type="text" name="partner_url_privacy_policy" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" ng-model="partner.partner_url_privacy_policy"   ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_url_privacy_policy.$dirty) && partnerForm.partner_url_privacy_policy.$invalid">
                                        <p ng-if="partnerForm.partner_url_privacy_policy.$error.required">Please enter Privacy Policy. </p>
                                        <p ng-if="partnerForm.partner_url_privacy_policy.$error.pattern">Please enter valid url. </p>
                                       <!--  <p ng-if="partnerForm.partner_about_us.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_about_us.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">URL of Terms and conditions</h4>
                                    <input type="text" name="partner_url_terms_and_conditions" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" ng-model="partner.partner_url_terms_and_conditions"   ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_url_terms_and_conditions.$dirty) && partnerForm.partner_url_terms_and_conditions.$invalid">
                                        <p ng-if="partnerForm.partner_url_terms_and_conditions.$error.required">Please enter Terms and Conditions.</p>
                                        <p ng-if="partnerForm.partner_url_terms_and_conditions.$error.pattern">Please enter valid url. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Partner Logo</h4>
                                    <div class="button" ngf-select="handleName($files)" ng-model="partner.file" name="file"
                 ngf-max-size="5MB" ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>
                        <img ngf-src="partner.file" ng-if="partner.file" height="80" width="80">
                        <img src="/../partner_logo/{{partner.partner_logo}}" height="80" width="80" ng-if="!partner.file && partner.partner_logo != '' && partner.partner_logo">

                                                                        <!-- <div class="upload_btn">
                                        <p class="update_image_icon text-center">
                                            <input type="file" id="fileInput" accept="image/*" class="display_none">
                                            <button class="profile_pic_update_btn" onclick="document.getElementById('fileInput').click()"><i class=""></i>Update Photo</button>
                                        </p>
                                    </div> -->
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="group group1">
                                    <h4 class="m-b-0">Subdomain</h4>
                                    <input type="text" name="partner_subdomain" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" ng-model="partner.partner_subdomain"  ng-required="true">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="errormsg" ng-if="(partnerForm.$submitted || partnerForm.partner_subdomain.$dirty) && partnerForm.partner_subdomain.$invalid">
                                        <p ng-if="partnerForm.partner_subdomain.$error.required">Please enter subdomain.</p>
                                        <p ng-if="partnerForm.partner_subdomain.$error.pattern">Please enter valid url. </p>
                                        <!-- <p ng-if="partnerForm.partner_mobileno.$error.maxlength">Must below 20 characters</p>
                                        <p ng-if="partnerForm.partner_mobileno.$error.pattern">Name must be alphabetic</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                        <div class="col-sm-12 check_box_section">
                                            <label class="control control--checkbox">
                                                Show In partnership with
                                                <input type="checkbox" name="partnership_with" ng-true-value="1" ng-model="partner.partnership_with" ng-false-value="0"  />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 check_box_section">
                                            <label class="control control--checkbox">
                                                Show Lovely Childcare logo in footer
                                                <input type="checkbox" name="partnership_childcare_logo" ng-true-value="1" ng-model="partner.partnership_childcare_logo" ng-false-value="0" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                           
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>