<div header></div>
<div>
   <div class="bgvideoimage">
     <img src="styles/images/care.png" alt="">
      <div class="overlay_dot"></div>
   </div>
   <!-- right side text -->
   <div class="container posabs_home">
     <div class="row">
       <div class="col-md-6  col-md-offset-6 col-sm-12 col-xs-12">
     <div class="cca-hero-content">
     <h1>Connecting childcare centers, parents & agencies </h1>
     <p>With qualified childcare professionals &  casual workers for free!</p>
     <a class="btn cca-btn-fill hvr-wobble-horizontal" ng-if="(!$root.userId && !$root.adminLogged)" onclick="document.getElementById('signupLink').click()">Join Now</a>

     </div>
     </div>
     </div>

</div>
</div>


<div footer></div>
<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html"></div> -->
<!-- <footer></footer> -->
<style>
.bgvideoimage{
  position: relative;
  min-height:100vh;
}
.posabs_home{
  position: absolute;
  top:20%;
}
   .navigation_section{
   box-shadow: none;
   }

   .pre-header{
   background: #4e4e4e;
   /*background: transparent;*/
   }
   .pre-header li {
   color:#fff;
   border-right:1px solid #fff;
   }
</style>
