<div class="welcome_ad">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-hidden">
    <p class="white_text text-center">Qualified childcare workers, babysitters, nannies, au-pairs, tutors, family daycare providers, educators & cooks</p>
<a href="https://www.lovelychildcare.com/?page=signup" class="ad_button orange">Sign up now</a>
<h3 class="text-center white_text">
  to earn
$ 50 welcome bonus
</h3>

<div class="text-center">

  <img src="styles/images/50dollar.jpg" alt="50dollar" class="img-responsive">
</div>

  </div>
</div>
<div class="m-t-10">
<div class="row">
<div class="col-xs-6">
<small class="underline_style pull-left"><a href="https://www.lovelychildcare.com/carer-registration-1/?page=conditions">Conditions apply</a></small>
</div>
<div class="col-xs-6">
<small class="underline_style pull-right "><a href="https://www.lovelychildcare.com/carer-registration-1/">Learn more>></a></small>
</div>
</div>
</div>
</div>
