<div class="welcome_ad">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-hidden">
    <p class="text-center white_text">If you have any friends, who are looking for part-time or casual work as qualified childcare worker, babysitter, nanny, au-pair, tutor, family daycare providers, educator & cooks, please refer them to us and
</p>
<a href="https://www.lovelychildcare.com/carer-registration-2/" class="ad_button orange">Refer your friends now!
</a>

<h3 class="text-center white_text">
Earn $ 20 referral bonus
</h3>


<div class="text-center">

  <img src="styles/images/20aud.jpg" alt="20dollar" class="img-responsive">
</div>


  </div>
</div>
<div class="m-t-10">
<div class="row">
<div class="col-xs-6">
<small class="underline_style pull-left"><a href="https://www.lovelychildcare.com/carer-registration-2/?page=conditions">Conditions apply</a></small>
</div>
<div class="col-xs-6">
<small class="underline_style pull-right "><a href="https://www.lovelychildcare.com/carer-registration-2/">Learn more>></a></small>
</div>
</div>
</div>
</div>
