<section class="horizontal_ad">
	<div class="row">
			<div class="flex_container_ad clearfix">
				<div class="col-sm-8">
					<p class="left_sub_text">If you have any friends, who are looking for part-time or casual work as qualified childcare worker, babysitter, nanny, au-pair, tutor, family daycare providers, educator & cooks, please refer them to us and <b style="font-size:14px;">earn 20$ as reward.</b>
							<a class="btn refer_friend_btn " href="https://www.lovelychildcare.com/carer-registration-2/">Refer your friends now</a>
								<!-- <small class=""><a href="https://www.lovelychildcare.com/carer-registration-2/?page=conditions" class="learn_more_link text-left">Conditions apply</a></small> -->

		</p>

				</div>
				<div class="col-sm-4">
					<div class="text-right">
							<img src="styles/images/20aud.jpg" alt="" width="180">

					</div>

				</div>
				<div class="col-sm-12">
						<div class="row ">
							<div class="col-sm-6">
								<small class=""><a href="https://www.lovelychildcare.com/carer-registration-2/?page=conditions" class="learn_more_link text-left">Conditions apply</a></small>

							</div>
							<div class="col-sm-6">
								 <small class=""><a href="https://www.lovelychildcare.com/carer-registration-2" class="learn_more_link text-right">Learn More></a></small>

							</div>
						</div>
				</div>

			</div>

	</div>

</section>


<!-- <div class="horizontal_ad">
	<div class="row">
	<div class="flex_container_ad">

		<div class="sub_flex flex-1">
			<p class="left_sub_text">If you have any friends, who are looking for part-time or casual work as qualified childcare worker, babysitter, nanny, au-pair, tutor, family daycare providers, educator & cooks, please refer them to us.
						<small class=""><a href="https://www.lovelychildcare.com/carer-registration-2/?page=conditions" class="learn_more_link text-left">Conditions apply</a></small>

</p>

		</div>
		<div class="sub_flex flex-2">
			<img src="styles/images/20aud.jpg" alt="" width="200">



		</div>
		<div class="sub_flex flex-3">
			<a class="btn refer_friend_btn " href="https://www.lovelychildcare.com/carer-registration-2/">Refer your friends now</a>
			<small class=""><a href="https://www.lovelychildcare.com/carer-registration-2/" class="learn_more_link"><small class="">Learn More>></a></small>

		</div>


	</div>
	</div>
</div> -->
