<!-- <div ng-http-loader template="scripts/sharedModule/templates/loader.html">
</div> -->
<div header></div>
<!-- <section id="job_list_section">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-9 col-sm-12">
        <div class="row">
        <input type="checkbox" ng-model="settings.job_email" ng-checked="setting.job_email == 1" ng-click="changeSetting()">
        I need email whenever new job is posted
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="content_section">
  <section id="job_list_section">
    <div class="settings_general">
      <div class="row">
        <div class="col-md-9">
          <div class="change_password">
          <h3 class="heading">Settings</h3>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default material-panel-default">
                <!-- Default panel contents -->


                <!-- List group -->
                <ul class="list-group" ng-if="purpose == 'worker' || purpose == '1'">
                  <li class="list-group-item">
                        I need email whenever a new job is posted
                        <div class="material-switch pull-right">
                            <input ng-model="settings.job_email" ng-click="changeSetting(settings)" id="emailsetting" ng-true-value="1" ng-false-value="0" type="checkbox"/>
                            <label for="emailsetting" class="label-success"></label>
                        </div>
                  </li>
                  <li class="list-group-item">
                      I need email whenever my job is confirmed
                      <div class="material-switch pull-right">
                          <input ng-model="settings.job_confirmed" ng-click="changeSetting(settings)" ng-true-value="1" ng-false-value="0" id="emailsetting3" type="checkbox"/>
                          <label for="emailsetting3" class="label-success"></label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    I need email notification whenever my job is confirmed to someone else
                    <div class="material-switch pull-right">
                        <input ng-model="settings.job_sorry" ng-true-value="1" ng-false-value="0" ng-click="changeSetting(settings)" id="emailsetting4" type="checkbox"/>
                        <label for="emailsetting4" class="label-success"></label>
                    </div>
                </li>
                <li class="list-group-item">
                  I need email notification whenever I got paid for my job {{}}
                  <div class="material-switch pull-right">
                      <input ng-model="settings.job_paid" ng-true-value="1" ng-false-value="0" ng-click="changeSetting(settings)" id="emailsetting5" type="checkbox"/>
                      <label for="emailsetting5" class="label-success"></label>
                  </div>
              </li>

                </ul>
                <ul class="list-group" ng-if="purpose == 'parent' || purpose == '0'">
                    <li class="list-group-item">
                        I need email whenever my job is quoted
                        <div class="material-switch pull-right">
                            <input ng-model="settings.quote_email" ng-true-value="1" ng-false-value="0" ng-click="changeSetting(settings)" id="emailsetting1" type="checkbox"/>
                            <label for="emailsetting1" class="label-success"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                      I need email whenever my job is completed
                      <div class="material-switch pull-right">
                          <input ng-model="settings.completed_email" ng-true-value="1" ng-false-value="0" ng-click="changeSetting(settings)" id="emailsetting2" type="checkbox"/>
                          <label for="emailsetting2" class="label-success"></label>
                      </div>
                  </li>

                </ul>
            </div>
          </div>
        </div>

        </div>
        <div class="col-md-3 hidden-sm hidden-xs">

          <div class="row">
            <div class="col-sm-12">
              <div class="">
                 <!-- <div class="ad_section">
                    <img src="styles/images/right_side_banner.png" alt="" width="100%">
                    </div> -->
                 <div x-sticky="" set-class-when-at-top="ad-fixed">
                    <div ad2 ></div>
                 </div>
              </div>
            </div>
          </div>
            </div>
      </div>
    </div>
  </section>
</div>




<!-- footer section comes here -->
<div footer></div>
